<!-- // COMMISSION VISIT VIEWER - START // -->
<div id="commission-visit" class="accordion">

	<!-- //////////////////////////// STEP 1 INFO - START //////////////////////////// -->
	<div class="accordion-section" id="step-1">

		<a href="6a-why.html" class="edit">Edit</a>

		<button class="accordion-section-title with-edit" href="#accordion-1">
			Why?
			<span></span>
		</button>

		<div id="accordion-1" class="accordion-section-content">

			<p class="place-holder-text">Complete step 1 - (Why?) to see the information you have entered</p>

			<div class="commission-visit-info">

				<!-- ITEM - 1 - START -->
				<div class="info-section">
					<p>Why is this visit being commissioned?:</p>
					<div class="mulitple-answers">
						<p class="answer visit-why">N/A</p>
						<p class="answer visit-why-answer">N/A</p>
					</div>
				</div>
				<!-- ITEM - 1 - END -->

				<!-- ITEM - 2 - START -->
				<div class="info-section">
					<p>Is this visit urgent?:</p>
					<p class="answer visit-urgent">No</p>
				</div>
				<!-- ITEM - 2 - END -->

				<!-- ITEM - 3 - START -->
				<div class="info-section">
					<p>Visit commissioned by:</p>
					<p class="answer visit-commissioned-by">N/A</p>
				</div>
				<!-- ITEM - 3 - END -->

				<!-- ITEM - 4 - START -->
				<div class="info-section">
					<p>What is relevent:</p>
					<div class="mulitple-answers">
						<ol class="questions">
							<li class="answer visit-tick-health">N/A</li>
							<li class="answer visit-tick-compliance">N/A</li>
							<li class="answer visit-tick-deputy-supervision">N/A</li>
							<li class="answer visit-tick-lay-supervision">N/A</li>
							<li class="answer visit-tick-professional-supervision">N/A</li>
							<li class="answer visit-tick-non-compliant">N/A</li>
							<li class="answer visit-tick-hmcs">N/A</li>
						</ol>
					</div>
				</div>
				<!-- ITEM - 4 - END -->

				<!-- ITEM - 5 - START -->
				<div class="info-section">
					<p>Have the reports been submitted late?</p>
					<div class="mulitple-answers">
						<p class="answer visit-submitted-late">N/A</p>
						<p class="answer visit-submitted-late-answer">N/A</p>
					</div>
				</div>
				<!-- ITEM - 5 - END -->

				<!-- ITEM - 6a - START -->
				<div class="info-section set-1">
					<p>Case specific questions for the visitor to address in this case:</p>
					<div class="mulitple-answers">
						<ol class="questions">
							<li class="answer visit-special-requirements-1">N/A</li>
							<li class="answer visit-special-requirements-2">N/A</li>
							<li class="answer visit-special-requirements-3">N/A</li>
							<li class="answer visit-special-requirements-4">N/A</li>
							<li class="answer visit-special-requirements-5">N/A</li>
							<li class="answer visit-special-requirements-6">N/A</li>
							<li class="answer visit-special-requirements-7">N/A</li>
							<li class="answer visit-health-questions">N/A</li>
						</ol>
					</div>
				</div>
				<!-- ITEM - 6a - END -->

				<!-- ITEM - 6b - START -->
				<div class="info-section set-2 set-3">
					<p>Case specific questions for the visitor to address in this case:</p>
					<p class="answer visit-non-health-questions">N/A</p>
				</div>
				<!-- ITEM - 6b - END -->

				<!-- ITEM - 7 - START -->
				<div class="info-section">
					<p>Documents to be inspected and reported upon:</p>
					<p class="answer visit-documents">N/A</p>
				</div>
				<!-- ITEM - 7 - END -->

			</div>

		</div>
	</div>
	<!-- //////////////////////////// STEP 1 INFO - END //////////////////////////// -->

	<!-- //////////////////////////// STEP 2 INFO - START //////////////////////////// -->
	<div class="accordion-section" id="step-2">

		<a href="6b-who.html" class="edit">Edit</a>

		<button class="accordion-section-title with-edit" href="#accordion-2">
			Who?
			<span></span>
		</button>

		<div id="accordion-2" class="accordion-section-content">

			<p class="place-holder-text">Step 2 - (Who?) incomplete</p>

			<div class="commission-visit-info">

				<!-- ITEM - 1 - START -->
				<div class="info-section">
					<p>Who is the visit for:</p>
					<div class="mulitple-answers">
						<ol id="recipients" class="questions">
						</ol>
					</div>
				</div>
				<!-- ITEM - 1 - END -->

			</div>
		</div>

	</div>
	<!-- //////////////////////////// STEP 2 INFO - END //////////////////////////// -->

	<!-- //////////////////////////// STEP 3 INFO - START //////////////////////////// -->
	<div class="accordion-section" id="step-3">

		<a href="6c-where.html" class="edit">Edit</a>

		<button class="accordion-section-title with-edit" href="#accordion-3">
			Where?
			<span></span>
		</button>

		<div id="accordion-3" class="accordion-section-content">

			<p class="place-holder-text">Step 3 - (Where?) incomplete</p>

			<div class="commission-visit-info">

				<!-- ITEM - 1 - START -->
				<div class="info-section">
					<p>Where will the visit take place:</p>
					<div class="mulitple-answers">
						<ul id="visit-location" class="questions">
						</ul>
					</div>
				</div>
				<!-- ITEM - 1 - END -->

				<!-- ITEM - 2 - START -->
				<div class="info-section">
					<p>Report is scheduled for:</p>
					<p class="answer visit-due-back-date">N/A</p>
				</div>
				<!-- ITEM - 2 - END -->

			</div>
		</div>

	</div>
	<!-- //////////////////////////// STEP 3 INFO - END //////////////////////////// -->

	<!-- //////////////////////////// STEP 4 INFO - START //////////////////////////// -->
	<div class="accordion-section" id="step-4">

		<a href="6d-case-details.html" class="edit">Edit</a>

		<button class="accordion-section-title with-edit" href="#accordion-4">
			Case summary &amp; assets
			<span></span>
		</button>

		<div id="accordion-4" class="accordion-section-content">

			<p class="place-holder-text">Step 4 - (Case summary &amp; assets?) incomplete</p>

			<div class="commission-visit-info">

				<!-- ITEM - 1 - START -->
				<div class="info-section set-2">
					<p>Part of Assurance Visit?</p>
					<p class="answer visit-assurance">N/A</p>
				</div>
				<!-- ITEM - 1 - END -->

				<!-- ITEM - 2 - START -->
				<div class="info-section">
					<p>Is a copy of order provided?</p>
					<div class="mulitple-answers">
						<p class="answer visit-order">N/A</p>
						<p class="answer visit-file-name">N/A</p>
					</div>
				</div>
				<!-- ITEM - 2 - END -->

				<!-- ITEM - 3 - START -->
				<div class="info-section">
					<p>Documents included in visit:</p>
					<ol id="documents">

					</ol>
				</div>
				<!-- ITEM - 3 - END -->

				<!-- ITEM - 4 - START -->
				<div class="info-section">
					<p>Assets:</p>
					<div class="mulitple-answers">
						<ol id="asset-summary" class="questions">
							<!-- <li data-asset-id="1">
	                                   <span class="title">New Mazda car</span>
	                                   <br>
	                                   <span>Value: <strong>£27,000.00</strong>,</span>
	                                   <span>Date: <strong>Thu Mar 02 2017</strong></span>
	                                   <span class="remove"></span>
	                              </li>
	                              <li data-asset-id="2">
	                                   <span class="title">Painting by Craig Davison</span>
	                                   <br>
	                                   <span>Value: <strong>£1,000.00</strong>,</span>
	                                   <span>Date: <strong>Fri Nov 25 2016</strong></span>
	                                   <span class="remove"></span>
	                              </li> -->
						</ol>
					</div>
				</div>
				<!-- ITEM - 4 - END -->

			</div>
		</div>
	</div>
	<!-- //////////////////////////// STEP 4 INFO - END //////////////////////////// -->

	<!-- //////////////////////////// STEP 5 INFO - START //////////////////////////// -->
	<div class="accordion-section" id="step-5">

		<a href="6e-summary-of-case.html" class="edit">Edit</a>

		<button class="accordion-section-title with-edit" href="#accordion-5">
			Case details
			<span></span>
		</button>

		<div id="accordion-5" class="accordion-section-content">

			<p class="place-holder-text">Step 5 - (Case details) incomplete</p>

			<div class="commission-visit-info">

				<!-- ITEM - 1 - START -->
				<div class="info-section">
					<p>Are there any special requirements of the deputy made under the deputyship order?</p>
					<p class="answer visit-deputy-order">N/A</p>
				</div>
				<!-- ITEM - 1 - END -->

				<!-- ITEM - 2 - START -->
				<div class="info-section">
					<p>What is relevent:</p>
					<div class="mulitple-answers">
						<ol class="questions">
							<li class="answer visit-deputy-order-1">N/A</li>
							<li class="answer visit-deputy-order-2">N/A</li>
							<li class="answer visit-deputy-order-3">N/A</li>
							<li class="answer visit-deputy-order-4">N/A</li>
							<li class="answer visit-deputy-order-5">N/A</li>
							<li class="answer visit-deputy-order-6">N/A</li>
							<li class="answer visit-deputy-order-7">N/A</li>
							<li class="answer visit-deputy-order-8">N/A</li>
							<li class="answer visit-deputy-order-8">N/A</li>
						</ol>
					</div>
				</div>
				<!-- ITEM - 2 - END -->

				<!-- ITEM - 3 - START -->
				<div class="info-section">
					<p>Are there any on-going Safeguarding of Vulnerable Adults or OPG Compliance &amp; Regulation Unit investigations?</p>
					<div class="mulitple-answers">
						<p class="answer visit-safeguarding">N/A</p>
						<p class="answer visit-safeguarding-answer">N/A</p>
					</div>
				</div>
				<!-- ITEM - 3 - END -->

				<!-- ITEM - 4 - START -->
				<div class="info-section set-2 set-3">
					<p>Is there any other deputyship order relating to this client? (i.e. a Health &amp; Welfare order)</p>
					<div class="mulitple-answers">
						<p class="answer visit-deputyship-order">N/A</p>
						<p class="answer visit-deputyship-order-answer">N/A</p>
					</div>
				</div>
				<!-- ITEM - 4 - END -->

				<!-- ITEM - 5 - START -->
				<div class="info-section">
					<p>Is this the first visit?</p>
					<div class="mulitple-answers">
						<p class="answer visit-first">N/A</p>
						<p class="answer">Last visit: <span class="visit-first-date">N/A</span></p>
					</div>
				</div>
				<!-- ITEM - 5 - END -->

			</div>

		</div>
	</div>
	<!-- //////////////////////////// STEP 5 INFO - END //////////////////////////// -->

	<!-- //////////////////////////// STEP 6 INFO - START //////////////////////////// -->
	<div class="accordion-section" id="step-6">

		<a href="6f-confirm-visit.html" class="edit">Edit</a>

		<button class="accordion-section-title with-edit" href="#accordion-6">
			Visit summary
			<span></span>
		</button>

		<div id="accordion-6" class="accordion-section-content">

			<p class="place-holder-text">Step 6 - (Visit summary) incomplete</p>

			<div class="commission-visit-info">

				<!-- ITEM - 1 - START -->
				<div class="info-section">
					<p>Any dangers/risks which the Visitor or others may face?</p>
					<div class="mulitple-answers">
						<p class="answer visit-dangers">N/A</p>
						<p class="answer visit-dangers-answer">N/A</p>
					</div>
				</div>
				<!-- ITEM - 1 - END -->

				<!-- ITEM - 2 - START -->
				<div class="info-section">
					<p>Any other important information which will assist the visitor?</p>
					<div class="mulitple-answers">
						<p class="answer visit-assist-visitor">N/A</p>
						<p class="answer visit-assist-visitor-answer">N/A</p>
					</div>
				</div>
				<!-- ITEM - 2 - END -->

				<!-- ITEM - 3 - START -->
				<div class="info-section">
					<p>Case &amp; medical background:</p>
					<p class="answer visit-medical-background">N/A</p>
				</div>
				<!-- ITEM - 3 - END -->

				<!-- ITEM - 4 - START -->
				<div class="info-section">
					<p>Family background:</p>
					<p class="answer visit-family-background">N/A</p>
				</div>
				<!-- ITEM - 4 - END -->

			</div>

		</div>
	</div>
	<!-- //////////////////////////// STEP 6 INFO - END //////////////////////////// -->

</div>
<!-- // COMMISSION VISIT VIEWER - END // -->
