<!-- PRIMARY NAV - START -->
<nav class="client-nav">
	<ul class="client-details">

		<!-- Link 1 - START -->
		<li class="tablinks overview active" onclick="openTab(event, 'client-overview')" id="defaultOpen">
			<div class="wrapper">
				<span></span>
		          <h1>Overview</h1>
			</div>
		</li>
		<!-- Link 1 - END -->

		<!-- Link 2 - START -->
		<li class="tablinks health" onclick="openTab(event, 'client-health')">
			<div class="wrapper items">
				<span class="icon welfare"></span>
				<h1>Health &amp; welfare</h1>
				<div class="border"></div>
				<div class="info-row">
					<div class="tasks">
						<i class="icon"></i>
						<p>Tasks</p>
						<span class="number">4</span>
					</div>
					<div class="deputies">
						<i class="icon"></i>
						<p>Deputies</p>
						<span class="number">2</span>
					</div>
				</div>
			</div>
			<div class="court-ref">
				<p>Court ref:</p>
				<p>19273638</p>
			</div>
		</li>
		<!-- Link 2 - END -->

		<!-- Link 3 - START -->
		<li class="tablinks property" onclick="openTab(event, 'client-property')">
			<div class="wrapper items">
				<span class="icon property"></span>
				<h1>Property &amp; affairs</h1>
				<div class="border"></div>
				<div class="info-row">
					<div class="tasks">
						<i class="icon"></i>
						<p>Tasks</p>
						<span class="number">1</span>
					</div>
					<div class="deputies">
						<i class="icon"></i>
						<p>Deputies</p>
						<span class="number">1</span>
					</div>
				</div>
			</div>
			<div class="court-ref">
				<p>Court ref:</p>
				<p>14820940</p>
			</div>
		</li>
		<!-- Link 3 - END -->

		<!-- Link 4 - START -->
		<li class="tablinks unassigned" onclick="openTab(event, 'client-unassigned')">
			<div class="wrapper">
				<span><div class="inner">6</div></span>
				<h1>Unassigned cases</h1>
			</div>
		</li>
		<!-- Link 4 - END -->

	</ul>

</nav>
<!-- PRIMARY NAV - END -->
