<!-- // MAIN MAV - START // -->
<nav class="top-nav">

	<form action="search.html">
		<input type="search" name="search" id="autocomplete" placeholder="Search SIRIUS ID or Client...">
		<input type="submit">
	</form>

	<label class="switch">
		<span>Supervision</span>
		<input type="checkbox">
		<div class="slider round"></div>
	</label>

	<ul>
		<!-- <li><a href="#">LPA cases</a></li>
		<li><a href="#">Supervision cases</a></li> -->
		<!-- <li class="menu"><a href="#">Menu</a></li>
		<li class="border"></li>
		<li class="alerts">
			<a href="#">Alerts</a>
			<span>20</span>
		</li>
		<li class="settings"><a href="#">Settings</a></li>
		<li class="border"></li> -->
	</ul>

</nav>
<!-- // MAIN MAV - END // -->
