<!-- // REPORTS - START // -->
<div id="report-details">

     <h2 class="description-title">
          <div class="client-first-name-answer">Gerald</div>'s
          reports
     </h2>

	<table id="reports-table">
		<thead>
			<tr class="six-column">
				<th>Status</th>
				<th>Start</th>
				<th>End</th>
				<th>Reminder</th>
				<th>Due date</th>
				<th>Type</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>

			<!-- REPORT 1 - START -->
			<tr class="pending-report">
				<td><span></span>Pending</td>
				<td><div class="hide">C</div><strong>01/12/2017</strong></td>
				<td><strong>30/11/2018</strong></td>
				<td>02/11/2018</td>
				<td>25/01/2019</td>
				<td>103/104</td>
				<td></td>
			</tr>
			<!-- REPORT 1 - END -->

			<!-- REPORT 2 - START -->
			<tr class="active-report" data-row="lodged-row">
				<td class="first-column"><strong>Active</strong></td>
				<td><div class="hide">B</div><strong>01/12/2016</strong></td>
				<td><strong>30/11/2017</strong></td>
				<td>02/11/2017</td>
				<td>25/01/2018</td>
				<td><div class="report-type">103/104</div></td>
				<td>
                         <div class="details">
						<p><a href="#" class="open">Report actions</a></p>
					</div>
					<div class="description">
                              <a href="#abandon-report" rel="modal:open" class="main-cta tertiary abandon-report">Abandon report</a>
                              <a href="../18-create-report/18b-lodge-report.html" class="main-cta tertiary lodge-report-cta">Lodge report</a>
                              <a href="../9-edit-report/9a-reporting-period.html" class="main-cta tertiary">Change reporting period</a>
     					<a href="../9-edit-report/9b-due-date.html" class="main-cta tertiary">Change report due date</a>
     					<a href="../9-edit-report/9c-level-102.html" class="main-cta tertiary complete-102">Complete a 102 report</a>
					</div>
				</td>
			</tr>
			<!-- REPORT 2 - END -->

			<!-- REPORT 3 - START -->
			<tr>
				<td><span></span>Lodged</td>
				<td><div class="hide">A</div><strong>01/12/2015</strong></td>
				<td><strong>30/11/2016</strong></td>
				<td>02/11/2016</td>
				<td>25/01/2017</td>
				<td>102</td>
				<td></td>
			</tr>
			<!-- REPORT 3 - END -->

		</tbody>
	</table>
	<!-- // CLIENT SUB-ORDERS - END // -->

</div>
<!-- // REPORTS - END // -->
