<!-- ///////////////////////////////// HEALTH TASKS - START ///////////////////////////////// -->
<section class="case-info">

	<h2 class="description-title">
		Tasks
		<!-- <a href="../8-create-task/8a-create-task.html" class="add">Create task</a> -->
	</h2>

	<table id="tasks-table" class="tablesorter client-page">
		<thead>
			<tr class="four-column">
				<th><span></span>Type</th>
				<th><span></span>Task due date</th>
				<th><span></span>Task status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<!-- TASK 1 - START -->
			<tr class="handw-content-item urgent-row">
				<td>
					<div class="wrapper">
						<!-- <div class="icon">
							<span class="task-type review-correspondence"></span>
						</div> -->
						<div class="text">
							<div class="hide">A</div>
							<a href="#" class="task create-letter-journey-button change-tab">Review application correspondence</a>
							<p class="task-intro">Task name</p>
							<div class="details">
								<p><a href="#" class="open">Description</a></p>
							</div>
							<div class="description">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum libero ligula, at imperdiet sem sollicitudin volutpat. Praesent vel mi egestas, fermentum tellus at, bibendum erat. Aenean fermentum est elit, quis finibus lacus convallis id. Nullam porta dapibus ex, nec egestas est. Nullam tempus vel nunc in sagittis. Duis porta laoreet sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae dui sapien. Curabitur suscipit in dolor eu dapibus. Aenean blandit id dolor vel rhoncus.
								</p>
							</div>
						</div>
					</div>
				</td>
				<td>
					<span class="icon date"></span>
					<p>20/05/2017</p>
					<div class="counter alert">
						<span class="number">-4</span>
						days
					</div>
				</td>
				<td>
					<div class="rag-rating">
						<span class="traffic-light red">C</span>
						<span class="traffic-light"></span>
						<span class="traffic-light"></span>
						<div class="border"></div>
					</div>
				</td>
				<td>
					<a href="#error-task" rel="modal:open" class="main-cta tertiary complete action-button">Mark as complete</a>
					<a href="../8-create-task/8a-create-task.html" class="main-cta tertiary edit action-button">Edit task</a>
					<a href="#re-assign-task" rel="modal:open" class="main-cta tertiary re-assign action-button">Re-assign task</a>
				</td>
			</tr>
			<!-- TASK 1 - END -->

			<!-- TASK 2 - START -->
			<tr class="handw-content-item urgent-row link-for-commission-visit">
				<td>
					<div class="wrapper">
						<!-- <div class="icon">
							<span class="task-type commission-visit"></span>
						</div> -->
						<div class="text">
							<div class="hide">B</div>
							<a href="../6-commission-visit/6a-why.html" class="task">Commission visit</a>
							<p class="task-intro">Task name</p>
						</div>
					</div>
				</td>
				<td>
					<span class="icon date"></span>
					<p>20/04/2017</p>
					<div class="counter alert">
						<span class="number">-2</span>
						day
					</div>
				</td>
				<td>
					<div class="rag-rating">
						<span class="traffic-light red">C</span>
						<span class="traffic-light"></span>
						<span class="traffic-light"></span>
						<div class="border"></div>
					</div>
				</td>
				<td>
					<a href="#complete-task" rel="modal:open" class="main-cta tertiary complete action-button">Mark as complete</a>
					<a href="../8-create-task/8a-create-task.html" class="main-cta tertiary edit action-button">Edit task</a>
					<a href="#re-assign-task" rel="modal:open" class="main-cta tertiary re-assign action-button">Re-assign task</a>
				</td>
			</tr>
			<!-- TASK 2 - START -->

			<!-- TASK 3 - START -->
			<tr class="handw-content-item">
				<td>
					<div class="wrapper">
						<!-- <div class="icon">
							<span class="task-type review-report"></span>
						</div> -->
						<div class="text">
							<div class="hide">C</div>
							<a href="#" class="task">Review annual report</a>
							<p class="task-intro">Task name</p>
						</div>
					</div>
				</td>
				<td>
					<span class="icon date"></span>
					<p>25/06/2017</p>
					<div class="counter">
						<span class="number">5</span>
						days
					</div>
				</td>
				<td>
					<div class="rag-rating">
						<span class="traffic-light"></span>
						<span class="traffic-light"></span>
						<span class="traffic-light green">A</span>
						<div class="border"></div>
					</div>
				</td>
				<td>
					<a href="#complete-task" rel="modal:open" class="main-cta tertiary complete action-button">Mark as complete</a>
					<a href="../8-create-task/8a-create-task.html" class="main-cta tertiary edit action-button">Edit task</a>
					<a href="#re-assign-task" rel="modal:open" class="main-cta tertiary re-assign action-button">Re-assign task</a>
				</td>
			</tr>
			<!-- TASK 3 - END -->

			<!-- TASK 4 - START -->
			<tr class="handw-content-item">
				<td>
					<div class="wrapper">
						<!-- <div class="icon">
							<span class="task-type print-notice"></span>
						</div> -->
						<div class="text">
							<div class="hide">D</div>
							<a href="#" class="task">Print and send generated notice(s)</a>
							<p class="task-intro">Task name</p>
							<div class="details">
								<p><a href="#" class="open">Description</a></p>
							</div>
							<div class="description">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum libero ligula, at imperdiet sem sollicitudin volutpat. Praesent vel mi egestas, fermentum tellus at, bibendum erat. Aenean fermentum est elit, quis finibus lacus convallis id. Nullam porta dapibus ex, nec egestas est. Nullam tempus vel nunc in sagittis. Duis porta laoreet sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae dui sapien. Curabitur suscipit in dolor eu dapibus. Aenean blandit id dolor vel rhoncus.
								</p>
							</div>
						</div>
					</div>
				</td>
				<td>
					<span class="icon date"></span>
					<p>25/06/2017</p>
					<div class="counter">
						<span class="number">5</span>
						days
					</div>
				</td>
				<td>
					<div class="rag-rating">
						<span class="traffic-light"></span>
						<span class="traffic-light"></span>
						<span class="traffic-light green">A</span>
						<div class="border"></div>
					</div>
				</td>
				<td>
					<a href="#complete-task" rel="modal:open" class="main-cta tertiary complete action-button">Mark as complete</a>
					<a href="../8-create-task/8a-create-task.html" class="main-cta tertiary edit action-button">Edit task</a>
					<a href="#re-assign-task" rel="modal:open" class="main-cta tertiary re-assign action-button">Re-assign task</a>
				</td>
			</tr>
			<!-- TASK 4 - START -->

			<!-- TASK 5 - START -->
			<tr class="pfa-content-item urgent-row">
				<td>
					<div class="wrapper">
						<!-- <div class="icon">
							<span class="task-type review-correspondence"></span>
						</div> -->
						<div class="text">
							<div class="hide">A</div>
							<a href="#" class="task create-letter-journey-button change-tab">Review application correspondence</a>
							<p class="task-intro">Task name</p>
							<div class="details">
								<p><a href="#" class="open">Description</a></p>
							</div>
							<div class="description">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum libero ligula, at imperdiet sem sollicitudin volutpat. Praesent vel mi egestas, fermentum tellus at, bibendum erat. Aenean fermentum est elit, quis finibus lacus convallis id. Nullam porta dapibus ex, nec egestas est. Nullam tempus vel nunc in sagittis. Duis porta laoreet sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae dui sapien. Curabitur suscipit in dolor eu dapibus. Aenean blandit id dolor vel rhoncus.
								</p>
							</div>
						</div>
					</div>
				</td>
				<td>
					<span class="icon date"></span>
					<p>20/05/2017</p>
					<div class="counter alert">
						<span class="number">-4</span>
						days
					</div>
				</td>
				<td>
					<div class="rag-rating">
						<span class="traffic-light red">C</span>
						<span class="traffic-light"></span>
						<span class="traffic-light"></span>
						<div class="border"></div>
					</div>
				</td>
				<td>
					<a href="#complete-task" rel="modal:open" class="main-cta tertiary complete action-button">Mark as complete</a>
					<a href="../8-create-task/8a-create-task.html" class="main-cta tertiary edit action-button">Edit task</a>
					<a href="#re-assign-task" rel="modal:open" class="main-cta tertiary re-assign action-button">Re-assign task</a>
				</td>
			</tr>
			<!-- TASK 5 - END -->

		</tbody>
	</table>

</section>
<!-- ///////////////////////////////// HEALTH TASKS - END ///////////////////////////////// -->
