<!-- MAIN NAV - START -->
<header class="main">

     <nav>
          <img src="../../production/img/V5/sirius-logo.svg" alt="Sirius"></div>
          <ul>
               <li class="user-cta">
                    <a href="#">
                         <span class="icon"></span>
                         Susan Smith
                    </a>
               </li>
               <li class="constant-cta">
                    <a href="#" class="main-cta create-client">
                         Create client
                    </a>
               </li>
               <li class="actions create-letter">
                    <a href="#">
                         <span class="icon"></span>
                         Create letter
                    </a>
               </li>
          </ul>
     </nav>

</header>
<!-- MAIN NAV - END -->
