<nav class="progress-bar create-deputy">
	<ul class="steps-three">
		<li class="step-1">
			<a href="5b-deputy-details.html" class="wrapper">
				<div class="number"><span>1</span></div>
				<p>Deputy details</p>
			</a>
		</li>
		<li class="step-2">
			<a href="5c-additional-info.html" class="wrapper">
				<div class="number"><span>2</span></div>
				<p>Additional info</p>
			</a>
		</li>
		<li class="step-3">
			<a href="5d-case-details.html" class="wrapper">
				<div class="number"><span>3</span></div>
				<p>Order details</p>
			</a>
		</li>
		<span class="border"></span>
	</ul>
</nav>
