<nav class="progress-bar commission-visit">
	<ul class="steps-six">
		<li class="step-1">
			<a href="6a-why.html" class="wrapper">
				<div class="number"><span>1</span></div>
				<p>Why?</p>
			</a>
		</li>
		<li class="step-2">
			<a href="6b-who.html" class="wrapper">
				<div class="number"><span>2</span></div>
				<p>Who &amp; where?</p>
			</a>
		</li>
		<li class="step-3">
			<a href="6c-where.html" class="wrapper">
				<div class="number"><span>3</span></div>
				<p>Third parties?</p>
			</a>
		</li>
		<li class="step-4">
			<a href="6d-case-details.html" class="wrapper">
				<div class="number"><span>4</span></div>
				<p>Case summary &amp; Assets</p>
			</a>
		</li>
		<li class="step-5">
			<a href="6e-summary-of-case.html" class="wrapper">
				<div class="number"><span>5</span></div>
				<p>Case details</p>
			</a>
		</li>
		<li class="step-6">
			<a href="6f-confirm-visit.html" class="wrapper">
				<div class="number"><span>6</span></div>
				<p>Visit summary</p>
			</a>
		</li>
		<span class="border"></span>
	</ul>
</nav>
