<!-- // JS BODY END - START // -->
	<!-- <script src="../../production/js/prototype/bootstrapper.js"></script> -->
	<script src="../../../production/js/V7/hideShowPassword.js"></script>
	<script src="../../../production/js/V7/my-jquery.js"></script>
	<script src="../../../production/js/V7/jquery.cookie.js"></script>
	<script src="../../../production/js/V7/jquery.modal.js"></script>
	<script src="../../../production/js/V7/jquery-datepicker.js"></script>
	<script>
	    var picker = new Pikaday({ field: document.getElementById('datepicker') });
	</script>
	<script src="../../../production/js/V7/my-cookies.js"></script>
	<script src="../../../production/js/V7/sticky-item.js"></script>
	<!-- <script src="../../production/js/prototype/swing.js"></script>
	<script src="../../production/js/prototype/class-list.js"></script>
	<script src="../../production/js/prototype/card-stack.js"></script> -->
<!-- // JS BODY END - END // -->
