<!-- // JS BODY END - START // -->
	<!-- <script src="../../production/js/prototype/bootstrapper.js"></script> -->
	<script src="../../production/js/V12/hideShowPassword.js"></script>
	<script src="../../production/js/V12/jquery.cookie.js"></script>
	<script src="../../production/js/V12/jquery.modal.js"></script>
	<script src="../../production/js/V12/jquery-datepicker.js"></script>
	<script>
	    var picker = new Pikaday({ field: document.getElementById('datepicker') });
	</script>

	<!-- User Journey - Cookies - START -->
	<script src="../../production/js/V12/my-cookies/my-cookies.js"></script>
	<script src="../../production/js/V12/my-cookies/commission-visit.js"></script>
	<script src="../../production/js/V12/my-cookies/create-case.js"></script>
	<script src="../../production/js/V12/my-cookies/create-task.js"></script>
	<script src="../../production/js/V12/my-cookies/create-letter.js"></script>
	<script src="../../production/js/V12/my-cookies/create-client.js"></script>
	<script src="../../production/js/V12/my-cookies/create-deputy.js"></script>
	<script src="../../production/js/V12/my-cookies/client-page.js"></script>
	<script src="../../production/js/V12/my-cookies/report-period.js"></script>
	<script src="../../production/js/V12/my-cookies/supervision-level.js"></script>
	<script src="../../production/js/V12/my-cookies/new-event.js"></script>
	<!-- User Journey - Cookies - END -->

	<!-- User Journey - JQuery - START -->
	<script src="../../production/js/V12/my-jquery/my-jquery.js"></script>
	<script src="../../production/js/V12/my-jquery/client-page.js"></script>
	<script src="../../production/js/V12/my-jquery/commission-visit.js"></script>
	<script src="../../production/js/V12/my-jquery/create-case.js"></script>
	<script src="../../production/js/V12/my-jquery/create-client.js"></script>
	<script src="../../production/js/V12/my-jquery/create-task.js"></script>
	<script src="../../production/js/V12/my-jquery/create-deputy.js"></script>
	<script src="../../production/js/V12/my-jquery/create-letter.js"></script>
	<script src="../../production/js/V12/my-jquery/report-period.js"></script>
	<script src="../../production/js/V12/my-jquery/supervision-level.js"></script>
	<script src="../../production/js/V12/my-jquery/new-event.js"></script>
	<script src="../../production/js/V12/my-jquery/progress-bar.js"></script>
	<!-- User Journey - JQuery - END -->

	<script src="../../production/js/V12/jquery.tablesorter.js"></script>

	<!-- Autocomplete - JQuery - START -->
	<script src="../../production/js/V12/autocomplete/jquery.autocomplete.min.js"></script>
	<script src="../../production/js/V12/autocomplete/autocomplete.js"></script>
	<!-- Autocomplete - JQuery - END -->

	<!-- <script type="text/javascript" src="http://code.jquery.com/jquery.min.js" charset="utf-8"></script> -->
	<script src="../../production/js/V12/text-editor.js"></script>
	<script>
		$('.jqte-test').jqte();

		// settings of status
		var jqteStatus = true;
		$(".status").click(function()
		{
			jqteStatus = jqteStatus ? false : true;
			$('.jqte-test').jqte({"status" : jqteStatus})
		});
	</script>

	<script src="../../production/js/V12/sticky-item.js"></script>
<!-- // JS BODY END - END // -->
