<!-- // MAIN MAV - START // -->
<nav class="top-nav">

	<div class="row">
		<div class="large-12 large-uncentered columns">

			<div class="preferences">
				<a href="#" class="user-cta">
					<div class="wrapper">
						<span class="nav-icon"></span>
						<div class="sirius-user-id">Susan Smith</div>
					</div>
				</a>

				<ul class="user-settings">
					<li><a href="#">Help and guidance</a></li>
					<li class="multiple-options">
						<span>Theme:</span>
						<a href="#" class="multiple current">Light</a>
						<a href="#" class="multiple">Dark</a>
						<a href="#" class="multiple">Pink</a>
					</li>
					<li class="multiple-options">
						<span>Font size:</span>
						<a href="#" class="multiple current">Regular</a>
						<a href="#" class="multiple">Large</a>
					</li>
				</ul>
			</div>

			<form action="search.html">
				<input type="search" name="search" id="autocomplete" placeholder="Search SIRIUS ID or Client...">
				<input type="submit">
			</form>

			<label class="switch">
				<span>Supervision</span>
				<input type="checkbox">
				<div class="slider round"></div>
			</label>

		</div>
	</div>

</nav>
<!-- // MAIN MAV - END // -->
