<!-- ///////////////////////////////// CLIENT ERRORS - START ///////////////////////////////// -->
<div class="row">
	<div class="large-12 large-uncentered columns">
		<div id="event-error-message" class="confirmation-panel error-message">
			<div class="content">
				<h1>
					<span></span>
					There appears to be a problem with the form
				</h1>
				<p>Some of the fields require your attention:</p>
				<ul>
					<li>
						<a href="#dropzone">
							The file you selected to upload is too big.
							Please check your file size is less than 48mb.
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- ///////////////////////////////// CLIENT ERRORS - END ///////////////////////////////// -->
