<!-- ///////////////////////////////// DEPUTY ERRORS - START ///////////////////////////////// -->
<div class="row">
	<div class="large-12 large-uncentered columns">
		<div id="task-error-message" class="confirmation-panel error-message">
			<div class="content">
				<h1>
					<span></span>
					There appears to be a problem, we were unable to complete the task: "<div class="action-task-name">Task title</div>"
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- ///////////////////////////////// DEPUTY ERRORS - END ///////////////////////////////// -->
