<!-- ///////////////////////////////// DEPUTY ERRORS - START ///////////////////////////////// -->
<div class="row">
	<div class="large-12 large-uncentered columns">
		<div id="error-message" class="confirmation-panel error-message">
			<div class="content">
				<h1>
					<span></span>
					There appears to be a problem with the form
				</h1>
				<p>Some of the fileds require your attention:</p>
				<ul>
					<li class="too-young"><a href="#dob-error">Date of birth - the deputy must be older than 18 years of age</a></li>
					<li class="too-old"><a href="#dob-error">Date of birth - the deputy cannot be born before 1880</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- ///////////////////////////////// DEPUTY ERRORS - END ///////////////////////////////// -->
