/* ---------------------------------------------------------------------------
* Main styles affecting the Application
* ---------------------------------------------------------------------------
*/

// =====================================  Autocomplete drop down - START ===================================== //
#side-bar-holder {
     position: relative;
     // float: right !important;
}

#action-panel {
     position: relative;
     float: right !important;
}

#document-summary, #action-panel {
     // width: auto;
     // position: relative;
     // right: 0;
     &.sticky {
          margin-top: 0;
          position: fixed;
          top: 0;
          width: 40em;
          // right: 0;
     }
}

#document-summary {
     // float: right !important;
     #recipients, .document, #asset-summary {
          display: inline-block;
          float: left;
          width: 100%;
          margin: 0;
     }
     .document {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          img {
               height: 6em;
               padding: 0.5em;
               border: 3px solid $border-colour;
               border-radius: $global-border-radius;
               float: left;
               margin: 0 1em 0 0;
          }
          .title {
               float: left;
               text-transform: uppercase;
               font-size: 1.4rem;
               width: 80%;
               color: rgba($main-colour,0.4);
          }
     }
     ol#recipients, ol#asset-summary {
          margin: 0;
          li {
               // color: rgba($main-colour,0.4);
               color: $text-main-colour;
               font-family: $Opensans-Regular;
               counter-increment: step-counter;
               list-style: none;
               margin: 0 0 1em 0;
               &:last-of-type {
                    margin-bottom: 0;
               }
               &::before {
                    content: counter(step-counter);
                    font-family: $Montserrat;
                    font-weight: bold;
                    background: $blue;
                    display: inline-block;
                    border-radius: 50%;
                    color: $white;
                    width: 1.5em;
                    height: 1.5em;
                    margin: 0 0.5em 0 0;
                    text-align: center;
               }
          }
     }
}


// #document-summary {
//      &.sticky {
//           margin-top: 1em;
//      }
// }
// =====================================  Autocomplete drop down - END ===================================== //
