<!-- // DRAFTS - START // -->
<div id="drafts">

	<h2 class="section-title">Draft letters</h2>

	<h2 class="sub-section-title"><span class="icon welfare"></span>Health &amp; welfare drafts</h2>

	<ol class="draft-list">
		<li class="selected doc-1" data-value='doc-1'>
			<span class="title">Blank Receiver.doc</span><br>
			<div class="info">
				<span>
					<div class="icon recipient"></div>
					Recipient:
					<strong class="recipient-name">Mr Gerald Brackens</strong>
				</span><br>
				<span>
					<div class="icon date"></div>
					Date created:
					<strong>25/06/2017 - 13:15</strong>
				</span><br>
				<span>
					<div class="icon saved"></div>
					Last saved:
					<strong>25/06/2017 - 13:15</strong>
				</span><br>
				<a href="#" class="edit">Edit</a>
				<a href="#delete" rel="modal:open" class="delete">Delete</a>
			</div>
		</li>
		<li class="doc-2" data-value='doc-2'>
			<span class="title">Blank Receiver.doc</span><br>
			<div class="info">
				<span>
					<div class="icon recipient"></div>
					Recipient:
					<strong class="recipient-name">Mrs Carla Frith</strong>
				</span><br>
				<span>
					<div class="icon date"></div>
					Date created:
					<strong>25/06/2017 - 13:15</strong>
				</span><br>
				<span>
					<div class="icon saved"></div>
					Last saved:
					<strong>25/06/2017 - 13:15</strong>
				</span><br>
				<a href="#" class="edit">Edit</a>
				<a href="#delete" rel="modal:open" class="delete">Delete</a>
			</div>
		</li>
		<li class="doc-3" data-value='doc-3'>
			<span class="title">Blank Receiver.doc</span><br>
			<div class="info">
				<span>
					<div class="icon recipient"></div>
					Recipient:
					<strong class="recipient-name">Ms Lara Stevens</strong>
				</span><br>
				<span>
					<div class="icon date"></div>
					Date created:
					<strong>25/06/2017 - 13:15</strong>
				</span><br>
				<span>
					<div class="icon saved"></div>
					Last saved:
					<strong>25/06/2017 - 13:15</strong>
				</span><br>
				<a href="#" class="edit">Edit</a>
				<a href="#delete" rel="modal:open" class="delete">Delete</a>
			</div>
		</li>
		<li class="doc-4" data-value='doc-4'>
			<span class="title">OPG Complaint Esc.doc</span><br>
			<div class="info">
				<span>
					<div class="icon recipient"></div>
					Recipient:
					<strong class="recipient-name">Ms Lara Stevens</strong>
				</span><br>
				<span>
					<div class="icon date"></div>
					Date created:
					<strong>04/04/2017 - 09:53</strong>
				</span><br>
				<span>
					<div class="icon saved"></div>
					Last saved:
					<strong>25/06/2017 - 13:15</strong>
				</span><br>
				<a href="#" class="edit">Edit</a>
				<a href="#delete" rel="modal:open" class="delete">Delete</a>
			</div>
		</li>
	</ol>

	<h2 class="sub-section-title"><span class="icon property"></span>Property &amp; finance drafts</h2>

	<ol class="draft-list">
		<li class="doc-5" data-value='doc-5'>
			<span class="title">Acknowledgement Letter.doc</span><br>
			<div class="info">
				<span>
					<div class="icon recipient"></div>
					Recipient:
					<strong class="recipient-name">Ms Lara Stevens</strong>
				</span><br>
				<span>
					<div class="icon date"></div>
					Date created:
					<strong>12/20/2016 - 11:09</strong>
				</span><br>
				<span>
					<div class="icon saved"></div>
					Last saved:
					<strong>25/06/2017 - 13:15</strong>
				</span><br>
				<a href="#" class="edit">Edit</a>
				<a href="#delete" rel="modal:open" class="delete">Delete</a>
			</div>
		</li>
	</ol>
</div>
<!-- // DRAFTS - END // -->
