<!-- // DOCUMENT SUMMARY - START // -->
<h2 class="section-title">Document information</h2>

<h3 class="sub-section-title">Letter template chosen</h3>

<div class="document">
	<span class="icon document"></span>
	<!-- <img src="../../../production/img/V11/document-thumbnail.png" alt="Document" class="document-item"> -->
	<h3 class="title">CT-bb: Blank complaints team template</h3>
</div>

<div id="inserts-section">
	<h3 class="sub-section-title">Inserts chosen</h3>

	<p class="place-holder-text">No inserts have been chosen yet</p>

	<ol id="inserts-selected">
	</ol>
</div>

<div id="recipients-section">
	<h3 class="sub-section-title">Recipients chosen</h3>

	<ol id="recipients">
		<li>Ms Lara Stevens</li>
	</ol>
</div>
<!-- // DOCUMENT SUMMARY - END // -->
