<!-- // CREATE CASE VIEWER - START // -->
<div id="create-case" class="accordion">

	<!-- //////////////////////////// STEP 1 INFO - START //////////////////////////// -->
	<div class="accordion-section" id="step-1">

		<a href="1a-person-creating.html" class="edit">Edit</a>

		<button class="accordion-section-title with-edit" href="#accordion-1">
			The order
			<span></span>
		</button>

		<div id="accordion-1" class="accordion-section-content">

			<p class="place-holder-text">Complete step 1 - (The order) to see the information you have entered</p>

			<div class="commission-visit-info">

				<!-- ITEM - 1 - START -->
				<div class="info-section">
					<p>Order type:</p>
					<p class="answer case-order-type-answer">N/A</p>
				</div>
				<!-- ITEM - 1 - END -->

				<!-- ITEM - 2 - START -->
				<div class="info-section">
					<p>Court reference:</p>
					<p class="answer case-court-ref-answer">N/A</p>
				</div>
				<!-- ITEM - 2 - END -->

				<!-- ITEM - 3 - START -->
				<div class="info-section">
					<p>Order date:</p>
					<p class="answer case-order-date-answer">N/A</p>
				</div>
				<!-- ITEM - 3 - END -->

				<!-- ITEM - 4 - START -->
				<div class="info-section">
					<p>Order issue date:</p>
					<p class="answer case-order-issue-date-answer">N/A</p>
				</div>
				<!-- ITEM - 4 - END -->

				<!-- ITEM - 5 - START -->
				<div class="info-section">
					<p>Order status:</p>
					<p class="answer case-order-status-answer">N/A</p>
				</div>
				<!-- ITEM - 5 - END -->

				<!-- ITEM - 6 - START -->
				<div class="info-section">
					<p>Status date:</p>
					<p class="answer case-status-date-answer">N/A</p>
				</div>
				<!-- ITEM - 6 - END -->

				<!-- ITEM - 7 - START -->
				<div class="info-section">
					<p>Order received date:</p>
					<p class="answer case-status-date-answer">N/A</p>
				</div>
				<!-- ITEM - 7 - END -->

				<!-- ITEM - 8 - START -->
				<div class="info-section">
					<p>Order title:</p>
					<p class="answer case-order-title-answer">N/A</p>
				</div>
				<!-- ITEM - 8 - END -->

			</div>

		</div>
	</div>
	<!-- //////////////////////////// STEP 1 INFO - END //////////////////////////// -->

	<!-- //////////////////////////// STEP 2 INFO - START //////////////////////////// -->
	<div class="accordion-section" id="step-2">

		<a href="1b-the-bond.html" class="edit">Edit</a>

		<button class="accordion-section-title with-edit" href="#accordion-2">
			The bond
			<span></span>
		</button>

		<div id="accordion-2" class="accordion-section-content">

			<p class="place-holder-text">Step 2 - (The bond) incomplete</p>

			<div class="commission-visit-info">

				<!-- ITEM - 1 - START -->
				<div class="info-section">
					<p>Security bond?:</p>
					<p class="answer security-bond">N/A</p>
				</div>
				<!-- ITEM - 1 - END -->

				<!-- ITEM - 2 - START -->
				<div class="info-section bond-info">
					<p>Bond reference number:</p>
					<p class="answer bond-ref-number">N/A</p>
				</div>
				<!-- ITEM - 2 - END -->

				<!-- ITEM - 3 - START -->
				<div class="info-section bond-info">
					<p>Bond value:</p>
					<p class="answer">£ <span class="bond-value">N/A</span></p>
				</div>
				<!-- ITEM - 3 - END -->

			</div>
		</div>

	</div>
	<!-- //////////////////////////// STEP 2 INFO - END //////////////////////////// -->

	<!-- //////////////////////////// STEP 3 INFO - START //////////////////////////// -->
	<div class="accordion-section" id="step-3">

		<a href="1c-the-files.html" class="edit">Edit</a>

		<button class="accordion-section-title with-edit" href="#accordion-3">
			The files
			<span></span>
		</button>

		<div id="accordion-3" class="accordion-section-content">

			<p class="place-holder-text">Step 3 - (The files) incomplete</p>

			<div class="commission-visit-info">

				<!-- ITEM - 1 - START -->
				<div class="info-section">
					<p>File location?:</p>
					<p class="answer file-location">N/A</p>
				</div>
				<!-- ITEM - 1 - END -->

				<!-- ITEM - 2 - START -->
				<div class="info-section file-location-info">
					<p>File address:</p>
					<p class="answer">
						<span class="file-address-line-1"></span>
						<span class="file-address-line-2"></span>
						<span class="file-address-line-3"></span>
						<span class="file-address-town"></span>
						<span class="file-address-county"></span>
						<span class="file-address-postcode"></span>
					</p>
				</div>
				<!-- ITEM - 2 - END -->

			</div>
		</div>

	</div>
	<!-- //////////////////////////// STEP 3 INFO - END //////////////////////////// -->

	<!-- //////////////////////////// STEP 4 INFO - START //////////////////////////// -->
	<div class="accordion-section" id="step-4">

		<a href="1d-deputies.html" class="edit">Edit</a>

		<button class="accordion-section-title with-edit" href="#accordion-4">
			The deputy/deputies
			<span></span>
		</button>

		<div id="accordion-4" class="accordion-section-content">

			<p class="place-holder-text">Step 4 - (The deputy/deputies) incomplete</p>

			<div class="commission-visit-info">

				<!-- ITEM - 1 - START -->
				<div class="info-section">
					<p>There are deputies appointed jointly and severally?:</p>
					<p class="answer security-jointly-severally">N/A</p>
				</div>
				<!-- ITEM - 1 - END -->

				<!-- ITEM - 2 - START -->
				<div class="info-section">
					<p>There are deputies appointed jointly?:</p>
					<p class="answer security-jointly">N/A</p>
				</div>
				<!-- ITEM - 2 - END -->

			</div>
		</div>

	</div>
	<!-- //////////////////////////// STEP 4 INFO - END //////////////////////////// -->

</div>
<!-- // CREATE CASE VIEWER - END // -->
