<!-- ///////////////////////////////// CLIENT UPDATED - START ///////////////////////////////// -->
<div class="row">
	<div class="large-12 large-uncentered columns">
		<div class="confirmation-panel warning-removed-confirm">
			<div class="content">
				<h1>
					<span></span>
					The warning
					"<div class="warning-title"></div>"
					has now been removed
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- ///////////////////////////////// NCLIENT UPDATED - END ///////////////////////////////// -->
