<div class="dashboard-item-container">

	<table id="dashboard-tasks-table" class="tablesorter">
		<thead>
			<tr class="four-column">
				<th><span></span>Type</th>
				<th><span></span>Due date</th>
				<th class="non-sort">Case type</th>
				<!-- <th>Task status</th> -->
				<!-- <th><span></span>Assigned to</th> -->
				<th class="text-align-right">Actions</th>
			</tr>
		</thead>
		<tbody>

			<!-- TASK 1 - START -->
			<tr class="order-review-the-order joe-bloggs today next-7-days next-month next-60-days all" data-task="1">
				<td>
					<div class="wrapper">
						<div class="text">
							<a href="../4-client-page/4a-new-client.html#HandW" class="task cop-1-eng-task">Create COP-1-eng.pdf</a>
							<p class="task-intro">Deputy has complained of clients funds being misused</p>
							<div class="details">
								<span class="case-number"></span>
								<p>7000-0000-1035</p>
								<span class="client-icon"></span>
								<p><a href="../4-client-page/4a-new-client.html" class="cop-1-eng-task">Mr Gerald Brackens</a></p>
								<p><a href="#" class="full-task-notes" data-value="1">View application notes</a></p>
							</div>
						</div>
					</div>
				</td>
				<td>
					<span class="icon date"></span>
					<p>20/03/2018</p>
					<div class="counter">
						<span class="number">-4</span>
						days
					</div>
				</td>
				<td>
					<a href="../4-client-page/4a-new-client.html#PFA" class="cop-1-eng-task">PFA<span class="icon property"></span></a>
				</td>
				<td>
					<a href="#error-task" rel="modal:open" class="main-cta tertiary complete action-button">Mark as complete</a>
					<a href="../8-create-task/8a-create-task.html" class="main-cta tertiary edit action-button">Edit task</a>
				</td>
			</tr>
			<!-- TASK 1 - END -->

			<!-- TASK 1 - NOTES - START -->
			<tr class="details-row" data-task="1">
				<td colspan="4">

					<div class="details-wrap">

						<!-- ITEM - 1 - START -->
						<div class="info-section">
							<p>Notes:</p>
							<p class="answer">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum libero ligula, at imperdiet sem sollicitudin volutpat. Praesent vel mi egestas, fermentum tellus at, bibendum erat. Aenean fermentum est elit, quis finibus lacus convallis id. Nullam porta dapibus ex, nec egestas est. Nullam tempus vel nunc in sagittis. Duis porta laoreet sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae dui sapien. Curabitur suscipit in dolor eu dapibus. Aenean blandit id dolor vel rhoncus.
							</p>
						</div>
						<!-- ITEM - 1 - END -->

					</div>
				</td>
			</tr>
			<!-- TASK 1 - NOTES - END -->

			<!-- TASK 2 - START -->
			<tr class="visit-commission link-for-commission-visit joe-bloggs today next-7-days next-month next-60-days all">
				<td>
					<div class="wrapper">
						<div class="text">
							<a href="#" class="task">Create COP-24.pdf</a>
							<p class="task-intro">Deputy has complained of clients funds being misused</p>
							<div class="details">
								<span class="case-number"></span>
								<p>7000-0000-3202</p>
								<span class="client-icon"></span>
								<p><a href="#">Mrs Heather Spencer</a></p>
							</div>
						</div>
					</div>
				</td>
				<td>
					<span class="icon date"></span>
					<p>20/03/2018</p>
					<div class="counter">
						<span class="number">-2</span>
						day
					</div>
				</td>
				<td>
					<a href="#">H&amp;W<span class="icon welfare"></span></a>
				</td>
				<td>
					<a href="#error-task" rel="modal:open" class="main-cta tertiary complete action-button">Mark as complete</a>
					<a href="#" class="main-cta tertiary edit action-button">Edit task</a>
				</td>
			</tr>
			<!-- TASK 2 - START -->

		</tbody>
	</table>

</div>
