<div class="dashboard-item-container">

	<table id="dashboard-deputies-table" class="tablesorter">
		<thead>
			<tr class="five-column">
				<th><span></span>Name</th>
				<th>Clients</th>
				<th><span></span>Deputy type</th>
				<th><span></span>Supervision level</th>
				<th>Tasks</th>
				<!-- <th><span></span>Assigned to</th> -->
			</tr>
		</thead>
		<tbody>

			<!-- DEPUTY 1 - START -->
			<tr class="summary-row joe-bloggs deputy-public-authority" data-value="1">
				<td>
					<a href="../14-deputy-hub/14c-deputy-hub.html" class="client">Weston Parpenham</a>
					<a href="#" class="view-full-details" data-value="1">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy large">500+</span> Clients</p>
				</td>
				<td>
					Public authority
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number alert">3</span>
				</td>
				<!-- <td>
					<p class="user-name-change">Bloggs, Joe</p>
				</td> -->
			</tr>

			<tr class="details-row" data-value="1">
                    <td colspan="5">

					<!-- //////////////////////////// STEP 1 INFO - START //////////////////////////// -->
					<h2 class="description-title">Deputy details:</h2>

                         <div class="details-wrap">

						<!-- // DEPUTY ITEM - 1 - START // -->
						<div class="person-detail-item">
							<p class="item">Is this an Organisation?:</p>
							<p class="answer deputy-organisation-answer">Yes</p>
						</div>
						<!-- // DEPUTY ITEM - 1 - END // -->

						<!-- // DEPUTY ITEM - 2 - START // -->
						<div class="person-detail-item">
							<p class="item">Correspondence name:</p>
							<p class="answer">
								<dfn class="deputy-title-answer">Mr</dfn>
								<dfn class="deputy-first-name-answer">Nicolas</dfn>
								<dfn class="deputy-middle-name-answer">Austin</dfn>
								<dfn class="deputy-last-name-answer">Taylor</dfn>
							</p>
						</div>
						<!-- // DEPUTY ITEM - 2 - END // -->

						<!-- // DEPUTY ITEM - 3 - START // -->
						<div class="person-detail-item">
							<p class="item">Organisation name:</p>
							<p class="answer deputy-organisation-name-answer">Weston Parpenham</p>
						</div>
						<!-- // DEPUTY ITEM - 3 - END // -->

						<!-- // DEPUTY ITEM - 4 - START // -->
						<div class="person-detail-item">
							<p class="item">Company reference:</p>
							<p class="answer deputy-company-ref-answer">12345678</p>
						</div>
						<!-- // DEPUTY ITEM - 4 - END // -->

						<!-- // DEPUTY ITEM - 5 - START // -->
						<div class="person-detail-item">
							<p class="item">Previously Known As:</p>
							<p class="answer deputy-previous-name-answer">N/A</p>
						</div>
						<!-- // DEPUTY ITEM - 5 - END // -->

						<!-- // DEPUTY ITEM - 6 - START // -->
						<div class="person-detail-item">
							<p class="item">Address:</p>
							<p class="answer">
								<dfn class="deputy-address-line-1-answer">7 Farburn Terrace</dfn>,<br>
								<dfn class="deputy-address-town-answer">Weston Parpenham</dfn>,<br>
								<dfn class="deputy-manual-postcode-answer">PE17 0FS</dfn>.<br>
								<dfn class="deputy-country-answer">United Kingdom</dfn>
							</p>
						</div>
						<!-- // DEPUTY ITEM - 6 - END // -->

						<!-- // DEPUTY ITEM - 7 - START // -->
						<div class="person-detail-item">
							<p class="item">Is airmail required?:</p>
							<p class="answer deputy-airmail-answer">No</p>
						</div>
						<!-- // DEPUTY ITEM - 7 - END // -->

						<!-- // DEPUTY ITEM - 8A - START // -->
						<div class="person-detail-item">
							<p class="item">Daytime telephone number:</p>
							<p class="answer deputy-phone-number-answer">01268449380</p>
						</div>
						<!-- // DEPUTY ITEM - 8A - END // -->

						<!-- // DEPUTY ITEM - 8B - START // -->
						<div class="person-detail-item">
							<p class="item">Evening telephone number:</p>
							<p class="answer deputy-evening-number-answer"></p>
						</div>
						<!-- // DEPUTY ITEM - 8B - END // -->

						<!-- // DEPUTY ITEM - 9 - START // -->
						<div class="person-detail-item">
							<p class="item">Mobile telephone number:</p>
							<p class="answer deputy-mob-number-answer">07951798017</p>
						</div>
						<!-- // DEPUTY ITEM - 9 - END // -->

						<!-- // DEPUTY ITEM - 10 - START // -->
						<div class="person-detail-item">
							<p class="item">Email address:</p>
							<ul class="answer">
								<li class="deputy-email-answer"><a href="#">n.taylor@weston.parpenham.gov.uk</a></li>
								<li><a href="#">k.hill@weston.parpenham.gov.uk</a></li>
								<li><a href="#">l.duncan@weston.parpenham.gov.uk</a></li>
							</ul>
						</div>
						<!-- // DEPUTY ITEM - 10 - END // -->

					</div>
					<!-- //////////////////////////// STEP 1 INFO - END //////////////////////////// -->

					<!-- //////////////////////////// STEP 2 INFO - START //////////////////////////// -->
					<h2 class="description-title">Additional information:</h2>

                         <div class="details-wrap">

						<!-- // DEPUTY ITEM - 1 - START // -->
						<div class="person-detail-item">
							<p class="item">How would the deputy like to be contacted?:</p>
							<ul class="answer">
								<li class="answer-holder">Email</li>
								<li class="answer-holder">Phone</li>
								<li class="deputy-correspondence-email-answer">Email</li>
								<li class="deputy-correspondence-phone-answer">Phone</li>
								<li class="deputy-correspondence-post-answer">Post</li>
								<li class="deputy-correspondence-welsh-answer">Welsh</li>
							</ul>
						</div>
						<!-- // DEPUTY ITEM - 1 - END // -->

						<!-- // DEPUTY ITEM - 2 - START // -->
						<div class="person-detail-item">
							<p class="item">Newsletter?:</p>
							<p class="answer deputy-newsletter-answer">No</p>
						</div>
						<!-- // DEPUTY ITEM - 2 - END // -->

					</div>
					<!-- //////////////////////////// STEP 2 INFO - END //////////////////////////// -->

                    </td>
               </tr>
			<!-- DEPUTY 1 - END -->

			<!-- DEPUTY 2 - START -->
			<tr class="summary-row joe-bloggs deputy-professional" data-value="2">
				<td>
					<a href="../14-deputy-hub/14b-deputy-hub.html" class="client">Bob Loblaw Ltd</a>
					<a href="#" class="view-full-details" data-value="2">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy large">235</span> Clients</p>
				</td>
				<td>
					Professional
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number">0</span>
				</td>
				<!-- <td>
					McDermot, Shiobhan
				</td> -->
			</tr>

			<tr class="details-row" data-value="2">
				<td colspan="5">

					<!-- //////////////////////////// STEP 1 INFO - START //////////////////////////// -->
					<h2 class="description-title">Deputy details:</h2>

					<div class="details-wrap">

						<!-- // DEPUTY ITEM - 1 - START // -->
						<div class="person-detail-item">
							<p class="item">Is this an Organisation?:</p>
							<p class="answer deputy-organisation-answer">Yes</p>
						</div>
						<!-- // DEPUTY ITEM - 1 - END // -->

						<!-- // DEPUTY ITEM - 2 - START // -->
						<div class="person-detail-item">
							<p class="item">Correspondence name:</p>
							<p class="answer">
								<dfn class="deputy-title-answer">Mr</dfn>
								<dfn class="deputy-first-name-answer">Stanley</dfn>
								<dfn class="deputy-middle-name-answer">William</dfn>
								<dfn class="deputy-last-name-answer">Evans</dfn>
							</p>
						</div>
						<!-- // DEPUTY ITEM - 2 - END // -->

						<!-- // DEPUTY ITEM - 3 - START // -->
						<div class="person-detail-item">
							<p class="item">Organisation name:</p>
							<p class="answer deputy-organisation-name-answer">Bob Loblaw Ltd</p>
						</div>
						<!-- // DEPUTY ITEM - 3 - END // -->

						<!-- // DEPUTY ITEM - 4 - START // -->
						<div class="person-detail-item">
							<p class="item">Company reference:</p>
							<p class="answer deputy-company-ref-answer">12345678</p>
						</div>
						<!-- // DEPUTY ITEM - 4 - END // -->

						<!-- // DEPUTY ITEM - 5 - START // -->
						<div class="person-detail-item">
							<p class="item">Date of birth:</p>
							<p class="answer">
								<dfn class="deputy-dob-day-answer">06</dfn>
								/
								<dfn class="deputy-dob-month-answer">01</dfn>
								/
								<dfn class="deputy-dob-year-answer">1986</dfn>
							</p>
						</div>
						<!-- // DEPUTY ITEM - 5 - END // -->

						<!-- // DEPUTY ITEM - 6 - START // -->
						<div class="person-detail-item">
							<p class="item">Previously Known As:</p>
							<p class="answer deputy-previous-name-answer">N/A</p>
						</div>
						<!-- // DEPUTY ITEM - 6 - END // -->

						<!-- // DEPUTY ITEM - 7 - START // -->
						<div class="person-detail-item">
							<p class="item">Address:</p>
							<p class="answer">
								<dfn class="deputy-address-line-1-answer">92 York Road</dfn>,<br>
								<dfn class="deputy-address-town-answer">Oxnop Ghyll</dfn>,<br>
								<dfn class="deputy-manual-postcode-answer">CF8 1HN</dfn>.<br>
								<dfn class="deputy-country-answer">United Kingdom</dfn>
							</p>
						</div>
						<!-- // DEPUTY ITEM - 7 - END // -->

						<!-- // DEPUTY ITEM - 8 - START // -->
						<div class="person-detail-item">
							<p class="item">Is airmail required?:</p>
							<p class="answer deputy-airmail-answer">No</p>
						</div>
						<!-- // DEPUTY ITEM - 8 - END // -->

						<!-- // DEPUTY ITEM - 9A - START // -->
						<div class="person-detail-item">
							<p class="item">Daytime telephone number:</p>
							<p class="answer deputy-phone-number-answer">01239448394</p>
						</div>
						<!-- // DEPUTY ITEM - 9A - END // -->

						<!-- // DEPUTY ITEM - 9B - START // -->
						<div class="person-detail-item">
							<p class="item">Evening telephone number:</p>
							<p class="answer deputy-evening-number-answer"></p>
						</div>
						<!-- // DEPUTY ITEM - 9B - END // -->

						<!-- // DEPUTY ITEM - 10 - START // -->
						<div class="person-detail-item">
							<p class="item">Mobile telephone number:</p>
							<p class="answer deputy-mob-number-answer">07852591663</p>
						</div>
						<!-- // DEPUTY ITEM - 10 - END // -->

						<!-- // DEPUTY ITEM - 11 - START // -->
						<div class="person-detail-item">
							<p class="item">Email address:</p>
							<ul class="answer">
								<li class="deputy-email-answer"><a href="#">stanley.evans@bobloblaw.lawblog.com</a></li>
								<li><a href="#">andris.kurtz@bobloblaw.lawblog.com</a></li>
								<li><a href="#">joelle.rahilly@bobloblaw.lawblog.com</a></li>
								<li><a href="#">burt.downs@bobloblaw.lawblog.com</a></li>
							</ul>
						</div>
						<!-- // DEPUTY ITEM - 11 - END // -->

					</div>
					<!-- //////////////////////////// STEP 1 INFO - END //////////////////////////// -->

					<!-- //////////////////////////// STEP 2 INFO - START //////////////////////////// -->
					<h2 class="description-title">Business details:</h2>

					<div class="details-wrap">

						<!-- // DEPUTY ITEM - 2 - START // -->
						<div class="person-detail-item">
							<p class="item">Professional indemnity insurance:</p>
							<p class="answer">Yes</p>
						</div>
						<!-- // DEPUTY ITEM - 2 - END // -->

						<!-- // DEPUTY ITEM - 3 - START // -->
						<div class="person-detail-item">
							<p class="item">Insurance coverage:</p>
							<p class="answer">&pound; 2,500,000</p>
						</div>
						<!-- // DEPUTY ITEM - 3 - END // -->

						<!-- // DEPUTY ITEM - 4 - START // -->
						<div class="person-detail-item">
							<p class="item">Date recieved:</p>
							<p class="answer">25/03/2017</p>
						</div>
						<!-- // DEPUTY ITEM - 4 - END // -->

						<!-- // DEPUTY ITEM - 5 - START // -->
						<div class="person-detail-item">
							<p class="item">Date expires:</p>
							<p class="answer">25/04/2020</p>
						</div>
						<!-- // DEPUTY ITEM - 5 - END // -->

					</div>
					<!-- //////////////////////////// STEP 2 INFO - END //////////////////////////// -->

					<!-- //////////////////////////// STEP 3 INFO - START //////////////////////////// -->
					<h2 class="description-title">Additional information:</h2>

					<div class="details-wrap">

						<!-- // DEPUTY ITEM - 1 - START // -->
						<div class="person-detail-item">
							<p class="item">Occupation:</p>
							<p class="answer deputy-occupation-answer">Solicitor</p>
						</div>
						<!-- // DEPUTY ITEM - 1 - END // -->

						<!-- // DEPUTY ITEM - 2 - START // -->
						<div class="person-detail-item">
							<p class="item">How would the deputy like to be contacted?:</p>
							<ul class="answer">
								<li class="answer-holder">Email</li>
								<li class="answer-holder">Phone</li>
								<li class="deputy-correspondence-email-answer">Email</li>
								<li class="deputy-correspondence-phone-answer">Phone</li>
								<li class="deputy-correspondence-post-answer">Post</li>
								<li class="deputy-correspondence-welsh-answer">Welsh</li>
							</ul>
						</div>
						<!-- // DEPUTY ITEM - 2 - END // -->

						<!-- // DEPUTY ITEM - 3 - START // -->
						<div class="person-detail-item">
							<p class="item">Newsletter?:</p>
							<p class="answer deputy-newsletter-answer">No</p>
						</div>
						<!-- // DEPUTY ITEM - 3 - END // -->

					</div>
					<!-- //////////////////////////// STEP 3 INFO - END //////////////////////////// -->

				</td>
			</tr>
			<!-- DEPUTY 2 - END -->

			<!-- DEPUTY 3 - START -->
			<tr class="summary-row simon-carter deputy-public-authority">
				<td>
					<a href="#" class="client">Eastern Parpenham</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy large">150</span> Clients</p>
				</td>
				<td>
					Public authority
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number alert">5</span>
				</td>
				<!-- <td>
					Carter, Simon
				</td> -->
			</tr>
			<!-- DEPUTY 3 - END -->

			<!-- DEPUTY 4 - START -->
			<tr class="summary-row david-harper deputy-professional">
				<td>
					<a href="#" class="client">Higgs &amp; Sons</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy large">500+</span> Clients</p>
				</td>
				<td>
					Professional
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number alert">1</span>
				</td>
				<!-- <td>
					Harper, David
				</td> -->
			</tr>
			<!-- DEPUTY 4 - END -->

			<!-- DEPUTY 5 - START -->
			<tr class="summary-row shiobhan-mcdermot deputy-professional">
				<td>
					<a href="#" class="client">Connor, Caur & Burrows</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies"><span class="number deputy large">250+</span> Clients</p>
				</td>
				<td>
					Professional
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number">0</span>
				</td>
				<!-- <td>
					<p class="user-name-change">Bloggs, Joe</p>
				</td> -->
			</tr>
			<!-- DEPUTY 5 - END -->

			<!-- DEPUTY 6 - START -->
			<tr class="summary-row hannah-nixon deputy-public-authority">
				<td>
					<a href="#" class="client">Essex County Council</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy large">600+</span> Clients</p>
				</td>
				<td>
					Public authority
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number alert">1</span>
				</td>
				<!-- <td>
					Nixon, Hannah
				</td> -->
			</tr>
			<!-- DEPUTY 6 - END -->

			<!-- DEPUTY 7 - START -->
			<tr class="summary-row joe-bloggs deputy-professional">
				<td>
					<a href="#" class="client">Frank Lloyd Solicitors Ltd</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy">35</span> Clients</p>
				</td>
				<td>
					Professional
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number alert">1</span>
				</td>
				<!-- <td>
					<p class="user-name-change">Bloggs, Joe</p>
				</td> -->
			</tr>
			<!-- DEPUTY 7 - END -->

			<!-- DEPUTY 8 - START -->
			<tr class="summary-row joe-bloggs deputy-professional">
				<td>
					<a href="#" class="client">Oscar &amp; Stanley Solicitors</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy">23</span> Clients</p>
				</td>
				<td>
					Professional
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number">0</span>
				</td>
				<!-- <td>
					<p class="user-name-change">Bloggs, Joe</p>
				</td> -->
			</tr>
			<!-- DEPUTY 8 - END -->

			<!-- DEPUTY 9 - START -->
			<tr class="summary-row joe-bloggs deputy-professional">
				<td>
					<a href="#" class="client">Jacob &amp; Joseph Ltd</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy large">123</span> Clients</p>
				</td>
				<td>
					Professional
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number">0</span>
				</td>
			</tr>
			<!-- DEPUTY 9 - END -->

			<!-- DEPUTY 10 - START -->
			<tr class="summary-row david-harper deputy-professional">
				<td>
					<a href="#" class="client">Hogan Consultants Ltd</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy large">123</span> Clients</p>
				</td>
				<td>
					Professional
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number">0</span>
				</td>
				<!-- <td>
					Harper, David
				</td> -->
			</tr>
			<!-- DEPUTY 10 - END -->

			<!-- DEPUTY 11 - START -->
			<tr class="summary-row david-harper deputy-public-authority">
				<td>
					<a href="#" class="client">Northern Parpenham</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy">19</span> Clients</p>
				</td>
				<td>
					Public authority
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number alert">2</span>
				</td>
				<!-- <td>
					Harper, David
				</td> -->
			</tr>
			<!-- DEPUTY 11 - END -->

			<!-- DEPUTY 12 - START -->
			<tr class="summary-row david-harper deputy-public-authority">
				<td>
					<a href="#" class="client">Southern Parpenham</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy large">500+</span> Clients</p>
				</td>
				<td>
					Public authority
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number alert">2</span>
				</td>
				<!-- <td>
					Harper, David
				</td> -->
			</tr>
			<!-- DEPUTY 12 - END -->

			<!-- DEPUTY 13 - START -->
			<tr class="summary-row joe-bloggs deputy-professional">
				<td>
					<a href="#" class="client">Wydnham Solicitors</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy large">200+</span> Clients</p>
				</td>
				<td>
					Professional
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number">0</span>
				</td>
				<!-- <td>
					<p class="user-name-change">Bloggs, Joe</p>
				</td> -->
			</tr>
			<!-- DEPUTY 13 - END -->

			<!-- DEPUTY 14 - START -->
			<tr class="summary-row simon-carter deputy-professional">
				<td>
					<!-- <label id="deputy-14" class="deputy-title">
						<input type="checkbox" value="deputy-14" name="re-assign-deputy">
					</label> -->
					<a href="#" class="client">Lawyers Are Us</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy large">600+</span> Clients</p>
				</td>
				<td>
					Professional
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number">0</span>
				</td>
				<!-- <td>
					Carter, Simon
				</td> -->
			</tr>
			<!-- DEPUTY 14 - END -->

			<!-- DEPUTY 15 - START -->
			<tr class="summary-row joe-bloggs deputy-professional">
				<td>
					<a href="#" class="client">The Kettle Club</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy">24</span> Clients</p>
				</td>
				<td>
					Professional
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number alert">10</span>
				</td>
				<!-- <td>
					<p class="user-name-change">Bloggs, Joe</p>
				</td> -->
			</tr>
			<!-- DEPUTY 15 - END -->

		</tbody>
	</table>

	<!-- /////////////////////////// Pagination - START /////////////////////////// -->
	<div id="pagination-new">
		<!-- <a class="disabled"><<</a> -->
		<a class="disabled"><</a>
		<span>
			<a class="current">1</a>
			<a>2</a>
			<a>3</a>
			<a>4</a>
			<a>5</a>
			<i>...</i>
			<a>20</a>
		</span>
		<a>></a>
		<!-- <a>>></a> -->
	</div>
	<!-- /////////////////////////// Pagination - END /////////////////////////// -->

</div>

<script>
function myFunction() {
	// Declare variables
	var input, filter, table, tr, td, i;
	input = document.getElementById("search-table");
	filter = input.value.toUpperCase();
	table = document.getElementById("dashboard-deputies-table");
	tr = table.getElementsByTagName("tr");

	// Loop through all table rows, and hide those who don't match the search query
	for (i = 0; i < tr.length; i++) {
		td = tr[i].getElementsByTagName("td")[0];
		if (td) {
			if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
				tr[i].style.display = "";
			} else {
				tr[i].style.display = "none";
			}
		}
	}
}
</script>
