<div class="summary-sirius-review">

	<!-- /////////////////////////////////// ROW 1 - START /////////////////////////////////// -->
	<div class="dashboard-item-container summary two-across">

		<!-- // CHART ITEM - 1 - START // -->
		<div class="dashboard-item chart-container green">
			<figure class="dashboard-chart chart-one animate">
				<svg role="img" xmlns="http://www.w3.org/2000/svg">
					<title>Current</title>
					<desc>Desc</desc>
					<circle class="circle-background" r="111.5px" cx="50%" cy="50%"></circle>
					<circle class="circle-foreground" r="111.5px" cx="50%" cy="50%"></circle>
				</svg>
				<figcaption>Target <strong>85%</strong></figcaption>
				<div class="chart-text">Target <strong>85%</strong></div>
			</figure>
			<div class="figures">
				<h1>April 2017 to March 2018</h1>
				<div class="row b-data">
					<div class="large-6 large-uncentered columns">
						<h2><strong>Received (Days)</strong><span class="border"></span></h2>
						<h3>40</h3>
						<h3>39</h3>
						<p>Target</p>
						<p>Current</p>
					</div>
					<div class="large-6 large-uncentered columns">
						<h2><strong>Lodged (Days)</strong><span class="border"></span></h2>
						<h3>15</h3>
						<h3>9</h3>
						<p>Target</p>
						<p>Current</p>
					</div>
				</div>
				<div class="c-data">
					<div>
						<h2>Target:</h2>
						<h3>767</h3>
					</div>
					<div>
						<h2>Current:</h2>
						<h3>358</h3>
					</div>
					<div>
						<h2>Needed:</h2>
						<h3>409</h3>
					</div>
					<div>
						<h2>Percent:</h2>
						<h3>47%</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- // CHART ITEM - 1 - END // -->

		<!-- // CHART ITEM - 2 - START // -->
		<div class="dashboard-item chart-container green">
			<figure class="dashboard-chart chart-two animate">
				<svg role="img" xmlns="http://www.w3.org/2000/svg">
					<title>Current</title>
					<desc>Desc</desc>
					<circle class="circle-background" r="111.5px" cx="50%" cy="50%"></circle>
					<circle class="circle-foreground" r="111.5px" cx="50%" cy="50%"></circle>
				</svg>
				<figcaption>Target <strong>85%</strong></figcaption>
				<div class="chart-text">Target <strong>85%</strong></div>
			</figure>
			<div class="figures">
				<h1>February 2018</h1>
				<div class="row b-data">
					<div class="large-6 large-uncentered columns">
						<h2><strong>Received (Days)</strong><span class="border"></span></h2>
						<h3>40</h3>
						<h3>40</h3>
						<p>Target</p>
						<p>Current</p>
					</div>
					<div class="large-6 large-uncentered columns">
						<h2><strong>Lodged (Days)</strong><span class="border"></span></h2>
						<h3>15</h3>
						<h3>8</h3>
						<p>Target</p>
						<p>Current</p>
					</div>
				</div>
				<div class="c-data">
					<div>
						<h2>Reviewed</h2>
						<h3>63</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- // CHART ITEM - 2 - END // -->

	</div>
	<!-- /////////////////////////////////// ROW 1 - END /////////////////////////////////// -->

	<!-- /////////////////////////////////// ROW 2 - START /////////////////////////////////// -->
	<div class="dashboard-item-container summary three-across">

		<!-- // CHART ITEM - 1 - START // -->
		<div class="dashboard-item small-item green">
			<h1>Introductory calls</h1>
			<div class="rag-rating">
				<span class="traffic-light"></span>
				<span class="traffic-light"></span>
				<span class="traffic-light green"></span>
				<div class="border"></div>
			</div>
			<div class="number green">-3</div>
			<div class="sub-data">
				<div class="row">
					<div class="large-6 large-uncentered columns">
						<h2>Inbound</h2>
						<h3>160</h3>
					</div>
					<div class="large-6 large-uncentered columns">
						<h2>Cleared</h2>
						<h3>160</h3>
					</div>
				</div>
				<div class="row">
					<div class="large-6 large-uncentered columns">
						<h2>Outstanding (this week)</h2>
						<h3>76</h3>
					</div>
					<div class="large-6 large-uncentered columns">
						<h2>Outstanding (last week)</h2>
						<h3>79</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- // CHART ITEM - 1 - END // -->

		<!-- // CHART ITEM - 2 - START // -->
		<div class="dashboard-item small-item red">
			<h1>Settling in calls</h1>
			<div class="rag-rating">
				<span class="traffic-light"></span>
				<span class="traffic-light"></span>
				<span class="traffic-light green"></span>
				<div class="border"></div>
			</div>
			<div class="number red">+19</div>
			<div class="sub-data">
				<div class="row">
					<div class="large-6 large-uncentered columns">
						<h2>Inbound</h2>
						<h3>168</h3>
					</div>
					<div class="large-6 large-uncentered columns">
						<h2>Cleared</h2>
						<h3>149</h3>
					</div>
				</div>
				<div class="row">
					<div class="large-6 large-uncentered columns">
						<h2>Outstanding (this week)</h2>
						<h3>57</h3>
					</div>
					<div class="large-6 large-uncentered columns">
						<h2>Outstanding (last week)</h2>
						<h3>38</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- // CHART ITEM - 2 - END // -->

		<!-- // CHART ITEM - 3 - START // -->
		<div class="dashboard-item small-item green">
			<h1>Catch-up calls</h1>
			<div class="rag-rating">
				<span class="traffic-light"></span>
				<span class="traffic-light"></span>
				<span class="traffic-light green"></span>
				<div class="border"></div>
			</div>
			<div class="number green">-14</div>
			<div class="sub-data">
				<div class="row">
					<div class="large-6 large-uncentered columns">
						<h2>Inbound</h2>
						<h3>127</h3>
					</div>
					<div class="large-6 large-uncentered columns">
						<h2>Cleared</h2>
						<h3>161</h3>
					</div>
				</div>
				<div class="row">
					<div class="large-6 large-uncentered columns">
						<h2>Outstanding (this week)</h2>
						<h3>13</h3>
					</div>
					<div class="large-6 large-uncentered columns">
						<h2>Outstanding (last week)</h2>
						<h3>27</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- // CHART ITEM - 3 - END // -->

	</div>
	<!-- /////////////////////////////////// ROW 2 - END /////////////////////////////////// -->

	<!-- /////////////////////////////////// ROW 3 - START /////////////////////////////////// -->
	<div class="dashboard-item-container summary row-3 hide">

		<!-- // CHART ITEM - 1 - START // -->
		<div class="dashboard-item small-item">
			<h1>New assessments</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 1 - END // -->

		<!-- // CHART ITEM - 2 - START // -->
		<div class="dashboard-item small-item">
			<h1>Visit commissions</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 2 - END // -->

		<!-- // CHART ITEM - 3 - START // -->
		<div class="dashboard-item small-item">
			<h1>Visit reviews (Green/amber)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 3 - END // -->

		<!-- // CHART ITEM - 4 - START // -->
		<div class="dashboard-item small-item">
			<h1>Visit reviews (Red)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 4 - END // -->

		<!-- // CHART ITEM - 5 - START // -->
		<div class="dashboard-item small-item">
			<h1>Assurance visit commissions (Deputy)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 5 - END // -->

		<!-- // CHART ITEM - 6 - START // -->
		<div class="dashboard-item small-item">
			<h1>Assurance report reviews (Deputy)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 6 - END // -->

		<!-- // CHART ITEM - 7 - START // -->
		<div class="dashboard-item small-item">
			<h1>Assurance visit commissions (Client)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 7 - END // -->

		<!-- // CHART ITEM - 8 - START // -->
		<div class="dashboard-item small-item">
			<h1>Assurance report reviews (Client)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 8 - END // -->

		<!-- // CHART ITEM - 9 - START // -->
		<div class="dashboard-item small-item">
			<h1>Professional deputy review</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 9 - END // -->

		<!-- // CHART ITEM - 10 - START // -->
		<div class="dashboard-item small-item">
			<h1>Annual account (Lodging - new)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 10 - END // -->

		<!-- // CHART ITEM - 11 - START // -->
		<div class="dashboard-item small-item">
			<h1>Annual account (Lodging - further info)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 11 - END // -->

		<!-- // CHART ITEM - 12 - START // -->
		<div class="dashboard-item small-item">
			<h1>Annual account (Lodging - incompletes)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 12 - END // -->

		<!-- // CHART ITEM - 13 - START // -->
		<div class="dashboard-item small-item">
			<h1>Annual account (Full review - ready)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 13 - END // -->

		<!-- // CHART ITEM - 14 - START // -->
		<div class="dashboard-item small-item">
			<h1>Annual account (Full review - awaiting input)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 14 - END // -->

		<!-- // CHART ITEM - 15 - START // -->
		<div class="dashboard-item small-item">
			<h1>Annual account (Gifting review)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 15 - END // -->

		<!-- // CHART ITEM - 16 - START // -->
		<div class="dashboard-item small-item">
			<h1>Reassessments</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 16 - END // -->

		<!-- // CHART ITEM - 17 - START // -->
		<div class="dashboard-item small-item">
			<h1>Correspondence</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 17 - END // -->

	</div>
	<!-- /////////////////////////////////// ROW 3 - END /////////////////////////////////// -->

	<!-- /////////////////////////////////// ROW 4 - START /////////////////////////////////// -->
	<div class="dashboard-item-container summary row-1 hide">

		<!-- // CHART ITEM - 1 - START // -->
		<div class="dashboard-item chart-container">
			<figure class="dashboard-chart chart-one animate">
				<svg role="img" xmlns="http://www.w3.org/2000/svg">
					<title>Performance</title>
					<desc>Desc</desc>
					<circle class="circle-background"></circle>
					<circle class="circle-foreground"></circle>
				</svg>
				<figcaption>Teams performance</figcaption>
				<div class="chart-text">Teams performance</div>
			</figure>
		</div>
		<!-- // CHART ITEM - 1 - END // -->

		<!-- // CHART ITEM - 2 - START // -->
		<div class="dashboard-item chart-container red">
			<figure class="dashboard-chart chart-two animate">
				<svg role="img" xmlns="http://www.w3.org/2000/svg">
					<title>Outstanding tasks</title>
					<desc>Desc</desc>
					<circle class="circle-background"></circle>
					<circle class="circle-foreground"></circle>
				</svg>
				<figcaption>Outstanding tasks</figcaption>
				<div class="chart-text">Outstanding tasks</div>
			</figure>
		</div>
		<!-- // CHART ITEM - 2 - END // -->

		<!-- // CHART ITEM - 3 - START // -->
		<div class="dashboard-item chart-container green">
			<figure class="dashboard-chart chart-three animate">
				<svg role="img" xmlns="http://www.w3.org/2000/svg">
					<title>Completed tasks</title>
					<desc>Desc</desc>
					<circle class="circle-background"></circle>
					<circle class="circle-foreground"></circle>
				</svg>
				<figcaption>Completed tasks</figcaption>
				<div class="chart-text">Completed tasks</div>
			</figure>
		</div>
		<!-- // CHART ITEM - 3 - END // -->

		<!-- // CHART ITEM - 4 - START // -->
		<div class="dashboard-item info-container">
			<div class="charts-container">
				<div class="charts">
					<div class="chart one">
						<div class="icon"></div>
						<div class="percentage">32%</div>
					</div>
					<div class="chart two">
						<div class="icon"></div>
						<div class="percentage">55%</div>
					</div>
					<div class="chart three">
						<div class="icon"></div>
						<div class="percentage">25%</div>
					</div>
					<div class="chart four">
						<div class="icon"></div>
						<div class="percentage">75%</div>
					</div>
					<div class="chart five">
						<div class="icon"></div>
						<div class="percentage">20%</div>
					</div>
				</div>
				<div class="chart-instruction">
					<div class="chart-title">Title 1</div>
					<div class="chart-title">Title 2</div>
					<div class="chart-title">Title 3</div>
					<div class="chart-title">Title 4</div>
					<div class="chart-title">Title 5</div>
				</div>
				<div class="label one">
					<div>Sub title 1</div>
					<span class="border"></span>
				</div>
				<div class="label two">
					<div>Sub title 2</div>
					<span class="border"></span>
				</div>
			</div>
		</div>
		<!-- // CHART ITEM - 4 - END // -->

	</div>
	<!-- /////////////////////////////////// ROW 4 - END /////////////////////////////////// -->

</div>

<div class="summary-team-review">

	<!-- /////////////////////////////////// ROW 1 - START /////////////////////////////////// -->
	<div class="key">
		<form class="summary-view-selector">
			<div class="select-view">
				<label for="view-thumb" class="radio normal checked">
					<input id="view-thumb" type="radio" name="view-type" value="Thumb view" checked>
					<span class="icon thumb"></span>
					<p>Thumb view</p>
				</label>
				<label for="view-list" class="radio normal">
					<input id="view-list" type="radio" name="view-type" value="List view">
					<span class="icon list"></span>
					<p>List view</p>
				</label>
			</div>
			<div class="sort-workers">
				<select id="sort-workers" class="sort-workers">
					<option value="">-- Sort by --</option>
					<option value="Alphabetical">Alphabetical</option>
					<option value="Outstanding tasks">Outstanding tasks</option>
				</select>
			</div>
		</form>
		<ul>
			<li><p>Key:</p></li>
			<li><span class="colour-1"></span>Correspondence</li>
			<li><span class="colour-2"></span>Lodgings</li>
			<li><span class="colour-3"></span>Settling in calls</li>
			<li><span class="colour-4"></span>Visits</li>
			<li><span class="colour-5"></span>Other</li>
		</ul>
	</div>
	<!-- /////////////////////////////////// ROW 1 - END /////////////////////////////////// -->

	<!-- /////////////////////////////////// ROW 2 - START /////////////////////////////////// -->
	<div class="dashboard-item-container summary six-across team-review">

		<!-- // CHART ITEM - 1 - START // -->
		<div class="dashboard-item user-summary red" data-worker="worker-1">
			<h1>Joe Bloggs</h1>
			<div class="fte">
				<span class="monday"><div class="wrapper">M<p>Full day</p></div></span>
				<span class="tuesday"><div class="wrapper">T<p>Full day</p></div></span>
				<span class="wednesday"><div class="wrapper">W<p>Full day</p></div></span>
				<span class="thursday"><div class="wrapper">T<p>Full day</p></div></span>
				<span class="friday"><div class="wrapper">F<p>Full day</p></div></span>
			</div>
			<span class="fte-hours">FTE: <strong>37</strong></span>
			<div id="chart1" style="width: 195px; height: 195px;" class="user-chart"></div>
			<div class="stats">
				<div class="work-type">
					<h2>75</h2>
					<h3>Clients</h3>
				</div>
				<div>
					<h2>18</h2>
					<h3>Tasks</h3>
				</div>
				<div>
					<a href="#" class="joe-bloggs-overdue">
						<h2 class="red">2</h2>
						<h3>Overdue<br>tasks</h3>
					</a>
				</div>
			</div>
			<a href="#" class="main-cta filter-joe-bloggs">View tasks</a>
		</div>
		<!-- // CHART ITEM - 1 - END // -->

		<!-- // CHART ITEM - 2 - START // -->
		<div class="dashboard-item user-summary red" data-worker="worker-5">
			<h1>Hannah Nixon</h1>
			<div class="fte">
				<span class="monday"><div class="wrapper">M<p>Full day</p></div></span>
				<span class="tuesday"><div class="wrapper">T<p>Full day</p></div></span>
				<span class="wednesday"><div class="wrapper">W<p>Full day</p></div></span>
				<span class="thursday"><div class="wrapper">T<p>Full day</p></div></span>
				<span class="friday"><div class="wrapper">F<p>Full day</p></div></span>
			</div>
			<span class="fte-hours">FTE: <strong>37</strong></span>
			<div id="chart5" style="width: 195px; height: 195px;" class="user-chart"></div>
			<div class="stats">
				<div class="work-type">
					<h2>23</h2>
					<h3>Clients</h3>
				</div>
				<div>
					<h2>7</h2>
					<h3>Tasks</h3>
				</div>
				<div>
					<a href="#" class="hannah-nixon-overdue">
						<h2 class="red">1</h2>
						<h3>Overdue<br>tasks</h3>
					</a>
				</div>
			</div>
			<a href="#" class="main-cta filter-hannah-nixon">View tasks</a>
		</div>
		<!-- // CHART ITEM - 2 - END // -->

		<!-- // CHART ITEM - 3 - START // -->
		<div class="dashboard-item user-summary" data-worker="worker-6">
			<h1>Tom Watson</h1>
			<div class="fte">
				<span class="monday"><div class="wrapper">M<p>Full day</p></div></span>
				<span class="tuesday"><div class="wrapper">T<p>Full day</p></div></span>
				<span class="wednesday"><div class="wrapper">W<p>Full day</p></div></span>
				<span class="thursday"><div class="wrapper">T<p>Full day</p></div></span>
				<span class="friday"><div class="wrapper">F<p>Full day</p></div></span>
			</div>
			<span class="fte-hours">FTE: <strong>37</strong></span>
			<div id="chart6" style="width: 195px; height: 195px;" class="user-chart"></div>
			<div class="stats">
				<div class="work-type">
					<h2>7</h2>
					<h3>Clients</h3>
				</div>
				<div>
					<h2>18</h2>
					<h3>Tasks</h3>
				</div>
				<div>
					<h2 class="green">0</h2>
					<h3>Overdue<br>tasks</h3>
				</div>
			</div>
			<a href="#" class="main-cta filter-tom-watson">View tasks</a>
		</div>
		<!-- // CHART ITEM - 3 - END // -->

		<!-- // CHART ITEM - 4 - START // -->
		<div class="dashboard-item user-summary" data-worker="worker-3">
			<h1>David Harper</h1>
			<div class="fte">
				<span class="monday red"><div class="wrapper">M<p>Does not work</p></div></span>
				<span class="tuesday"><div class="wrapper">T<p>Full day</p></div></span>
				<span class="wednesday"><div class="wrapper">W<p>Full day</p></div></span>
				<span class="thursday"><div class="wrapper">T<p>Full day</p></div></span>
				<span class="friday red"><div class="wrapper">F<p>Does not work</p></div></span>
			</div>
			<span class="fte-hours">FTE: <strong>22.5</strong></span>
			<div id="chart3" style="width: 195px; height: 195px;" class="user-chart"></div>
			<div class="stats">
				<div class="work-type">
					<h2>53</h2>
					<h3>Clients</h3>
				</div>
				<div>
					<h2>18</h2>
					<h3>Tasks</h3>
				</div>
				<div>
					<h2 class="green">0</h2>
					<h3>Overdue<br>tasks</h3>
				</div>
			</div>
			<a href="#" class="main-cta filter-david-harper">View tasks</a>
		</div>
		<!-- // CHART ITEM - 4 - END // -->

		<!-- // CHART ITEM - 5 - START // -->
		<div class="dashboard-item user-summary" data-worker="worker-2">
			<h1>Simon Carter</h1>
			<div class="fte">
				<span class="monday"><div class="wrapper">M<p>Full day</p></div></span>
				<span class="tuesday"><div class="wrapper">T<p>Full day</p></div></span>
				<span class="wednesday"><div class="wrapper">W<p>Full day</p></div></span>
				<span class="thursday"><div class="wrapper">T<p>Full day</p></div></span>
				<span class="friday"><div class="wrapper">F<p>Full day</p></div></span>
			</div>
			<span class="fte-hours">FTE: <strong>37</strong></span>
			<div id="chart2" style="width: 195px; height: 195px;" class="user-chart"></div>
			<div class="stats">
				<div class="work-type">
					<h2>32</h2>
					<h3>Clients</h3>
				</div>
				<div>
					<h2>12</h2>
					<h3>Tasks</h3>
				</div>
				<div>
					<h2 class="green">0</h2>
					<h3>Overdue<br>tasks</h3>
				</div>
			</div>
			<a href="#" class="main-cta filter-simon-carter">View tasks</a>
		</div>
		<!-- // CHART ITEM - 5 - END // -->

		<!-- // CHART ITEM - 6 - START // -->
		<div class="dashboard-item user-summary" data-worker="worker-4">
			<h1>Siobhan McDermot</h1>
			<div class="fte">
				<span class="monday"><div class="wrapper">M<p>Full day</p></div></span>
				<span class="tuesday"><div class="wrapper">T<p>Full day</p></div></span>
				<span class="wednesday morning-off"><div class="wrapper">W<p>Works afternoon</p></div></span>
				<span class="thursday morning-off"><div class="wrapper">T<p>Works afternoon</p></div></span>
				<span class="friday afternoon-off"><div class="wrapper">F<p>Works morning</p></div></span>
			</div>
			<span class="fte-hours">FTE: <strong>22.5</strong></span>
			<div id="chart4" style="width: 195px; height: 195px;" class="user-chart"></div>
			<div class="stats">
				<div class="work-type">
					<h2>42</h2>
					<h3>Clients</h3>
				</div>
				<div>
					<h2>11</h2>
					<h3>Tasks</h3>
				</div>
				<div>
					<h2 class="green">0</h2>
					<h3>Overdue<br>tasks</h3>
				</div>
			</div>
			<a href="#" class="main-cta filter-siobhan-mcdermot">View tasks</a>
		</div>
		<!-- // CHART ITEM - 6 - END // -->

	</div>
	<!-- /////////////////////////////////// ROW 2 - END /////////////////////////////////// -->

	<!-- /////////////////////////////////// ROW 3 - START /////////////////////////////////// -->
	<div class="dashboard-item-container summary team-review-table">

		<table id="dashboard-worker-table" class="tablesorter">
			<thead>
				<tr class="six-column">
					<th class="header"><span></span>Case manager</th>
					<th class="header"><span></span>Correspondence</th>
					<th class="header"><span></span>Lodgings</th>
					<th class="header"><span></span>Settling in calls</th>
					<th class="header"><span></span>Visits</th>
					<th class="header"><span></span>Other</th>
				</tr>
			</thead>
			<tbody>

				<!-- CASEMANAGER 1 - START -->
				<tr class="summary-row red">
					<td>
						<p class="name">Joe Bloggs - </p>
						<div class="details">
							<p><a href="#" class="open">More info</a></p>
						</div>
						<div class="description">
							<div class="fte">
								<span class="monday"><div class="wrapper">M</div></span>
								<span class="tuesday"><div class="wrapper">T</div></span>
								<span class="wednesday"><div class="wrapper">W</div></span>
								<span class="thursday"><div class="wrapper">T</div></span>
								<span class="friday"><div class="wrapper">F</div></span>
							</div>
							<div class="stats">
								<div class="work-type">
									<h2>75</h2>
									<h3>Clients</h3>
								</div>
								<div>
									<h2>18</h2>
									<h3>Tasks</h3>
								</div>
								<div>
									<h2 class="red">2</h2>
									<h3>Overdue tasks</h3>
								</div>
							</div>
							<a href="#" class="main-cta filter-joe-bloggs">View tasks</a>
						</div>
					</td>
					<td>7</td>
					<td>3</td>
					<td>1</td>
					<td>3</td>
					<td>4</td>
				</tr>
				<!-- CASEMANAGER 1 - END -->

				<!-- CASEMANAGER 2 - START -->
				<tr class="summary-row">
					<td>
						<p class="name">Simon Carter - </p>
						<div class="details">
							<p><a href="#" class="open">More info</a></p>
						</div>
						<div class="description">
							<div class="fte">
								<span class="monday"><div class="wrapper">M</div></span>
								<span class="tuesday"><div class="wrapper">T</div></span>
								<span class="wednesday"><div class="wrapper">W</div></span>
								<span class="thursday"><div class="wrapper">T</div></span>
								<span class="friday"><div class="wrapper">F</div></span>
							</div>
							<div class="stats">
								<div class="work-type">
									<h2>32</h2>
									<h3>Clients</h3>
								</div>
								<div>
									<h2>12</h2>
									<h3>Tasks</h3>
								</div>
								<div>
									<h2 class="green">0</h2>
									<h3>Overdue<br>tasks</h3>
								</div>
							</div>
							<a href="#" class="main-cta filter-simon-carter">View tasks</a>
						</div>
					</td>
					<td>5</td>
					<td>2</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<!-- CASEMANAGER 2 - END -->

				<!-- CASEMANAGER 3 - START -->
				<tr class="summary-row">
					<td>
						<p class="name">David Harper - </p>
						<div class="details">
							<p><a href="#" class="open">More info</a></p>
						</div>
						<div class="description">
							<div class="fte">
								<span class="monday red"><div class="wrapper">M</div></span>
								<span class="tuesday"><div class="wrapper">T</div></span>
								<span class="wednesday"><div class="wrapper">W</div></span>
								<span class="thursday"><div class="wrapper">T</div></span>
								<span class="friday red"><div class="wrapper">F</div></span>
							</div>
							<div class="stats">
								<div class="work-type">
									<h2>53</h2>
									<h3>Clients</h3>
								</div>
								<div>
									<h2>18</h2>
									<h3>Tasks</h3>
								</div>
								<div>
									<h2 class="green">0</h2>
									<h3>Overdue<br>tasks</h3>
								</div>
							</div>
							<a href="#" class="main-cta filter-david-harper">View tasks</a>
						</div>
					</td>
					<td>4</td>
					<td>5</td>
					<td>2</td>
					<td>2</td>
					<td>5</td>
				</tr>
				<!-- CASEMANAGER 3 - END -->

				<!-- CASEMANAGER 4 - START -->
				<tr class="summary-row">
					<td>
						<p class="name">Siobhan McDermot - </p>
						<div class="details">
							<p><a href="#" class="open">More info</a></p>
						</div>
						<div class="description">
							<div class="fte">
								<span class="monday"><div class="wrapper">M</div></span>
								<span class="tuesday"><div class="wrapper">T</div></span>
								<span class="wednesday morning-off"><div class="wrapper">W</div></span>
								<span class="thursday morning-off"><div class="wrapper">T</div></span>
								<span class="friday afternoon-off"><div class="wrapper">F</div></span>
							</div>
							<div class="stats">
								<div class="work-type">
									<h2>42</h2>
									<h3>Clients</h3>
								</div>
								<div>
									<h2>11</h2>
									<h3>Tasks</h3>
								</div>
								<div>
									<h2 class="green">0</h2>
									<h3>Overdue<br>tasks</h3>
								</div>
							</div>
							<a href="#" class="main-cta filter-siobhan-mcdermot">View tasks</a>
						</div>
					</td>
					<td>4</td>
					<td>2</td>
					<td>1</td>
					<td>2</td>
					<td>2</td>
				</tr>
				<!-- CASEMANAGER 4 - END -->

				<!-- CASEMANAGER 5 - START -->
				<tr class="summary-row red">
					<td>
						<p class="name">Hannah Nixon - </p>
						<div class="details">
							<p><a href="#" class="open">More info</a></p>
						</div>
						<div class="description">
							<div class="fte">
								<span class="monday"><div class="wrapper">M</div></span>
								<span class="tuesday"><div class="wrapper">T</div></span>
								<span class="wednesday"><div class="wrapper">W</div></span>
								<span class="thursday"><div class="wrapper">T</div></span>
								<span class="friday"><div class="wrapper">F</div></span>
							</div>
							<div class="stats">
								<div class="work-type">
									<h2>23</h2>
									<h3>Clients</h3>
								</div>
								<div>
									<h2>7</h2>
									<h3>Tasks</h3>
								</div>
								<div>
									<h2 class="red">1</h2>
									<h3>Overdue<br>tasks</h3>
								</div>
							</div>
							<a href="#" class="main-cta filter-hannah-nixon">View tasks</a>
						</div>
					</td>
					<td>3</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
					<td>1</td>
				</tr>
				<!-- CASEMANAGER 5 - END -->

				<!-- CASEMANAGER 6 - START -->
				<tr class="summary-row">
					<td>
						<p class="name">Tom Watson - </p>
						<div class="details">
							<p><a href="#" class="open">More info</a></p>
						</div>
						<div class="description">
							<div class="fte">
								<span class="monday"><div class="wrapper">M</div></span>
								<span class="tuesday"><div class="wrapper">T</div></span>
								<span class="wednesday"><div class="wrapper">W</div></span>
								<span class="thursday"><div class="wrapper">T</div></span>
								<span class="friday"><div class="wrapper">F</div></span>
							</div>
							<div class="stats">
								<div class="work-type">
									<h2>7</h2>
									<h3>Clients</h3>
								</div>
								<div>
									<h2>18</h2>
									<h3>Tasks</h3>
								</div>
								<div>
									<h2 class="green">0</h2>
									<h3>Overdue<br>tasks</h3>
								</div>
							</div>
							<a href="#" class="main-cta filter-tom-watson">View tasks</a>
						</div>
					</td>
					<td>5</td>
					<td>3</td>
					<td>2</td>
					<td>1</td>
					<td>7</td>
				</tr>
				<!-- CASEMANAGER 6 - END -->

			</tbody>
		</table>
	</div>
	<!-- /////////////////////////////////// ROW 3 - END /////////////////////////////////// -->

	<!-- <div class="dashboard-item-container summary row-1">
		<p class="place-holder-text">Sirius data will appear here</p>
	</div> -->

</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {

		/* CHART DATA */
		var data1 = google.visualization.arrayToDataTable([
			['Task', 'Hours per Day'],
			['Correspondence',    7],
			['Lodgings', 3],
			['Settling in calls',  1],
			['Visits',      3],
			['Other',     4]
		]);

		var data2 = google.visualization.arrayToDataTable([
			['Task', 'Hours per Day'],
			['Correspondence',    5],
			['Lodgings', 2],
			['Settling in calls',  1],
			['Visits',      1],
			['Other',     1]
		]);

		var data3 = google.visualization.arrayToDataTable([
			['Task', 'Hours per Day'],
			['Correspondence',    4],
			['Lodgings', 5],
			['Settling in calls',  2],
			['Visits',      2],
			['Other',     5]
		]);

		var data4 = google.visualization.arrayToDataTable([
			['Task', 'Hours per Day'],
			['Correspondence',    4],
			['Lodgings', 2],
			['Settling in calls',  1],
			['Visits',      2],
			['Other',     2]
		]);

		var data5 = google.visualization.arrayToDataTable([
			['Task', 'Hours per Day'],
			['Correspondence',    3],
			['Lodgings', 1],
			['Settling in calls',  1],
			['Visits',      1],
			['Other',     1]
		]);

		var data6 = google.visualization.arrayToDataTable([
			['Task', 'Hours per Day'],
			['Correspondence',    5],
			['Lodgings', 3],
			['Settling in calls',  2],
			['Visits',      1],
			['Other',     7]
		]);

		var options = {
			pieHole: 0.4,
			legend: {
				position: 'none'
			},
			chartArea: {
				width: '100%',
				height: '100%'
			},
			tooltip: {
				text: 'value',
				ignoreBounds: 'true',
				textStyle: {
					fontName: 'Montserrat',
					fontSize: '14',
					bold: 'true',
				}
			},
			pieSliceText: 'value',
			pieSliceTextStyle: {
				fontName: 'Montserrat',
				fontSize: '18',
			},
		};

		/* Builds the charts */
		var chart1 = new google.visualization.PieChart(document.getElementById('chart1'));
		chart1.draw(data1, options);

		var chart2 = new google.visualization.PieChart(document.getElementById('chart2'));
		chart2.draw(data2, options);

		var chart3 = new google.visualization.PieChart(document.getElementById('chart3'));
		chart3.draw(data3, options);

		var chart4 = new google.visualization.PieChart(document.getElementById('chart4'));
		chart4.draw(data4, options);

		var chart5 = new google.visualization.PieChart(document.getElementById('chart5'));
		chart5.draw(data5, options);

		var chart6 = new google.visualization.PieChart(document.getElementById('chart6'));
		chart6.draw(data6, options);

	}
</script>
