<div class="dashboard-item-container">

	<table id="dashboard-clients-table" class="tablesorter">
		<thead>
			<tr class="seven-column">
				<th><span></span>Name</th>
				<th>Orders</th>
				<th>Deputies</th>
				<th><span></span>Deputy type</th>
				<th><span></span>Supervision level</th>
				<th>Tasks</th>
				<th><span></span>Assigned to</th>
			</tr>
		</thead>
		<tbody>

			<!-- CLIENT 1 - START -->
			<tr class="summary-row joe-bloggs deputy-lay order-property" data-value="1">
				<td>
					<label id="client-1" class="client-title">
						<input type="checkbox" value="client-1" name="re-assign-client">
					</label>
					<a href="#" class="client">Brackens, Gerald</a>
					<a href="#" class="view-full-details" data-value="1">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon property"></span>
						<div>
							<a href="../4-client-hub/4a-new-client.html#PFA">14820940</a> - Active
						</div>
					</div>
					<div class="wrapper">
                              <span class="icon welfare"></span>
                              <div>
                                   <a href="../4-client-hub/4a-new-client.html#HandW">14820940</a> - Active
                              </div>
                         </div>
				</td>
				<td>
					<div class="details deputies">
						<p>
							<a href="#" class="deputies open"><span class="number deputy">3</span> Deputies</a>
						</p>
					</div>
					<div class="description">
						<ul>
							<li>Tyrone Kelley</li>
							<li>Randal Rose</li>
							<li>Tommy	Mullins</li>
						</ul>
					</div>
				</td>
				<td>
					Lay
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number alert">3</span>
				</td>
				<td>
					<p class="user-name-change">Bloggs, Joe</p>
				</td>
			</tr>

			<tr class="details-row" data-value="1">
				<td colspan="7">

					<h2 class="description-title">Client details:</h2>

					<div class="details-wrap">

						<!-- // CLIENT ITEM - 1 - START // -->
						<div class="person-detail-item">
							<p class="item">Accommodation type</p>
							<p class="answer client-accommodation">LA Nursing home</p>
						</div>
						<!-- // CLIENT ITEM - 1 - END // -->

						<!-- // CLIENT ITEM - 2 - START // -->
						<div class="person-detail-item">
							<p class="item">Court reference</p>
							<p class="answer client-casarec">123456789</p>
						</div>
						<!-- // CLIENT ITEM - 2 - END // -->

						<!-- // CLIENT ITEM - 3 - START // -->
						<div class="person-detail-item">
							<p class="item">Client status</p>
							<p class="answer client-status">Active</p>
						</div>
						<!-- // CLIENT ITEM - 3 - END // -->

						<!-- // CLIENT ITEM - 4 - START // -->
						<div class="person-detail-item">
							<p class="item">Status date</p>
							<p class="answer">
								<dfn class="client-status-day">09</dfn>
								/
								<dfn class="client-status-month">09</dfn>
								/
								<dfn class="client-status-year">2017</dfn>
							</p>
						</div>
						<!-- // CLIENT ITEM - 4 - END // -->

						<!-- // CLIENT ITEM - 5 - START // -->
						<div class="person-detail-item">
							<p class="item">Name</p>
							<p class="answer">
								<dfn class="client-title-answer">Mr.</dfn>
								<dfn class="client-first-name">Gerald</dfn>
								<dfn class="client-middle-name">Stephen</dfn>
								<dfn class="client-last-name">Brackens</dfn>
							</p>
						</div>
						<!-- // CLIENT ITEM - 5 - END // -->

						<!-- // CLIENT ITEM - 6 - START // -->
						<div class="person-detail-item">
							<p class="item">Previously known as</p>
							<p class="answer client-previously-known-as">N/A</p>
						</div>
						<!-- // CLIENT ITEM - 6 - END // -->

						<!-- // CLIENT ITEM - 7 - START // -->
						<div class="person-detail-item">
							<p class="item">Date of birth</p>
							<p class="answer">
								<dfn class="client-dob-day">09</dfn>
								/
								<dfn class="client-dob-month">09</dfn>
								/
								<dfn class="client-dob-year">1983</dfn>
							</p>
						</div>
						<!-- // CLIENT ITEM - 7 - END // -->

						<!-- // CLIENT ITEM - 8 - START // -->
						<div class="person-detail-item">
							<p class="item">Address</p>
							<p class="answer">
								<dfn class="client-address-line-1">1 Grimwald Place</dfn>,<br>
								<dfn class="client-address-town">Buckley</dfn>,<br>
								<dfn class="client-address-county">Flintshire</dfn>,<br>
								<dfn class="client-manual-postcode">CV32 788</dfn>.<br>
								<dfn class="answer client-country">England</dfn>
							</p>
						</div>
						<!-- // CLIENT ITEM - 8 - END // -->

						<!-- // CLIENT ITEM - 9 - START // -->
						<div class="person-detail-item">
							<p class="item">Is airmail required?</p>
							<p class="answer client-airmail">No</p>
						</div>
						<!-- // CLIENT ITEM - 9 - END // -->

						<!-- // CLIENT ITEM - 10 - START // -->
						<div class="person-detail-item">
							<p class="item">Daytime telephone number</p>
							<p class="answer client-phone-number">0123456789</p>
						</div>
						<!-- // CLIENT ITEM - 10 - END // -->

						<!-- // CLIENT ITEM - 11 - START // -->
						<div class="person-detail-item">
							<p class="item">Mobile telephone number</p>
							<p class="answer client-mob-number">07768948823</p>
						</div>
						<!-- // CLIENT ITEM - 11 - END // -->

						<!-- // CLIENT ITEM - 12 - START // -->
						<div class="person-detail-item">
							<p class="item">Email address</p>
							<p class="answer client-email">gerald.brackens@hotmail.com</p>
						</div>
						<!-- // CLIENT ITEM - 12 - END // -->

						<!-- // CLIENT ITEM - 13 - START // -->
						<div class="person-detail-item">
							<p class="item">Financial reference</p>
							<p class="answer client-financial">192848291</p>
						</div>
						<!-- // CLIENT ITEM - 13 - END // -->

						<!-- // CLIENT ITEM - 15 - START // -->
						<div class="person-detail-item">
							<p class="item">Medical condition</p>
							<p class="answer client-medical-condition-answer">Alzheimer's</p>
						</div>
						<!-- // CLIENT ITEM - 15 - END // -->

						<!-- // CLIENT ITEM - 16 - START // -->
						<div class="person-detail-item">
							<p class="item">Marital status</p>
							<p class="answer client-marital-status">Divorced</p>
						</div>
						<!-- // CLIENT ITEM - 16 - END // -->

						<!-- // CLIENT ITEM - 17 - START // -->
						<div class="person-detail-item">
							<p class="item">How would the client liked to be contacted?</p>
							<ul class="answer">
								<li class="client-correspondence-post">Post</li>
								<li class="client-correspondence-email">Email</li>
							</ul>
						</div>
						<!-- // CLIENT ITEM - 17 - END // -->

						<!-- // CLIENT ITEM - 18 - START // -->
						<div class="person-detail-item">
							<p class="item">Is the client a violent risk?</p>
							<p class="answer client-violent-risk">Yes</p>
						</div>
						<!-- // CLIENT ITEM - 18 - END // -->

					</div>

				</td>
			</tr>
			<!-- CLIENT 1 - END -->

			<!-- CLIENT 2 - START -->
			<tr class="summary-row joe-bloggs deputy-public-authority order-property">
				<td>
					<label id="client-2" class="client-title">
						<input type="checkbox" value="client-2" name="re-assign-client">
					</label>
					<a href="#" class="client">Stevenson, Harvey</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon property"></span>
						<div>
							<a href="../4-client-hub/4a-new-client.html#PFA">12348679</a> - Active
						</div>
					</div>
				</td>
				<td>
					<p>Megan	Baldwin</p>
				</td>
				<td>
					Public authority
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number">0</span>
				</td>
				<td>
					<p class="user-name-change">Bloggs, Joe</p>
				</td>
			</tr>
			<!-- CLIENT 2 - END -->

			<!-- CLIENT 3 - START -->
			<tr class="summary-row simon-carter deputy-lay order-property">
				<td>
					<label id="client-3" class="client-title">
						<input type="checkbox" value="client-3" name="re-assign-client">
					</label>
					<a href="#" class="client">Owens, Marguerite</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon property"></span>
						<div>
							<a href="../4-client-hub/4a-new-client.html#PFA">18654365</a> - Active
						</div>
					</div>
					<div class="wrapper">
						<span class="icon welfare"></span>
						<div>
							<a href="../4-client-hub/4a-new-client.html#HandW">18654365</a> - Active
						</div>
					</div>
				</td>
				<td>
					<div class="details deputies">
						<p>
							<a href="#" class="deputies open"><span class="number deputy">2</span> Deputies</a>
						</p>
					</div>
					<div class="description">
						<ul>
							<li>Willie Potter</li>
							<li>Carla	Vargas</li>
						</ul>
					</div>
				</td>
				<td>
					Lay
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number alert">5</span>
				</td>
				<td>
					Carter, Simon
				</td>
			</tr>
			<!-- CLIENT 3 - END -->

			<!-- CLIENT 4 - START -->
			<tr class="summary-row david-harper deputy-lay order-property">
				<td>
					<label id="client-4" class="client-title">
						<input type="checkbox" value="client-4" name="re-assign-client">
					</label>
					<a href="#" class="client">Carr, Celia</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon property"></span>
						<div>
							<a href="../4-client-hub/4a-new-client.html#PFA">15638956</a> - Active
						</div>
					</div>
					<div class="wrapper">
						<span class="icon welfare"></span>
						<div>
							<a href="../4-client-hub/4a-new-client.html#HandW">15638956</a> - Active
						</div>
					</div>
				</td>
				<td>
					<div class="details deputies">
						<p>
							<a href="#" class="deputies open"><span class="number deputy">2</span> Deputies</a>
						</p>
					</div>
					<div class="description">
						<ul>
							<li>Justin Mccormick</li>
							<li>Archie Watts</li>
						</ul>
					</div>
				</td>
				<td>
					Lay
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number alert">1</span>
				</td>
				<td>
					Harper, David
				</td>
			</tr>
			<!-- CLIENT 4 - END -->

			<!-- CLIENT 5 - START -->
			<tr class="summary-row shiobhan-mcdermot deputy-professional order-property">
				<td>
					<label id="client-5" class="client-title">
						<input type="checkbox" value="client-5" name="re-assign-client">
					</label>
					<a href="#" class="client">Roy, Marcus</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon property"></span>
						<div>
							<a href="../4-client-hub/4a-new-client.html#PFA">18695243</a> - Active
						</div>
					</div>
					<div class="wrapper">
						<span class="icon welfare"></span>
						<div>
							<a href="../4-client-hub/4a-new-client.html#HandW">18695243</a> - Active
						</div>
					</div>
				</td>
				<td>
					<p>Dexter Woods</p>
				</td>
				<td>
					Professional
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number">0</span>
				</td>
				<td>
					McDermot, Shiobhan
				</td>
			</tr>
			<!-- CLIENT 5 - END -->

			<!-- CLIENT 6 - START -->
			<tr class="summary-row hannah-nixon deputy-lay order-property">
				<td>
					<label id="client-6" class="client-title">
						<input type="checkbox" value="client-6" name="re-assign-client">
					</label>
					<a href="#" class="client">Neal, Erika</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon property"></span>
						<div>
							<a href="../4-client-hub/4a-new-client.html#PFA">13426235</a> - Active
						</div>
					</div>
				</td>
				<td>
					<div class="details deputies">
						<p>
							<a href="#" class="deputies open"><span class="number deputy">2</span> Deputies</a>
						</p>
					</div>
					<div class="description">
						<ul>
							<li>Barbara Clark</li>
							<li>Mona Maldonado</li>
						</ul>
					</div>
				</td>
				<td>
					Lay
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number alert">1</span>
				</td>
				<td>
					Nixon, Hannah
				</td>
			</tr>
			<!-- CLIENT 6 - END -->

			<!-- CLIENT 7 - START -->
			<tr class="summary-row joe-bloggs deputy-professional order-health">
				<td>
					<label id="client-7" class="client-title">
						<input type="checkbox" value="client-7" name="re-assign-client">
					</label>
					<a href="#" class="client">Chaplin, Oscar</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon welfare"></span>
						<div>
							<a href="../4-client-hub/4a-new-client.html#HandW">16859489</a> - Active
						</div>
					</div>
				</td>
				<td>
					<div class="details deputies">
						<p>
							<a href="#" class="deputies open"><span class="number deputy">2</span> Deputies</a>
						</p>
					</div>
					<div class="description">
						<ul>
							<li>Nellie Hogan</li>
							<li>Shelia Baker</li>
						</ul>
					</div>
				</td>
				<td>
					Professional
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number alert">1</span>
				</td>
				<td>
					<p class="user-name-change">Bloggs, Joe</p>
				</td>
			</tr>
			<!-- CLIENT 7 - END -->

			<!-- CLIENT 8 - START -->
			<tr class="summary-row joe-bloggs deputy-professional order-health">
				<td>
					<label id="client-8" class="client-title">
						<input type="checkbox" value="client-8" name="re-assign-client">
					</label>
					<a href="#" class="client">Woods, Rory</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon welfare"></span>
						<div>
							<a href="../4-client-hub/4a-new-client.html#HandW">158679528</a> - Active
						</div>
					</div>
				</td>
				<td>
					<div class="details deputies">
						<p>
							<a href="#" class="deputies open"><span class="number deputy">3</span> Deputies</a>
						</p>
					</div>
					<div class="description">
						<ul>
							<li>Santos Kline</li>
							<li>Sage Nelson</li>
							<li>Trystan Vincent</li>
						</ul>
					</div>
				</td>
				<td>
					Professional
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number">0</span>
				</td>
				<td>
					<p class="user-name-change">Bloggs, Joe</p>
				</td>
			</tr>
			<!-- CLIENT 8 - END -->

			<!-- CLIENT 9 - START -->
			<tr class="summary-row joe-bloggs deputy-professional order-health">
				<td>
					<label id="client-9" class="client-title">
						<input type="checkbox" value="client-9" name="re-assign-client">
					</label>
					<a href="#" class="client">Kirk, Precious</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon welfare"></span>
						<div>
							<a href="../4-client-hub/4a-new-client.html#HandW">158679528</a> - Active
						</div>
					</div>
				</td>
				<td>
					<p>Lincoln Cruz</p>
				</td>
				<td>
					Professional
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number alert">1</span>
				</td>
				<td>
					<p class="user-name-change">Bloggs, Joe</p>
				</td>
			</tr>
			<!-- CLIENT 9 - END -->

			<!-- CLIENT 10 - START -->
			<tr class="summary-row joe-bloggs deputy-professional order-property">
				<td>
					<label id="client-10" class="client-title">
						<input type="checkbox" value="client-10" name="re-assign-client">
					</label>
					<a href="#" class="client">Todd, Jayleen</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon property"></span>
						<div>
							<a href="../4-client-hub/4a-new-client.html#PFA">145876538</a> - Active
						</div>
					</div>
				</td>
				<td>
					<div class="details deputies">
						<p>
							<a href="#" class="deputies open"><span class="number deputy">2</span> Deputy</a>
						</p>
					</div>
					<div class="description">
						<ul>
							<li>America Calhoun</li>
							<li>Breanna Jordan</li>
						</ul>
					</div>
				</td>
				<td>
					Professional
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number alert">1</span>
				</td>
				<td>
					<p class="user-name-change">Bloggs, Joe</p>
				</td>
			</tr>
			<!-- CLIENT 10 - END -->

			<!-- CLIENT 11 - START -->
			<tr class="summary-row hannha-nixon deputy-lay order-property">
				<td>
					<label id="client-11" class="client-title">
						<input type="checkbox" value="client-11" name="re-assign-client">
					</label>
					<a href="#" class="client">Page, Harmony</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon property"></span>
						<div>
							<a href="../4-client-hub/4a-new-client.html#PFA">145876538</a> - Active
						</div>
					</div>
				</td>
				<td>
					<div class="details deputies">
						<p>
							<a href="#" class="deputies open"><span class="number deputy">3</span> Deputies</a>
						</p>
					</div>
					<div class="description">
						<ul>
							<li>Isis Morrison</li>
							<li>Julianna Suarez</li>
							<li>Luis Harper</li>
						</ul>
					</div>
				</td>
				<td>
					Lay
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number alert">4</span>
				</td>
				<td>
					Nixon, Hannah
				</td>
			</tr>
			<!-- CLIENT 11 - END -->

			<!-- CLIENT 12 - START -->
			<tr class="summary-row hannah-nixon deputy-lay order-property">
				<td>
					<label id="client-12" class="client-title">
						<input type="checkbox" value="client-12" name="re-assign-client">
					</label>
					<a href="#" class="client">Sanchez, Roselyn</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon property"></span>
						<div>
							<a href="../4-client-hub/4a-new-client.html#PFA">135864865</a> - Active
						</div>
					</div>
				</td>
				<td>
					<div class="details deputies">
						<p>
							<a href="#" class="deputies open"><span class="number deputy">2</span> Deputies</a>
						</p>
					</div>
					<div class="description">
						<ul>
							<li>Demarion Reynolds</li>
							<li>Gunner Rosales</li>
						</ul>
					</div>
				</td>
				<td>
					Lay
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number alert">4</span>
				</td>
				<td>
					Nixon, Hannah
				</td>
			</tr>
			<!-- CLIENT 12 - END -->

			<!-- CLIENT 13 - START -->
			<tr class="summary-row david-harper deputy-public-authority order-property">
				<td>
					<label id="client-13" class="client-title">
						<input type="checkbox" value="client-13" name="re-assign-client">
					</label>
					<a href="#" class="client">Gordon, Bridger</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon property"></span>
						<div>
							<a href="../4-client-hub/4a-new-client.html#PFA">145752368</a> - Active
						</div>
					</div>
				</td>
				<td>
					<p>Raiden Allison</p>
				</td>
				<td>
					Public authority
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number">0</span>
				</td>
				<td>
					Harper, David
				</td>
			</tr>
			<!-- CLIENT 13 - END -->

			<!-- CLIENT 14 - START -->
			<tr class="summary-row joe-bloggs deputy-lay order-property">
				<td>
					<label id="client-14" class="client-title">
						<input type="checkbox" value="client-14" name="re-assign-client">
					</label>
					<a href="#" class="client">Hall, Marlie</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon property"></span>
						<div>
							<a href="../4-client-hub/4a-new-client.html#PFA">156875682</a> - Active
						</div>
					</div>
				</td>
				<td>
					<div class="details deputies">
						<p>
							<a href="#" class="deputies open"><span class="number deputy">3</span> Deputy</a>
						</p>
					</div>
					<div class="description">
						<ul>
							<li>Taylor Hoover</li>
							<li>Davian Lozano</li>
							<li>Sawyer Boyer</li>
						</ul>
					</div>
				</td>
				<td>
					Lay
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number">0</span>
				</td>
				<td>
					<p class="user-name-change">Bloggs, Joe</p>
				</td>
			</tr>
			<!-- CLIENT 14 - END -->

			<!-- CLIENT 15 - START -->
			<tr class="summary-row joe-bloggs deputy-public-authority order-property">
				<td>
					<label id="client-15" class="client-title">
						<input type="checkbox" value="client-14" name="re-assign-client">
					</label>
					<a href="#" class="client">Rose, Lailah</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon property"></span>
						<div>
							<a href="../4-client-hub/4a-new-client.html#PFA">142535796</a> - Active
						</div>
					</div>
				</td>
				<td>
					<div class="details deputies">
						<p>
							<a href="#" class="deputies open"><span class="number deputy">4</span> Deputy</a>
						</p>
					</div>
					<div class="description">
						<ul>
							<li>Deven Pruitt</li>
							<li>Naima Davenport</li>
							<li>Shayna Lucero</li>
							<li>Sofia Roman</li>
						</ul>
					</div>
				</td>
				<td>
					Public authority
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number">0</span>
				</td>
				<td>
					<p class="user-name-change">Bloggs, Joe</p>
				</td>
			</tr>
			<!-- CLIENT 15 - END -->

		</tbody>
	</table>

	<!-- /////////////////////////// Pagination - START /////////////////////////// -->
	<div id="pagination-new">
		<!-- <a class="disabled"><<</a> -->
		<a class="disabled"><</a>
		<span>
			<a class="current">1</a>
			<a>2</a>
			<a>3</a>
			<a>4</a>
			<a>5</a>
			<i>...</i>
			<a>20</a>
		</span>
		<a>></a>
		<!-- <a>>></a> -->
	</div>
	<!-- /////////////////////////// Pagination - END /////////////////////////// -->

</div>

<script>
function myFunction() {
	// Declare variables
	var input, filter, table, tr, td, i;
	input = document.getElementById("search-table");
	filter = input.value.toUpperCase();
	table = document.getElementById("dashboard-clients-table");
	tr = table.getElementsByTagName("tr");

	// Loop through all table rows, and hide those who don't match the search query
	for (i = 0; i < tr.length; i++) {
		td = tr[i].getElementsByTagName("td")[0];
		if (td) {
			if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
				tr[i].style.display = "";
			} else {
				tr[i].style.display = "none";
			}
		}
	}
}
</script>
