<nav class="progress-bar commission-visit">
	<ul class="steps-six">
		<span class="border"></span>
		<li class="step-1">
			<div class="wrapper">
				<div class="number"><span>1</span></div>
				<p>Why?</p>
			</div>
		</li>
		<li class="step-2">
			<div class="wrapper">
				<div class="number"><span>2</span></div>
				<p>Who?</p>
			</div>
		</li>
		<li class="step-3">
			<div class="wrapper">
				<div class="number"><span>3</span></div>
				<p>Where?</p>
			</div>
		</li>
		<li class="step-4">
			<div class="wrapper">
				<div class="number"><span>4</span></div>
				<p>Case summary</p>
			</div>
		</li>
		<li class="step-5">
			<div class="wrapper">
				<div class="number"><span>5</span></div>
				<p>Case details</p>
			</div>
		</li>
		<li class="step-6">
			<div class="wrapper">
				<div class="number"><span>6</span></div>
				<p>Confirm visit</p>
			</div>
		</li>

	</ul>
</nav>
