<!-- // DOCUMENT VIEWER - START // -->
<div id="document-viewer">

	<div id="page-1">
		<button class="accordion">
			Visits
			<span></span>
		</button>
		<div class="panel">
			<ul>
				<li>
					<a href="#">Lorem ipsum...</a>
					<label class="normal" for="add-to-visit-1">
						<input id="add-to-visit-1" name="add-to-visit-1" type="checkbox" value="post">
						Add to visit
					</label>
				</li>
			</ul>
		</div>

		<button class="accordion">
			Reports
			<span></span>
		</button>
		<div class="panel">
			<p>Lorem ipsum...</p>
		</div>

		<button class="accordion">
			Correspondance
			<span></span>
		</button>
		<div class="panel">
			<p>Lorem ipsum...</p>
		</div>

		<button class="accordion">
			Court documents
			<span></span>
		</button>
		<div class="panel">
			<p>Lorem ipsum...</p>
		</div>

		<button class="accordion">
			Other
			<span></span>
		</button>
		<div class="panel">
			<p>Lorem ipsum...</p>
		</div>
	</div>


	<div class="document">
		<div class="control-panel">
			<h2>Current annual report</h2>
			<a href="#">Back</a>
		</div>
		<div class="wrapper">
			<img src="../../../production/img/V8/document-report.png" alt="Document" class="document-item">
		</div>
	</div>


</div>
<!-- // DOCUMENT VIEWER - END // -->
