<!-- // JS BODY END - START // -->
	<!-- <script src="../../production/js/prototype/bootstrapper.js"></script> -->
	<script src="../../production/js/V8/hideShowPassword.js"></script>
	<script src="../../production/js/V8/my-jquery.js"></script>
	<script src="../../production/js/V8/jquery.cookie.js"></script>
	<script src="../../production/js/V8/jquery.modal.js"></script>
	<script src="../../production/js/V8/jquery-datepicker.js"></script>
	<script>
	    var picker = new Pikaday({ field: document.getElementById('datepicker') });
	</script>
	<script src="../../production/js/V8/my-cookies.js"></script>
	<script src="../../production/js/V8/sticky-item.js"></script>

	<script src="../../production/js/V8/my-cookies-commission-visit.js"></script>
	<script src="../../production/js/V8/my-jquery-commission-visit.js"></script>
<!-- // JS BODY END - END // -->
