<!-- MAIN NAV - START -->
<header class="main">

     <nav>
          <div class="padding-wrapper">
               <a href="dashboard.html" class="logo"><img src="../../production/img/V8/sirius-logo.svg" alt="Sirius"></a>
          </div>

          <a href="#" class="user-cta">
               <span class="nav-icon"></span>
               <div class="sirius-user-id">Susan Smith</div>
          </a>

          <div class="create-client allocations">
               <a href="3-create-client/3a-create-client.html" class="main-cta">
                    <span class="nav-icon"></span> Create client
               </a>
          </div>

          <a href="index.html" class="main-cta sign-out">
               <span class="nav-icon"></span> Sign out
          </a>

          <a href="#" class="minimise">
               Minimise
          </a>

     </nav>

</header>
<!-- MAIN NAV - END -->
