<div id="list-of-summary">

	<!-- ///////////////////////////////// OVERVIEW SUMMARY - START ///////////////////////////////// -->
	<div id="client-summary">

		<div class="row" id="deputy-has-died">
			<div class="large-12 large-uncentered columns">
				<!-- // CONFIRMATION MESSAGE - START // -->
				<div class="confirmation-panel">
					<div class="content">
						<h2>
							<span></span>
							The deputy's <div>DECEASED</div>
						</h2>
					</div>
				</div>
				<!-- // CONFIRMATION MESSAGE - END // -->
			</div>
		</div>

		<!-- ///////////////////// ROW - 1 - START ///////////////////// -->
		<div class="dashboard-row full-width content-items-5">

			<!-- // ITEM 1 - START // -->
			<div class="item client-info">
				<div class="left">
					<span class="icon welfare blue"><p>Health &amp; welfare</p></span>
				</div>
				<div class="right">
					<p>Court ref:</p>
					<h1>19273638</h1>
				</div>
			</div>
			<!-- // ITEM 1 - END // -->

			<!-- // ITEM 2 - START // -->
			<div class="item client-info">
				<div class="left">
					<span class="icon property blue"><p>Property &amp; finance</p></span>
				</div>
				<div class="right">
					<p>Court ref:</p>
					<h1>14820940</h1>
				</div>
			</div>
			<!-- // ITEM 2 - END // -->

			<!-- // ITEM 3 - START // -->
			<div class="item client-info">
				<div class="left">
					<span class="icon dob"></span>
				</div>
				<div class="right">
					<p>Born:</p>
					<h1>
						<span class="client-dob-day">25</span>
						<span>/</span>
						<span class="client-dob-month">06</span>
						<span>/</span>
						<span class="client-dob-year">1943</span>
						<span class="age">74</span>
					</h1>
				</div>
			</div>
			<!-- // ITEM 3 - END // -->

			<!-- // ITEM 4 - START // -->
			<div class="item client-info">
				<div class="left">
					<span class="icon medical"></span>
				</div>
				<div class="right">
					<p>Medical Condition:</p>
					<h1><span class="client-medical-condition">Alzheimer's</span></h1>
				</div>
			</div>
			<!-- // ITEM 4 - END // -->

			<!-- // ITEM 5 - START // -->
			<div class="item client-info client-status-info">
				<div class="left">
					<span class="icon status"></span>
				</div>
				<div class="right">
					<p>Client status:</p>
					<h1>Active</h1>
				</div>
			</div>
			<!-- // ITEM 5 - END // -->

		</div>
		<!-- ///////////////////// ROW - 1 - END ///////////////////// -->

		<!-- ///////////////////// ROW - 2 - START ///////////////////// -->
		<div class="dashboard-row two-items">

			<!-- // ITEM 1 - START // -->
			<div class="item with-title important-remarks">
				<div class="title"><span class="important"></span><p>Important remarks</p></div>
				<ol class="summary-list warnings-overview-list">
					<li data-value="2">
						<p class="remark-title">
							<span class="title-info">Risk to the client</span>
							<a href="#delete-important-remark-modal" rel="modal:open" class="delete delete-important-remark">Remove</a>
							<a href="#" class="view">View</a>
						</p>
						<p class="date"><span class="icon date"></span> Date created: <strong>21/09/2017 - 13:15 PM</strong> </p>
						<p class="answer">A recent visitor report highlighted that the deputies have not been to see the client once this year. This is according to the nursing home care manager. This is contrary to what the deputy says in the report.</p>
					</li>
					<li data-value="3">
						<p class="remark-title">
							<span class="title-info">Outstanding issues</span>
							<a href="#delete-important-remark-modal" rel="modal:open" class="delete delete-important-remark">Remove</a>
							<a href="#" class="view">View</a>
						</p>
						<p class="date"><span class="icon date"></span> Date created: <strong>17/07/2017 - 10:32 AM</strong> </p>
						<p class="answer">Deputy has been aggressive in the past during phone calls.</p>
					</li>
					<li data-value="4">
						<p class="remark-title">
							<span class="title-info">Safeguarding issues</span>
							<a href="#delete-important-remark-modal" rel="modal:open" class="delete delete-important-remark">Remove</a>
							<a href="#" class="view">View</a>
						</p>
						<p class="date"><span class="icon date"></span> Date created: <strong>25/06/2017 - 08:17 AM</strong> </p>
						<p class="answer">A recent visitor report highlighted that the client was looking very disheveled and wearing very old clothes. Has not had regular pocket money deposited.</p>
					</li>
					<li data-value="5">
						<p class="remark-title">
							<span class="title-info">Client is violent</span>
							<a href="#delete-important-remark-modal" rel="modal:open" class="delete delete-important-remark">Remove</a>
							<a href="#" class="view">View</a>
						</p>
						<p class="date"><span class="icon date"></span> Date created: <strong>15/03/2017 - 15:03 PM</strong> </p>
						<p class="answer">Gerald is not physically violent, but has been known to be verbally abusive to care home staff.</p>
					</li>
				</ol>
			</div>
			<!-- // ITEM 1 - END // -->

			<!-- // ITEM 2 - START // -->
			<div class="item no-colour highlight">
				<section class="full-colour-block report-dates">
					<div class="date due-date-health-welfare">
						<div class="left">
							<i class="icon welfare white"></i>
						</div>
						<div class="right">
							<div class="wrapper">
								<h1 class="main-text">
									<span class="icon date"></span>
									<div class="date-wrapper">
										<div class="health-report-day">16</div>
										/
										<div class="health-report-month">11</div>
										/
										<div class="health-report-year">2017</div>
									</div>
								</h1>
								<!-- <h2 class="sub-text">Report due date</h2> -->
								<a href="../9-reporting-period/9a-reporting-period.html" class="edit-health">Change</a>
							</div>
						</div>
						<div class="colour-wrapper"></div>
					</div>
					<div class="date due-date-property">
						<div class="left">
							<i class="icon property white"></i>
						</div>
						<div class="right">
							<div class="wrapper">
								<h1 class="main-text">
									<span class="icon date"></span>
									<div class="date-wrapper">
										<div class="property-report-day">16</div>
										/
										<div class="property-report-month">11</div>
										/
										<div class="property-report-year">2017</div>
									</div>
								</h1>
								<!-- <h2 class="sub-text">Report due date</h2> -->
								<a href="../9-reporting-period/9a-reporting-period.html" class="edit-property">Change</a>
								<div class="separator"></div>
								<a href="../9-reporting-period/9c-level-102.html" class="edit-property">102 report</a>
							</div>
						</div>
						<div class="colour-wrapper"></div>
					</div>
				</section>
				<section class="full-colour-block alert-colour right-focus compliant">
					<div class="left">
						<h1 class="sub-text">non-compliant</h1>
					</div>
					<div class="right font-size-6rem">
						<h1 class="main-text">
							30
							<span>days</span>
						</h1>
					</div>
				</section>
				<section class="full-colour-block main-colour left-focus payment">
					<div class="left font-size-3rem">
						<h1 class="main-text">&pound;200</h1>
					</div>
					<div class="right">
						<h2 class="sub-text">Outstanding payment</h2>
					</div>
				</section>
			</div>
			<!-- // ITEM 2 - END // -->

		</div>
		<!-- ///////////////////// ROW - 2 - END ///////////////////// -->

		<!-- ///////////////////// ROW - 3 - START ///////////////////// -->
		<div class="dashboard-row three-items">

			<!-- // ITEM 1 - START // -->
			<div class="item deputies with-title">
				<div class="title"><span class="deputy"></span><p>Deputy</p></div>
				<span class="number">1</span>
				<h1>
					Lara Stevens
					<span class="icon fee-payer"><p>Fee payer</p></span>
					<span class="icon main-contact"><p>Main deputy</p></span>
					<span class="icon welfare"><p>Health &amp; welfare</p></span>
					<span class="type">Joint</span>
					<!-- <a href="../12-edit-deputy/12a-check-deputy-1.html" class="edit">Edit</a>
					<div class="separator"></div> -->
					<a href="../14-deputy-page/14a-deputy-page.html" class="">Go to deputy record</a>
				</h1>
				<div class="info"><span>Type:</span> <strong>Lay deputy</strong></div>
				<div class="info"><span>Status:</span> <strong>Open</strong></div>
				<div class="info"><span>Address:</span> <strong>92 Greyfriars Road, CANNOCK WOOD, W5154AA</strong></div>
				<div class="info"><span>Relationship:</span> <strong>Sister</strong></div>
			</div>
			<!-- // ITEM 1 - END // -->

			<!-- // ITEM 2 - START // -->
			<div class="item deputies with-title">
				<div class="title"><span class="deputy"></span><p>Deputy</p></div>
				<span class="number">2</span>
				<h1>
					Carla Frith
					<span class="icon welfare-property"><p>Health &amp; welfare and<br> property &amp; finance</p></span>
					<span class="type">Joint</span>
					<!-- <a href="../12-edit-deputy/12a-check-deputy-2.html" class="edit">Edit</a>
					<div class="separator"></div> -->
					<a href="../14-deputy-page/14a-deputy-page.html" class="">Go to deputy record</a>
				</h1>
				<div class="info"><span>Type:</span> <strong>Lay deputy</strong></div>
				<div class="info"><span>Status:</span> <strong>Active</strong></div>
				<div class="info"><span>Address:</span> <strong>40 Haslemere Road, CANNOCK WOOD, W5174LD</strong></div>
				<div class="info"><span>Relationship:</span> <strong>Sister</strong></div>
			</div>
			<!-- // ITEM 2 - END // -->

			<!-- // ITEM 3 - START // -->
			<div class="item deputies with-title">
				<div class="title"><span class="deputy"></span><p>Deputy</p></div>
				<span class="number">3</span>
				<h1>
					Melanie Rand
					<span class="icon property"><p>Property &amp; finance</p></span>
					<span class="type">Joint</span>
					<!-- <a href="../12-edit-deputy/12a-check-deputy-3.html" class="edit">Edit</a>
					<div class="separator"></div> -->
					<a href="../14-deputy-page/14a-deputy-page.html" class="">Go to deputy record</a>
				</h1>
				<div class="info"><span>Type:</span> <strong>Lay deputy</strong></div>
				<div class="info"><span>Status:</span> <strong>Open</strong></div>
				<div class="info"><span>Address:</span> <strong>70 Moulton Road, Gunby Green, N6334RF</strong></div>
				<div class="info"><span>Relationship:</span> <strong>Daughter</strong></div>
			</div>
			<!-- // ITEM 3 - END // -->

		</div>
		<!-- ///////////////////// ROW - 3 - END ///////////////////// -->

		<!-- ///////////////////// ROW - 4 - START ///////////////////// -->
		<div class="dashboard-row two-items">

			<!-- // ITEM 1 - START // -->
			<!-- <div class="item no-colour highlight">
				<section class="full-colour-block background right-focus">
					<div class="left">
						<h1 class="sub-text">Case 1:</h1>
						<h2 class="main-text">19273638</h2>
					</div>
					<div class="right">
						<i class="icon property white"></i>
					</div>
					<div class="colour-wrapper"></div>
				</section>
				<section class="full-colour-block background left-focus">
					<div class="left">
						<i class="icon welfare white"></i>
					</div>
					<div class="right">
						<h1 class="sub-text">Case 2:</h1>
						<h2 class="main-text">19273638</h2>
					</div>
					<div class="colour-wrapper"></div>
				</section>
			</div> -->
			<!-- // ITEM 1 - END // -->

			<!-- // ITEM 2 - START // -->
			<!-- <div class="item with-title">
				<div class="title"><span class="history"></span><p>Case history</p></div>
				<ol class="summary-list">
					<li>
						<p>When a visit was carried out?:</p>
						<p class="answer">25/06/2016</p>
					</li>
					<li>
						<p>Have they been non-compliant before?:</p>
						<p class="answer">Yes</p>
					</li>
					<li>
						<p>Is there is a problem with the case?:</p>
						<p class="answer">No</p>
					</li>
					<li>
						<p>Do the deputies get on?</p>
						<p class="answer">No, they can never agree on the right course of action</p>
					</li>
				</ol>
			</div> -->
			<!-- // ITEM 2 - END // -->

		</div>
		<!-- ///////////////////// ROW - 4 - END ///////////////////// -->

	</div>
	<!-- ///////////////////////////////// OVERVIEW SUMMARY - END ///////////////////////////////// -->

</div>
