/* ---------------------------------------------------------------------------
* Main styles affecting the Application
* ---------------------------------------------------------------------------
*/

//  FOR ALL

header {
     &.index {
          background: $main-colour;
          padding: 0 0 5em 0;
          position: relative;
          margin: 0 0 2em 0;
          h1, h2, h3, h4, p {
               color: $white;
               margin: 0;
          }
          h1 {
               font-size: 3rem;
          }
          nav {
               display: inline-block;
               width: 100%;
               // height: 3em;
               padding: 0.5em;
               border-bottom: 1px solid rgba($white,0.2);
               margin: 0 0 3em 0;
          }
          .border {
               width: 10em;
               height: 3px;
               background: $white;
               opacity: 0.4;
               display: inline-block;
          }
          .row-divider {
               display: inline-block;
               width: 100%;
               background: url(#{$image-path}/divider.svg) no-repeat 50% 50% !important;
               background-size: cover;
               margin: 0;
               height: 1.688rem;
               position: absolute;
               bottom: -1px;
               left: 0;
          }
     }
     &.main {
          width: 15%;
          position: fixed;
          top: 0;
          bottom: 0;
          height: 100vh;
          background: $main-colour;
          padding: 1.5em;
          nav {
               img {
                    width: 100%;
                    padding-bottom: 1.5em;
                    margin-bottom: 1.5em;
                    border-bottom: 2px solid rgba($white,0.3);
               }
               ul {
                    margin: 0;
                    display: inline-block;
                    width: 100%;
                    li {
                         list-style: none;
                         margin: 0;
                         width: 100%;
                         display: inline-block;
                         padding-bottom: 1.5em;
                         &.constant-cta {
                              padding: 1.5em 0;
                              border-top: 2px dashed rgba($white, 0.3);
                              border-bottom: 2px dashed rgba($white, 0.3);
                         }
                         &.user-cta {
                              a {
                                   span.icon {
                                        background: url(#{$image-path}/icons/user.svg) no-repeat 50% 50%;
                                        background-size: cover;
                                   }
                                   background: url(#{$image-path}/icons/arrow-down.svg) no-repeat 100% 50%;
                                   background-size: 1em;
                              }
                         }
                         &.actions {
                              padding: 1.5em 0;
                         }
                         &.create-letter {
                              a {
                                   span.icon {
                                        background: url(#{$image-path}/icons/create-letter.svg) no-repeat 50% 50%;
                                        background-size: cover;
                                   }
                              }
                         }
                         a {
                              color: $white;
                              display: inline-block;
                              width: 100%;
                              span.icon {
                                   display: inline-block;
                                   float: left;
                                   background-color: $white;
                                   border-radius: 50%;
                                   width: 2em;
                                   height: 2em;
                                   margin: -0.35em 0.75em 0 0;
                              }
                         }
                    }
               }
          }
          .main-cta.sign-out {
               position: absolute;
               bottom: 1.5em;
               left: 1.5em;
               right: 1.5em;
               width: auto;
               background: none;
               border: 2px solid $white;
               &:hover {
                    color: $main-colour;
                    background: $white;
               }
          }
     }
}




// ONLY FOR LARGE DESKTOP (1281 up)
@media #{$xlarge-up} {


}

// ONLY FOR LARGE DESKTOP (1281)
@media #{$xlarge-only} {

}

// ONLY FOR DESKTOP (961)
@media #{$large-only} {


}

// ONLY FOR DESKTOP (961 up)
@media #{$large-up} {

     header {
          .border {
               margin: 0.5em 0 1em 0;
          }
     }

}

// TABLET AND UP (461 up)
@media #{$medium-up} {


}

// MEDIUM ONLY (461 - 960)
@media #{$medium-only} {

     header {
          .row-divider {
               display: none;
          }
     }

}

// // ONLY FOR MOBILE (960 and down)
// @media #{$medium-down} {
//
// }

// SMARTPHONE ONLY (Up to 460)
@media #{$small-only} {

     header {
          .row-divider {
               display: none;
          }
     }


}
