/* ---------------------------------------------------------------------------
* Main styles affecting the Application
* ---------------------------------------------------------------------------
*/

//  FOR ALL

ul.tabs {
     display: inline-block;
     width: 100%;
     border-bottom: 6px solid rgba($main-colour,0.1);
     margin: 0 0 0 0;
     li {
          list-style: none;
          float: left;
          padding: 1.5em 2em 1em 2em;
          margin: 0 0 -6px 0;
          font-family: $opensans-Bold;
          border-radius: 5px 5px 0 0;
          &:hover {
               cursor: pointer;
          }
          &.current {
               color: $white;
               background: $blue;
               border-bottom: 6px solid darken($blue,10%);
               span {
                    background: $white;
                    color: $blue;
               }
          }
          span {
               background: $red;
               border-radius: 50%;
               color: $white;
               @include flexbox;
               @include align-items(center);
               @include justify-content(center);
               background: $red;
               float: left;
               font-family: $opensans-Bold;
               width: 2.5em;
               height: 2.5em;
               margin: -0.5em 0.5em 0 0;
          }
     }
}

.tab-content {
     // margin-top: 2em;
	display: none;
	// padding: 15px;
     &.current {
          display: inherit;
     }
     &.dashboard {
          .dashboard-item-title {
               font-size: 1.6rem;
               display: inline-block;
               width: 100%;
               font-family: $opensans-Bold;
               margin: 1.5em 0 0.75em 0;
          }
          .dashboard-item-container {
               @include flexbox;
               @include flex-wrap(wrap);
               .dashboard-item {
                    border: 2px solid $border-colour;
                    border-radius: $global-border-radius;
                    flex: 1;
                    width: 32%;
                    padding: 0;
                    margin: 0 2% 1.5em 0;
                    position: relative;
                    line-height: 0;
                    background: $white;
                    text-align: left;
                    @include standard-transition;
                    z-index: 1;
                    &:hover {
                         background: ligthen($border-colour,0.5%);
                         transform: scale(1.05);
                         cursor: pointer;
                         z-index: 10;
                    }
                    &:nth-of-type(3n) {
                         margin-right: 0;
                    }
                    .tasks {
                         display: inline-block;
                         position: absolute;
                         right: -1.5em;
                         top: -1.5em;
                         background: $red;
                         color: $white;
                         @include flexbox;
                         @include align-items(center);
                         @include justify-content(center);
                         border-radius: 50%;
                         width: 4em;
                         height: 4em;
                         span {
                              font-size: 0.8rem;
                              font-family: $opensans-Regular;
                              display: inline-block;
                              width: 100%;
                              text-align: center;
                              line-height: 1;
                              // margin-bottom: -1em;
                              &.number {
                                   font-size: 1.6rem;
                                   font-family: $opensans-ExtraBold;
                                   // margin-bottom: -1em;
                              }
                         }
                    }
                    .title {
                         @include flexbox;
                         @include align-items(center);
                         @include justify-content(flex-start);
                         border-bottom: 3px dashed $border-colour;
                         padding: 1.5em;
                         .left {
                              span {
                                   display: inline-block;
                                   width: 3.5em;
                                   height: 3.5em;
                                   margin: 0 0.75em 0 0;
                              }
                         }
                         .right {
                              h2, h3 {
                                   margin: 0;
                                   display: inline-block;
                                   line-height: 1.4;
                              }
                              h2 {
                                   font-size: 1.6rem;
                                   font-family: $opensans-Bold;
                                   color: $main-colour;
                              }
                              h3 {
                                   font-size: 1rem;
                                   font-family: $opensans-Regular;
                                   color: lighten($main-colour,45%);
                              }
                         }
                    }
                    .content {
                         padding: 1em 1.5em 0 1.5em;
                         p {
                              margin: 0;
                         }
                         h4 {
                              font-size: 1.4rem;
                              font-family: $opensans-Bold;
                              margin: 0;
                              display: inline-block;
                              line-height: 1;
                              a {
                                   line-height: 1;
                              }
                         }
                         &.date , &.assigned, &.status {
                              h4 span {
                                   display: inline-block;
                                   width: 1em;
                                   height: 1em;
                                   margin: 0 0.35em -0.1em 0;
                              }
                         }
                         &.date {
                              h4 span {
                                   background: url(#{$image-path}/icons/date.svg) no-repeat 50% 50%;
                                   background-size: cover;
                              }
                         }
                         &.assigned {
                              h4 span {
                                   background: url(#{$image-path}/icons/user-dark.svg) no-repeat 50% 50%;
                                   background-size: cover;
                              }
                         }
                         &.status {
                              padding-bottom: 1em;
                              h4 span {
                                   background: url(#{$image-path}/icons/timer.svg) no-repeat 50% 50%;
                                   background-size: cover;
                              }
                         }
                    }
                    .footer {
                         padding: 1.5em;
                         margin: 1em -2px -2px -2px;
                         display: inline-block;
                         width: 101%;
                         border-radius: 0 0 5px 5px;
                         background: $text-main-colour;
                    }
                    &.welfare {
                         .left {
                              span {
                                   background: url(#{$image-path}/icons/HandW.svg) no-repeat 50% 50%;
                                   background-size: cover;
                              }
                         }
                    }
                    &.propert {
                         .left {
                              span {
                                   background: url(#{$image-path}/icons/PandA.svg) no-repeat 50% 50%;
                                   background-size: cover;
                              }
                         }
                    }
               }
          }
     }
}




// ONLY FOR LARGE DESKTOP (1281 up)
@media #{$xlarge-up} {


}

// ONLY FOR LARGE DESKTOP (1281)
@media #{$xlarge-only} {

}

// ONLY FOR DESKTOP (961)
@media #{$large-only} {


}

// ONLY FOR DESKTOP (961 up)
@media #{$large-up} {


}

// TABLET AND UP (461 up)
@media #{$medium-up} {


}

// MEDIUM ONLY (461 - 960)
@media #{$medium-only} {



}

// // ONLY FOR MOBILE (960 and down)
// @media #{$medium-down} {
//
// }

// SMARTPHONE ONLY (Up to 460)
@media #{$small-only} {


}
