<!-- // DEPUTY DETAILS - START // -->
<div id="deputy-details-with-order-details">

     <h2 class="description-title">
          Deputy details
          <!-- <a href="../5-add-deputy/5a-search-deputy.html" class="add">Add deputy</a> -->
     </h2>

     <table id="deputies-table" class="deputies-table-pfa">
          <thead>
               <tr class="six-column">
                    <th>Details</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th class="deputy-info-only">Relationship</th>
                    <th>Orders</th>
                    <th><div>Actions</div></th>
               </tr>
          </thead>
          <tbody>

               <!-- DEPUTY SUMMARY ROW 1 - START -->
               <tr class="handw-content-item summary-row" data-value="1">
                    <td>
                         <!-- <span class="icon deputy"></span> -->
                         <div class="name">
                              <span class="icon deputy"></span>
                              <div>Mrs Lara Stevens</div>
                         </div>
                         <div class="appointed deputy-info-only">JOINT</div><br>
                         <div class="address">34 Broomfield Place, STOKESLEY, TS9 8TU. United Kingdom</div>
                         <a href="#" class="full-details" data-value="1">View full details</a>
                    </td>
                    <td>
                         Lay
                    </td>
                    <td>
                         <div class="deputy-status-death">Active</div>
                    </td>
                    <td class="deputy-info-only">
                         <div class="deputy-relationship-answer">Sibling</div>
                    </td>
                    <td>
                         <div class="deputy-order-details with-icons">
                              <h2 class="title">
                                   <span class="icon welfare"></span>
                                   <div><div>H&amp;W</div> <strong>-</strong> <div>14820940</div></div>
                                   <br>
                                   <div class="sub-text">(7000-0000-1458)</div>
                              </h2>
                              <div class="appointed">Order date: <strong class="case-order-date-answer">28/08/2018</strong></div>

                              <span class="icon fee-payer"><p>Fee payer</p></span>
                              <span class="icon main-contact"><p>Main correspondence</p></span>
                         </div>

                         <!-- <span class="icon welfare"><p>Health &amp; welfare</p></span> -->
                    </td>
                    <td>
                         <!-- <a class="action view" href="../14-deputy-hub/14a-deputy-hub.html"><p>View</p></a> -->
                         <!-- <a class="main-cta tertiary edit edit-deputy-1-journey" href="../12-edit-deputy/12a-check-deputy-1.html">Edit</a> -->
                         <a class="main-cta tertiary edit edit-deputy-1-journey" href="../5-add-deputy/5e-edit-case-details.html#edit-deputy-1">Edit</a>
                         <a class="main-cta tertiary unlink" href="#unlink-deputy-list" rel="modal:open">Un-link deputy</a>
                         <a class="main-cta tertiary view" href="../14-deputy-hub/14a-deputy-hub.html">Deputy record</a>
                    </td>
               </tr>
               <!-- DEPUTY SUMMARY ROW 1 - END -->

               <!-- DEPUTY DETAILS ROW 1 - START -->
               <tr class="details-row" data-value="1">
                    <td colspan="6">

                         <!-- //////////////////////////// STEP 1 INFO - START //////////////////////////// -->
                         <h2 class="description-title">Deputy details:</h2>

                         <div class="details-wrap">

                              <!-- // DEPUTY ITEM - 1 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Name:</p>
                                   <p class="answer"><dfn class="target">Mrs Lara Stevens</dfn></p>
                              </div>
                              <!-- // DEPUTY ITEM - 1 - END // -->

                              <!-- // DEPUTY ITEM - 2 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Previously Known As:</p>
                                   <p class="answer">Miss Lara Hodgeson</p>
                              </div>
                              <!-- // DEPUTY ITEM - 2 - END // -->

                              <!-- // DEPUTY ITEM - 3 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Date of birth:</p>
                                   <p class="answer">17/07/1981</p>
                              </div>
                              <!-- // DEPUTY ITEM - 3 - END // -->

                              <!-- // DEPUTY ITEM - 4 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Address:</p>
                                   <p class="answer">
                                        34 Broomfield Place,<br>
                                        STOKESLEY,<br>
                                        TS9 8TU.<br>
                                        United Kingdom
                                   </p>
                              </div>
                              <!-- // DEPUTY ITEM - 4 - END // -->

                              <!-- // DEPUTY ITEM - 5 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Is airmail required?:</p>
                                   <p class="answer">No</p>
                              </div>
                              <!-- // DEPUTY ITEM - 5 - END // -->

                              <!-- // DEPUTY ITEM - 6A - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Daytime telephone number:</p>
                                   <p class="answer">07079962666</p>
                              </div>
                              <!-- // DEPUTY ITEM - 6A - END // -->

                              <!-- // DEPUTY ITEM - 6B - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Evening telephone number:</p>
                                   <p class="answer"></p>
                              </div>
                              <!-- // DEPUTY ITEM - 6B - END // -->

                              <!-- // DEPUTY ITEM - 7 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Mobile telephone number:</p>
                                   <p class="answer"><span class="target">07079962666</span></p>
                              </div>
                              <!-- // DEPUTY ITEM - 7 - END // -->

                              <!-- // DEPUTY ITEM - 8 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Email address:</p>
                                   <p class="answer"><a href="#">lara.stevens@jourrapide.com</a></p>
                              </div>
                              <!-- // DEPUTY ITEM - 8 - END // -->

                              <!-- // DEPUTY ITEM - 9 - START // -->
                              <!-- <div class="person-detail-item">
                                   <p class="item">Is the deputy a violent risk?:</p>
                                   <p class="answer">No</p>
                              </div> -->
                              <!-- // DEPUTY ITEM - 9 - END // -->

                              <!-- // DEPUTY ITEM - 10 - START // -->
                              <!-- <div class="person-detail-item violent-answer">
                                   <p class="item">More details about the violent risk:</p>
                                   <p class="answer">N/A</p>
                              </div> -->
                              <!-- // DEPUTY ITEM - 10 - END // -->

                         </div>
                         <!-- //////////////////////////// STEP 1 INFO - END //////////////////////////// -->

                         <!-- //////////////////////////// STEP 2 INFO - START //////////////////////////// -->
                         <h2 class="description-title">Additional information:</h2>

                         <div class="details-wrap">

                              <!-- // DEPUTY ITEM - 1 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Occupation:</p>
                                   <p class="answer">University professor</p>
                              </div>
                              <!-- // DEPUTY ITEM - 1 - END // -->

                              <!-- // DEPUTY ITEM - 2 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">How would the deputy like to be contacted?:</p>
                                   <ul class="answer">
                                        <li>Email</li>
                                   </ul>
                              </div>
                              <!-- // DEPUTY ITEM - 2 - END // -->

                              <!-- // DEPUTY ITEM - 3 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Special correspondence requirements:</p>
                                   <ul class="answer">
                                        <li>Spelling of name requires care</li>
                                   </ul>
                              </div>
                              <!-- // DEPUTY ITEM - 3 - END // -->

                              <!-- // DEPUTY ITEM - 4 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Interpreter required?:</p>
                                   <div class="mulitple-answers">
                                        <p class="answer">No</p>
                                   </div>
                              </div>
                              <!-- // DEPUTY ITEM - 4 - END // -->

                              <!-- // DEPUTY ITEM - 5 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Newsletter?:</p>
                                   <p class="answer">No</p>
                              </div>
                              <!-- // DEPUTY ITEM - 5 - END // -->

                         </div>
                         <!-- //////////////////////////// STEP 2 INFO - END //////////////////////////// -->

                         <!-- //////////////////////////// STEP 3 INFO - START //////////////////////////// -->
                         <div class="deputy-order-details">

                              <h2 class="description-title">Case details:</h2>

                              <div class="details-wrap">

                                   <!-- // DEPUTY ITEM - 1 - START // -->
                                   <div class="person-detail-item">
                                        <p class="item">Type of deputy:</p>
                                        <p class="answer">Lay</p>
                                   </div>
                                   <!-- // DEPUTY ITEM - 1 - END // -->

                                   <!-- // DEPUTY ITEM - 2 - START // -->
                                   <div class="person-detail-item">
                                        <p class="item">Relationship to the client:</p>
                                        <div class="mulitple-answers">
                                             <p class="answer">Sibling</p>
                                        </div>
                                   </div>
                                   <!-- // DEPUTY ITEM - 2 - END // -->

                                   <!-- // DEPUTY ITEM - 3 - START // -->
                                   <div class="person-detail-item">
                                        <p class="item">Deputy status:</p>
                                        <p class="answer deputy-status-death">Active</p>
                                   </div>
                                   <!-- // DEPUTY ITEM - 3 - END // -->

                                   <!-- // DEPUTY ITEM - 4 - START // -->
                                   <div class="person-detail-item">
                                        <p class="item">Is the deputy the fee payer?:</p>
                                        <p class="answer">Yes</p>
                                   </div>
                                   <!-- // DEPUTY ITEM - 4 - END // -->

                                   <!-- // DEPUTY ITEM - 5 - START // -->
                                   <div class="person-detail-item">
                                        <p class="item">Is the deputy the main correspondent?:</p>
                                        <p class="answer">Yes</p>
                                   </div>
                                   <!-- // DEPUTY ITEM - 5 - END // -->

                              </div>

                         </div>
                         <!-- //////////////////////////// STEP 3 INFO - END //////////////////////////// -->

                    </td>
               </tr>
               <!-- DEPUTY DETAILS ROW 1 - END -->

               <!-- DEPUTY SUMMARY ROW 2 - START -->
               <tr class="handw-content-item  summary-row" data-value="2">
                    <td>
                         <!-- <span class="icon deputy"></span> -->
                         <div class="name">
                              <span class="icon company"></span>
                              <div>Bob Loblaw Ltd</div>
                         </div>
                         <div class="appointed deputy-info-only">JOINT</div><br>
                         <div class="address"><strong>Head office - London</strong>, 84 Crown Street, London, SW19 5GQ.</div>
                         <a href="#" class="full-details" data-value="2">View full details</a>
                    </td>
                    <td>
                         Pro
                    </td>
                    <td>
                         <div>Active</div>
                    </td>
                    <td class="deputy-info-only">
                         <!-- <div class="deputy-relationship-answer">Sibling</div> -->
                    </td>
                    <td>
                         <div class="deputy-order-details with-icons">
                              <h2 class="title">
                                   <span class="icon welfare"></span>
                                   <div><div>H&amp;W</div> <strong>-</strong> <div>14820940</div></div>
                                   <br>
                                   <div class="sub-text">(7000-0000-1458)</div>
                              </h2>
                              <div class="appointed">Order date: <strong class="case-order-date-answer">28/08/2018</strong></div>

                              <span class="icon main-contact"><p>Main correspondence</p></span>
                         </div>

                    </td>
                    <td>
                         <a class="main-cta tertiary edit edit-deputy-2-journey" href="../5-add-deputy/5e-edit-case-details.html#edit-deputy-2">Edit</a>
                         <a class="main-cta tertiary unlink" href="#unlink-deputy-list" rel="modal:open">Un-link deputy</a>
                         <a class="main-cta tertiary view" href="../14-deputy-hub/14b-deputy-hub.html">Deputy record</a>
                    </td>
               </tr>
               <!-- DEPUTY SUMMARY ROW 2 - END -->

               <!-- DEPUTY DETAILS ROW 2 - START -->
               <tr class="details-row" data-value="2">
                    <td colspan="6">

                         <!-- //////////////////////////// STEP 1 INFO - START //////////////////////////// -->
                    	<h2 class="description-title">Deputy details:</h2>

                    	<div class="details-wrap">

                    		<!-- // DEPUTY ITEM - 1 - START // -->
                    		<div class="person-detail-item">
                    			<p class="item">Is this an Organisation?:</p>
                    			<p class="answer deputy-organisation-answer">Yes</p>
                    		</div>
                    		<!-- // DEPUTY ITEM - 1 - END // -->

                    		<!-- // DEPUTY ITEM - 2 - START // -->
                    		<div class="person-detail-item office-contact-name">
                    			<p class="item">Correspondence name:</p>
                    			<p class="answer">
                    				<dfn class="deputy-title-answer">Mr</dfn>
                    				<dfn class="deputy-first-name-answer">Stanley</dfn>
                    				<dfn class="deputy-middle-name-answer">William</dfn>
                    				<dfn class="deputy-last-name-answer">Evans</dfn>
                    			</p>
                    		</div>
                    		<!-- // DEPUTY ITEM - 2 - END // -->

                    		<!-- // DEPUTY ITEM - 3 - START // -->
                    		<div class="person-detail-item">
                    			<p class="item">Organisation name:</p>
                    			<p class="answer deputy-organisation-name-answer">Bob Loblaw Ltd</p>
                    		</div>
                    		<!-- // DEPUTY ITEM - 3 - END // -->

                    		<!-- // DEPUTY ITEM - 4 - START // -->
                    		<div class="person-detail-item">
                    			<p class="item">Company reference:</p>
                    			<p class="answer deputy-company-ref-answer">12345678</p>
                    		</div>
                    		<!-- // DEPUTY ITEM - 4 - END // -->

                    		<!-- // DEPUTY ITEM - 5 - START // -->
                    		<div class="person-detail-item">
                    			<p class="item">Date of birth:</p>
                    			<p class="answer">
                    				<dfn class="deputy-dob-day-answer">06</dfn>
                    				/
                    				<dfn class="deputy-dob-month-answer">01</dfn>
                    				/
                    				<dfn class="deputy-dob-year-answer">1986</dfn>
                    			</p>
                    		</div>
                    		<!-- // DEPUTY ITEM - 5 - END // -->

                    		<!-- // DEPUTY ITEM - 6 - START // -->
                    		<div class="person-detail-item">
                    			<p class="item">Previously Known As:</p>
                    			<p class="answer deputy-previous-name-answer">N/A</p>
                    		</div>
                    		<!-- // DEPUTY ITEM - 6 - END // -->

                    		<!-- // DEPUTY ITEM - 7 - START // -->
                    		<div class="person-detail-item office-contact-address">
                    			<p class="item">Address:</p>
                    			<p class="answer">
                                        <dfn class="deputy-office-location">Head office - London</dfn>,<br>
                    				<dfn class="deputy-address-line-1-answer">84 Crown Street</dfn>,<br>
                    				<dfn class="deputy-address-town-answer">London</dfn>,<br>
                    				<dfn class="deputy-manual-postcode-answer">SW19 5GQ</dfn>.<br>
                    				<dfn class="deputy-country-answer">United Kingdom</dfn>
                    			</p>
                    		</div>
                    		<!-- // DEPUTY ITEM - 7 - END // -->

                    		<!-- // DEPUTY ITEM - 8 - START // -->
                    		<div class="person-detail-item">
                    			<p class="item">Is airmail required?:</p>
                    			<p class="answer deputy-airmail-answer">No</p>
                    		</div>
                    		<!-- // DEPUTY ITEM - 8 - END // -->

                    		<!-- // DEPUTY ITEM - 9A - START // -->
                    		<div class="person-detail-item">
                    			<p class="item">Daytime telephone number:</p>
                    			<p class="answer deputy-phone-number-answer">01239448394</p>
                    		</div>
                    		<!-- // DEPUTY ITEM - 9A - END // -->

                              <!-- // DEPUTY ITEM - 9B - START // -->
                              <div class="person-detail-item">
                    			<p class="item">Evening telephone number:</p>
                    			<p class="answer deputy-evening-number-answer"></p>
                    		</div>
                              <!-- // DEPUTY ITEM - 9B - END // -->

                    		<!-- // DEPUTY ITEM - 10 - START // -->
                    		<div class="person-detail-item">
                    			<p class="item">Mobile telephone number:</p>
                    			<p class="answer deputy-mob-number-answer">07852591663</p>
                    		</div>
                    		<!-- // DEPUTY ITEM - 10 - END // -->

                    		<!-- // DEPUTY ITEM - 11 - START // -->
                    		<div class="person-detail-item office-contact-emails full-width">
                    			<p class="item">Email address:</p>
                    			<ul class="answer">
                    				<li class="deputy-email-answer"><a href="#">maisie.odonnell@bobloblaw.lawblog.com</a></li>
                    				<li><a href="#">keira.white@bobloblaw.lawblog.com</a></li>
                    				<li><a href="#">reece.bowen@bobloblaw.lawblog.com</a></li>
                    			</ul>
                    		</div>
                    		<!-- // DEPUTY ITEM - 11 - END // -->

                    		<p>&nbsp;</p>

                    	</div>
                         <!-- //////////////////////////// STEP 1 INFO - END //////////////////////////// -->

                         <!-- //////////////////////////// STEP 2 INFO - START //////////////////////////// -->
                    	<h2 class="description-title">Business details:</h2>

                    	<div class="details-wrap">

                    		<!-- // DEPUTY ITEM - 2 - START // -->
                    		<div class="person-detail-item">
                    			<p class="item">Professional indemnity insurance:</p>
                    			<p class="answer">Yes</p>
                    		</div>
                    		<!-- // DEPUTY ITEM - 2 - END // -->

                    		<!-- // DEPUTY ITEM - 3 - START // -->
                    		<div class="person-detail-item">
                    			<p class="item">Insurance coverage:</p>
                    			<p class="answer">£ 2,500,000</p>
                    		</div>
                    		<!-- // DEPUTY ITEM - 3 - END // -->

                    		<!-- // DEPUTY ITEM - 4 - START // -->
                    		<div class="person-detail-item">
                    			<p class="item">Date recieved:</p>
                    			<p class="answer">25/03/2017</p>
                    		</div>
                    		<!-- // DEPUTY ITEM - 4 - END // -->

                    		<!-- // DEPUTY ITEM - 5 - START // -->
                    		<div class="person-detail-item">
                    			<p class="item">Date expires:</p>
                    			<p class="answer">25/04/2020</p>
                    		</div>
                    		<!-- // DEPUTY ITEM - 5 - END // -->

                    	</div>
                         <!-- //////////////////////////// STEP 2 INFO - END //////////////////////////// -->

                         <!-- //////////////////////////// STEP 3 INFO - START //////////////////////////// -->
                    	<h2 class="description-title">Additional information:</h2>

                    	<div class="details-wrap">

                    		<!-- // DEPUTY ITEM - 1 - START // -->
                    		<div class="person-detail-item">
                    			<p class="item">Occupation:</p>
                    			<p class="answer deputy-occupation-answer">Solicitor</p>
                    		</div>
                    		<!-- // DEPUTY ITEM - 1 - END // -->

                    		<!-- // DEPUTY ITEM - 2 - START // -->
                    		<div class="person-detail-item">
                    			<p class="item">How would the deputy like to be contacted?:</p>
                    			<ul class="answer">
                    				<li class="answer-holder">Email</li>
                    				<li class="answer-holder">Phone</li>
                    				<li class="deputy-correspondence-email-answer" style="display: none;">Email</li>
                    				<li class="deputy-correspondence-phone-answer" style="display: none;">Phone</li>
                    				<li class="deputy-correspondence-post-answer" style="display: none;">Post</li>
                    				<li class="deputy-correspondence-welsh-answer" style="display: none;">Welsh</li>
                    			</ul>
                    		</div>
                    		<!-- // DEPUTY ITEM - 2 - END // -->

                    		<!-- // DEPUTY ITEM - 3 - START // -->
                    		<div class="person-detail-item">
                    			<p class="item">Newsletter?:</p>
                    			<p class="answer deputy-newsletter-answer">No</p>
                    		</div>
                    		<!-- // DEPUTY ITEM - 3 - END // -->

                    	</div>
                         <!-- //////////////////////////// STEP 3 INFO - END //////////////////////////// -->

                    </td>
               </tr>
               <!-- DEPUTY DETAILS ROW 2 - END -->

               <!-- DEPUTY SUMMARY ROW 3 - START -->
               <tr class="handw-content-item summary-row" data-value="3">
                    <td>
                         <!-- <div class="error-tag">Deputy added in Error</div> -->
                         <div class="name">
                              <span class="icon deputy"></span>
                              <div>Mrs Carla Frith</div>
                              <!-- <span class="violent-label"><span class="icon violent"></span>Violent</span> -->
                         </div>
                         <div class="appointed deputy-info-only">JOINT</div><br>
                         <div class="address">40 Haslemere Road, CANNOCK WOOD, W5174LD</div>
                         <a href="#" class="full-details" data-value="3">View full details</a>
                    </td>
                    <td>
                         Lay
                    </td>
                    <td>
                         <div class="deputy-status-error deputy-status-answer">Active</div>
                    </td>
                    <td class="deputy-info-only">
                         Sibling
                    </td>
                    <td>
                         <div class="deputy-order-details">
                              <h2 class="title">
          					<span class="icon welfare"></span>
                                   <div><div>H&amp;W</div> <strong>-</strong> <div>14820940</div></div>
                                   <br>
                                   <div class="sub-text">(7000-0000-1458)</div>
          				</h2>
                              <div class="appointed">Order date: <strong class="case-order-date-answer">28/08/2018</strong></div>
                         </div>
                    </td>
                    <td>
                         <!-- <a class="action view" href="../14-deputy-hub/14a-deputy-hub.html"><p>View</p></a> -->
                         <!-- <a class="main-cta tertiary edit edit-deputy-2-journey" href="../12-edit-deputy/12a-check-deputy-2.html">Edit</a> -->
                         <a class="main-cta tertiary edit edit-deputy-3-journey" href="../5-add-deputy/5e-edit-case-details.html#edit-deputy-3">Edit</a>
                         <a class="main-cta tertiary unlink" href="#unlink-deputy-list" rel="modal:open">Un-link deputy</a>
                         <a class="main-cta tertiary view" href="../14-deputy-hub/14a-deputy-hub.html">Deputy record</a>
                    </td>
               </tr>
               <!-- DEPUTY SUMMARY ROW 3 - END -->

               <!-- DEPUTY DETAILS ROW 3 - START -->
               <tr class="details-row violent-details" data-value="3">
                    <td colspan="6">

                         <!-- //////////////////////////// STEP 1 INFO - START //////////////////////////// -->
                         <h2 class="description-title">Deputy details:</h2>

                         <div class="details-wrap">

                              <!-- // DEPUTY ITEM - 1 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Name:</p>
                                   <p class="answer">Mrs Carla Frith</p>
                              </div>
                              <!-- // DEPUTY ITEM - 1 - END // -->

                              <!-- // DEPUTY ITEM - 2 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Previously Known As:</p>
                                   <p class="answer">Ms Carla Walton</p>
                              </div>
                              <!-- // DEPUTY ITEM - 2 - END // -->

                              <!-- // DEPUTY ITEM - 3 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Date of birth:</p>
                                   <p class="answer">25/06/1983</p>
                              </div>
                              <!-- // DEPUTY ITEM - 3 - END // -->

                              <!-- // DEPUTY ITEM - 4 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Address:</p>
                                   <p class="answer">
                                        35 Broad Street,<br>
                                        LOWER WELSON,<br>
                                        HR3 1UD.<br>
                                        United Kingdom
                                   </p>
                              </div>
                              <!-- // DEPUTY ITEM - 4 - END // -->

                              <!-- // DEPUTY ITEM - 5 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Is airmail required?:</p>
                                   <p class="answer">No</p>
                              </div>
                              <!-- // DEPUTY ITEM - 5 - END // -->

                              <!-- // DEPUTY ITEM - 6A - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Daytime telephone number:</p>
                                   <p class="answer">07772881687</p>
                              </div>
                              <!-- // DEPUTY ITEM - 6A - END // -->

                              <!-- // DEPUTY ITEM - 6B - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Evening telephone number:</p>
                                   <p class="answer"></p>
                              </div>
                              <!-- // DEPUTY ITEM - 6B - END // -->

                              <!-- // DEPUTY ITEM - 7 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Mobile telephone number:</p>
                                   <p class="answer">07772881687</p>
                              </div>
                              <!-- // DEPUTY ITEM - 7 - END // -->

                              <!-- // DEPUTY ITEM - 8 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Email address:</p>
                                   <p class="answer"><a href="#">carla.frith@jourrapide.com</a></p>
                              </div>
                              <!-- // DEPUTY ITEM - 8 - END // -->

                              <!-- // DEPUTY ITEM - 9 - START // -->
                              <!-- <div class="person-detail-item">
                                   <p class="item">Is the deputy a violent risk?:</p>
                                   <p class="answer">Yes</p>
                              </div> -->
                              <!-- // DEPUTY ITEM - 9 - END // -->

                              <!-- // DEPUTY ITEM - 10 - START // -->
                              <!-- <div class="person-detail-item violent-answer-text">
                                   <p class="item">More details about the violent risk:</p>
                                   <p class="answer">N/A</p>
                              </div> -->
                              <!-- // DEPUTY ITEM - 10 - END // -->

                         </div>
                         <!-- //////////////////////////// STEP 1 INFO - END //////////////////////////// -->

                         <!-- //////////////////////////// STEP 2 INFO - START //////////////////////////// -->
                         <h2 class="description-title">Additional information:</h2>

                         <div class="details-wrap">

                              <!-- // DEPUTY ITEM - 1 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Occupation:</p>
                                   <p class="answer">Mental health assistant</p>
                              </div>
                              <!-- // DEPUTY ITEM - 1 - END // -->

                              <!-- // DEPUTY ITEM - 2 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">How would the deputy like to be contacted?:</p>
                                   <ul class="answer">
                                        <li>Phone</li>
                                        <li>Email</li>
                                   </ul>
                              </div>
                              <!-- // DEPUTY ITEM - 2 - END // -->

                              <!-- // DEPUTY ITEM - 3 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Special correspondence requirements:</p>
                                   <ul class="answer">
                                        <li>N/A</li>
                                   </ul>
                              </div>
                              <!-- // DEPUTY ITEM - 3 - END // -->

                              <!-- // DEPUTY ITEM - 4 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Interpreter required?:</p>
                                   <div class="mulitple-answers">
                                        <p class="answer">No</p>
                                   </div>
                              </div>
                              <!-- // DEPUTY ITEM - 4 - END // -->

                              <!-- // DEPUTY ITEM - 5 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Newsletter?:</p>
                                   <p class="answer">No</p>
                              </div>
                              <!-- // DEPUTY ITEM - 5 - END // -->

                         </div>
                         <!-- //////////////////////////// STEP 2 INFO - END //////////////////////////// -->

                         <!-- //////////////////////////// STEP 3 INFO - START //////////////////////////// -->
                         <div class="deputy-order-details">

                              <h2 class="description-title">Case details:</h2>

                              <div class="details-wrap">

                                   <!-- // DEPUTY ITEM - 1 - START // -->
                                   <div class="person-detail-item">
                                        <p class="item">Type of deputy:</p>
                                        <p class="answer">Lay</p>
                                   </div>
                                   <!-- // DEPUTY ITEM - 1 - END // -->

                                   <!-- // DEPUTY ITEM - 2 - START // -->
                                   <div class="person-detail-item">
                                        <p class="item">Relationship to the client:</p>
                                        <div class="mulitple-answers">
                                             <p class="answer">Sibling</p>
                                        </div>
                                   </div>
                                   <!-- // DEPUTY ITEM - 2 - END // -->

                                   <!-- // DEPUTY ITEM - 3 - START // -->
                                   <div class="person-detail-item">
                                        <p class="item">Deputy status:</p>
                                        <p class="answer deputy-status-error deputy-status-answer">Active</p>
                                   </div>
                                   <!-- // DEPUTY ITEM - 3 - END // -->

                                   <!-- // DEPUTY ITEM - 4 - START // -->
                                   <div class="person-detail-item">
                                        <p class="item">Is the deputy the fee payer?:</p>
                                        <p class="answer">No</p>
                                   </div>
                                   <!-- // DEPUTY ITEM - 4 - END // -->

                                   <!-- // DEPUTY ITEM - 5 - START // -->
                                   <div class="person-detail-item">
                                        <p class="item">Is the deputy the main correspondent?:</p>
                                        <p class="answer">No</p>
                                   </div>
                                   <!-- // DEPUTY ITEM - 5 - END // -->

                              </div>

                         </div>
                         <!-- //////////////////////////// STEP 3 INFO - END //////////////////////////// -->

                    </td>
               </tr>
               <!-- DEPUTY DETAILS ROW 3 - END -->

               <!-- DEPUTY SUMMARY ROW 4 - START -->
               <tr class="pfa-content-item summary-row " data-value="4">
                    <td>
                         <!-- <span class="icon deputy"></span> -->
                         <div class="name">
                              <span class="icon deputy"></span>
                              <div>Mrs Melanie Rand</div>
                         </div>
                         <div class="appointed deputy-info-only">SOLE</div><br>
                         <div class="address">70 Moulton Road, Gunby Green, N6334RF. United Kingdom</div>
                         <a href="#" class="full-details" data-value="4">View full details</a>
                    </td>
                    <td>
                         Lay
                    </td>
                    <td>
                         <div class="">Active</div>
                    </td>
                    <td class="deputy-info-only">
                         Daughter
                    </td>
                    <td>
                         <!-- <span class="icon property"><p>Property &amp; finance</p></span> -->
                         <div class="deputy-order-details">
                              <h2 class="title">
                                   <span class="icon property"></span>
          					<div><div>PFA</div> <strong>-</strong> <div>14820940</div></div>
                                   <br>
                                   <div class="sub-text">(7000-0000-2472)</div>
          				</h2>
                              <div class="appointed">Order date: <strong class="case-order-date-answer">28/08/2018</strong></div>
          				<div class="appointed">Report type: <strong class="order-level">103</strong></div>
                         </div>
                    </td>
                    <td>
                         <!-- <a class="action view" href="../14-deputy-hub/14a-deputy-hub.html"><p>View</p></a> -->
                         <!-- <a class="main-cta tertiary edit edit-deputy-3-journey" href="../12-edit-deputy/12a-check-deputy-3.html">Edit</a> -->
                         <a class="main-cta tertiary edit edit-deputy-4-journey" href="../5-add-deputy/5e-edit-case-details.html#edit-deputy-4">Edit</a>
                         <a class="main-cta tertiary unlink" href="#unlink-deputy-list" rel="modal:open">Un-link deputy</a>
                         <a class="main-cta tertiary view" href="../14-deputy-hub/14a-deputy-hub.html">Deputy record</a>
                    </td>
               </tr>
               <!-- DEPUTY SUMMARY ROW 4 - END -->

               <!-- DEPUTY DETAILS ROW 4 - START -->
               <tr class="details-row" data-value="4">
                    <td colspan="6">

                         <!-- //////////////////////////// STEP 1 INFO - START //////////////////////////// -->
                         <h2 class="description-title">Deputy details:</h2>

                         <div class="details-wrap">

                              <!-- // DEPUTY ITEM - 1 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Name:</p>
                                   <p class="answer">Mrs Melanie Rand</p>
                              </div>
                              <!-- // DEPUTY ITEM - 1 - END // -->

                              <!-- // DEPUTY ITEM - 2 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Previously Known As:</p>
                                   <p class="answer">Miss Melanie Stokes</p>
                              </div>
                              <!-- // DEPUTY ITEM - 2 - END // -->

                              <!-- // DEPUTY ITEM - 3 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Date of birth:</p>
                                   <p class="answer">15/03/1990</p>
                              </div>
                              <!-- // DEPUTY ITEM - 3 - END // -->

                              <!-- // DEPUTY ITEM - 4 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Address:</p>
                                   <p class="answer">
                                        70 Moulton Road,<br>
                                        Gunby Green,<br>
                                        N633 4RF.<br>
                                        United Kingdom
                                   </p>
                              </div>
                              <!-- // DEPUTY ITEM - 4 - END // -->

                              <!-- // DEPUTY ITEM - 5 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Is airmail required?:</p>
                                   <p class="answer">No</p>
                              </div>
                              <!-- // DEPUTY ITEM - 5 - END // -->

                              <!-- // DEPUTY ITEM - 6A - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Daytime telephone number:</p>
                                   <p class="answer">07783946627</p>
                              </div>
                              <!-- // DEPUTY ITEM - 6A - END // -->

                              <!-- // DEPUTY ITEM - 6B - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Evening telephone number:</p>
                                   <p class="answer"></p>
                              </div>
                              <!-- // DEPUTY ITEM - 6B - END // -->

                              <!-- // DEPUTY ITEM - 7 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Mobile telephone number:</p>
                                   <p class="answer">07783946627</p>
                              </div>
                              <!-- // DEPUTY ITEM - 7 - END // -->

                              <!-- // DEPUTY ITEM - 8 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Email address:</p>
                                   <p class="answer"><a href="#">melanie.rand@jourrapide.com</a></p>
                              </div>
                              <!-- // DEPUTY ITEM - 8 - END // -->

                              <!-- // DEPUTY ITEM - 9 - START // -->
                              <!-- <div class="person-detail-item">
                                   <p class="item">Is the deputy a violent risk?:</p>
                                   <p class="answer">No</p>
                              </div> -->
                              <!-- // DEPUTY ITEM - 9 - END // -->

                              <!-- // DEPUTY ITEM - 10 - START // -->
                              <!-- <div class="person-detail-item violent-answer">
                                   <p class="item">More details about the violent risk:</p>
                                   <p class="answer">N/A</p>
                              </div> -->
                              <!-- // DEPUTY ITEM - 10 - END // -->

                         </div>
                         <!-- //////////////////////////// STEP 1 INFO - END //////////////////////////// -->

                         <!-- //////////////////////////// STEP 2 INFO - START //////////////////////////// -->
                         <h2 class="description-title">Additional information:</h2>

                         <div class="details-wrap">

                              <!-- // DEPUTY ITEM - 1 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Occupation:</p>
                                   <p class="answer">New accounts clerk</p>
                              </div>
                              <!-- // DEPUTY ITEM - 1 - END // -->

                              <!-- // DEPUTY ITEM - 2 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">How would the deputy like to be contacted?:</p>
                                   <ul class="answer">
                                        <li>Email</li>
                                   </ul>
                              </div>
                              <!-- // DEPUTY ITEM - 2 - END // -->

                              <!-- // DEPUTY ITEM - 3 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Special correspondence requirements:</p>
                                   <ul class="answer">
                                        <li>N/A</li>
                                   </ul>
                              </div>
                              <!-- // DEPUTY ITEM - 3 - END // -->

                              <!-- // DEPUTY ITEM - 4 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Interpreter required?:</p>
                                   <div class="mulitple-answers">
                                        <p class="answer">No</p>
                                   </div>
                              </div>
                              <!-- // DEPUTY ITEM - 4 - END // -->

                              <!-- // DEPUTY ITEM - 5 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Newsletter?:</p>
                                   <p class="answer">No</p>
                              </div>
                              <!-- // DEPUTY ITEM - 5 - END // -->

                         </div>
                         <!-- //////////////////////////// STEP 2 INFO - END //////////////////////////// -->

                         <!-- //////////////////////////// STEP 3 INFO - START //////////////////////////// -->
                         <div class="deputy-order-details">

                              <h2 class="description-title">Case details:</h2>

                              <div class="details-wrap">

                                   <!-- // DEPUTY ITEM - 1 - START // -->
                                   <div class="person-detail-item">
                                        <p class="item">Type of deputy:</p>
                                        <p class="answer">Lay</p>
                                   </div>
                                   <!-- // DEPUTY ITEM - 1 - END // -->

                                   <!-- // DEPUTY ITEM - 2 - START // -->
                                   <div class="person-detail-item">
                                        <p class="item">Relationship to the client:</p>
                                        <div class="mulitple-answers">
                                             <p class="answer">Child of Client</p>
                                        </div>
                                   </div>
                                   <!-- // DEPUTY ITEM - 2 - END // -->

                                   <!-- // DEPUTY ITEM - 3 - START // -->
                                   <div class="person-detail-item">
                                        <p class="item">Deputy status:</p>
                                        <p class="answer">Active</p>
                                   </div>
                                   <!-- // DEPUTY ITEM - 3 - END // -->

                                   <!-- // DEPUTY ITEM - 4 - START // -->
                                   <div class="person-detail-item">
                                        <p class="item">Is the deputy the fee payer?:</p>
                                        <p class="answer">Yes</p>
                                   </div>
                                   <!-- // DEPUTY ITEM - 4 - END // -->

                                   <!-- // DEPUTY ITEM - 5 - START // -->
                                   <div class="person-detail-item">
                                        <p class="item">Is the deputy the main correspondent?:</p>
                                        <p class="answer">Yes</p>
                                   </div>
                                   <!-- // DEPUTY ITEM - 5 - END // -->

                              </div>

                         </div>
                         <!-- //////////////////////////// STEP 3 INFO - END //////////////////////////// -->

                    </td>
               </tr>
               <!-- DEPUTY DETAILS ROW 4 - END -->

          </tbody>
     </table>

</div>
<!-- // DEPUTY DETAILS - END // -->
