<!-- // DOCUMENT VIEWER - START // -->
<div id="documents-viewer-simplified">

	<!-- ============================ DOCUMENT 1 - START ============================ -->
	<div class="doc-container document-1">

		<a href="#" class="close">Close</a>

		<div class="page-1 accordion">

			<!-- //////// ACCORDION SECTION 11 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-11">
					Visits
					<span></span>
				</button>

				<div id="accordion-11" class="accordion-section-content">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Document info</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="#" class="hide-page-1">Visit_document_title_1.pdf</a>
									<div class="doc-info">
										<p>Doc type: <strong>IT-SS-ORDER</strong></p>
										<p>Case type: <strong>DEP - PFA</strong></p>
										<p>Direction: <strong>Outgoing</strong></p>
									</div>
								</td>
								<td><p>11/06/2017 11:07:13</p></td>
							</tr>
							<tr>
								<td>
									<a href="#" class="hide-page-1">Visit_document_title_2.pdf</a>
									<div class="doc-info">
										<p>Doc type: <strong>IT-SS-ORDER</strong></p>
										<p>Case type: <strong>DEP - PFA</strong></p>
										<p>Direction: <strong>Outgoing</strong></p>
									</div>
								</td>
								<td><p>18/06/2017 12:20:10</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 11 - END - //////// -->

			<!-- //////// ACCORDION SECTION 12 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-12">
					Reports
					<span></span>
				</button>

				<div id="accordion-12" class="accordion-section-content" style="">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Document info</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="#" class="hide-page-1">Reports_document_title_1.pdf</a>
									<div class="doc-info">
										<p>Doc type: <strong>IT-SS-ORDER</strong></p>
										<p>Case type: <strong>DEP - PFA</strong></p>
										<p>Direction: <strong>Outgoing</strong></p>
									</div>
								</td>
								<td><p>30/06/2017 16:31:01</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 12 - END - //////// -->

			<!-- //////// ACCORDION SECTION 13 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-13">
					Correspondence
					<span></span>
				</button>

				<div id="accordion-13" class="accordion-section-content" style="">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Document info</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="#" class="hide-page-1">Correspondence_document_1.pdf</a>
									<div class="doc-info">
										<p>Doc type: <strong>IT-SS-ORDER</strong></p>
										<p>Case type: <strong>DEP - PFA</strong></p>
										<p>Direction: <strong>Outgoing</strong></p>
									</div>
								</td>
								<td><p>Today, 15:21:03</p></td>
							</tr>
							<tr>
								<td>
									<a href="#" class="hide-page-1">Correspondence_document_2.pdf</a>
									<div class="doc-info">
										<p>Doc type: <strong>IT-SS-ORDER</strong></p>
										<p>Case type: <strong>DEP - PFA</strong></p>
										<p>Direction: <strong>Outgoing</strong></p>
									</div>
								</td>
								<td><p>03/06/2017 11:07:13</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 13 - END - //////// -->

			<!-- //////// ACCORDION SECTION 14 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-14">
					Court documents
					<span></span>
				</button>

				<div id="accordion-14" class="accordion-section-content" style="">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Document info</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="#" class="hide-page-1">Application_correspondence.pdf</a>
									<div class="doc-info">
										<p>Doc type: <strong>IT-SS-ORDER</strong></p>
										<p>Case type: <strong>DEP - PFA</strong></p>
										<p>Direction: <strong>Incoming</strong></p>
									</div>
								</td>
								<td><p>27/08/2017 08:17:13</p></td>
							</tr>
							<tr>
								<td>
									<a href="#" class="hide-page-1">Court_order_documents.pdf</a>
									<div class="doc-info">
										<p>Doc type: <strong>IT-SS-ORDER</strong></p>
										<p>Case type: <strong>DEP - PFA</strong></p>
										<p>Direction: <strong>Outgoing</strong></p>
									</div>
								</td>
								<td><p>31/06/2017 12:52:52</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 14 - END - //////// -->

			<!-- //////// ACCORDION SECTION 15 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-15">
					Other
					<span></span>
				</button>

				<div id="accordion-15" class="accordion-section-content" style="">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Document info</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="#" class="hide-page-1">Other_document.pdf</a>
									<div class="doc-info">
										<p>Doc type: <strong>IT-SS-ORDER</strong></p>
										<p>Case type: <strong>DEP - PFA</strong></p>
										<p>Direction: <strong>Outgoing</strong></p>
									</div>
								</td>
								<td><p>21/06/2017 11:07:13</p></td>
							</tr>
							<tr>
								<td>
									<a href="../../../production/img/V21/Beef_Dripping.jpg" class="mov-file" download>
										Video-of-client.mov
										<span class="download"></span>
									</a>
									<div class="doc-info">
										<p>Doc type: <strong>IT-SS-ORDER</strong></p>
										<p>Case type: <strong>DEP - PFA</strong></p>
										<p>Direction: <strong>Incoming</strong></p>
									</div>
								</td>
								<td><p>27/06/2017 11:07:13</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 15 - END - //////// -->

		</div>

		<div class="page-2 document-viewing-panel">
			<div class="control-panel">
				<h2>Current annual report</h2>
				<div class="buttons">
					<a href="#" class="back">Back</a>
					<a href="#" class="compare">Compare</a>
				</div>
				<img src="../../../production/img/V21/control-panel.png" alt="Document" class="control-panel-buttons">
			</div>
			<div class="wrapper">
				<img src="../../../production/img/V21/document-report.png" alt="Document">
			</div>
		</div>
	</div>
	<!-- ============================ DOCUMENT 1 - END ============================ -->



	<!-- ============================ DOCUMENT 2 - START ============================ -->
	<div class="doc-container document-2">

		<a href="#" class="close">Close</a>

		<div class="page-1 accordion">

			<!-- //////// ACCORDION SECTION 16 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-16">
					Visits
					<span></span>
				</button>

				<div id="accordion-16" class="accordion-section-content">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Document info</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="#" class="hide-page-1">Visit_document_title_1.pdf</a>
									<div class="doc-info">
										<p>Doc type: <strong>IT-SS-ORDER</strong></p>
										<p>Case type: <strong>DEP - PFA</strong></p>
										<p>Direction: <strong>Outgoing</strong></p>
									</div>
								</td>
								<td><p>11/06/2017 11:07:13</p></td>
							</tr>
							<tr>
								<td>
									<a href="#" class="hide-page-1">Visit_document_title_2.pdf</a>
									<div class="doc-info">
										<p>Doc type: <strong>IT-SS-ORDER</strong></p>
										<p>Case type: <strong>DEP - PFA</strong></p>
										<p>Direction: <strong>Outgoing</strong></p>
									</div>
								</td>
								<td><p>18/06/2017 12:20:10</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 16 - END - //////// -->

			<!-- //////// ACCORDION SECTION 17 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-17">
					Reports
					<span></span>
				</button>

				<div id="accordion-17" class="accordion-section-content" style="">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Document info</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="#" class="hide-page-1">Reports_document_title_1.pdf</a>
									<div class="doc-info">
										<p>Doc type: <strong>IT-SS-ORDER</strong></p>
										<p>Case type: <strong>DEP - PFA</strong></p>
										<p>Direction: <strong>Outgoing</strong></p>
									</div>
								</td>
								<td><p>30/06/2017 16:31:01</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 17 - END - //////// -->

			<!-- //////// ACCORDION SECTION 18 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-18">
					Correspondence
					<span></span>
				</button>

				<div id="accordion-18" class="accordion-section-content" style="">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Document info</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="#" class="hide-page-1">Correspondence_document_1.pdf</a>
									<div class="doc-info">
										<p>Doc type: <strong>IT-SS-ORDER</strong></p>
										<p>Case type: <strong>DEP - PFA</strong></p>
										<p>Direction: <strong>Outgoing</strong></p>
									</div>
								</td>
								<td><p>Today, 15:21:03</p></td>
							</tr>
							<tr>
								<td>
									<a href="#" class="hide-page-1">Correspondence_document_2.pdf</a>
									<div class="doc-info">
										<p>Doc type: <strong>IT-SS-ORDER</strong></p>
										<p>Case type: <strong>DEP - PFA</strong></p>
										<p>Direction: <strong>Outgoing</strong></p>
									</div>
								</td>
								<td><p>03/06/2017 11:07:13</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 18 - END - //////// -->

			<!-- //////// ACCORDION SECTION 19 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-19">
					Court documents
					<span></span>
				</button>

				<div id="accordion-19" class="accordion-section-content" style="">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Document info</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="#" class="hide-page-1">Application_correspondence.pdf</a>
									<div class="doc-info">
										<p>Doc type: <strong>IT-SS-ORDER</strong></p>
										<p>Case type: <strong>DEP - PFA</strong></p>
										<p>Direction: <strong>Incoming</strong></p>
									</div>
								</td>
								<td><p>27/08/2017 08:17:13</p></td>
							</tr>
							<tr>
								<td>
									<a href="#" class="hide-page-1">Court_order_documents.pdf</a>
									<div class="doc-info">
										<p>Doc type: <strong>IT-SS-ORDER</strong></p>
										<p>Case type: <strong>DEP - PFA</strong></p>
										<p>Direction: <strong>Outgoing</strong></p>
									</div>
								</td>
								<td><p>31/06/2017 12:52:52</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 19 - END - //////// -->

			<!-- //////// ACCORDION SECTION 20 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-20">
					Other
					<span></span>
				</button>

				<div id="accordion-20" class="accordion-section-content" style="">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Document info</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="#" class="hide-page-1">Other_document.pdf</a>
									<div class="doc-info">
										<p>Doc type: <strong>IT-SS-ORDER</strong></p>
										<p>Case type: <strong>DEP - PFA</strong></p>
										<p>Direction: <strong>Outgoing</strong></p>
									</div>
								</td>
								<td><p>21/06/2017 11:07:13</p></td>
							</tr>
							<tr>
								<td>
									<a href="../../../production/img/V21/Beef_Dripping.jpg" class="mov-file" download>
										Video-of-client.mov
										<span class="download"></span>
									</a>
									<div class="doc-info">
										<p>Doc type: <strong>IT-SS-ORDER</strong></p>
										<p>Case type: <strong>DEP - PFA</strong></p>
										<p>Direction: <strong>Incoming</strong></p>
									</div>
								</td>
								<td><p>27/06/2017 11:07:13</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 20 - END - //////// -->

		</div>

		<div class="page-2 document-viewing-panel">
			<div class="control-panel">
				<h2>Current annual report</h2>
				<div class="buttons">
					<a href="#" class="back">Back</a>
					<a href="#" class="compare">Compare</a>
				</div>
				<img src="../../../production/img/V21/control-panel.png" alt="Document" class="control-panel-buttons">
			</div>
			<div class="wrapper">
				<img src="../../../production/img/V21/document-report.png" alt="Document">
			</div>
		</div>

	</div>
	<!-- ============================ DOCUMENT 2 - END ============================ -->

</div>
<!-- // DOCUMENT VIEWER - END // -->
