<!-- // DOCUMENT VIEWER - START // -->
<div id="documents-contacts">

	<h2 class="description-title">
		Client contacts
		<!-- <a class="add letter-contact-journey" href="../2-create-letter/2c-add-correspondant.html">Add contact</a> -->
	</h2>

	<table id="contact-list">
          <thead>
               <tr class="four-column">
                    <th>Details</th>
                    <th>Mobile number</th>
                    <th>Company name</th>
                    <th><div>Actions</div></th>
               </tr>
          </thead>
          <tbody>
               <!-- DEPUTY SUMMARY ROW 1 - START -->
               <tr class="summary-row" data-value="1">
                    <td>
                         <div class="name">
						<span class="icon deputy"></span>
                              <div class="contact-name-value">Dr. Daniel D. Bobadilla</div>
                         </div>
					<br>
                         <div class="address">73 Ilchester Road, MUGGLESWICK, DH8 6UA.</div>
                         <a href="#" class="full-details" data-value="1">View full details</a>
                    </td>
                    <td>
                         07739273398
                    </td>
                    <td>
                         N/A
                    </td>
                    <td>
					<a href="#" class="main-cta tertiary edit">Edit</a>
					<a href="#delete-contact" rel="modal:open" class="main-cta tertiary delete delete-contact">Delete</a>
                    </td>
               </tr>
               <!-- DEPUTY SUMMARY ROW 1 - END -->

               <!-- DEPUTY DETAILS ROW 1 - START -->
               <tr class="details-row" data-value="1">
                    <td colspan="4">

                         <div class="details-wrap">

						<!-- // CONTACT ITEM - 1 - START // -->
						<div class="person-detail-item">
							<p class="item">Company ref:</p>
							<p class="answer"></p>
						</div>
						<!-- // CONTACT ITEM - 1 - END // -->

						<!-- // CONTACT ITEM - 2 - START // -->
						<div class="person-detail-item">
							<p class="item">Correspondence name:</p>
							<p class="answer"></p>
						</div>
						<!-- // CONTACT ITEM - 2 - END // -->

						<!-- // CONTACT ITEM - 3 - START // -->
						<div class="person-detail-item">
							<p class="item">Phone number:</p>
							<p class="answer">0123456789</p>
						</div>
						<!-- // CONTACT ITEM - 3 - END // -->

						<!-- // CONTACT ITEM - 4 - START // -->
						<div class="person-detail-item">
							<p class="item">Mobile number:</p>
							<p class="answer">07739273398</p>
						</div>
						<!-- // CONTACT ITEM - 4 - END // -->

						<!-- // CONTACT ITEM - 5 - START // -->
						<div class="person-detail-item">
							<p class="item">Interpreter required?:</p>
							<p class="answer"></p>
						</div>
						<!-- // CONTACT ITEM - 5 - END // -->

						<!-- // CONTACT ITEM - 6 - START // -->
						<div class="person-detail-item">
							<p class="item">Email:</p>
							<p class="answer">daniel.d.bobadilla@nhs.com</p>
						</div>
						<!-- // CONTACT ITEM - 6 - END // -->

						<!-- // CONTACT ITEM - 7 - START // -->
						<div class="person-detail-item">
							<p class="item">How would they like to be contacted?:</p>
							<p class="answer">None</p>
						</div>
						<!-- // CONTACT ITEM - 7 - END // -->

						<!-- // CONTACT ITEM - 8 - START // -->
						<div class="person-detail-item">
							<p class="item">Airmail Required?:</p>
							<p class="answer">No</p>
						</div>
						<!-- // CONTACT ITEM - 8 - END // -->

						<!-- // CONTACT ITEM - 9 - START // -->
						<div class="person-detail-item">
							<p class="item">Special correspondence requirements:</p>
							<p class="answer">None</p>
						</div>
						<!-- // CONTACT ITEM - 9 - END // -->

						<!-- // CONTACT ITEM - 10 - START // -->
						<div class="person-detail-item full-width">
							<p class="item">Notes:</p>
							<p class="answer">These are his notes</p>
						</div>
						<!-- // CONTACT ITEM - 10 - END // -->

                         </div>

                    </td>
               </tr>
               <!-- DEPUTY DETAILS ROW 1 - END -->

			<!-- DEPUTY SUMMARY ROW 2 - START -->
			<tr class="summary-row" data-value="2">
				<td>
					<div class="name">
						<span class="icon company"></span>
						<div class="contact-name-value">HR Director</div>
					</div>
					<br>
					<div class="address">62 Review Road, Neasden, UK, NW27BE.</div>
					<a href="#" class="full-details" data-value="2">View full details</a>
				</td>
				<td>
					07739273398
				</td>
				<td>
					<p><strong>Trust Corporation</strong></p>
				</td>
				<td>
					<a href="#" class="main-cta tertiary edit">Edit</a>
					<a href="#delete-contact" rel="modal:open" class="main-cta tertiary delete delete-contact">Delete</a>
				</td>
			</tr>
			<!-- DEPUTY SUMMARY ROW 2 - END -->

			<!-- DEPUTY DETAILS ROW 2 - START -->
			<tr class="details-row" data-value="2">
				<td colspan="4">

					<div class="details-wrap">

						<!-- // CONTACT ITEM - 1 - START // -->
						<div class="person-detail-item">
							<p class="item">Company ref:</p>
							<p class="answer">123456789</p>
						</div>
						<!-- // CONTACT ITEM - 1 - END // -->

						<!-- // CONTACT ITEM - 2 - START // -->
						<div class="person-detail-item">
							<p class="item">Name:</p>
							<p class="answer">HR director's name</p>
						</div>
						<!-- // CONTACT ITEM - 2 - END // -->

						<!-- // CONTACT ITEM - 3 - START // -->
						<div class="person-detail-item">
							<p class="item">Phone number:</p>
							<p class="answer">0123456789</p>
						</div>
						<!-- // CONTACT ITEM - 3 - END // -->

						<!-- // CONTACT ITEM - 4 - START // -->
						<div class="person-detail-item">
							<p class="item">Mobile number:</p>
							<p class="answer">07739273398</p>
						</div>
						<!-- // CONTACT ITEM - 4 - END // -->

						<!-- // CONTACT ITEM - 5 - START // -->
						<div class="person-detail-item">
							<p class="item">Interpreter required?:</p>
							<p class="answer"></p>
						</div>
						<!-- // CONTACT ITEM - 5 - END // -->

						<!-- // CONTACT ITEM - 6 - START // -->
						<div class="person-detail-item">
							<p class="item">Email:</p>
							<p class="answer">contact@trustmeltd.com</p>
						</div>
						<!-- // CONTACT ITEM - 6 - END // -->

						<!-- // CONTACT ITEM - 7 - START // -->
						<div class="person-detail-item">
							<p class="item">How would they like to be contacted?:</p>
							<p class="answer">None</p>
						</div>
						<!-- // CONTACT ITEM - 7 - END // -->

						<!-- // CONTACT ITEM - 8 - START // -->
						<div class="person-detail-item">
							<p class="item">Airmail Required?:</p>
							<p class="answer">No</p>
						</div>
						<!-- // CONTACT ITEM - 8 - END // -->

						<!-- // CONTACT ITEM - 9 - START // -->
						<div class="person-detail-item">
							<p class="item">Special correspondence requirements:</p>
							<p class="answer">None</p>
						</div>
						<!-- // CONTACT ITEM - 9 - END // -->

						<!-- // CONTACT ITEM - 10 - START // -->
						<div class="person-detail-item full-width">
							<p class="item">Notes:</p>
							<p class="answer">These are their notes</p>
						</div>
						<!-- // CONTACT ITEM - 10 - END // -->
					</div>

				</td>
			</tr>
			<!-- DEPUTY DETAILS ROW 2 - END -->


		</tbody>

	</table>

</div>
<!-- // DOCUMENT VIEWER - END // -->

























	<!-- <ul class="contact-list">

		<li class="correspondent">
			<div class="wrapper">
				<div class="contact-name">
					<span class="contact-name-value"></span>
				</div>
			</div>
			<span class="sub-title">Trust Corporation</span><br>
			<span class="sub-text">62 Review Road, Neasden, UK, NW27BE.</span>
			<a href="#" class="full-details" data-value="1">View full details</a>
			<div class="contact-info">
				<div class="row">
					<div class="large-6 large-uncentered columns">
						<span>Phone number: <strong></strong></span>
					</div>
					<div class="large-6 large-uncentered columns">
						<span>Mobile number: <strong></strong></span>
					</div>
				</div>
				<div class="row">
					<div class="large-6 large-uncentered columns">
						<span>Email: <strong></strong></span>
					</div>
					<div class="large-6 large-uncentered columns">
						<span>Preferences: <strong>None</strong></span>
					</div>
				</div>
				<div class="row">
					<div class="large-12 large-uncentered columns">
						<span>Notes: <strong>None</strong></span>
					</div>
				</div>
			</div>
		</li>

	</ul> -->
