<!-- // DOCUMENT VIEWER - START // -->
<div id="documents-viewer-filter">

	<!-- ============================ DOCUMENT 1 - START ============================ -->
	<div class="doc-container document-1">

		<a href="#" class="close">Close</a>

		<div class="page-1">

			<table id="documents-listing" class="livelink-documents tablesorter">
				<thead>
					<tr>
						<th><span></span>Name</th>
						<th><span></span>Doc type</th>
						<th><span></span>Direction</th>
						<th><span></span>Date created</th>
					</tr>
				</thead>
				<tbody>
					<tr class="document-category all court">
						<td><a href="#" class="hide-page-1">Application_correspondence.pdf</a></td>
						<td><p>IT-SS-ORDER</p></td>
						<td><p>Incoming</p></td>
						<td><p>27/08/2017 08:17:13</p></td>
					</tr>
					<tr class="document-category all visit">
						<td><a href="#" class="hide-page-1">Visit_document_title_1.pdf</a></td>
						<td><p>IT-SS-ORDER</p></td>
						<td><p>Outgoing</p></td>
						<td><p>11/06/2017 11:07:13</p></td>
					</tr>
					<tr class="document-category all visit">
						<td><a href="#" class="hide-page-1">Visit_document_title_2.pdf</a></td>
						<td><p>IT-SS-ORDER</p></td>
						<td><p>Outgoing</p></td>
						<td><p>18/06/2017 12:20:10</p></td>
					</tr>
					<tr class="document-category all report">
						<td><a href="#" class="hide-page-1">Reports_document_title_1.pdf</a></td>
						<td><p>IT-SS-ORDER</p></td>
						<td><p>Outgoing</p></td>
						<td><p>30/06/2017 16:31:01</p></td>
					</tr>
					<tr class="document-category all correspondence">
						<td><a href="#" class="hide-page-1">Correspondence_document_1.pdf</a></td>
						<td><p>IT-SS-ORDER</p></td>
						<td><p>Outgoing</p></td>
						<td><p>Today, 15:21:03</p></td>
					</tr>
					<tr class="document-category all correspondence">
						<td><a href="#" class="hide-page-1">Correspondence_document_2.pdf</a></td>
						<td><p>IT-SS-ORDER</p></td>
						<td><p>Outgoing</p></td>
						<td><p>03/06/2017 11:07:13</p></td>
					</tr>
					<tr class="document-category all court">
						<td><a href="#" class="hide-page-1">Court_order_documents.pdf</a></td>
						<td><p>IT-SS-ORDER</p></td>
						<td><p>Outgoing</p></td>
						<td><p>31/06/2017 12:52:52</p></td>
					</tr>
					<tr class="document-category all other">
						<td><a href="#" class="hide-page-1">Other_document.pdf</a></td>
						<td><p>IT-SS-ORDER</p></td>
						<td><p>Outgoing</p></td>
						<td><p>21/06/2017 11:07:13</p></td>
					</tr>
					<tr class="document-category all other">
						<td>
							<a href="../../../production/img/V21/Beef_Dripping.jpg" class="mov-file" download>
								Video-of-client.mov
								<span class="download"></span>
							</a>
						</td>
						<td><p>IT-SS-ORDER</p></td>
						<td><p>Incoming</p></td>
						<td><p>27/06/2017 11:07:13</p></td>
					</tr>
				</tbody>
			</table>

		</div>

		<div class="page-2 document-viewing-panel">
			<div class="control-panel">
				<h2>Current annual report</h2>
				<div class="buttons">
					<a href="#" class="back">Back</a>
					<a href="#" class="compare">Compare</a>
					<!-- <a href="#" class="close">Close</a> -->
				</div>
				<img src="../../../production/img/V21/control-panel.png" alt="Document" class="control-panel-buttons">
			</div>
			<div class="wrapper">
				<img src="../../../production/img/V21/document-report.png" alt="Document">
			</div>
		</div>
	</div>
	<!-- ============================ DOCUMENT 1 - END ============================ -->



	<!-- ============================ DOCUMENT 2 - START ============================ -->
	<div class="doc-container document-2">

		<a href="#" class="close">Close</a>

		<div class="page-1">

			<table class="livelink-documents tablesorter">
				<thead>
					<tr>
						<th><span></span>Name</th>
						<th><span></span>Doc type</th>
						<th><span></span>Direction</th>
						<th><span></span>Date created</th>
					</tr>
				</thead>
				<tbody>
					<tr class="document-category all court">
						<td><a href="#" class="hide-page-1">Application_correspondence.pdf</a></td>
						<td><p>IT-SS-ORDER</p></td>
						<td><p>Incoming</p></td>
						<td><p>27/08/2017 11:07:13</p></td>
					</tr>
					<tr class="document-category all visit">
						<td><a href="#" class="hide-page-1">Visit_document_title_1.pdf</a></td>
						<td><p>IT-SS-ORDER</p></td>
						<td><p>Outgoing</p></td>
						<td><p>27/06/2017 11:07:13</p></td>
					</tr>
					<tr class="document-category all visit">
						<td><a href="#" class="hide-page-1">Visit_document_title_2.pdf</a></td>
						<td><p>IT-SS-ORDER</p></td>
						<td><p>Outgoing</p></td>
						<td><p>27/06/2017 11:07:13</p></td>
					</tr>
					<tr class="document-category all report">
						<td><a href="#" class="hide-page-1">Reports_document_title_1.pdf</a></td>
						<td><p>IT-SS-ORDER</p></td>
						<td><p>Outgoing</p></td>
						<td><p>27/06/2017 11:07:13</p></td>
					</tr>
					<tr class="document-category all correspondence">
						<td><a href="#" class="hide-page-1">Correspondence_document_1.pdf</a></td>
						<td><p>IT-SS-ORDER</p></td>
						<td><p>Outgoing</p></td>
						<td><p>27/06/2017 11:07:13</p></td>
					</tr>
					<tr class="document-category all correspondence">
						<td><a href="#" class="hide-page-1">correspondence_document_2.pdf</a></td>
						<td><p>IT-SS-ORDER</p></td>
						<td><p>Outgoing</p></td>
						<td><p>27/06/2017 11:07:13</p></td>
					</tr>
					<tr class="document-category all court">
						<td><a href="#" class="hide-page-1">Court_order_documents.pdf</a></td>
						<td><p>IT-SS-ORDER</p></td>
						<td><p>Outgoing</p></td>
						<td><p>27/06/2017 11:07:13</p></td>
					</tr>
					<tr class="document-category all other">
						<td><a href="#" class="hide-page-1">Other_document.pdf</a></td>
						<td><p>IT-SS-ORDER</p></td>
						<td><p>Outgoing</p></td>
						<td><p>27/06/2017 11:07:13</p></td>
					</tr>
					<tr class="document-category all other">
						<td>
							<a href="../../../production/img/V21/Beef_Dripping.jpg" class="mov-file" download>
								Video-of-client.mov
								<span class="download"></span>
							</a>
						</td>
						<td><p>IT-SS-ORDER</p></td>
						<td><p>Incoming</p></td>
						<td><p>27/06/2017 11:07:13</p></td>
					</tr>
				</tbody>
			</table>

		</div>

		<div class="page-2 document-viewing-panel">
			<div class="control-panel">
				<h2>Current annual report</h2>
				<div class="buttons">
					<a href="#" class="back">Back</a>
					<a href="#" class="compare">Compare</a>
				</div>
				<img src="../../../production/img/V21/control-panel.png" alt="Document" class="control-panel-buttons">
			</div>
			<div class="wrapper">
				<img src="../../../production/img/V21/document-report.png" alt="Document">
			</div>
		</div>

	</div>
	<!-- ============================ DOCUMENT 2 - END ============================ -->

</div>
<!-- // DOCUMENT VIEWER - END // -->
