<!-- // DOCUMENT VIEWER - START // -->
<div id="documents-viewer">

	<!-- ============================ DOCUMENT 1 - START ============================ -->
	<div class="doc-container document-1">

		<a href="#" class="close">Close</a>

		<div class="page-1 accordion">

			<!-- //////// ACCORDION SECTION 1 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-1">
					Visits
					<span></span>
				</button>

				<div id="accordion-1" class="accordion-section-content">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Name</th>
								<th>Doc type</th>
								<th>Direction</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#" class="hide-page-1">Visit_document_title_1.pdf</a></td>
								<td><p>IT-SS-ORDER</p></td>
								<td><p>Outgoing</p></td>
								<td><p>11/06/2017 11:07:13</p></td>
							</tr>
							<tr>
								<td><a href="#" class="hide-page-1">Visit_document_title_2.pdf</a></td>
								<td><p>IT-SS-ORDER</p></td>
								<td><p>Outgoing</p></td>
								<td><p>18/06/2017 12:20:10</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 1 - END - //////// -->

			<!-- //////// ACCORDION SECTION 2 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-2">
					Reports
					<span></span>
				</button>

				<div id="accordion-2" class="accordion-section-content" style="">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Name</th>
								<th>Doc type</th>
								<th>Direction</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#" class="hide-page-1">Reports_document_title_1.pdf</a></td>
								<td><p>IT-SS-ORDER</p></td>
								<td><p>Outgoing</p></td>
								<td><p>30/06/2017 16:31:01</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 2 - END - //////// -->

			<!-- //////// ACCORDION SECTION 3 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-3">
					Correspondence
					<span></span>
				</button>

				<div id="accordion-3" class="accordion-section-content" style="">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Name</th>
								<th>Doc type</th>
								<th>Direction</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#" class="hide-page-1">Correspondence_document_1.pdf</a></td>
								<td><p>IT-SS-ORDER</p></td>
								<td><p>Outgoing</p></td>
								<td><p>Today, 15:21:03</p></td>
							</tr>
							<tr>
								<td><a href="#" class="hide-page-1">Correspondence_document_2.pdf</a></td>
								<td><p>IT-SS-ORDER</p></td>
								<td><p>Outgoing</p></td>
								<td><p>03/06/2017 11:07:13</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 3 - END - //////// -->

			<!-- //////// ACCORDION SECTION 4 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-4">
					Court documents
					<span></span>
				</button>

				<div id="accordion-4" class="accordion-section-content" style="">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Name</th>
								<th>Doc type</th>
								<th>Direction</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#" class="hide-page-1">Application_correspondence.pdf</a></td>
								<td><p>IT-SS-ORDER</p></td>
								<td><p>Incoming</p></td>
								<td><p>27/08/2017 08:17:13</p></td>
							</tr>
							<tr>
								<td><a href="#" class="hide-page-1">Court_order_documents.pdf</a></td>
								<td><p>IT-SS-ORDER</p></td>
								<td><p>Outgoing</p></td>
								<td><p>31/06/2017 12:52:52</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 4 - END - //////// -->

			<!-- //////// ACCORDION SECTION 5 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-5">
					Other
					<span></span>
				</button>

				<div id="accordion-5" class="accordion-section-content" style="">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Name</th>
								<th>Doc type</th>
								<th>Direction</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#" class="hide-page-1">Other_document.pdf</a></td>
								<td><p>IT-SS-ORDER</p></td>
								<td><p>Outgoing</p></td>
								<td><p>21/06/2017 11:07:13</p></td>
							</tr>
							<tr>
								<td>
									<a href="../../../production/img/V21/Beef_Dripping.jpg" class="mov-file" download>
										Video-of-client.mov
										<span class="download"></span>
									</a>
								</td>
								<td><p>IT-SS-ORDER</p></td>
								<td><p>Incoming</p></td>
								<td><p>27/06/2017 11:07:13</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 5 - END - //////// -->

		</div>

		<div class="page-2 document-viewing-panel">
			<div class="control-panel">
				<h2>Current annual report</h2>
				<div class="buttons">
					<a href="#" class="back">Back</a>
					<a href="#" class="compare">Compare</a>
				</div>
				<img src="../../../production/img/V21/control-panel.png" alt="Document" class="control-panel-buttons">
			</div>
			<div class="wrapper">
				<img src="../../../production/img/V21/document-report.png" alt="Document">
			</div>
		</div>
	</div>
	<!-- ============================ DOCUMENT 1 - END ============================ -->



	<!-- ============================ DOCUMENT 2 - START ============================ -->
	<div class="doc-container document-2">

		<a href="#" class="close">Close</a>

		<div class="page-1 accordion">

			<!-- //////// ACCORDION SECTION 6 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-6">
					Visits
					<span></span>
				</button>

				<div id="accordion-6" class="accordion-section-content">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Name</th>
								<th>Doc type</th>
								<th>Direction</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#" class="hide-page-1">Visit_document_title_1.pdf</a></td>
								<td><p>IT-SS-ORDER</p></td>
								<td><p>Outgoing</p></td>
								<td><p>11/06/2017 11:07:13</p></td>
							</tr>
							<tr>
								<td><a href="#" class="hide-page-1">Visit_document_title_2.pdf</a></td>
								<td><p>IT-SS-ORDER</p></td>
								<td><p>Outgoing</p></td>
								<td><p>18/06/2017 12:20:10</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 6 - END - //////// -->

			<!-- //////// ACCORDION SECTION 7 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-7">
					Reports
					<span></span>
				</button>

				<div id="accordion-7" class="accordion-section-content" style="">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Name</th>
								<th>Doc type</th>
								<th>Direction</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#" class="hide-page-1">Reports_document_title_1.pdf</a></td>
								<td><p>IT-SS-ORDER</p></td>
								<td><p>Outgoing</p></td>
								<td><p>30/06/2017 16:31:01</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 7 - END - //////// -->

			<!-- //////// ACCORDION SECTION 8 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-8">
					Correspondence
					<span></span>
				</button>

				<div id="accordion-8" class="accordion-section-content" style="">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Name</th>
								<th>Doc type</th>
								<th>Direction</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#" class="hide-page-1">Correspondence_document_1.pdf</a></td>
								<td><p>IT-SS-ORDER</p></td>
								<td><p>Outgoing</p></td>
								<td><p>Today, 15:21:03</p></td>
							</tr>
							<tr>
								<td><a href="#" class="hide-page-1">Correspondence_document_2.pdf</a></td>
								<td><p>IT-SS-ORDER</p></td>
								<td><p>Outgoing</p></td>
								<td><p>03/06/2017 11:07:13</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 8 - END - //////// -->

			<!-- //////// ACCORDION SECTION 9 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-9">
					Court documents
					<span></span>
				</button>

				<div id="accordion-9" class="accordion-section-content" style="">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Name</th>
								<th>Doc type</th>
								<th>Direction</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#" class="hide-page-1">Application_correspondence.pdf</a></td>
								<td><p>IT-SS-ORDER</p></td>
								<td><p>Incoming</p></td>
								<td><p>27/08/2017 08:17:13</p></td>
							</tr>
							<tr>
								<td><a href="#" class="hide-page-1">Court_order_documents.pdf</a></td>
								<td><p>IT-SS-ORDER</p></td>
								<td><p>Outgoing</p></td>
								<td><p>31/06/2017 12:52:52</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 9 - END - //////// -->

			<!-- //////// ACCORDION SECTION 10 - START - //////// -->
			<div class="accordion-section">

				<button class="accordion-section-title documents" href="#accordion-10">
					Other
					<span></span>
				</button>

				<div id="accordion-10" class="accordion-section-content" style="">
					<table class="livelink-documents">
						<thead>
							<tr>
								<th>Name</th>
								<th>Doc type</th>
								<th>Direction</th>
								<th>Date created</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="#" class="hide-page-1">Other_document.pdf</a></td>
								<td><p>IT-SS-ORDER</p></td>
								<td><p>Outgoing</p></td>
								<td><p>21/06/2017 11:07:13</p></td>
							</tr>
							<tr>
								<td>
									<a href="../../../production/img/V21/Beef_Dripping.jpg" class="mov-file" download>
										Video-of-client.mov
										<span class="download"></span>
									</a>
								</td>
								<td><p>IT-SS-ORDER</p></td>
								<td><p>Incoming</p></td>
								<td><p>27/06/2017 11:07:13</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //////// ACCORDION SECTION 10 - END - //////// -->

		</div>

		<div class="page-2 document-viewing-panel">
			<div class="control-panel">
				<h2>Current annual report</h2>
				<div class="buttons">
					<a href="#" class="back">Back</a>
					<a href="#" class="compare">Compare</a>
				</div>
				<img src="../../../production/img/V21/control-panel.png" alt="Document" class="control-panel-buttons">
			</div>
			<div class="wrapper">
				<img src="../../../production/img/V21/document-report.png" alt="Document">
			</div>
		</div>

	</div>
	<!-- ============================ DOCUMENT 2 - END ============================ -->

</div>
<!-- // DOCUMENT VIEWER - END // -->
