<!-- // DOCUMENT SUMMARY - START // -->
<div id="court-apps-letter">
	<h2 class="description-title">Document information</h2>

	<p id="letter-not-started" class="place-holder-text">No templates or drafts have been chosen to edit</p>

	<div id="letter-started">
		<h3 class="sub-section-title">Letter template chosen</h3>

		<div class="document">
			<span class="icon document"></span>
			<h3 class="title">CT-bb: Blank complaints team template</h3>
		</div>

		<div id="pre-populated-section">
			<h3 class="sub-section-title">Pre-populated items</h3>

			<ol id="recipients"></ol>
		</div>
	</div>
</div>
<!-- // DOCUMENT SUMMARY - END // -->
