<!-- // DOCUMENT VIEWER - START // -->
<div id="documents-contacts">

	<h2 class="description-title">
		Client contacts
		<!-- <a class="add letter-contact-journey" href="../2-create-letter/2c-add-correspondant.html">Add contact</a> -->
	</h2>

	<ul class="contact-list">

		<!-- // CORRESPONDANT - 1 - START // -->
		<li class="correspondent">
			<div class="wrapper">
				<div class="contact-name">
					<span class="contact-name-value">Daniel D. Bobadilla</span>
					<a href="#" class="edit">Edit</a>
					<a href="#delete-contact" rel="modal:open" class="delete delete-contact">Delete</a>
				</div>
			</div>
			<span class="sub-title">Doctor</span><br>
			<span class="sub-text">73 Ilchester Road, MUGGLESWICK, DH8 6UA.</span>
			<a href="#" class="full-details">View full details</a>
			<div class="contact-info">
				<div class="row">
					<div class="large-6 large-uncentered columns">
						<span>Phone number: <strong>0123456789</strong></span>
					</div>
					<div class="large-6 large-uncentered columns">
						<span>Mobile number: <strong>07739273398</strong></span>
					</div>
				</div>
				<div class="row">
					<div class="large-6 large-uncentered columns">
						<span>Email: <strong>daniel.d.bobadilla@nhs.com</strong></span>
					</div>
					<div class="large-6 large-uncentered columns">
						<span>Preferences: <strong>None</strong></span>
					</div>
				</div>
				<div class="row">
					<div class="large-12 large-uncentered columns">
						<span>Notes: <strong>None</strong></span>
					</div>
				</div>
			</div>
		</li>
		<!-- // CORRESPONDANT - 1 - END // -->

		<!-- // CORRESPONDANT - 2 - START // -->
		<li class="correspondent">
			<div class="wrapper">
				<div class="contact-name">
					<span class="contact-name-value">TrustMe Limited</span>
					<a href="#" class="edit">Edit</a>
					<a href="#delete-contact" rel="modal:open" class="delete delete-contact">Delete</a>
				</div>
			</div>
			<span class="sub-title">Trust Corporation</span><br>
			<span class="sub-text">62 Review Road, Neasden, UK, NW27BE.</span>
			<a href="#" class="full-details" data-value="1">View full details</a>
			<div class="contact-info">
				<div class="row">
					<div class="large-6 large-uncentered columns">
						<span>Phone number: <strong>0123456789</strong></span>
					</div>
					<div class="large-6 large-uncentered columns">
						<span>Mobile number: <strong>07739273398</strong></span>
					</div>
				</div>
				<div class="row">
					<div class="large-6 large-uncentered columns">
						<span>Email: <strong>contact@trustmeltd.com</strong></span>
					</div>
					<div class="large-6 large-uncentered columns">
						<span>Preferences: <strong>None</strong></span>
					</div>
				</div>
				<div class="row">
					<div class="large-12 large-uncentered columns">
						<span>Notes: <strong>None</strong></span>
					</div>
				</div>
			</div>
		</li>
		<!-- // CORRESPONDANT - 2 - END // -->

	</ul>

</div>
<!-- // DOCUMENT VIEWER - END // -->

<!-- // MODAL - START // -->
<div id="delete-contact" style="display:none;">
	<h1>Delete this contact?</h1>
	<h2><div class="contact-name">Joe</div></h2>
	<p>
		Are you sure you want to continue?
	</p>
	<hr>
	<div class="cta-row">
		<a class="main-cta" id="delete-contact-confirm">Delete the contact</a>
		<a href="#" rel="modal:close" class="cancel">Cancel</a>
	</div>
</div>
<!-- // MODAL - END // -->
