<!-- PRIMARY NAV - START -->
<nav class="client-nav">
	<ul class="client-details">

		<!-- Link 1 - START -->
		<li class="tablinks overview active" onclick="openTab(event, 'client-overview')" id="defaultOpen">
			<div class="wrapper">
				<span></span>
		          <h1>Client overview</h1>
			</div>
		</li>
		<!-- Link 1 - END -->

		<!-- Link 2 - START -->
		<li class="tablinks health" onclick="openTab(event, 'client-health')">
			<!-- <div class="days-left">
				<div class="wrapper">
					<span class="number-of-days">25</span>
					<span>days</span>
				</div>
			</div> -->
			<div class="wrapper items">
				<h1><span class="icon welfare"></span> H &amp; W <div class="sep">|</div> 19273638</h1>
				<!-- <div class="border"></div>
				<div class="info-row">
					<div class="tasks">
						<i class="icon"></i>
						<p>Tasks</p>
						<span class="number">4</span>
					</div>
					<div class="deputies">
						<i class="icon"></i>
						<p>Deputies</p>
						<span class="number">2</span>
					</div>
				</div> -->
			</div>
			<div class="due-date">
				<p>Due date: <strong>17/07/2017</strong> - <span class="due-number-of-days">due in 25 days</span></p>
			</div>
		</li>
		<!-- Link 2 - END -->

		<!-- Link 3 - START -->
		<li class="tablinks property" onclick="openTab(event, 'client-property')">
			<div class="wrapper items">
				<h1><span class="icon property"></span> PFA <div class="sep">|</div> 14820940</h1>
				<!-- <div class="border"></div>
				<div class="info-row">
					<div class="tasks">
						<i class="icon"></i>
						<p>Tasks</p>
						<span class="number">1</span>
					</div>
					<div class="deputies">
						<i class="icon"></i>
						<p>Deputies</p>
						<span class="number">1</span>
					</div>
				</div> -->
			</div>
			<div class="due-date">
				<p>Due date: <strong>21/09/2017</strong></p>
			</div>
		</li>
		<!-- Link 3 - END -->

		<!-- Link 4 - START -->
		<li class="tablinks unassigned" onclick="openTab(event, 'client-unassigned')">
			<div class="wrapper">
				<span class="number"><div class="inner">6</div></span>
				<h1>Unsupervised cases</h1>
			</div>
		</li>
		<!-- Link 4 - END -->

	</ul>

</nav>
<!-- PRIMARY NAV - END -->
