<!-- /////////////////////////// DOCUMENT 1 - START /////////////////////////// -->

<h2 class="section-title doc-title">
	Edit document - <span class="current-document-title"></span>
	<div class="info">
		<div class="icon recipient"></div>
		Recipient:
		<strong class="recipient-name">Mr Gerald Brackens</strong>
	</div>
</h2>

<!-- // CONFIRMATION MESSAGE - START // -->
<div class="row">
	<div class="large-12 large-uncentered columns">
		<div id="draft-saved" class="confirmation-panel">
			<div class="content">
				<h2>
					<span></span>
					Your draft has been
					<div class="message-1">created</div>
					<div class="message-2">saved</div>
					<script language="JavaScript">

						Stamp = new Date();
						year = Stamp.getYear();
						if (year < 2000) year = 1900 + year;
						document.write('<div class="date-text"> - ' + (Stamp.getMonth() + 1) +"/"+Stamp.getDate()+ "/"+ year + '</div>');
						var Hours;
						var Mins;
						var Time;
						Hours = Stamp.getHours();
						if (Hours >= 12) {
							Time = " P.M.";
						}
						else {
							Time = " A.M.";
						}
						if (Hours > 12) {
							Hours -= 12;
						}
						if (Hours == 0) {
							Hours = 12;
						}
						Mins = Stamp.getMinutes();
							if (Mins < 10) {
							Mins = "0" + Mins;
						}
						document.write('<div class="time-text">, ' + Hours + ":" + Mins + Time + '</div>');
					</script>
				</h2>
			</div>
		</div>
	</div>
</div>
<!-- // CONFIRMATION MESSAGE - END // -->

<!-- // DOCUMENT 1 - START // -->
<div class="form-group" id="document-1">
	<textarea name="textarea" class="jqte-test" id="edit-document">
		<p><strong>DOCUMENT 1</strong></p>
		<p>Our ref: <strong>Investigations/7000-0000-2654/[Your initials]</strong></p>
		<p>Dear Salutation Deputy Last</p>
		<p><strong>Re: Client's First Name Last Name of Client</strong></p>
		<p>My name is a manager, and I am now the Investigating officer dealing with this case.</p>
		<p>My contact details are:</p>
		<ul>
			<li>0121 631 XXXX</li>
			<li>XXXXXXXXXX@publicguardian.gsi.gov.uk</li>
		</ul>
		<p>You can write to me at the same postal address.</p>
		<p>There's a new OPG reference <strong>Investigations/7000-0000-2654/[Your initials],</strong> make sure you quote it when you contact us.</p>
		<p>Yours sincerely</p>
		<p></p>
		<p></p>
		<p>a manager</p>
		<p>Investigating officer</p>
		<p>Compliance Unit</p>
		<p></p>
		<p></p>
		<p><strong>Office of the Public Guardian</strong></p>
		<p></p>
		<p>Cymraeg: if you'd prefer to hear from us in Welsh, call 0300 456 0300 or email customerservices@publicguardian.gis.gov.uk</p>
		<p></p>
	</textarea>
</div>
<!-- // DOCUMENT 1 - END // -->

<!-- // DOCUMENT 2 - START // -->
<div class="form-group" id="document-2">
	<textarea name="textarea" class="jqte-test" id="edit-document">
		<p><strong>DOCUMENT 2</strong></p>
		<p>Our ref: <strong>Investigations/7000-0000-2654/[Your initials]</strong></p>
		<p>Dear Salutation Deputy Last</p>
		<p><strong>Re: Client's First Name Last Name of Client</strong></p>
		<p>My name is a manager, and I am now the Investigating officer dealing with this case.</p>
		<p>My contact details are:</p>
		<ul>
			<li>0121 631 XXXX</li>
			<li>XXXXXXXXXX@publicguardian.gsi.gov.uk</li>
		</ul>
		<p>You can write to me at the same postal address.</p>
		<p>There's a new OPG reference <strong>Investigations/7000-0000-2654/[Your initials],</strong> make sure you quote it when you contact us.</p>
		<p>Yours sincerely</p>
		<p></p>
		<p></p>
		<p>a manager</p>
		<p>Investigating officer</p>
		<p>Compliance Unit</p>
		<p></p>
		<p></p>
		<p><strong>Office of the Public Guardian</strong></p>
		<p></p>
		<p>Cymraeg: if you'd prefer to hear from us in Welsh, call 0300 456 0300 or email customerservices@publicguardian.gis.gov.uk</p>
		<p></p>
	</textarea>
</div>
<!-- // DOCUMENT 2 - END // -->

<!-- // DOCUMENT 3 - START // -->
<div class="form-group" id="document-3">
	<textarea name="textarea" class="jqte-test" id="edit-document">
		<p><strong>DOCUMENT 3</strong></p>
		<p>Our ref: <strong>Investigations/7000-0000-2654/[Your initials]</strong></p>
		<p>Dear Salutation Deputy Last</p>
		<p><strong>Re: Client's First Name Last Name of Client</strong></p>
		<p>My name is a manager, and I am now the Investigating officer dealing with this case.</p>
		<p>My contact details are:</p>
		<ul>
			<li>0121 631 XXXX</li>
			<li>XXXXXXXXXX@publicguardian.gsi.gov.uk</li>
		</ul>
		<p>You can write to me at the same postal address.</p>
		<p>There's a new OPG reference <strong>Investigations/7000-0000-2654/[Your initials],</strong> make sure you quote it when you contact us.</p>
		<p>Yours sincerely</p>
		<p></p>
		<p></p>
		<p>a manager</p>
		<p>Investigating officer</p>
		<p>Compliance Unit</p>
		<p></p>
		<p></p>
		<p><strong>Office of the Public Guardian</strong></p>
		<p></p>
		<p>Cymraeg: if you'd prefer to hear from us in Welsh, call 0300 456 0300 or email customerservices@publicguardian.gis.gov.uk</p>
		<p></p>
	</textarea>
</div>
<!-- // DOCUMENT 3 - END // -->

<!-- // DOCUMENT 4 - START // -->
<div class="form-group" id="document-4">
	<textarea name="textarea" class="jqte-test" id="edit-document">
		<p><strong>DOCUMENT 4</strong></p>
		<p>Our ref: <strong>Investigations/7000-0000-2654/[Your initials]</strong></p>
		<p>Dear Salutation Deputy Last</p>
		<p><strong>Re: Client's First Name Last Name of Client</strong></p>
		<p>My name is a manager, and I am now the Investigating officer dealing with this case.</p>
		<p>My contact details are:</p>
		<ul>
			<li>0121 631 XXXX</li>
			<li>XXXXXXXXXX@publicguardian.gsi.gov.uk</li>
		</ul>
		<p>You can write to me at the same postal address.</p>
		<p>There's a new OPG reference <strong>Investigations/7000-0000-2654/[Your initials],</strong> make sure you quote it when you contact us.</p>
		<p>Yours sincerely</p>
		<p></p>
		<p></p>
		<p>a manager</p>
		<p>Investigating officer</p>
		<p>Compliance Unit</p>
		<p></p>
		<p></p>
		<p><strong>Office of the Public Guardian</strong></p>
		<p></p>
		<p>Cymraeg: if you'd prefer to hear from us in Welsh, call 0300 456 0300 or email customerservices@publicguardian.gis.gov.uk</p>
		<p></p>
	</textarea>
</div>
<!-- // DOCUMENT 4 - END // -->

<!-- // DOCUMENT 5 - START // -->
<div class="form-group" id="document-5">
	<textarea name="textarea" class="jqte-test" id="edit-document">
		<p><strong>DOCUMENT 5</strong></p>
		<p>Our ref: <strong>Investigations/7000-0000-2654/[Your initials]</strong></p>
		<p>Dear Salutation Deputy Last</p>
		<p><strong>Re: Client's First Name Last Name of Client</strong></p>
		<p>My name is a manager, and I am now the Investigating officer dealing with this case.</p>
		<p>My contact details are:</p>
		<ul>
			<li>0121 631 XXXX</li>
			<li>XXXXXXXXXX@publicguardian.gsi.gov.uk</li>
		</ul>
		<p>You can write to me at the same postal address.</p>
		<p>There's a new OPG reference <strong>Investigations/7000-0000-2654/[Your initials],</strong> make sure you quote it when you contact us.</p>
		<p>Yours sincerely</p>
		<p></p>
		<p></p>
		<p>a manager</p>
		<p>Investigating officer</p>
		<p>Compliance Unit</p>
		<p></p>
		<p></p>
		<p><strong>Office of the Public Guardian</strong></p>
		<p></p>
		<p>Cymraeg: if you'd prefer to hear from us in Welsh, call 0300 456 0300 or email customerservices@publicguardian.gis.gov.uk</p>
		<p></p>
	</textarea>
</div>
<!-- // DOCUMENT 5 - END // -->


<!-- /////////////////////////// DOCUMENT 1 - END /////////////////////////// -->
