<!-- // WARNINGS - START // -->
<!-- <div id="list-of-warnings">

	<div class="no-items">
		<p>There are no warnings currently added to this client.</p>
		<a href="../17-warnings/17a-create-warning.html" class="main-cta">Create warning</a>
	</div>

</div> -->
<!-- // WARNINGS - START // -->

<!-- // WARNINGS - START // -->
<h2 class="description-title">
	Important remarks
	<a href="../17-warnings/17a-create-warning.html" class="add create-important-remark">Create important remark</a>
</h2>

<table id="important-remarks">
	<thead>
		<tr class="two-column">
			<th>Details</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>

		<!-- IMPORTANT REMARKS - START -->
		<tr class="">
			<td colspan="2">
				<ol class="summary-list warnings-overview-table">
					<li data-value="2">
						<p class="remark-title">
							<span class="title-info">Risk to the client</span>
							<a href="#delete-important-remark-modal" rel="modal:open" class="main-cta tertiary delete delete-important-remark">Remove</a>
						</p>
						<p class="date"><span class="icon date"></span> Date created: <strong>21/09/2017 - 13:15 PM</strong> </p>
						<p class="answer">A recent visitor report highlighted that the deputies have not been to see the client once this year. This is according to the nursing home care manager. This is contrary to what the deputy says in the report.</p>
					</li>
					<li data-value="3">
						<p class="remark-title">
							<span class="title-info">Outstanding issues</span>
							<a href="#delete-important-remark-modal" rel="modal:open" class="main-cta tertiary delete delete-important-remark">Remove</a>
						</p>
						<p class="date"><span class="icon date"></span> Date created: <strong>17/07/2017 - 10:32 AM</strong> </p>
						<p class="answer">Deputy has been aggressive in the past during phone calls.</p>
					</li>
					<li data-value="4">
						<p class="remark-title">
							<span class="title-info">Safeguarding issues</span>
							<a href="#delete-important-remark-modal" rel="modal:open" class="main-cta tertiary delete delete-important-remark">Remove</a>
						</p>
						<p class="date"><span class="icon date"></span> Date created: <strong>25/06/2017 - 08:17 AM</strong> </p>
						<p class="answer">A recent visitor report highlighted that the client was looking very disheveled and wearing very old clothes. Has not had regular pocket money deposited.</p>
					</li>
					<li data-value="5">
						<p class="remark-title">
							<span class="title-info">Client is violent</span>
							<a href="#delete-important-remark-modal" rel="modal:open" class="main-cta tertiary delete delete-important-remark">Remove</a>
						</p>
						<p class="date"><span class="icon date"></span> Date created: <strong>15/03/2017 - 15:03 PM</strong> </p>
						<p class="answer">Gerald is not physically violent, but has been known to be verbally abusive to care home staff.</p>
					</li>
				</ol>
			</td>
		</tr>
		<!-- IMPORTANT REMARKS - END -->


	</tbody>
</table>
<!-- // WARNINGS - END // -->
