<!-- // REPORTS - START // -->
<div id="report-details">

     <!-- // PENDING REPORT - START // -->
     <div class="row">
          <div class="large-12 large-uncentered columns">

               <h2 class="description-title">
                    Pending report
                    <a class="show-pending close">Show pending report</a>
               </h2>

               <ul class="report-list pending-list report-list-view">

                    <!-- // REPORT - 1 - START // -->
                    <li class="pending">

                         <div class="wrapper">

                              <!-- //////////// Main info - START //////////// -->
                              <div class="main-info">
                                   <span class="report-type">
                                        <span>Pending</span>
                                        <strong>102/104</strong>
                                   </span>
                                   <div class="time-line">
                                        <div class="date left">
                                             <span class="indicator">Start date</span>
                                             <p><span></span><strong>5th October</strong><br> 2017</p>
                                        </div>
                                        <div class="date right">
                                             <span class="indicator">End date</span>
                                             <p><span></span><strong>4th October</strong><br> 2018</p>
                                        </div>
                                        <span class="border"></span>
                                   </div>

                                   <!-- //////////// Additonal info - START //////////// -->
                                   <div class="report-info">
                                        <div class="dates-section">
                                             <div class="date">
                                                  <div class="wrapper">
                                                       <span>Reminder date:</span>
                                                       <span class="highlight">06/10/2018</span>
                                                  </div>
                                             </div>
                                             <div class="date">
                                                  <div class="wrapper">
                                                       <span>Review date:</span>
                                                       <span class="highlight">29/11/2018</span>
                                                  </div>
                                             </div>
                                             <div class="date">
                                                  <div class="wrapper">
                                                       <span>Due date:</span>
                                                       <span class="highlight">29/11/2018</span>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                                   <!-- //////////// Additonal info - START //////////// -->

                              </div>
                              <!-- //////////// Main info - START //////////// -->

                              <div class="cta-row">
                                   <a href="../9-edit-report/9a-reporting-period.html" class="normal-link">Change reporting period</a>
                                   <a href="../9-edit-report/9b-due-date.html" class="normal-link">Change due date</a>
                                   <a href="../9-edit-report/9c-level-102.html" class="normal-link">Complete a 103 report</a>
                                   <a href="#" class="full-report-details pending-report">View full details</a>
                              </div>

                         </div>

                    </li>
                    <!-- // REPORT - 1 - END // -->

               </ul>

          </div>
     </div>
     <!-- // PENDING REPORT - END // -->

     <!-- // ACTIVE & LODGED REPORTs - START // -->
     <div class="row">
          <div class="large-12 large-uncentered columns">

               <h2 class="description-title">
                    Active &amp; lodged reports
                    <div class="toggle-switch">
                         <strong>Display</strong>
                         <div class="buttons">
                              <a href="#" id="list" class="selected"><span class="list"></span>List</a>
                              <a href="#" id="grid"><span class="thumb"></span>Thumb</a>
                         </div>
                    </div>
               </h2>

          	<ul class="report-list report-list-view">

                    <!-- // REPORT - 1 - START // -->
                    <li class="active thumb-order-3">

                         <div class="wrapper">

                              <!-- //////////// Main info - START //////////// -->
                              <div class="main-info">
                                   <span class="report-type">
                                        <span class="report-value-status-answer">Active</span>
                                        <strong>102/104</strong>
                                   </span>
                                   <span class="staff-review">
                                        <span class="icon flag"></span>
                                        <strong>Staff review</strong>
                                   </span>
                                   <div class="time-line">
                                        <div class="date left">
                                             <span class="indicator">Start date</span>
                                             <p>
                                                  <span></span>
                                                  <strong>5th October</strong><br>
                                                  <span class="start-date-answer">2016</span>
                                             </p>
                                        </div>
                                        <div class="date right">
                                             <span class="indicator">End date</span>
                                             <p>
                                                  <span></span>
                                                  <strong>4th October</strong><br>
                                                  <span class="end-date-answer">2017</span>
                                             </p>
                                        </div>
                                        <span class="border"></span>
                                   </div>

                                   <a href="#" class="full-report-details-no-ctas">View date details</a>
                                   <a href="#" class="report-document-list">View supporting documents</a>
                                   <a href="#" class="view-notes">View notes</a>

                                   <!-- //////////// Notes - START //////////// -->
                                   <div class="notes-section">
                                        <p>Test test test</p>
                                   </div>
                                   <!-- //////////// Notes - END //////////// -->

                                   <!-- //////////// Document list - START //////////// -->
                                   <div class="document-list">
                                        <p class="place-holder-text">No supporting documents have been uploaded yet.</p>
                                   </div>
                                   <!-- //////////// Document list - END //////////// -->

                                   <!-- //////////// Additonal info - START //////////// -->
                                   <div class="report-info">
                                        <div class="dates-section">
                                             <div class="date">
                                                  <div class="wrapper">
                                                       <span>Reminder date:</span>
                                                       <span class="highlight">06/10/2017</span>
                                                  </div>
                                             </div>
                                             <div class="date">
                                                  <div class="wrapper">
                                                       <span>Review date:</span>
                                                       <span class="highlight">29/11/2017</span>
                                                  </div>
                                             </div>
                                             <div class="date">
                                                  <div class="wrapper">
                                                       <span>Due date:</span>
                                                       <span class="highlight">29/11/2017</span>
                                                  </div>
                                             </div>
                                             <div class="date lodged-content">
                                                  <div class="wrapper">
                                                       <span>Care plan:</span>
                                                       <span class="highlight">
                                                            <div class="report-value-review-date-day-answer">01</div>/<div class="report-value-review-date-month-answer">01</div>/<div class="report-value-review-date-year-answer">2017</div>
                                                       </span>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- <div class="cta-row">
                                             <a href="../9-edit-report/9a-reporting-period.html">Change reporting period</a>
                                             <a href="../9-edit-report/9b-due-date.html">Change due date</a>
                                             <a href="../9-edit-report/9c-level-102.html">Complete a 103 report</a>
                                        </div> -->
                                   </div>
                                   <!-- //////////// Additonal info - START //////////// -->

                                   <div class="finance-container lodged-content">
                                        <!-- //////////// CONTAINER 1 - START //////////// -->
                                        <div class="item one">
                                             <div class="wrapper">
                                                  <div class="title">Opening balance</div>
                                                  <div class="figure">&pound;<span class="report-value-opening-answer">167,657</span>.57</div>
                                                  <div class="growth down"><span></span>15%</div>
                                             </div>
                                        </div>
                                        <!-- //////////// CONTAINER 1 - END //////////// -->

                                        <!-- //////////// CONTAINER 2 - START //////////// -->
                                        <div class="item two">
                                             <div class="wrapper">
                                                  <div class="title">Closing balance</div>
                                                  <div class="figure">&pound;<span class="report-value-closing-answer">187,656</span>.03</div>
                                                  <div class="growth up"><span></span>11%</div>
                                             </div>
                                        </div>
                                        <!-- //////////// CONTAINER 2 - END //////////// -->

                                        <!-- //////////// CONTAINER 3 - START //////////// -->
                                        <div class="item three">
                                             <div class="wrapper">
                                                  <div class="title">Assets</div>
                                                  <div class="figure">&pound;<span class="report-value-assets-answer">251,869</span>.96</div>
                                                  <div class="growth down"><span></span>37%</div>
                                             </div>
                                        </div>
                                        <!-- //////////// CONTAINER 3 - END //////////// -->
                                   </div>

                              </div>
                              <!-- //////////// Main info - START //////////// -->

                              <!-- //////////// Graphical info - START //////////// -->
                              <div class="charts-container lodged-content">
                                   <div class="charts">
                                        <div class="warning-message">
                                             <span></span>An investigation into where the money is being spent is recommended
                                        </div>

                                        <div class="chart section-1 one">
                                             <div class="icon"></div>
                                             <div class="percentage">
                                                  &pound;<span class="report-value-gifting-graph">10</span>k
                                             </div>
                                        </div>
                                        <div class="chart section-1 two">
                                             <div class="icon"></div>
                                             <div class="percentage">
                                                  &pound;<span class="report-value-expenditure-graph">17</span>k
                                             </div>
                                        </div>
                                        <div class="chart section-1 three">
                                             <div class="icon"></div>
                                             <div class="percentage">
                                                  &pound;<span class="report-value-monthly-income-graph">3.4</span>k
                                             </div>
                                        </div>
                                        <div class="chart section-1 four">
                                             <div class="icon"></div>
                                             <div class="percentage">
                                                  &pound;<span class="report-value-monthly-expenditure-graph">20</span>k
                                             </div>
                                        </div>
                                        <div class="chart section-1 five">
                                             <div class="icon"></div>
                                             <div class="percentage">
                                                  &pound;<span class="report-value-care-expenses-graph">4.5</span>k
                                             </div>
                                        </div>
                                   </div>
                                   <div class="chart-instruction">
                                        <div class="title">Gifting</div>
                                        <div class="title">Deputy expenses</div>
                                        <div class="title">Income</div>
                                        <div class="title">Expenses</div>
                                        <div class="title">Care expenses</div>
                                   </div>
                                   <div class="label one">
                                        <div>Annual</div>
                                        <span class="border"></span>
                                   </div>
                                   <div class="label two">
                                        <div>Monthly estimate</div>
                                        <span class="border"></span>
                                   </div>
                              </div>

                              <div class="charts-container unlodged-content">
                                   <div class="report-notes">
                                        <p>Things to look out for:</p>
                                        <div class="warning">
                                             <div class="title">
                                                  <span>Gifting</span>
                                             </div>
                                             <div class="figure">£<span>7.5</span>k<span class="up"></span></div>
                                             <span class="icon gifting"></span>
                                        </div>
                                        <div class="warning">
                                             <div class="title">
                                                  <span>Deputy expenses</span>
                                             </div>
                                             <div class="figure">£<span>10</span>k<span class="up"></span></div>
                                             <span class="icon expenses"></span>
                                        </div>
                                   </div>
                              </div>
                              <!-- //////////// Graphical info - END //////////// -->

                         </div>

                         <!-- //////////// View report - START //////////// -->
                         <div class="view-report report-not-lodged">
                              <div class="left">
                                   <div class="wrapper">
                                        <span class="icon pdf"></span>
                                        <div class="report-title"><a href="#view-report" rel="modal:open" class="pfa-link">2016-2017-PFA.pdf</a></div>
                                        <p>Recieved: <strong>Today - 09:27 AM</strong></p>
                                   </div>
                                   <div class="wrapper">
                                        <span class="icon pdf"></span>
                                        <div class="report-title"><a href="#view-report" rel="modal:open" class="hw-link">2016-2017-H&amp;W.pdf</a></div>
                                        <p>Recieved: <strong>Today - 09:27 AM</strong></p>
                                   </div>
                              </div>
                              <div class="right">
                                   <a href="../18-create-report/18a-create-report.html" class="main-cta lodging-started">Lodge report</a>
                                   <!-- <a href="#view-report" rel="modal:open" class="main-cta secondary">View report</a> -->
                              </div>
                         </div>

                         <div class="view-report report-fully-lodged">
                              <div class="left">
                                   <div class="wrapper">
                                        <span class="icon pdf"></span>
                                        <div class="report-title"><a href="#view-report" rel="modal:open" class="pfa-link">2017-2018-PFA.pdf</a></div>
                                        <p>Recieved: <strong>Today - 09:27 AM</strong></p>
                                   </div>
                                   <div class="wrapper">
                                        <span class="icon pdf"></span>
                                        <div class="report-title"><a href="#view-report" rel="modal:open" class="hw-link">2017-2018-H&amp;W.pdf</a></div>
                                        <p>Recieved: <strong>Today - 09:27 AM</strong></p>
                                   </div>
                              </div>
                              <div class="right">
                                   <a href="../18-create-report/18a-create-report.html#edit-report-3" class="edit">Edit report</a>
                                   <!-- <a href="#view-report" rel="modal:open" class="main-cta">View report</a> -->
                              </div>
                         </div>
                         <!-- //////////// View report - END //////////// -->

                    </li>
                    <!-- // REPORT - 1 - END // -->

                    <!-- // REPORT - 2 - START // -->
          		<li class="thumb-order-2">

                         <div class="wrapper">

               			<!-- //////////// Main info - START //////////// -->
               			<div class="main-info">
                                   <span class="report-type">
                                        <span>Lodged</span>
                                        <strong>102</strong>
                                   </span>
                                   <div class="time-line">
                                        <div class="date left">
                                             <span class="indicator">Start date</span>
                                             <p>
                                                  <span></span>
                                                  <strong>5th October</strong><br>
                                                  <span class="start-date-answer">2015</span>
                                             </p>
                                        </div>
                                        <div class="date right">
                                             <span class="indicator">End date</span>
                                             <p>
                                                  <span></span>
                                                  <strong>4th October</strong><br>
                                                  <span class="end-date-answer">2016</span>
                                             </p>
                                        </div>
                                        <span class="border"></span>
                                   </div>

                                   <a href="#" class="full-report-details-no-ctas">View date details</a>
                                   <a href="#" class="report-document-list">View supporting documents</a>

                                   <!-- //////////// Document list - START //////////// -->
                                   <div class="document-list">
                                        <ul class="">
                                             <li><a href="#view-document" rel="modal:open">General-document-letter-1.pdf</a></li>
                                             <li><a href="#view-document" rel="modal:open">Financial-reference.pdf</a></li>
                                             <li><a href="#view-document" rel="modal:open">General-document-letter-2.pdf</a></li>
                                        </ul>
                                   </div>
                                   <!-- //////////// Document list - END //////////// -->

                                   <!-- //////////// Additonal info - START //////////// -->
                                   <div class="report-info">
                                        <div class="dates-section">
                                             <div class="date">
                                                  <div class="wrapper">
                                                       <span>Reminder date:</span>
                                                       <span class="highlight">06/10/2016</span>
                                                  </div>
                                             </div>
                                             <div class="date">
                                                  <div class="wrapper">
                                                       <span>Review date:</span>
                                                       <span class="highlight">29/11/2016</span>
                                                  </div>
                                             </div>
                                             <div class="date">
                                                  <div class="wrapper">
                                                       <span>Due date:</span>
                                                       <span class="highlight">29/11/2016</span>
                                                  </div>
                                             </div>
                                             <div class="date">
                                                  <div class="wrapper">
                                                       <span>Care plan:</span>
                                                       <span class="highlight">29/11/2016</span>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- <div class="cta-row">
                                             <a href="../9-edit-report/9a-reporting-period.html">Change reporting period</a>
                                             <a href="../9-edit-report/9b-due-date.html">Change due date</a>
                                        </div> -->
                                   </div>
                                   <!-- //////////// Additonal info - END //////////// -->

                                   <div class="finance-container">
                                        <!-- //////////// CONTAINER 1 - START //////////// -->
                                        <div class="item one">
                                             <div class="wrapper">
                                                  <div class="title">Opening balance</div>
                                                  <div class="figure">&pound;<span>302,864</span>.01</div>
                                                  <div class="growth down"><span></span>18%</div>
                                             </div>
                                        </div>
                                        <!-- //////////// CONTAINER 1 - END //////////// -->

                                        <!-- //////////// CONTAINER 2 - START //////////// -->
                                        <div class="item two">
                                             <div class="wrapper">
                                                  <div class="title">Closing balance</div>
                                                  <div class="figure">&pound;<span>167,657</span>.57</div>
                                                  <div class="growth down"><span></span>55%</div>
                                             </div>
                                        </div>
                                        <!-- //////////// CONTAINER 2 - END //////////// -->

                                        <!-- //////////// CONTAINER 3 - START //////////// -->
                                        <div class="item three">
                                             <div class="wrapper">
                                                  <div class="title">Assets</div>
                                                  <div class="figure">&pound;<span>401,125</span>.96</div>
                                                  <div class="growth down"><span></span>11%</div>
                                             </div>
                                        </div>
                                        <!-- //////////// CONTAINER 3 - END //////////// -->

                                   </div>

               			</div>
               			<!-- //////////// Main info - END //////////// -->

                              <!-- //////////// Graphical info - START //////////// -->
                              <div class="charts-container">
                                   <div class="charts">
                                        <div class="chart section-2 one alert">
                                             <div class="icon"></div>
                                             <div class="percentage">&pound;5k</div>
                                        </div>
                                        <div class="chart section-2 two alert">
                                             <div class="icon"></div>
                                             <div class="percentage">&pound;10k</div>
                                        </div>
                                        <div class="chart section-2 three">
                                             <div class="icon"></div>
                                             <div class="percentage">&pound;7.4k</div>
                                        </div>
                                        <div class="chart section-2 four">
                                             <div class="icon"></div>
                                             <div class="percentage">&pound;10k</div>
                                        </div>
                                        <div class="chart section-2 five">
                                             <div class="icon"></div>
                                             <div class="percentage">&pound;8k</div>
                                        </div>
                                   </div>
                                   <div class="chart-instruction">
                                        <div class="title">Gifting</div>
                                        <div class="title">Deputy expenses</div>
                                        <div class="title">Income</div>
                                        <div class="title">Expenses</div>
                                        <div class="title">Care expenses</div>
                                   </div>
                                   <div class="label one">
                                        <div>Annual</div>
                                        <span class="border"></span>
                                   </div>
                                   <div class="label two">
                                        <div>Monthly estimate</div>
                                        <span class="border"></span>
                                   </div>
                              </div>
                              <!-- //////////// Graphical info - END //////////// -->

                         </div>

                         <!-- //////////// View report - START //////////// -->
                         <div class="view-report">
                              <div class="left">
                                   <div class="wrapper">
                                        <span class="icon pdf"></span>
                                        <div class="report-title"><a href="#view-report" rel="modal:open" class="pfa-link">2015-2016-PFA.pdf</a></div>
                                        <p>Recieved: <strong>12/02/2016 - 12:51 PM</strong></p>
                                   </div>
                                   <div class="wrapper">
                                        <span class="icon pdf"></span>
                                        <div class="report-title"><a href="#view-report" rel="modal:open" class="hw-link">2015-2016-H&amp;W.pdf</a></div>
                                        <p>Recieved: <strong>12/02/2016 - 12:51 PM</strong></p>
                                   </div>
                              </div>
                              <div class="right">
                                   <a href="../18-create-report/18a-create-report.html#edit-report-2" class="edit">Edit report</a>
                                   <!-- <a href="#view-report" rel="modal:open" class="main-cta">View report</a> -->
                              </div>
                         </div>
                         <!-- //////////// View report - END //////////// -->

          		</li>
          		<!-- // REPORT - 2 - END // -->

                    <!-- // REPORT - 3 - START // -->
          		<li class="thumb-order-1">

                         <div class="wrapper">

               			<!-- //////////// Main info - START //////////// -->
               			<div class="main-info">
                                   <span class="report-type">
                                        <span>Lodged</span>
                                        <strong>102</strong>
                                   </span>
                                   <div class="time-line">
                                        <div class="date left">
                                             <span class="indicator">Start date</span>
                                             <p>
                                                  <span></span>
                                                  <strong>5th October</strong><br>
                                                  <span class="start-date-answer">2014</span>
                                             </p>
                                        </div>
                                        <div class="date right">
                                             <span class="indicator">End date</span>
                                             <p>
                                                  <span></span>
                                                  <strong>4th October</strong><br>
                                                  <span class="end-date-answer">2015</span>
                                             </p>
                                        </div>
                                        <span class="border"></span>
                                   </div>

                                   <a href="#" class="full-report-details-no-ctas">View date details</a>
                                   <a href="#" class="report-document-list">View supporting documents</a>

                                   <!-- //////////// Document list - START //////////// -->
                                   <div class="document-list">
                                        <ul class="">
                                             <li><a href="#view-document" rel="modal:open">General-document-letter.pdf</a></li>
                                             <li><a href="#view-document" rel="modal:open">Financial-reference.pdf</a></li>
                                        </ul>
                                   </div>
                                   <!-- //////////// Document list - END //////////// -->

                                   <!-- //////////// Additonal info - START //////////// -->
                                   <div class="report-info">
                                        <div class="dates-section">
                                             <div class="date">
                                                  <div class="wrapper">
                                                       <span>Reminder date:</span>
                                                       <span class="highlight">06/10/2015</span>
                                                  </div>
                                             </div>
                                             <div class="date">
                                                  <div class="wrapper">
                                                       <span>Review date:</span>
                                                       <span class="highlight">29/11/2015</span>
                                                  </div>
                                             </div>
                                             <div class="date">
                                                  <div class="wrapper">
                                                       <span>Due date:</span>
                                                       <span class="highlight">29/11/2015</span>
                                                  </div>
                                             </div>
                                             <div class="date">
                                                  <div class="wrapper">
                                                       <span>Care plan:</span>
                                                       <span class="highlight">29/11/2015</span>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- <div class="cta-row">
                                             <a href="../9-edit-report/9a-reporting-period.html">Change reporting period</a>
                                             <a href="../9-edit-report/9b-due-date.html">Change due date</a>
                                        </div> -->
                                   </div>
                                   <!-- //////////// Additonal info - END //////////// -->

                                   <div class="finance-container">
                                        <!-- //////////// CONTAINER 1 - START //////////// -->
                                        <div class="item one">
                                             <div class="wrapper">
                                                  <div class="title">Opening balance</div>
                                                  <div class="figure">&pound;<span>368,745</span>.63</div>
                                                  <div class="growth none"><span></span></div>
                                             </div>
                                        </div>
                                        <!-- //////////// CONTAINER 1 - END //////////// -->

                                        <!-- //////////// CONTAINER 2 - START //////////// -->
                                        <div class="item two">
                                             <div class="wrapper">
                                                  <div class="title">Closing balance</div>
                                                  <div class="figure">&pound;<span>302,864</span>.01</div>
                                                  <div class="growth down"><span></span>18%</div>
                                             </div>
                                        </div>
                                        <!-- //////////// CONTAINER 2 - END //////////// -->

                                        <!-- //////////// CONTAINER 3 - START //////////// -->
                                        <div class="item three">
                                             <div class="wrapper">
                                                  <div class="title">Assets</div>
                                                  <div class="figure">&pound;<span>451,125</span>.96</div>
                                                  <div class="growth none"><span></span></div>
                                             </div>
                                        </div>
                                        <!-- //////////// CONTAINER 3 - END //////////// -->

                                   </div>

               			</div>
               			<!-- //////////// Main info - END //////////// -->

                              <!-- //////////// Graphical info - START //////////// -->
                              <div class="charts-container">
                                   <div class="charts">
                                        <div class="chart section-3 one alert">
                                             <div class="icon"></div>
                                             <div class="percentage">&pound;15k</div>
                                        </div>
                                        <div class="chart section-3 two alert">
                                             <div class="icon"></div>
                                             <div class="percentage">&pound;8k</div>
                                        </div>
                                        <div class="chart section-3 three">
                                             <div class="icon"></div>
                                             <div class="percentage">&pound;10k</div>
                                        </div>
                                        <div class="chart section-3 four">
                                             <div class="icon"></div>
                                             <div class="percentage">&pound;7k</div>
                                        </div>
                                        <div class="chart section-3 five">
                                             <div class="icon"></div>
                                             <div class="percentage">&pound;8.7k</div>
                                        </div>
                                   </div>
                                   <div class="chart-instruction">
                                        <div class="title">Gifting</div>
                                        <div class="title">Deputy expenses</div>
                                        <div class="title">Income</div>
                                        <div class="title">Expenses</div>
                                        <div class="title">Care expenses</div>
                                   </div>
                                   <div class="label one">
                                        <div>Annual</div>
                                        <span class="border"></span>
                                   </div>
                                   <div class="label two">
                                        <div>Monthly estimate</div>
                                        <span class="border"></span>
                                   </div>
                              </div>
                              <!-- //////////// Graphical info - END //////////// -->

                         </div>

                         <!-- //////////// View report - START //////////// -->
                         <div class="view-report">
                              <div class="left">
                                   <div class="wrapper">
                                        <span class="icon pdf"></span>
                                        <div class="report-title"><a href="#view-report" rel="modal:open" class="pfa-link">2014-2015-PFA.pdf</a></div>
                                        <p>Recieved: <strong>08/01/2015 - 16:03 PM</strong></p>
                                   </div>
                                   <div class="wrapper">
                                        <span class="icon pdf"></span>
                                        <div class="report-title"><a href="#view-report" rel="modal:open" class="hw-link">2014-2015-H&amp;W.pdf</a></div>
                                        <p>Recieved: <strong>08/01/2015 - 16:03 PM</strong></p>
                                   </div>
                              </div>
                              <div class="right">
                                   <a href="../18-create-report/18a-create-report.html#edit-report-1" class="edit">Edit report</a>
                                   <!-- <a href="#view-report" rel="modal:open" class="main-cta">View report</a> -->
                              </div>
                         </div>
                         <!-- //////////// View report - END //////////// -->

          		</li>
          		<!-- // REPORT - 3 - END // -->

          	</ul>

          </div>

     </div>

</div>
<!-- // REPORTS - END // -->
