<!-- ///////////////////////////////// LETTER CONFIRMATION - START ///////////////////////////////// -->
<div class="row">
	<div class="large-12 large-uncentered columns">
		<div id="deputy-edited" class="confirmation-panel">
			<div class="content">
				<h2>
					<span></span>
					<div class="edit-lay">
						<div class="deputy-title-answer">Mrs</div>
						<div class="deputy-first-name-answer">Kate</div>
						<div class="deputy-last-name-answer">Eloise</div>
					</div>
					<div class="edit-pro">
						<div class="deputy-organisation-name-answer">Connor, Caur &amp; Burrows</div>
					</div>
					<div class="edit-public">
						<div class="deputy-organisation-name-answer">Weston Parpenham</div>
					</div>
					has now been updated
				</h2>
			</div>
		</div>
	</div>
</div>
<!-- ///////////////////////////////// LETTER CONFIRMATION - END ///////////////////////////////// -->
