<!-- ///////////////////////////////// DEPUTY ADDED - START ///////////////////////////////// -->
<div class="row">
	<div class="large-12 large-uncentered columns">
		<!-- // CONFIRMATION MESSAGE - START // -->
		<div id="supervision-level-confirmation" class="confirmation-panel">
			<div class="content">
				<h2>
					<span></span>
					The level of supervision for this case has now been set to
					<div class="supervision-level-answer">Minimal</div>
				</h2>
			</div>
		</div>
		<!-- // CONFIRMATION MESSAGE - END // -->
	</div>
</div>
<!-- ///////////////////////////////// DEPUTY ADDED - END ///////////////////////////////// -->
