<!-- // DRAFTS - START // -->
<div id="client-drafts">

	<h1 class="main section-title">
		<span class="icon drafts"></span>
		Previously created draft letters
	</h1>

	<h2 class="sub-section-title"><span class="icon welfare"></span>Health &amp; welfare drafts</h2>

	<ol class="draft-list">
		<li>
			<span class="title">Blank Receiver.doc</span><br>
			<div class="info">
				<span>
					<div class="icon recipient"></div>
					Recipient:
					<strong class="recipient-name">Mr Gerald Brackens</strong>
				</span><br>
				<span>
					<div class="icon date"></div>
					Date created:
					<strong>25/06/2017 - 13:15</strong>
				</span><br>
				<span>
					<div class="icon saved"></div>
					Last saved:
					<strong>25/06/2017 - 13:15</strong>
				</span><br>
				<a href="2d-edit-letter.html" class="edit">Edit</a>
				<a href="#delete" rel="modal:open" class="delete">Delete</a>
			</div>
		</li>
		<li>
			<span class="title">Blank Receiver.doc</span><br>
			<div class="info">
				<span>
					<div class="icon recipient"></div>
					Recipient:
					<strong class="recipient-name">Mrs Carla Frith</strong>
				</span><br>
				<span>
					<div class="icon date"></div>
					Date created:
					<strong>25/06/2017 - 13:15</strong>
				</span><br>
				<span>
					<div class="icon saved"></div>
					Last saved:
					<strong>25/06/2017 - 13:15</strong>
				</span><br>
				<a href="2d-edit-letter.html" class="edit">Edit</a>
				<a href="#delete" rel="modal:open" class="delete">Delete</a>
			</div>
		</li>
		<li>
			<span class="title">Blank Receiver.doc</span><br>
			<div class="info">
				<span>
					<div class="icon recipient"></div>
					Recipient:
					<strong class="recipient-name">Ms Lara Stevens</strong>
				</span><br>
				<span>
					<div class="icon date"></div>
					Date created:
					<strong>25/06/2017 - 13:15</strong>
				</span><br>
				<span>
					<div class="icon saved"></div>
					Last saved:
					<strong>25/06/2017 - 13:15</strong>
				</span><br>
				<a href="2d-edit-letter.html" class="edit">Edit</a>
				<a href="#delete" rel="modal:open" class="delete">Delete</a>
			</div>
		</li>
		<li>
			<span class="title">OPG Complaint Esc.doc</span><br>
			<div class="info">
				<span>
					<div class="icon recipient"></div>
					Recipient:
					<strong class="recipient-name">Ms Lara Stevens</strong>
				</span><br>
				<span>
					<div class="icon date"></div>
					Date created:
					<strong>04/04/2017 - 09:53</strong>
				</span><br>
				<span>
					<div class="icon saved"></div>
					Last saved:
					<strong>25/06/2017 - 13:15</strong>
				</span><br>
				<a href="2d-edit-letter.html" class="edit">Edit</a>
				<a href="#delete" rel="modal:open" class="delete">Delete</a>
			</div>
		</li>
	</ol>

	<h2 class="sub-section-title"><span class="icon property"></span>Property &amp; finance drafts</h2>

	<ol class="draft-list">
		<li>
			<span class="title">Acknowledgement Letter.doc</span><br>
			<div class="info">
				<span>
					<div class="icon recipient"></div>
					Recipient:
					<strong class="recipient-name">Ms Lara Stevens</strong>
				</span><br>
				<span>
					<div class="icon date"></div>
					Date created:
					<strong>12/20/2016 - 11:09</strong>
				</span><br>
				<span>
					<div class="icon saved"></div>
					Last saved:
					<strong>25/06/2017 - 13:15</strong>
				</span><br>
				<a href="2d-edit-letter.html" class="edit">Edit</a>
				<a href="#delete" rel="modal:open" class="delete">Delete</a>
			</div>
		</li>
	</ol>
</div>
<!-- // DRAFTS - END // -->
