<!-- ///////////////////////////////// DEPUTY ERRORS - START ///////////////////////////////// -->
<div class="row">
	<div class="large-12 large-uncentered columns">
		<div id="error-message" class="confirmation-panel error-message">
			<div class="content">
				<h1>
					<span></span>
					There appears to be a problem with the form
				</h1>
				<p>Some of the fields require your attention:</p>
				<ul>
					<li class="wrong-reference"><a href="#ref-error">Reference number - this does not appear to be a valid Howdens reference number</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- ///////////////////////////////// DEPUTY ERRORS - END ///////////////////////////////// -->
