<!-- ///////////////////////////////// NEW CLIENT ADDED - START ///////////////////////////////// -->
<div id="new-client-summary">
	<div class="no-items">
		<p>
			"<span class="client-title">Mr</span>
			<span class="client-first-name">Gerald</span>
			<span class="client-last-name">Brackens</span>"
			is a brand new client so no dashboard is available for them yet,
			the more information you add the more the more will appear on the dashboard.
		</p>
		<a href="../1-create-case/1a-the-order.html" class="main-cta">Create case</a>
	</div>
</div>
<!-- ///////////////////////////////// NEW CLIENT ADDED - END ///////////////////////////////// -->
