<!-- /////////////// FILTER PANEL - START /////////////// -->
<div id="filter-panel-documents">
	<div id="scroller-anchor"></div>
	<div id="scroller">
		<form class="document-filter">
			<label for="filter-category" class="float-left title-label">Filter</label>
			<nav>
				<ul>
					<li>
						<a class="filter-all-documents checked">All</a>
					</li>
					<li>
						<label><input type="checkbox" value="visit" name="document-value">Visits</label>
					</li>
					<li>
						<label><input type="checkbox" value="report" name="document-value">Reports</label>
					</li>
					<li>
						<label><input type="checkbox" value="correspondence" name="document-value">Correspondence</label>
					</li>
					<li>
						<label><input type="checkbox" value="court" name="document-value">Court documents</label>
					</li>
					<li>
						<label><input type="checkbox" value="other" name="document-value">Other</label>
					</li>
				</ul>
			</nav>
		</form>
	</div>
</div>
<!-- /////////////// FILTER PANEL - END /////////////// -->
