<!-- /////////////// FILTER PANEL - START /////////////// -->
<div class="filter-panel client-controller caseworker-search">
	<div id="scroller-anchor"></div>
	<div id="scroller" style="position: relative;" class="scroller-clients">
		<form class="search-filters client-filter" action="search.html">

			<div class="filter-buttons">

				<div class="main-filter">
					<div class="wrapper dashboard-search">
						<label for="filter-category" class="float-left title-label">Filter</label>
                         	<input type="text" id="dashboard-client-search" onkeyup="myFunction()" class="search-table" placeholder="Search clients..." >
					</div>
				</div>

				<div class="filter-select-all-clear">
					<a href="#" class="clear-filter">Clear search</a>
				</div>

			</div>

		</form>
	</div>
</div>
<!-- /////////////// FILTER PANEL - END /////////////// -->
