<!-- /////////////// FILTER PANEL - START /////////////// -->
<div class="filter-panel completed-tasks">
	<div id="scroller-anchor"></div>
	<div id="scroller" style="position: relative;" class="">
		<form class="search-filters completed-tasks">

			<!-- <div class="search-section">
				<input type="search" name="search" id="search-table" onkeyup="myFunction()" placeholder="Search for clients name..." autocomplete="off">
			</div> -->
			<div class="filter-buttons">

				<!-- <h1>Clients</h1> -->

				<div class="main-filter">
					<label for="filter-date-completed" class="float-left title-label">Filter</label>
					<div class="section-1">
						<select id="filter-date-completed" class="">
							<option value="">-- Timeline --</option>
							<option value="Today">Today</option>
							<option value="Last 7 days">Last 7 days</option>
							<option value="Last month">Last month</option>
							<option value="Last 60 days">Last 60 days</option>
							<option value="All">All completed tasks</option>
						</select>

					</div>
					<div class="section-2">
						<select id="filter-type-task" class="filter-type-task">
							<option value="">-- Select task type --</option>
							<option value="CWRD">Case Work - Reply Due</option>
							<option value="ORRE">Order - Review the order</option>
							<option value="ORAL">Order - Allocate to team</option>
							<option value="INAR">Intro - Arrange settling in</option>
							<option value="INSE">Intro - Settling in call</option>
							<option value="INNDR">Intro - New Deputy Report</option>
							<option value="VICO">Visit - Commission</option>
							<option value="VIRE">Visit - Required</option>
							<option value="VIURE">Visit - Urgent required</option>
							<option value="VIRD">Visit - Report due</option>
						</select>
						<!-- <input id="filter-type-completed" name="filter-type-completed" type="text" value="" placeholder="Enter task type..."> -->
					</div>
					<!-- <div class="section-3">
						<input class="filter-completed-user" name="filter-completed-user" type="text" value="" placeholder="Enter user...">
					</div> -->
				</div>

				<div class="filter-numbers">
					<div class="wrapper">
						<p>
							<span class="number">1</span>
							<br>
							<span class="desc">task</span>
						</p>
					</div>
				</div>

				<div class="filter-select-all-clear">
					<a href="#" class="clear-filter">Clear filter</a>
				</div>

			</div>

		</form>

		<div class="row hidden-sorter">
			<div class="large-12 large-uncentered columns">
				<div class="wrapper">
					<table class="tablesorter">
						<thead>
							<tr class="three-column">
								<th><span></span>Type</th>
								<th><span></span>Case type</th>
								<th><span></span>Completed</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- /////////////// FILTER PANEL - END /////////////// -->
