<!-- /////////////// FILTER PANEL - START /////////////// -->
<div class="filter-panel task-controller">
	<div id="scroller-anchor" class="scroller-anchor"></div>
	<div id="scroller" style="position: relative;" class="scroller-tasks scroller">
		<form class="search-filters task-filter">

			<!-- <div class="search-section">
				<input type="search" name="search" id="search-table" onkeyup="myFunction()" placeholder="Search for clients name..." autocomplete="off">
			</div> -->
			<div class="filter-buttons">

				<!-- <h1>Clients</h1> -->

				<div class="main-filter">
					<div class="wrapper">
						<label for="filter-tasks-category" class="float-left title-label">Filter</label>
						<select id="filter-tasks-category" class="filter-tasks-category">
							<option value="">My tasks</option>
							<!-- <option value="My tasks">My tasks</option> -->
							<option value="My teams tasks">My teams tasks</option>
							<option value="Supervision tasks">Supervision tasks</option>
							<option value="Another user">A user</option>
							<option value="Another team">Another team</option>
							<option value="Task type">Task type</option>
							<option value="Due date">Due date</option>
							<!-- <option value="Unassigned">Unassigned</option> -->
						</select>
					</div>
				</div>

				<div class="filter">

					<!-- ///////////////// Filter Item - A - START ///////////////// -->
					<div class="step-1 filter-a">
						<div class="wrapper">
							<input class="tasks-team-user-in-team" name="tasks-team-user-in-team" type="text" value="" placeholder="Enter team member...">
						</div>
					</div>
					<!-- ///////////////// Filter Item - A - END ///////////////// -->

					<!-- ///////////////// Filter Item - C - START ///////////////// -->
					<div class="step-1 filter-c">
						<div class="wrapper">
							<select id="my-tasks-due-date" class="">
								<option value="">-- Due date --</option>
								<option value="Today">Today</option>
								<option value="Next 7 days">Next 7 days</option>
								<option value="Next month">Next month</option>
								<option value="Next 60 days">Next 60 days</option>
								<option value="All">All due tasks</option>
							</select>
						</div>
					</div>
					<!-- ///////////////// Filter Item - C - END ///////////////// -->

					<!-- ///////////////// Filter Item - D - START ///////////////// -->
					<div class="step-1 filter-d">
						<div class="wrapper">
							<select id="my-tasks-another-team" class="">
								<option value="">-- Select team --</option>
								<option value="Team 1">Team 1</option>
								<option value="Team 2">Team 2</option>
								<option value="Team 3">Team 3</option>
								<option value="Team 4">Team 4</option>
								<option value="Team 5">Team 5</option>
							</select>
						</div>
					</div>
					<!-- ///////////////// Filter Item - D - END ///////////////// -->

					<!-- ///////////////// Filter Item - E - START ///////////////// -->
					<div class="step-1 filter-e">
						<div class="wrapper">
							<input class="filter-another-user" name="filter-another-user" type="text" value="" placeholder="Enter a user...">
						</div>
					</div>
					<!-- ///////////////// Filter Item - E - END ///////////////// -->

					<!-- ///////////////// Filter Item - B - START ///////////////// -->
					<!-- <div class="step-1 filter-b">
						<div class="wrapper">
							<input class="filter-type-task" name="filter-type-task" type="text" value="" placeholder="Enter task name...">
						</div>
					</div> -->
					<div class="step-1 filter-b">
						<div class="wrapper">
							<select id="filter-type-task" class="filter-type-task">
								<option value="">-- Select task type --</option>
								<option value="CWRD">Case Work - Reply Due</option>
                                        <option value="ORRE">Order - Review the order</option>
                                        <option value="ORAL">Allocate client</option>
                                        <option value="INAR">Intro - Arrange settling in</option>
                                        <option value="INSE">Intro - Settling in call</option>
                                        <option value="INNDR">Intro - New Deputy Report</option>
                                        <option value="VICO">Visit - Commission</option>
                                        <option value="VIRE">Visit - Required</option>
                                        <option value="VIURE">Visit - Urgent required</option>
                                        <option value="VIRD">Visit - Report due</option>
							</select>
						</div>
					</div>
					<!-- ///////////////// Filter Item - B - END ///////////////// -->

					<!-- ///////////////// Filter Item - 1 - START ///////////////// -->
					<div class="step-2">
						<label for="my-tasks-assign-to" class="float-left re-assign-title title-label hide">Reassign</label>
						<select id="my-tasks-assign-to" class="my-tasks-assign-to">
							<option value="">-- Reassign to --</option>
							<!-- <option value="Me">Me</option> -->
							<option value="User in my team">User in my team</option>
							<option value="Another user">Another user</option>
							<option value="My team">My team</option>
							<option value="Other team">Other team</option>
						</select>
					</div>
					<!-- ///////////////// Filter Item - 1 - END ///////////////// -->

					<div class="step-3">

						<!-- // FILTER ITEM - A - START // -->
						<div class="answer-my-team">
							<input class="my-tasks-user-in-team" name="my-tasks-user-in-team" type="text" value="" placeholder="Enter user...">
						</div>
						<!-- // FILTER ITEM - A - END // -->

						<!-- // FILTER ITEM - B - START // -->
						<div class="answer-another-user">
							<input class="my-tasks-user-another-team" name="my-tasks-user-another-team" type="text" value="" placeholder="Enter other users...">
						</div>
						<!-- // FILTER ITEM - B - END // -->

						<!-- // FILTER ITEM - C - START // -->
						<div class="answer-task-team">
							<!-- <label for="task-team">Select team</label> -->
							<select id="my-tasks-team" class="my-tasks-team">
								<option value="">-- Select team --</option>
								<option value="Lay">Lay</option>
								<option value="Professional">Professional</option>
								<option value="Public authority">Public authority</option>
							</select>
						</div>
						<!-- // FILTER ITEM - C - END // -->

					</div>
					<div class="step-4">
						<a class="re-assign-my-tasks main-cta re-assign de-activate">Reassign</a>
					</div>
				</div>

				<div class="filter-numbers">
					<div class="wrapper">
						<p>
							<span class="number">23</span>
							<br>
							<span class="desc">tasks</span>
						</p>
					</div>
				</div>

				<div class="filter-select-all-clear">
					<label class="normal select-all-tasks" for="select-all-tasks">
						<input id="select-all-tasks" name="select-all-tasks" type="checkbox" value="select-all-tasks">
						Select all
					</label>
					<a href="#" class="clear-filter">Clear filter</a>
					<a href="#" class="cancel cancel-re-assign">Cancel</a>
				</div>

			</div>

		</form>

		<div class="row hidden-sorter">
               <div class="large-12 large-uncentered columns">
				<div class="wrapper">
					<table class="tablesorter dashboard-tasks-table">
						<thead>
							<tr class="four-column">
								<th style="width: 55%;"><span></span>Type</th>
								<th style="width: 15%;"><span></span>Task due date</th>
								<th style="width: 15%;" class="non-sort">Case type</th>
								<!-- <th><span></span>Task status</th> -->
								<th style="width: 15%;"><span></span>Assigned to</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- /////////////// FILTER PANEL - END /////////////// -->

<!-- /////////////// REASSIGN PANEL - START /////////////// -->
<div class="re-assign-panel task-controller">
	<div id="scroller-anchor" class="scroller-anchor"></div>
	<div id="scroller" style="position: relative;" class="scroller-tasks scroller">
		<form class="search-filters task-filter">

			<div class="filter-buttons">

				<div class="filter">

					<!-- ///////////////// Filter Item - 1 - START ///////////////// -->
					<div class="step-2">
						<label for="my-tasks-assign-to" class="float-left re-assign-title title-label">Reassign</label>
						<select id="my-tasks-assign-to" class="my-tasks-assign-to">
							<option value="">-- Reassign to --</option>
							<!-- <option value="Me">Me</option> -->
							<option value="User in my team">User in my team</option>
							<option value="Another user">Another user</option>
							<option value="My team">My team</option>
							<option value="Other team">Another team</option>
						</select>
					</div>
					<!-- ///////////////// Filter Item - 1 - END ///////////////// -->

					<div class="step-3">

						<!-- // FILTER ITEM - A - START // -->
						<div class="answer-my-team">
							<input class="my-tasks-user-in-team" name="my-tasks-user-in-team" type="text" value="" placeholder="Enter user...">
						</div>
						<!-- // FILTER ITEM - A - END // -->

						<!-- // FILTER ITEM - B - START // -->
						<div class="answer-another-user">
							<input class="my-tasks-user-another-team" name="my-tasks-user-another-team" type="text" value="" placeholder="Enter other users...">
						</div>
						<!-- // FILTER ITEM - B - END // -->

						<!-- // FILTER ITEM - C - START // -->
						<div class="answer-task-team">
							<select id="my-tasks-team" class="my-tasks-team">
								<option value="">-- Select team --</option>
								<option value="Lay">Lay</option>
								<option value="Professional">Professional</option>
								<option value="Public authority">Public authority</option>
							</select>
						</div>
						<!-- // FILTER ITEM - C - END // -->

					</div>
					<div class="step-4">
						<a class="re-assign-my-tasks main-cta re-assign" href="#re-assign-tasks" rel="modal:open">Reassign</a>
					</div>
				</div>

				<div class="filter-numbers">
					<div class="wrapper">
						<p>
							<span class="number">23</span>
							<br>
							<span class="desc">tasks</span>
						</p>
					</div>
				</div>

				<div class="filter-select-all-clear">
					<!-- <a href="#" class="clear-filter">Clear filter</a> -->
					<a href="#" class="cancel cancel-re-assign">Cancel</a>
				</div>

			</div>

		</form>

		<div class="row hidden-sorter">
			<div class="large-12 large-uncentered columns">
				<div class="wrapper">
					<table class="tablesorter">
						<thead>
							<tr class="four-column">
								<th style="width: 55%;"><span></span>Type</th>
								<th style="width: 15%;"><span></span>Task due date</th>
								<th style="width: 15%;" class="non-sort">Case type</th>
								<!-- <th><span></span>Task status</th> -->
								<th style="width: 15%;"><span></span>Assigned to</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- /////////////// REASSIGN PANEL - START /////////////// -->
