<!-- /////////////////////////// DOCUMENT 1 - START /////////////////////////// -->
<h2 class="section-title doc-title">
	Preview document:
	<div class="current-doc-info">
		<span class="number">1</span>
		<span>
			<div class="recipient-name">Mr Gerald Brackens</div> -
			<div class="current-document-title"> </div>
		</span>
	</div>
</h2>

<!-- // CONFIRMATION MESSAGE - START // -->
<div class="row">
	<div class="large-12 large-uncentered columns">
		<div id="draft-saved" class="confirmation-panel">
			<div class="content">
				<h2>
					<span></span>
					Your letter(s) has been
					<div class="message-1">created</div>
					<script language="JavaScript">

						Stamp = new Date();
						year = Stamp.getYear();
						if (year < 2000) year = 1900 + year;
						document.write('<div class="date-text"> - ' + (Stamp.getMonth() + 1) +"/"+Stamp.getDate()+ "/"+ year + '</div>');
						var Hours;
						var Mins;
						var Time;
						Hours = Stamp.getHours();
						if (Hours >= 12) {
							Time = " P.M.";
						}
						else {
							Time = " A.M.";
						}
						if (Hours > 12) {
							Hours -= 12;
						}
						if (Hours == 0) {
							Hours = 12;
						}
						Mins = Stamp.getMinutes();
							if (Mins < 10) {
							Mins = "0" + Mins;
						}
						document.write('<div class="time-text">, ' + Hours + ":" + Mins + Time + '</div>');
					</script>
				</h2>
			</div>
		</div>
	</div>
</div>
<!-- // CONFIRMATION MESSAGE - END // -->

<div id="documents-viewer-simplified">

	<!-- // DOCUMENT 1 - START // -->
	<div class="form-group" id="documents-1">

		<div class="doc-container document-1">

			<div class="page-2 document-viewing-panel" style="display: block;">
				<div class="control-panel">
					<h2 class="doc-type">
						<div class="recipient-name">Ms Lara Stevens</div> -
						<div class="current-document-title">OPG Complaint Ack.doc</div>
					</h2>
					<img src="../../../production/img/V21/control-panel.png" alt="Document" class="control-panel-buttons">
				</div>
				<div class="wrapper">
					<img src="../../../production/img/V21/document-report.png" alt="Document">
				</div>
			</div>
		</div>

	</div>
	<!-- // DOCUMENT 1 - END // -->

	<!-- // DOCUMENT 2 - START // -->
	<div class="form-group" id="documents-2">

	<div class="doc-container document-2">

			<div class="page-2 document-viewing-panel" style="display: block;">
				<div class="control-panel">
					<h2 class="doc-type">
						<div class="recipient-name">Ms Lara Stevens</div> -
						<div class="current-document-title">OPG Complaint Ack.doc</div>
					</h2>
					<img src="../../../production/img/V21/control-panel.png" alt="Document" class="control-panel-buttons">
				</div>
				<div class="wrapper">
					<img src="../../../production/img/V21/document-report.png" alt="Document">
				</div>
			</div>
		</div>

	</div>
	<!-- // DOCUMENT 2 - END // -->

	<!-- // DOCUMENT 3 - START // -->
	<div class="form-group" id="documents-3">

		<div class="doc-container document-3">

			<div class="page-2 document-viewing-panel" style="display: block;">
				<div class="control-panel">
					<h2 class="doc-type">
						<div class="recipient-name">Ms Lara Stevens</div> -
						<div class="current-document-title">OPG Complaint Ack.doc</div>
					</h2>
					<img src="../../../production/img/V21/control-panel.png" alt="Document" class="control-panel-buttons">
				</div>
				<div class="wrapper">
					<img src="../../../production/img/V21/document-report.png" alt="Document">
				</div>
			</div>
		</div>

	</div>
	<!-- // DOCUMENT 3 - END // -->

	<!-- // DOCUMENT 4 - START // -->
	<div class="form-group" id="documents-4">

		<div class="doc-container document-4">

			<div class="page-2 document-viewing-panel" style="display: block;">
				<div class="control-panel">
					<h2 class="doc-type">
						<div class="recipient-name">Ms Lara Stevens</div> -
						<div class="current-document-title">OPG Complaint Ack.doc</div>
					</h2>
					<img src="../../../production/img/V21/control-panel.png" alt="Document" class="control-panel-buttons">
				</div>
				<div class="wrapper">
					<img src="../../../production/img/V21/document-report.png" alt="Document">
				</div>
			</div>
		</div>

	</div>
	<!-- // DOCUMENT 4 - END // -->

	<!-- // DOCUMENT 5 - START // -->
	<div class="form-group" id="documents-5">

		<div class="doc-container document-5">

			<div class="page-2 document-viewing-panel" style="display: block;">
				<div class="control-panel">
					<h2 class="doc-type">
						<div class="recipient-name">Ms Lara Stevens</div> -
						<div class="current-document-title">OPG Complaint Ack.doc</div>
					</h2>
					<img src="../../../production/img/V21/control-panel.png" alt="Document" class="control-panel-buttons">
				</div>
				<div class="wrapper">
					<img src="../../../production/img/V21/document-report.png" alt="Document">
				</div>
			</div>
		</div>

	</div>
	<!-- // DOCUMENT 5 - END // -->

</div>

<!-- /////////////////////////// DOCUMENT 1 - END /////////////////////////// -->
