<h2 class="description-title with-border">
	<div class="summary-intro-text">Your <strong>teams</strong> weekly snapshot</div>
	<form class="summary-tab-selector">
          <label for="summary-type-team" class="radio normal checked">
               <input id="summary-type-team" type="radio" name="summary-type" value="Team" checked>
			<span class="icon team"></span>
               Team
          </label>
          <label for="summary-type-sirius" class="radio normal">
               <input id="summary-type-sirius" type="radio" name="summary-type" value="Sirius">
			<span class="icon sirius"></span>
               Sirius
          </label>
	</form>
</h2>

<div class="summary-team-review">

	<!-- /////////////////////////////////// ROW 1 - START /////////////////////////////////// -->
	<div class="dashboard-item-container summary row-1">

		<!-- // CHART ITEM - 1 - START // -->
		<div class="dashboard-item chart-container green">
			<figure class="dashboard-chart chart-one animate">
				<svg role="img" xmlns="http://www.w3.org/2000/svg">
					<title>Current</title>
					<desc>Desc</desc>
					<circle class="circle-background"></circle>
					<circle class="circle-foreground"></circle>
				</svg>
				<figcaption>Target <strong>85%</strong></figcaption>
				<div class="chart-text">Target <strong>85%</strong></div>
			</figure>
			<div class="figures">
				<h1>April 2017 to March 2018</h1>
				<div class="row b-data">
					<div class="large-6 large-uncentered columns">
						<h2><strong>Received (Days)</strong><span class="border"></span></h2>
						<h3>40</h3>
						<h3>39</h3>
						<p>Target</p>
						<p>Current</p>
					</div>
					<div class="large-6 large-uncentered columns">
						<h2><strong>Lodged (Days)</strong><span class="border"></span></h2>
						<h3>15</h3>
						<h3>9</h3>
						<p>Target</p>
						<p>Current</p>
					</div>
				</div>
				<div class="c-data">
					<div>
						<h2>Target:</h2>
						<h3>767</h3>
					</div>
					<div>
						<h2>Current:</h2>
						<h3>358</h3>
					</div>
					<div>
						<h2>Needed:</h2>
						<h3>409</h3>
					</div>
					<div>
						<h2>Percent:</h2>
						<h3>47%</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- // CHART ITEM - 1 - END // -->

		<!-- // CHART ITEM - 2 - START // -->
		<div class="dashboard-item chart-container green">
			<figure class="dashboard-chart chart-two animate">
				<svg role="img" xmlns="http://www.w3.org/2000/svg">
					<title>Current</title>
					<desc>Desc</desc>
					<circle class="circle-background"></circle>
					<circle class="circle-foreground"></circle>
				</svg>
				<figcaption>Target <strong>85%</strong></figcaption>
				<div class="chart-text">Target <strong>85%</strong></div>
			</figure>
			<div class="figures">
				<h1>February 2018</h1>
				<div class="row b-data">
					<div class="large-6 large-uncentered columns">
						<h2><strong>Received (Days)</strong><span class="border"></span></h2>
						<h3>40</h3>
						<h3>40</h3>
						<p>Target</p>
						<p>Current</p>
					</div>
					<div class="large-6 large-uncentered columns">
						<h2><strong>Lodged (Days)</strong><span class="border"></span></h2>
						<h3>15</h3>
						<h3>8</h3>
						<p>Target</p>
						<p>Current</p>
					</div>
				</div>
				<div class="c-data">
					<div>
						<h2>Reviewed</h2>
						<h3>63</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- // CHART ITEM - 2 - END // -->

	</div>
	<!-- /////////////////////////////////// ROW 1 - END /////////////////////////////////// -->

	<!-- /////////////////////////////////// ROW 2 - START /////////////////////////////////// -->
	<div class="dashboard-item-container summary row-2">

		<!-- // CHART ITEM - 1 - START // -->
		<div class="dashboard-item small-item green">
			<h1>Introductory calls</h1>
			<div class="rag-rating">
				<span class="traffic-light"></span>
				<span class="traffic-light"></span>
				<span class="traffic-light green"></span>
				<div class="border"></div>
			</div>
			<div class="number green">-3</div>
			<div class="sub-data">
				<div class="row">
					<div class="large-6 large-uncentered columns">
						<h2>Inbound</h2>
						<h3>160</h3>
					</div>
					<div class="large-6 large-uncentered columns">
						<h2>Cleared</h2>
						<h3>160</h3>
					</div>
				</div>
				<div class="row">
					<div class="large-6 large-uncentered columns">
						<h2>Outstanding (this week)</h2>
						<h3>76</h3>
					</div>
					<div class="large-6 large-uncentered columns">
						<h2>Outstanding (last week)</h2>
						<h3>79</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- // CHART ITEM - 1 - END // -->

		<!-- // CHART ITEM - 2 - START // -->
		<div class="dashboard-item small-item red">
			<h1>Settling in calls</h1>
			<div class="rag-rating">
				<span class="traffic-light"></span>
				<span class="traffic-light"></span>
				<span class="traffic-light green"></span>
				<div class="border"></div>
			</div>
			<div class="number red">+19</div>
			<div class="sub-data">
				<div class="row">
					<div class="large-6 large-uncentered columns">
						<h2>Inbound</h2>
						<h3>168</h3>
					</div>
					<div class="large-6 large-uncentered columns">
						<h2>Cleared</h2>
						<h3>149</h3>
					</div>
				</div>
				<div class="row">
					<div class="large-6 large-uncentered columns">
						<h2>Outstanding (this week)</h2>
						<h3>57</h3>
					</div>
					<div class="large-6 large-uncentered columns">
						<h2>Outstanding (last week)</h2>
						<h3>38</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- // CHART ITEM - 2 - END // -->

		<!-- // CHART ITEM - 3 - START // -->
		<div class="dashboard-item small-item green">
			<h1>Catch-up calls</h1>
			<div class="rag-rating">
				<span class="traffic-light"></span>
				<span class="traffic-light"></span>
				<span class="traffic-light green"></span>
				<div class="border"></div>
			</div>
			<div class="number green">-14</div>
			<div class="sub-data">
				<div class="row">
					<div class="large-6 large-uncentered columns">
						<h2>Inbound</h2>
						<h3>127</h3>
					</div>
					<div class="large-6 large-uncentered columns">
						<h2>Cleared</h2>
						<h3>161</h3>
					</div>
				</div>
				<div class="row">
					<div class="large-6 large-uncentered columns">
						<h2>Outstanding (this week)</h2>
						<h3>13</h3>
					</div>
					<div class="large-6 large-uncentered columns">
						<h2>Outstanding (last week)</h2>
						<h3>27</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- // CHART ITEM - 3 - END // -->

	</div>
	<!-- /////////////////////////////////// ROW 2 - END /////////////////////////////////// -->

	<!-- /////////////////////////////////// ROW 3 - START /////////////////////////////////// -->
	<div class="dashboard-item-container summary row-3 hide">

		<!-- // CHART ITEM - 1 - START // -->
		<div class="dashboard-item small-item">
			<h1>New assessments</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 1 - END // -->

		<!-- // CHART ITEM - 2 - START // -->
		<div class="dashboard-item small-item">
			<h1>Visit commissions</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 2 - END // -->

		<!-- // CHART ITEM - 3 - START // -->
		<div class="dashboard-item small-item">
			<h1>Visit reviews (Green/amber)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 3 - END // -->

		<!-- // CHART ITEM - 4 - START // -->
		<div class="dashboard-item small-item">
			<h1>Visit reviews (Red)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 4 - END // -->

		<!-- // CHART ITEM - 5 - START // -->
		<div class="dashboard-item small-item">
			<h1>Assurance visit commissions (Deputy)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 5 - END // -->

		<!-- // CHART ITEM - 6 - START // -->
		<div class="dashboard-item small-item">
			<h1>Assurance report reviews (Deputy)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 6 - END // -->

		<!-- // CHART ITEM - 7 - START // -->
		<div class="dashboard-item small-item">
			<h1>Assurance visit commissions (Client)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 7 - END // -->

		<!-- // CHART ITEM - 8 - START // -->
		<div class="dashboard-item small-item">
			<h1>Assurance report reviews (Client)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 8 - END // -->

		<!-- // CHART ITEM - 9 - START // -->
		<div class="dashboard-item small-item">
			<h1>Professional deputy review</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 9 - END // -->

		<!-- // CHART ITEM - 10 - START // -->
		<div class="dashboard-item small-item">
			<h1>Annual account (Lodging - new)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 10 - END // -->

		<!-- // CHART ITEM - 11 - START // -->
		<div class="dashboard-item small-item">
			<h1>Annual account (Lodging - further info)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 11 - END // -->

		<!-- // CHART ITEM - 12 - START // -->
		<div class="dashboard-item small-item">
			<h1>Annual account (Lodging - incompletes)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 12 - END // -->

		<!-- // CHART ITEM - 13 - START // -->
		<div class="dashboard-item small-item">
			<h1>Annual account (Full review - ready)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 13 - END // -->

		<!-- // CHART ITEM - 14 - START // -->
		<div class="dashboard-item small-item">
			<h1>Annual account (Full review - awaiting input)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 14 - END // -->

		<!-- // CHART ITEM - 15 - START // -->
		<div class="dashboard-item small-item">
			<h1>Annual account (Gifting review)</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 15 - END // -->

		<!-- // CHART ITEM - 16 - START // -->
		<div class="dashboard-item small-item">
			<h1>Reassessments</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 16 - END // -->

		<!-- // CHART ITEM - 17 - START // -->
		<div class="dashboard-item small-item">
			<h1>Correspondence</h1>
			<div>
				<h2>Sub title</h2>
				<h3><span class="direction up"></span>8.8%</h3>
			</div>
		</div>
		<!-- // CHART ITEM - 17 - END // -->

	</div>
	<!-- /////////////////////////////////// ROW 3 - END /////////////////////////////////// -->

	<!-- /////////////////////////////////// ROW 4 - START /////////////////////////////////// -->
	<div class="dashboard-item-container summary row-1 hide">

		<!-- // CHART ITEM - 1 - START // -->
		<div class="dashboard-item chart-container">
			<figure class="dashboard-chart chart-one animate">
				<svg role="img" xmlns="http://www.w3.org/2000/svg">
					<title>Performance</title>
					<desc>Desc</desc>
					<circle class="circle-background"></circle>
					<circle class="circle-foreground"></circle>
				</svg>
				<figcaption>Teams performance</figcaption>
				<div class="chart-text">Teams performance</div>
			</figure>
		</div>
		<!-- // CHART ITEM - 1 - END // -->

		<!-- // CHART ITEM - 2 - START // -->
		<div class="dashboard-item chart-container red">
			<figure class="dashboard-chart chart-two animate">
				<svg role="img" xmlns="http://www.w3.org/2000/svg">
					<title>Outstanding tasks</title>
					<desc>Desc</desc>
					<circle class="circle-background"></circle>
					<circle class="circle-foreground"></circle>
				</svg>
				<figcaption>Outstanding tasks</figcaption>
				<div class="chart-text">Outstanding tasks</div>
			</figure>
		</div>
		<!-- // CHART ITEM - 2 - END // -->

		<!-- // CHART ITEM - 3 - START // -->
		<div class="dashboard-item chart-container green">
			<figure class="dashboard-chart chart-three animate">
				<svg role="img" xmlns="http://www.w3.org/2000/svg">
					<title>Completed tasks</title>
					<desc>Desc</desc>
					<circle class="circle-background"></circle>
					<circle class="circle-foreground"></circle>
				</svg>
				<figcaption>Completed tasks</figcaption>
				<div class="chart-text">Completed tasks</div>
			</figure>
		</div>
		<!-- // CHART ITEM - 3 - END // -->

		<!-- // CHART ITEM - 4 - START // -->
		<div class="dashboard-item info-container">
			<div class="charts-container">
				<div class="charts">
					<div class="chart one">
						<div class="icon"></div>
						<div class="percentage">32%</div>
					</div>
					<div class="chart two">
						<div class="icon"></div>
						<div class="percentage">55%</div>
					</div>
					<div class="chart three">
						<div class="icon"></div>
						<div class="percentage">25%</div>
					</div>
					<div class="chart four">
						<div class="icon"></div>
						<div class="percentage">75%</div>
					</div>
					<div class="chart five">
						<div class="icon"></div>
						<div class="percentage">20%</div>
					</div>
				</div>
				<div class="chart-instruction">
					<div class="chart-title">Title 1</div>
					<div class="chart-title">Title 2</div>
					<div class="chart-title">Title 3</div>
					<div class="chart-title">Title 4</div>
					<div class="chart-title">Title 5</div>
				</div>
				<div class="label one">
					<div>Sub title 1</div>
					<span class="border"></span>
				</div>
				<div class="label two">
					<div>Sub title 2</div>
					<span class="border"></span>
				</div>
			</div>
		</div>
		<!-- // CHART ITEM - 4 - END // -->

	</div>
	<!-- /////////////////////////////////// ROW 4 - END /////////////////////////////////// -->


	<div class="dashboard-item-container summary row-3">

		<!-- // CHART ITEM - 1 - START // -->
		<div class="dashboard-item user-summary">
			<h1>Joe Bloggs</h1>
			<span class="tfe">TFE: <strong>37.5</strong></span>
			<!-- <figure class="dashboard-chart chart-one animate">
				<svg role="img" xmlns="http://www.w3.org/2000/svg">
					<circle class="circle-background"></circle>
					<circle class="circle-foreground"></circle>
				</svg>
				<figcaption>Joe Bloggs</figcaption>
				<div class="chart-text">capacity</div>
			</figure> -->
			<div class="stats">
				<div>
					<h2>75</h2>
					<h3>Deputies</h3>
				</div>
				<div>
					<h2>7</h2>
					<h3>Tasks</h3>
				</div>
				<div>
					<h2 class="green">0</h2>
					<h3>Overdue<br>tasks</h3>
				</div>
			</div>
			<a href="#" class="main-cta filter-joe-bloggs">View tasks</a>
		</div>
		<!-- // CHART ITEM - 1 - END // -->

		<!-- // CHART ITEM - 2 - START // -->
		<div class="dashboard-item user-summary">
			<h1>Simon Carter</h1>
			<span class="tfe">TFE: <strong>37.5</strong></span>
			<!-- <figure class="dashboard-chart chart-two animate">
				<svg role="img" xmlns="http://www.w3.org/2000/svg">
					<circle class="circle-background"></circle>
					<circle class="circle-foreground"></circle>
				</svg>
				<figcaption>Simon Carter</figcaption>
				<div class="chart-text">capacity</div>
			</figure> -->
			<div class="stats">
				<div>
					<h2>32</h2>
					<h3>Deputies</h3>
				</div>
				<div>
					<h2>2</h2>
					<h3>Tasks</h3>
				</div>
				<div>
					<h2 class="green">0</h2>
					<h3>Overdue<br>tasks</h3>
				</div>
			</div>
			<a href="#" class="main-cta filter-simon-carter">View tasks</a>
		</div>
		<!-- // CHART ITEM - 2 - END // -->

		<!-- // CHART ITEM - 3 - START // -->
		<div class="dashboard-item user-summary">
			<h1>David Harper</h1>
			<span class="tfe">TFE: <strong>22.5</strong></span>
			<!-- <figure class="dashboard-chart chart-three animate">
				<svg role="img" xmlns="http://www.w3.org/2000/svg">
					<circle class="circle-background"></circle>
					<circle class="circle-foreground"></circle>
				</svg>
				<figcaption>David Harper</figcaption>
				<div class="chart-text">capacity</div>
			</figure> -->
			<div class="stats">
				<div>
					<h2>53</h2>
					<h3>Deputies</h3>
				</div>
				<div>
					<h2>18</h2>
					<h3>Tasks</h3>
				</div>
				<div>
					<h2 class="red">4</h2>
					<h3>Overdue<br>tasks</h3>
				</div>
			</div>
			<a href="#" class="main-cta filter-david-harper">View tasks</a>
		</div>
		<!-- // CHART ITEM - 3 - END // -->

		<!-- // CHART ITEM - 4 - START // -->
		<div class="dashboard-item user-summary">
			<h1>Siobhan McDermot</h1>
			<span class="tfe">TFE: <strong>22.5</strong></span>
			<!-- <figure class="dashboard-chart chart-four animate">
				<svg role="img" xmlns="http://www.w3.org/2000/svg">
					<circle class="circle-background"></circle>
					<circle class="circle-foreground"></circle>
				</svg>
				<figcaption>Siobhan McDermot</figcaption>
				<div class="chart-text">capacity</div>
			</figure> -->
			<div class="stats">
				<div>
					<h2>42</h2>
					<h3>Deputies</h3>
				</div>
				<div>
					<h2>11</h2>
					<h3>Tasks</h3>
				</div>
				<div>
					<h2 class="green">0</h2>
					<h3>Overdue<br>tasks</h3>
				</div>
			</div>
			<a href="#" class="main-cta filter-siobhan-mcdermot">View tasks</a>
		</div>
		<!-- // CHART ITEM - 4 - END // -->

		<!-- // CHART ITEM - 5 - START // -->
		<div class="dashboard-item user-summary">
			<h1>Hannah Nixon</h1>
			<span class="tfe">TFE: <strong>37.5</strong></span>
			<!-- <figure class="dashboard-chart chart-five animate">
				<svg role="img" xmlns="http://www.w3.org/2000/svg">
					<circle class="circle-background"></circle>
					<circle class="circle-foreground"></circle>
				</svg>
				<figcaption>Hannah Nixon</figcaption>
				<div class="chart-text">capacity</div>
			</figure> -->
			<div class="stats">
				<div>
					<h2>23</h2>
					<h3>Deputies</h3>
				</div>
				<div>
					<h2>7</h2>
					<h3>Tasks</h3>
				</div>
				<div>
					<h2 class="red">1</h2>
					<h3>Overdue<br>tasks</h3>
				</div>
			</div>
			<a href="#" class="main-cta filter-hannah-nixon">View tasks</a>
		</div>
		<!-- // CHART ITEM - 5 - END // -->

		<!-- // CHART ITEM - 6 - START // -->
		<div class="dashboard-item user-summary">
			<h1>Tom Watson</h1>
			<span class="tfe">TFE: <strong>37.5</strong></span>
			<!-- <figure class="dashboard-chart chart-six animate">
				<svg role="img" xmlns="http://www.w3.org/2000/svg">
					<circle class="circle-background"></circle>
					<circle class="circle-foreground"></circle>
				</svg>
				<figcaption>Tom Watson</figcaption>
				<div class="chart-text">capacity</div>
			</figure> -->
			<div class="stats">
				<div>
					<h2>7</h2>
					<h3>Deputies</h3>
				</div>
				<div>
					<h2>18</h2>
					<h3>Tasks</h3>
				</div>
				<div>
					<h2 class="red">2</h2>
					<h3>Overdue<br>tasks</h3>
				</div>
			</div>
			<a href="#" class="main-cta filter-tom-watson">View tasks</a>
		</div>
		<!-- // CHART ITEM - 6 - END // -->

	</div>

</div>

<div class="summary-sirius-review">

	<div class="dashboard-item-container summary row-1">
		<p class="place-holder-text">Sirius data will appear here</p>
	</div>

</div>
