<!-- // LIST OF SUMMARIES - START // -->
<div id="list-of-summary">

	<!-- <div class="no-items">
		<p>There are no summary for this client as we have yet to enter more info.</p>
		<a href="#" class="main-cta">Create case</a>
	</div> -->

	<!-- // ================================ DASHBOARD CONTENT - START ================================ // -->
	<div class="row">
		<div class="large-12 large-uncentered columns">
			<div id="client-summary">

				<!-- ///////////////////// ROW - 1 - START ///////////////////// -->
				<div class="dashboard-row two-items">

					<!-- // ITEM 1 - START // -->
					<div class="item with-title">
						<div class="title"><span class="important"></span><p>Important remarks</p></div>
						<ol>
							<li>Quisque accumsan eu nisi consectetur maximus.</li>
							<li>Nulla molestie nibh vitae lorem rutrum finibus.</li>
							<li>Integer id porta metus.</li>
							<li>Donec tincidunt consequat aliquet. </li>
						</ol>
					</div>
					<!-- // ITEM 1 - END // -->

					<!-- // ITEM 2 - START // -->
					<div class="item full-colour-block alert-colour">
						<section class="alert three-text-items">
							<h1 class="sub-text">non-compliant for:</h1>
							<h1 class="main-text">30</h1>
							<h2 class="sub-text">days</h2>
						</section>
					</div>
					<!-- // ITEM 2 - END // -->

				</div>
				<!-- ///////////////////// ROW - 1 - END ///////////////////// -->

				<!-- ///////////////////// ROW - 2 - START ///////////////////// -->
				<div class="dashboard-row three-items">

					<!-- // ITEM 1 - START // -->
					<div class="item deputies with-title">
						<div class="title"><p>Deputy</p></div>
						<span class="number">1</span>
						<i class="deputy"></i>
						<h1>Lara Stevens<span class="fee-payer"></span></h1>
						<div class="info"><span>Type:</span> <strong>Lay deputy</strong></div>
			               <div class="info"><span>Address:</span> <strong>92 Greyfriars Road, CANNOCK WOOD, W5154AA</strong></div>
			               <div class="info"><span>Relationship:</span> <strong>Sister</strong></div>
					</div>
					<!-- // ITEM 1 - END // -->

					<!-- // ITEM 2 - START // -->
					<div class="item deputies with-title">
						<div class="title"><p>Deputy</p></div>
						<span class="number">2</span>
						<i class="deputy"></i>
						<h1>Carla Frith</h1>
						<div class="info"><span>Type:</span> <strong>Lay deputy</strong></div>
			               <div class="info"><span>Address:</span> <strong>40 Haslemere Road, CANNOCK WOOD, W5174LD</strong></div>
			               <div class="info"><span>Relationship:</span> <strong>Sister</strong></div>
					</div>
					<!-- // ITEM 2 - END // -->

					<!-- // ITEM 3 - START // -->
					<div class="item deputies with-title">
						<div class="title"><p>Deputy</p></div>
						<span class="number">3</span>
						<i class="deputy"></i>
						<h1>Melanie Rand</h1>
						<div class="info"><span>Type:</span> <strong>Lay deputy</strong></div>
			               <div class="info"><span>Address:</span> <strong>70 Moulton Road, Gunby Green, N6334RF</strong></div>
			               <div class="info"><span>Relationship:</span> <strong>Daughter</strong></div>
					</div>
					<!-- // ITEM 3 - END // -->

				</div>
				<!-- ///////////////////// ROW - 2 - END ///////////////////// -->

				<!-- ///////////////////// ROW - 3 - START ///////////////////// -->
				<div class="dashboard-row two-items">

					<!-- // ITEM 1 - START // -->
					<div class="item full-colour-block main-colour alert">
						<section class="two-text-items">
							<h1 class="main-text">&pound;200</h1>
							<h2 class="sub-text">Outstanding payment</h2>
						</section>
					</div>
					<!-- // ITEM 1 - END // -->

					<!-- // ITEM 2 - START // -->
					<div class="item with-title">
						<div class="title"><span class="history"></span><p>Case history</p></div>
						<ol>
							<li>Quisque accumsan eu nisi consectetur maximus.</li>
							<li>Nulla molestie nibh vitae lorem rutrum finibus.</li>
							<li>Integer id porta metus.</li>
							<li>Donec tincidunt consequat aliquet. </li>
						</ol>
					</div>
					<!-- // ITEM 2 - END // -->

				</div>
				<!-- ///////////////////// ROW - 3 - END ///////////////////// -->

			</div>
		</div>
	</div>
	<!-- //  ================================ DASHBOARD CONTENT - END ================================ // -->

</div>
<!-- // LIST OF SUMMARIES - END // -->
