<!-- // LIST OF DEPUTIES - START // -->
<div id="list-of-tasks">

	<div class="no-items">
		<p>There are no tasks currently added to this client.</p>
		<a href="#" class="main-cta">Create task</a>
	</div>

	<!-- // COMMISSION VISIT MESSAGE - START // -->
	<div class="row">
		<div class="large-12 large-uncentered columns">
			<ol id="task-list">

				<h2 class="description-title">Your outstanding tasks</h2>

				<!-- // CONFIRMATION MESSAGE - START // -->
				<div class="row">
					<div class="large-12 large-uncentered columns">
						<div id="confirmation-dashboard-visit" class="confirmation-panel">
							<div class="content">
								<h2>
									<span></span>
									Your visit has been commissioned to
									<div class="client-first-name">Gerald</div>
									<div class="client-last-name">Brackens</div>
								</h2>
							</div>
						</div>
					</div>
				</div>
				<!-- // CONFIRMATION MESSAGE - END // -->

				<!-- /////////////////////////// LI ITEM 1 - START /////////////////////////// -->
				<li class="outstanding pdf-review">

					<span class="dot"></span>

					<form>

						<!-- // FORM ITEM - 1 - START // -->
                              <div class="form-group">
                                   <label class="normal" for="confirm-read">
                                        <input id="confirm-read" name="confirm-read" type="checkbox" value="post">
								<span class="icon"></span>
                                        Visit report received

								<!-- // STATUS - START // -->
								<div class="status">
									outstanding
								</div>
								<!-- // STATUS - END // -->

                                   </label>
                              </div>
                              <!-- // FORM ITEM - 1 - END // -->

					</form>

					<a href="#review-report-2" rel="modal:open" class="indent">Review report</a>

				</li>
				<!-- /////////////////////////// LI ITEM 1 - END /////////////////////////// -->

			</ol>
		</div>
	</div>
	<!-- // COMMISSION VISIT MESSAGE - END // -->

</div>
<!-- // LIST OF DEPUTIES - END // -->

<!-- // MODAL - START // -->
<div id="review-report-2" style="display:none;">
	<img src="../../../production/img/V9/document-thumbnail.png" alt="Document" class="document-item">
</div>
<!-- // MODAL - END // -->
