<!-- // ACTIONS NAV - START // -->
<nav class="actions-nav client-panel">

	<h1>Perform client task:</h1>

	<ul>

		<li class="supervision client-death-button">
			<a href="../16-client-death/16a-client-death.html" class="action deputy-death">
				<span class="text">deceased</span>
				<span>Record client death</span>
			</a>
		</li>

		<li class="seperator client-death-seperator"></li>

		<li class="supervision">
			<a href="../7-edit-client/7a-edit-client.html" class="action edit-client">
				<span class="icon"></span>
				<span>Edit client</span>
			</a>
		</li>
		<li class="allocations">
			<a href="../1-create-case/1a-the-order.html" class="action create-case">
				<span class="icon"></span>
				<span>Create case</span>
			</a>
		</li>
		<li class="supervision">
			<a href="../17-warnings/17a-create-warning.html" class="action warnings">
				<span class="icon"></span>
				<span>Create important remark</span>
			</a>
		</li>
	</ul>

</nav>
<!-- // ACTIONS NAV - END // -->
