<!-- ///////////////////////////////// OVERVIEW SUMMARY - START ///////////////////////////////// -->
<div id="client-summary">

	<div class="row" id="client-has-died">
		<div class="large-12 large-uncentered columns">
			<!-- // CONFIRMATION MESSAGE - START // -->
			<div class="confirmation-panel">
				<div class="content">
					<h2>
						<span></span>
						The client's <div>DECEASED</div>
					</h2>
				</div>
			</div>
			<!-- // CONFIRMATION MESSAGE - END // -->
		</div>
	</div>

	<!-- ///////////////////// ROW - 1 - START ///////////////////// -->
	<!-- <div class="dashboard-row full-width content-items-4">

		<div class="item client-info">
			<div class="left">
				<span class="icon accommodation"></span>
			</div>
			<div class="right">
				<p>Accommodation type</p>
				<h1 class="client-accommodation">LA Nursing home</h1>
			</div>
		</div>

		<div class="item client-info">
			<div class="left">
				<span class="icon dob"></span>
			</div>
			<div class="right">
				<p>Born</p>
				<h1>
					<span class="client-dob-day">25</span>
					<span>/</span>
					<span class="client-dob-month">06</span>
					<span>/</span>
					<span class="client-dob-year">1943</span>
					<span class="age">74</span>
				</h1>
			</div>
		</div>

		<div class="item client-info">
			<div class="left">
				<span class="icon medical"></span>
			</div>
			<div class="right">
				<p>Medical condition</p>
				<h1><span class="client-medical-condition">Alzheimer's</span></h1>
			</div>
		</div>

		<div class="item client-info client-status-info">
			<div class="left">
				<span class="icon status"></span>
			</div>
			<div class="right">
				<p>Client status</p>
				<h1>Active</h1>
			</div>
		</div>

	</div> -->
	<!-- ///////////////////// ROW - 1 - END ///////////////////// -->

	<!-- ///////////////////// ROW - 2 - START ///////////////////// -->
	<div class="dashboard-row two-items">

		<!-- // ITEM 1 - START // -->
		<div class="item with-title important-remarks">
			<div class="title"><span class="important"></span><p>Warnings</p></div>
			<ol class="summary-list warnings-overview-list">
				<li data-value="2">
					<p class="remark-title">
						<span class="title-info">Risk to the client</span>
						<a href="#delete-important-remark-modal" rel="modal:open" class="main-cta tertiary delete-remark-list">Remove</a>
						<!-- <a href="#" class="main-cta tertiary view">View</a> -->
					</p>
					<p class="date"><span class="icon date"></span> Date created: <strong>21/09/2017 - 13:15 PM</strong> </p>
					<p class="answer">
						A recent visitor report highlighted that the deputies have not been to see
						the client once this year. This is according to the nursing home care manager.
						This is contrary to what the deputy says in the report.
					</p>
				</li>
				<li data-value="3">
					<p class="remark-title">
						<span class="title-info">Outstanding issues</span>
						<a href="#delete-important-remark-modal" rel="modal:open" class="main-cta tertiary delete-remark-list">Remove</a>
						<!-- <a href="#" class="main-cta tertiary view">View</a> -->
					</p>
					<p class="date"><span class="icon date"></span> Date created: <strong>17/07/2017 - 10:32 AM</strong> </p>
					<div class="answer">
						<p>Deputy has been <strong>aggressive in the past</strong> during phone calls.</p>
						<ul class="bullet-list">
							<li><p class="answer">Called last case worker a foul name</p></li>
							<li><p class="answer">Has threaten a visitor</p></li>
							<li><p class="answer">Has threaten the client and the other deputies on the order</p></li>
						</ul>
					</div>
				</li>
				<li data-value="4">
					<p class="remark-title">
						<span class="title-info">Safeguarding issues</span>
						<a href="#delete-important-remark-modal" rel="modal:open" class="main-cta tertiary delete-remark-list">Remove</a>
						<!-- <a href="#" class="main-cta tertiary view">View</a> -->
					</p>
					<p class="date"><span class="icon date"></span> Date created: <strong>25/06/2017 - 08:17 AM</strong> </p>
					<p class="answer">
						A recent visitor report highlighted that the client was looking very disheveled
						and wearing very old clothes. Has not had regular pocket money deposited.
					</p>
				</li>
				<li data-value="5">
					<p class="remark-title">
						<span class="title-info">Client is violent</span>
						<a href="#delete-important-remark-modal" rel="modal:open" class="main-cta tertiary delete-remark-list">Remove</a>
						<!-- <a href="#" class="main-cta tertiary view">View</a> -->
					</p>
					<p class="date"><span class="icon date"></span> Date created: <strong>15/03/2017 - 15:03 PM</strong> </p>
					<p class="answer">
						Gerald is not physically violent, but has been known to be verbally abusive to
						care home staff.
					</p>
				</li>
			</ol>
		</div>
		<!-- // ITEM 1 - END // -->

		<!-- // ITEM 2 - START // -->
		<div id="client-details-summary" class="item with-title">
			<div class="title"><span class="deputy"></span><p>Client details</p></div>

			<!-- <a href="#" class="open">View full details</a> -->

			<div id="flexbox-container" class="two-column">

				<!-- // CLIENT ITEM - 1 - START // -->
				<div class="person-detail-item">
					<p class="item">Accommodation type</p>
					<p class="answer client-accommodation">LA Nursing home</p>
				</div>
				<!-- // CLIENT ITEM - 1 - END // -->

				<!-- // CLIENT ITEM - 2 - START // -->
				<div class="person-detail-item">
					<p class="item">Court reference</p>
					<p class="answer client-casarec">123456789</p>
				</div>
				<!-- // CLIENT ITEM - 2 - END // -->

				<!-- // CLIENT ITEM - 3 - START // -->
				<div class="person-detail-item">
					<p class="item">Client status</p>
					<p class="answer client-status">Active</p>
				</div>
				<!-- // CLIENT ITEM - 3 - END // -->

				<!-- // CLIENT ITEM - 4 - START // -->
				<div class="person-detail-item">
					<p class="item">Status date</p>
					<p class="answer">
						<span class="client-status-day">09</span>/<span class="client-status-month">09</span>/<span class="client-status-year">2017</span>
					</p>
				</div>
				<!-- // CLIENT ITEM - 4 - END // -->

				<!-- // CLIENT ITEM - 5 - START // -->
				<div class="person-detail-item">
					<p class="item">Name</p>
					<p class="answer">
						<span class="client-title">Mr.</span>
						<span class="client-first-name">Gerald</span>
						<span class="client-middle-name">Stephen</span>
						<span class="client-last-name">Brackens</span>
					</p>
				</div>
				<!-- // CLIENT ITEM - 5 - END // -->

				<!-- // CLIENT ITEM - 6 - START // -->
				<div class="person-detail-item">
					<p class="item">Previously known as</p>
					<p class="answer client-previously-known-as">N/A</p>
				</div>
				<!-- // CLIENT ITEM - 6 - END // -->

				<!-- // CLIENT ITEM - 7 - START // -->
				<div class="person-detail-item">
					<p class="item">Date of birth</p>
					<p class="answer">
						<span class="client-dob-day">09</span>/
						<span class="client-dob-month">09</span>/
						<span class="client-dob-year">1983</span>
					</p>
				</div>
				<!-- // CLIENT ITEM - 7 - END // -->

				<!-- // CLIENT ITEM - 8 - START // -->
				<div class="person-detail-item">
					<p class="item">Address</p>
					<p class="answer">
						<span class="client-address-line-1">1 Grimwald Place</span>,<br>
						<span class="client-address-town">Buckley</span>,<br>
						<span class="client-address-county">Flintshire</span>,<br>
						<span class="client-manual-postcode">CV32 788</span>.
						<span class="answer client-country">England</span>
					</p>
				</div>
				<!-- // CLIENT ITEM - 8 - END // -->

				<!-- // CLIENT ITEM - 9 - START // -->
				<div class="person-detail-item">
					<p class="item">Is airmail required?</p>
					<p class="answer client-airmail">No</p>
				</div>
				<!-- // CLIENT ITEM - 9 - END // -->

				<!-- // CLIENT ITEM - 10 - START // -->
				<div class="person-detail-item">
					<p class="item">Daytime telephone number</p>
					<p class="answer client-phone-number">0123456789</p>
				</div>
				<!-- // CLIENT ITEM - 10 - END // -->

				<!-- // CLIENT ITEM - 11 - START // -->
				<div class="person-detail-item">
					<p class="item">Mobile telephone number</p>
					<p class="answer client-mob-number">07768948823</p>
				</div>
				<!-- // CLIENT ITEM - 11 - END // -->

				<!-- // CLIENT ITEM - 12 - START // -->
				<div class="person-detail-item">
					<p class="item">Email address</p>
					<p class="answer client-email">gerald.brackens@hotmail.com</p>
				</div>
				<!-- // CLIENT ITEM - 12 - END // -->

				<!-- // CLIENT ITEM - 13 - START // -->
				<div class="person-detail-item">
					<p class="item">Financial reference</p>
					<p class="answer client-financial">192848291</p>
				</div>
				<!-- // CLIENT ITEM - 13 - END // -->

				<!-- // CLIENT ITEM - 12 - START // -->
				<!-- <div class="person-detail-item">
					<p class="item">Casarec Number:</p>
					<p class="answer client-casarec">183920478</p>
				</div> -->
				<!-- // CLIENT ITEM - 12 - END // -->

				<!-- // CLIENT ITEM - 15 - START // -->
				<div class="person-detail-item">
					<p class="item">Medical condition</p>
					<p class="answer client-medical-condition-answer">Alzheimer's</p>
				</div>
				<!-- // CLIENT ITEM - 15 - END // -->

				<!-- // CLIENT ITEM - 16 - START // -->
				<div class="person-detail-item">
					<p class="item">Marital status</p>
					<p class="answer client-marital-status">Divorced</p>
				</div>
				<!-- // CLIENT ITEM - 16 - END // -->

				<!-- // CLIENT ITEM - 17 - START // -->
				<div class="person-detail-item">
					<p class="item">How would the client liked to be contacted?</p>
					<ul class="answer">
						<li class="client-correspondence-post">Post</li>
						<li class="client-correspondence-email">Email</li>
					</ul>
				</div>
				<!-- // CLIENT ITEM - 17 - END // -->

				<!-- // CLIENT ITEM - 18 - START // -->
				<div class="person-detail-item">
					<p class="item">Is the client a violent risk?</p>
					<p class="answer client-violent-risk">No</p>
				</div>
				<!-- // CLIENT ITEM - 18 - END // -->

			</div>
		</div>
		<!-- // ITEM 2 - END // -->

	</div>
	<!-- ///////////////////// ROW - 2 - END ///////////////////// -->

</div>
<!-- ///////////////////////////////// OVERVIEW SUMMARY - END ///////////////////////////////// -->
