<!-- // TIMELINE - END // -->
<div id="list-of-timeline">

	<!-- <div class="no-items">
		<p>There are no summary for this client as we have yet to enter more info.</p>
		<a href="#" class="main-cta">Create case</a>
	</div> -->

	<!-- // HORIZONTAL TIMELINE - START // -->
	<div class="row">
		<div class="large-12 large-uncentered columns">

			<div id="horizontal-timeline" class="pfa-content-item">

				<h2 class="description-title">
					Financial details timeline
					<a class="show-chart hide-item close">Show timeline</a>
				</h2>

				<div id="chartdiv"></div>

			</div>

		</div>
	</div>
	<!-- // HORIZONTAL TIMELINE - END // -->

	<!-- // HORIZONTAL TIMELINE - START // -->
	<div class="row">
		<div class="large-12 large-uncentered columns">

			<h2 class="pfa-content-item description-title">
				Supervision level timeline
				<a class="show-supervision hide-item close">Show timeline</a>
			</h2>

			<div id="supervision-timeline" class="pfa-content-item">

				<!-- Start - START -->
				<div class="start">
					<div class="dot"></div>
					<div class="text">
						Start
						<span>27/07/2016</span>
					</div>
					<div class="notes">
						Client received £569K from insurance award for head injury
					</div>
				</div>
				<!-- Start - END -->

				<!-- Type 1 - START -->
				<div class="type one">General</div>
				<!-- Type 1 - START -->

				<!-- Change 1 - START -->
				<div class="change one">
					<div class="dot"></div>
					<div class="text">
						07/09/2016
					</div>
					<div class="notes">
						102 Report shows assets less than £21K
					</div>
				</div>
				<!-- Change 1 - END -->

				<!-- Type 2 - START -->
				<div class="type two">Minimal</div>
				<!-- Type 2 - START -->

				<!-- Change 2 - START -->
				<div class="change two">
					<div class="dot"></div>
					<div class="text">
						21/11/2016
					</div>
					<div class="notes">
						102 Report shows assets less than £21K
					</div>
				</div>
				<!-- Change 2 - END -->

				<!-- Type 3 - START -->
				<div class="type three">Minimal</div>
				<!-- Type 3 - START -->

				<!-- Change 3 - START -->
				<div class="change three">
					<div class="dot"></div>
					<div class="text">
						05/01/2017
					</div>
					<div class="notes">
						First year of supervision, assessed as general from Order Date
					</div>
				</div>
				<!-- Change 3 - END -->

				<!-- Type 4 - START -->
				<div class="type four">General</div>
				<!-- Type 4 - START -->

				<!-- End - START -->
				<div class="end">
					<div class="dot"></div>
					<div class="text">
						End
						<span>30/01/2017</span>
					</div>
				</div>
				<!-- End - END -->
			</div>

		</div>
	</div>
	<!-- // HORIZONTAL TIMELINE - END // -->


	<!-- // TIMELINE - START // -->
	<div class="row">
		<div class="large-12 large-uncentered columns">

			<h2 class="description-title">
				Order timeline
				<a class="reverse-timeline">Reverse timeline</a>
			</h2>

			<div id="filter-panel">
				<div id="scroller-anchor"></div>
				<div id="scroller">
					<form class="timeline-filter">
						<label for="filter-category" class="float-left title-label">Filter</label>
						<nav>
							<ul>
								<li>
									<a class="filter-all checked">All</a>
								</li>
								<li>
									<label><input type="checkbox" value="one" name="filter-value">Supervision level</label>
								</li>
								<li>
									<label><input type="checkbox" value="two" name="filter-value">Order details</label>
								</li>
								<li>
									<label><input type="checkbox" value="three" name="filter-value">Client details</label>
								</li>
								<li>
									<label><input type="checkbox" value="four" name="filter-value">Tasks completed</label>
								</li>
							</ul>
						</nav>
					</form>
				</div>
			</div>

			<ol id="vertical-timeline">

				<div id="filter-results" class="order-1">Filtered timeline results...</div>

				<!-- DATE INDICATOR - START -->
				<li class="sectionContent date-indicator all order-2">
					<span class="dot"></span>
					<span class="border"></span>
					<div>Today</div>
				</li>
				<!-- DATE INDICATOR - END -->

				<!-- /////////////////////////// LI ITEM 1 - START /////////////////////////// -->
				<li class="sectionContent pdf-review four all order-3">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon"></span>
								Visit report received
							</h2>
						</div>
						<a href="#review-report-1" rel="modal:open" class="documents">Review report</a>
					</div>

					<span class="dot end"></span>

				</li>
				<!-- /////////////////////////// LI ITEM 1 - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM 2 - START /////////////////////////// -->
				<li class="sectionContent case one all order-4">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon"></span>
								Level of Supervision
								<div class="created"><span class="icon"></span>Updated by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>06 Jul 2017 14:22 — #XU</div>
							</h2>
						</div>
						<p>Level of supervision set to <strong>General</strong> from 01/01/2017</p>
						<p>Notes: <strong>Notes</strong></p>
					</div>

					<span class="dot end"></span>

				</li>
				<!-- /////////////////////////// LI ITEM 2 - END /////////////////////////// -->

				<!-- DATE INDICATOR - START -->
				<li class="sectionContent date-indicator all order-5">
					<span class="dot"></span>
					<span class="border"></span>
					<div>This week</div>
				</li>
				<!-- DATE INDICATOR - END -->

				<!-- /////////////////////////// LI ITEM 3 - START /////////////////////////// -->
				<li class="sectionContent commission-visit four all order-6">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon"></span>
								Commissioned visit
							</h2>
						</div>
						<a class="more-info indent">More info</a>

						<div class="details">

							<!-- // DEPUTY ITEM - 1 - START // -->
							<div class="visit-detail-item">
								<span class="item">Order no.:</span>
								<span class="answer case-no">29273638201</span>
							</div>
							<!-- // DEPUTY ITEM - 1 - END // -->

							<!-- // DEPUTY ITEM - 2 - START // -->
							<div class="visit-detail-item">
								<span class="item">Visiting:</span>
								<span class="answer">
									<ul id="visiting">
									</ul>
								</span>
							</div>
							<!-- // DEPUTY ITEM - 2 - END // -->

							<!-- // DEPUTY ITEM - 3 - START // -->
							<div class="visit-detail-item">
								<span class="item">Team:</span>
								<span class="answer visit-team">Health &amp; welfare teams</span>
							</div>
							<!-- // DEPUTY ITEM - 3 - END // -->

							<!-- // DEPUTY ITEM - 4 - START // -->
							<div class="visit-detail-item">
								<span class="item">Type of visit:</span>
								<span class="answer type-of-visit"></span>
							</div>
							<!-- // DEPUTY ITEM - 4 - END // -->

							<!-- // DEPUTY ITEM - 5 - START // -->
							<div class="visit-detail-item">
								<span class="item">Due back date:</span>
								<span class="answer visit-due-back-date">Fri Apr 28 2017</span>
							</div>
							<!-- // DEPUTY ITEM - 5 - END // -->

							<!-- // DEPUTY ITEM - 6 - START // -->
							<div class="visit-detail-item">
								<span class="item">Commission date:</span>
								<span class="answer visit-commission-date">Fri Apr 28 2017</span>
							</div>
							<!-- // DEPUTY ITEM - 6 - END // -->

						</div>

					</div>

					<span class="dot end"></span>

				</li>
				<!-- /////////////////////////// LI ITEM 3 - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM 4 - START /////////////////////////// -->
				<li class="sectionContent case two all order-7">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon"></span>
								Order created
							</h2>
						</div>
						<p>Date created: <strong>Tue Apr 18 2017</strong></p>

					</div>

					<span class="dot end"></span>

				</li>
				<!-- /////////////////////////// LI ITEM 4 - END /////////////////////////// -->

				<!-- DATE INDICATOR - START -->
				<li class="sectionContent date-indicator all order-8">
					<span class="dot"></span>
					<span class="border"></span>
					<div>This month</div>
				</li>
				<!-- DATE INDICATOR - END -->

				<!-- /////////////////////////// LI ITEM 5 - START /////////////////////////// -->
				<li class="sectionContent case one all order-9">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon"></span>
								Level of Supervision
								<div class="created"><span class="icon"></span>Updated by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>06 Jul 2017 14:22 — #XU</div>
							</h2>
						</div>
						<p>Level of supervision set to <strong>General</strong> from 01/01/2017</p>
						<p>Notes: <strong>Notes</strong></p>
					</div>

					<span class="dot end"></span>

				</li>
				<!-- /////////////////////////// LI ITEM 5 - END /////////////////////////// -->

				<!-- DATE INDICATOR - START -->
				<li class="sectionContent date-indicator all order-10">
					<span class="dot"></span>
					<span class="border"></span>
					<div>Older</div>
				</li>
				<!-- DATE INDICATOR - END -->

				<!-- /////////////////////////// LI ITEM 6 - START /////////////////////////// -->
				<li class="sectionContent client one all order-11">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon"></span>
								Level of Supervision
								<div class="created"><span class="icon"></span>Updated by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>06 Jul 2017 14:23 — #XWClient</div>
							</h2>
						</div>

						<p><strong>Super Mario</strong> (700000002472)</p>
						<p>Court Reference 11605598</p>
						<p>SageID 123453 changed to 1234532</p>
						<p>Status date: <strong>01/01/2009 changed to 01/01/2010</strong></p>

					</div>

					<span class="dot end"></span>

				</li>
				<!-- /////////////////////////// LI ITEM 6 - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM 7 - START /////////////////////////// -->
				<li class="sectionContent case one all order-12">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon"></span>
								Level of Supervision
								<div class="created"><span class="icon"></span>Updated by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>06 Jul 2017 14:22 — #XU</div>
							</h2>
						</div>
						<p>Level of supervision set to <strong>General</strong> from 01/01/2017</p>
						<p>Notes: <strong>Notes</strong></p>
					</div>

					<span class="dot end"></span>

				</li>
				<!-- /////////////////////////// LI ITEM 7 - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM 8 - START /////////////////////////// -->
				<li class="sectionContent case two all order-13">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon"></span>
								Order created
								<div class="created"><span class="icon"></span>Created by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>06 Jul 2017 14:21 — #XROrder</div>
							</h2>
						</div>
						<p><strong>PFA 7000-0000-2506</strong></p>
						<p>Order case (7000-0000-2506) created on: <strong>06/07/2017</strong></p>
					</div>

					<span class="dot end"></span>

				</li>
				<!-- /////////////////////////// LI ITEM 8 - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM 9 - START /////////////////////////// -->
				<li class="sectionContent client three all order-14">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon"></span>
								Client phone number
								<div class="created"><span class="icon"></span>Created by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>06 Jul 2017 14:17 — #XPPhone Number</div>
							</h2>
						</div>
						<p>Work number was changed to <strong>07476989745</strong></p>
					</div>

					<span class="dot end"></span>

				</li>
				<!-- /////////////////////////// LI ITEM 9 - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM 10 - START /////////////////////////// -->
				<li class="sectionContent client three all order-15">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon"></span>
								Client address
								<div class="created"><span class="icon"></span>Created by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>06 Jul 2017 14:17 — #XO</div>
							</h2>
						</div>
						<p><strong>Address updated</strong></p>
						<p>128 middleton hall, harborne, b, Birmingham, West Midlands, B301SL, United Kingdom.</p>
					</div>

					<span class="dot end"></span>

				</li>
				<!-- /////////////////////////// LI ITEM 10 - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM 11 - START /////////////////////////// -->
				<li class="sectionContent client three all order-16">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon"></span>
								Client created
								<div class="created"><span class="icon"></span>Created by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>06 Jul 2017 14:17 — #XN</div>
							</h2>
						</div>
						<p><strong>Super Mario</strong> (7000-0000-2472)</p>
						<p>Court Reference: <strong>11605598</strong></p>
					</div>

					<span class="dot end"></span>

				</li>
				<!-- /////////////////////////// LI ITEM 11 - END /////////////////////////// -->

			</ol>
		</div>
	</div>
	<!-- // TIMELINE - END // -->

</div>
<!-- // TIMELINE - END // -->

<!-- // MODAL - START // -->
<div id="review-report-1" style="display:none;">
	<img src="../../../production/img/V20/document-thumbnail.png" alt="Document" class="document-item">
</div>
<!-- // MODAL - END // -->

<!-- SCRIPT CONTENT - START -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="../../../production/js/V20/chart.js"></script>

<script type="text/javascript">

     if($(window).width() > 481) {
          $(function() {
               moveScroller();
          });
     }

</script>
<!-- SCRIPT CONTENT - END -->
