<!-- // LIST OF SUMMARIES - START // -->
<div id="list-of-timeline">

	<div class="no-items">
		<p>There are no summary for this client as we have yet to enter more info.</p>
		<a href="#" class="main-cta">Create case</a>
	</div>

	<!-- // CONFIRMATION MESSAGE - START // -->
	<div class="row">
		<div class="large-12 large-uncentered columns">
			<div id="visit-confirmation" class="confirmation-panel">
				<div class="content">
					<h2>
						<span></span>
						A visit has now been commission to:
						<ul id="visits">
						</ul>
					</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- // CONFIRMATION MESSAGE - END // -->

	<!-- // COMMISSION VISIT MESSAGE - START // -->
	<div class="row">
		<div class="large-12 large-uncentered columns">
			<ol id="task-list">

				<!-- /////////////////////////// LI ITEM 1 - START /////////////////////////// -->
				<li class="outstanding pdf-review">

					<span class="dot"></span>

					<form>

						<!-- // FORM ITEM - 1 - START // -->
                              <div class="form-group">
                                   <label class="normal" for="confirm-read">
                                        <input id="confirm-read" name="confirm-read" type="checkbox" value="post">
								<span class="icon"></span>
                                        Visit report received

								<!-- // STATUS - START // -->
								<div class="status">
									outstanding
								</div>
								<!-- // STATUS - END // -->

                                   </label>
                              </div>
                              <!-- // FORM ITEM - 1 - END // -->

					</form>

					<a href="#review-report-1" rel="modal:open" class="indent">Review report</a>

				</li>
				<!-- /////////////////////////// LI ITEM 1 - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM 2 - START /////////////////////////// -->
				<li>

					<span class="dot"></span>

					<!-- // ACTION TITLE - 1 - START // -->
					<div class="title">
                              <h2>
							<span class="icon"></span>
							Commissioned visit
						</h2>
					</div>
					<!-- // ACTION TITLE - 1 - END // -->

					<a class="more-info indent">More info</a>

					<div class="details">

						<!-- // DEPUTY ITEM - 1 - START // -->
	                         <div class="visit-detail-item">
	                              <span class="item">Case no.:</span>
	                              <span class="answer case-no">29273638201</span>
	                         </div>
	                         <!-- // DEPUTY ITEM - 1 - END // -->

						<!-- // DEPUTY ITEM - 2 - START // -->
	                         <div class="visit-detail-item">
	                              <span class="item">Visiting:</span>
							<span class="answer">
								<ul id="visiting">
								</ul>
							</span>
	                         </div>
	                         <!-- // DEPUTY ITEM - 2 - END // -->

						<!-- // DEPUTY ITEM - 3 - START // -->
	                         <div class="visit-detail-item">
	                              <span class="item">Team:</span>
	                              <span class="answer visit-team">Health &amp; welfare teams</span>
	                         </div>
	                         <!-- // DEPUTY ITEM - 3 - END // -->

						<!-- // DEPUTY ITEM - 4 - START // -->
	                         <div class="visit-detail-item">
	                              <span class="item">Type of visit:</span>
	                              <span class="answer type-of-visit"></span>
	                         </div>
	                         <!-- // DEPUTY ITEM - 4 - END // -->

						<!-- // DEPUTY ITEM - 5 - START // -->
	                         <div class="visit-detail-item">
	                              <span class="item">Due back date:</span>
	                              <span class="answer visit-due-back-date">Fri Apr 28 2017</span>
	                         </div>
	                         <!-- // DEPUTY ITEM - 5 - END // -->

						<!-- // DEPUTY ITEM - 6 - START // -->
	                         <div class="visit-detail-item">
	                              <span class="item">Commission date:</span>
	                              <span class="answer visit-commission-date">Fri Apr 28 2017</span>
	                         </div>
	                         <!-- // DEPUTY ITEM - 6 - END // -->

					</div>

				</li>
				<!-- /////////////////////////// LI ITEM 2 - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM 3 - START /////////////////////////// -->
				<li class="case">

					<span class="dot"></span>

					<!-- // ACTION TITLE - 1 - START // -->
					<div class="title">
						<h2>
							<span class="icon"></span>
							Case created
						</h2>
					</div>
					<!-- // ACTION TITLE - 1 - END // -->

					<p class="indent">Date created: <strong>Tue Apr 18 2017</strong></p>

				</li>
				<!-- /////////////////////////// LI ITEM 3 - END /////////////////////////// -->


			</ol>
		</div>
	</div>
	<!-- // COMMISSION VISIT MESSAGE - END // -->

</div>
<!-- // LIST OF SUMMARIES - END // -->

<!-- // MODAL - START // -->
<div id="review-report-1" style="display:none;">
	<img src="../../../production/img/V8/document-thumbnail.png" alt="Document" class="document-item">
</div>
<!-- // MODAL - END // -->
