<nav class="progress-bar create-report">
	<ul class="steps-four">
		<li class="step-1">
			<a href="18a-reporting-period.html" class="wrapper">
				<div class="number"><span>1</span></div>
				<p>Reporting period</p>
			</a>
		</li>
		<li class="step-2">
			<a href="18b-due-date.html" class="wrapper">
				<div class="number"><span>2</span></div>
				<p>Report due date</p>
			</a>
		</li>
		<li class="step-3">
			<a href="18c-level-102.html" class="wrapper">
				<div class="number"><span>3</span></div>
				<p>Complete a 102 report</p>
			</a>
		</li>
		<li class="step-4">
			<a href="18d-create-report.html" class="wrapper">
				<div class="number"><span>4</span></div>
				<p>Report details</p>
			</a>
		</li>
		<span class="border"></span>
	</ul>
</nav>
