<!-- // JS BODY END - START // -->
	<!-- <script src="../../production/js/prototype/bootstrapper.js"></script> -->
	<script src="../../../production/js/V21/hideShowPassword.js"></script>
	<script src="../../../production/js/V21/jquery.cookie.js"></script>
	<script src="../../../production/js/V21/jquery.modal.js"></script>
	<script src="../../../production/js/V21/sticky-item.js"></script>

	<!-- Datepicker - START -->
	<script src="../../../production/js/V21/jquery-new-datepicker.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script>
		$( function() {
			$( "#datepicker, #datepicker1, #datepicker2" ).datepicker();
		} );
	</script>
	<!-- <script src="../../../production/js/V21/jquery-datepicker.js"></script> -->
	<!-- <script>
	    var picker = new Pikaday({ field: document.getElementById('datepicker') });
	</script> -->
	<!-- Datepicker - END -->

	<script src="../../../production/js/V21/my-cookies/my-cookies.js"></script>
	<script src="../../../production/js/V21/my-jquery/my-jquery.js"></script>

	<!-- User Journey - Cookies - START -->
	<script src="../../../production/js/V21/my-cookies/commission-visit.js"></script>
	<script src="../../../production/js/V21/my-cookies/create-bond.js"></script>
	<script src="../../../production/js/V21/my-cookies/client-page.js"></script>
	<script src="../../../production/js/V21/my-cookies/create-case.js"></script>
	<script src="../../../production/js/V21/my-cookies/create-task.js"></script>
	<script src="../../../production/js/V21/my-cookies/create-letter.js"></script>
	<script src="../../../production/js/V21/my-cookies/create-client.js"></script>
	<script src="../../../production/js/V21/my-cookies/edit-client.js"></script>
	<script src="../../../production/js/V21/my-cookies/create-deputy.js"></script>
	<script src="../../../production/js/V21/my-cookies/create-contact-pa.js"></script>
	<script src="../../../production/js/V21/my-cookies/create-contact-pro.js"></script>
	<script src="../../../production/js/V21/my-cookies/edit-deputy.js"></script>
	<script src="../../../production/js/V21/my-cookies/log-in.js"></script>
	<script src="../../../production/js/V21/my-cookies/report-period.js"></script>
	<script src="../../../production/js/V21/my-cookies/supervision-level.js"></script>
	<script src="../../../production/js/V21/my-cookies/order-status.js"></script>
	<script src="../../../production/js/V21/my-cookies/new-event.js"></script>
	<script src="../../../production/js/V21/my-cookies/warnings.js"></script>
	<script src="../../../production/js/V21/my-cookies/create-contact.js"></script>
	<script src="../../../production/js/V21/my-cookies/timeline.js"></script>
	<script src="../../../production/js/V21/my-cookies/client-death.js"></script>
	<script src="../../../production/js/V21/my-cookies/client-header.js"></script>
	<script src="../../../production/js/V21/my-cookies/deputy-death.js"></script>
	<script src="../../../production/js/V21/my-cookies/deputy-page.js"></script>
	<script src="../../../production/js/V21/my-cookies/court-apps-journey.js"></script>
	<script src="../../../production/js/V21/my-cookies/progress-bar.js"></script>
	<!-- User Journey - Cookies - END -->

	<!-- User Journey - JQuery - START -->
	<script src="../../../production/js/V21/my-jquery/log-in.js"></script>
	<script src="../../../production/js/V21/my-jquery/client-page.js"></script>
	<script src="../../../production/js/V21/my-jquery/commission-visit.js"></script>
	<script src="../../../production/js/V21/my-jquery/create-bond.js"></script>
	<script src="../../../production/js/V21/my-jquery/create-case.js"></script>
	<script src="../../../production/js/V21/my-jquery/create-client.js"></script>
	<script src="../../../production/js/V21/my-jquery/edit-client.js"></script>
	<script src="../../../production/js/V21/my-jquery/create-task.js"></script>
	<script src="../../../production/js/V21/my-jquery/create-deputy.js"></script>
	<script src="../../../production/js/V21/my-jquery/create-contact-pa.js"></script>
	<script src="../../../production/js/V21/my-jquery/create-contact-pro.js"></script>
	<script src="../../../production/js/V21/my-jquery/edit-deputy.js"></script>
	<script src="../../../production/js/V21/my-jquery/create-letter.js"></script>
	<script src="../../../production/js/V21/my-jquery/report-period.js"></script>
	<script src="../../../production/js/V21/my-jquery/supervision-level.js"></script>
	<script src="../../../production/js/V21/my-jquery/order-status.js"></script>
	<script src="../../../production/js/V21/my-jquery/new-event.js"></script>
	<script src="../../../production/js/V21/my-jquery/warnings.js"></script>
	<script src="../../../production/js/V21/my-jquery/progress-bar.js"></script>
	<script src="../../../production/js/V21/my-jquery/create-contact.js"></script>
	<script src="../../../production/js/V21/my-jquery/timeline.js"></script>
	<script src="../../../production/js/V21/my-jquery/client-death.js"></script>
	<script src="../../../production/js/V21/my-jquery/deputy-death.js"></script>
	<script src="../../../production/js/V21/my-jquery/deputy-page.js"></script>
	<script src="../../../production/js/V21/my-jquery/client-header.js"></script>
	<script src="../../../production/js/V21/my-jquery/dashboard-summary.js"></script>
	<script src="../../../production/js/V21/my-jquery/dashboard-clear-filter.js"></script>
	<script src="../../../production/js/V21/my-jquery/dashboard-tasks.js"></script>
	<script src="../../../production/js/V21/my-jquery/dashboard-deputies.js"></script>
	<script src="../../../production/js/V21/my-jquery/dashboard-clients.js"></script>
	<script src="../../../production/js/V21/my-jquery/dashboard-completed-tasks.js"></script>
	<script src="../../../production/js/V21/my-jquery/court-apps-journey.js"></script>
	<!-- <script src="../../../production/js/V21/my-jquery/search.js"></script> -->
	<!-- User Journey - JQuery - END -->

	<script src="../../../production/js/V21/jquery.tablesorter.js"></script>

	<!-- Autocomplete - JQuery - START -->
	<script src="../../../production/js/V21/autocomplete/jquery.autocomplete.min.js"></script>
	<script src="../../../production/js/V21/autocomplete/autocomplete.js"></script>
	<script src="../../../production/js/V21/autocomplete/all-users.js"></script>
	<script src="../../../production/js/V21/autocomplete/sub-section.js"></script>
	<script src="../../../production/js/V21/autocomplete/inserts-list.js"></script>
	<script src="../../../production/js/V21/autocomplete/template-list.js"></script>
	<script src="../../../production/js/V21/autocomplete/create-task.js"></script>
	<script src="../../../production/js/V21/autocomplete/clients-another-team.js"></script>
	<script src="../../../production/js/V21/autocomplete/clients-user-in-team.js"></script>
	<script src="../../../production/js/V21/autocomplete/completed-tasks.js"></script>
	<!-- Autocomplete - JQuery - END -->

	<!-- <script type="text/javascript" src="http://code.jquery.com/jquery.min.js" charset="utf-8"></script> -->
	<script src="../../../production/js/V21/text-editor.js"></script>
	<script>
		$('.jqte-test').jqte();

		// settings of status
		var jqteStatus = true;
		$(".status").click(function()
		{
			jqteStatus = jqteStatus ? false : true;
			$('.jqte-test').jqte({"status" : jqteStatus})
		});

		$(document).ready(function() {
			$("#myTable, #completed-tasks-table, #order-table, #documents-listing, #dashboard-clients-table, #dashboard-tasks-table, #dashboard-worker-table").tablesorter();
		});

		// $(document).ready(function() {
		// 	$("#tasks-table").tablesorter( {sortList: [[0,0]]} );
		// });

	</script>
<!-- // JS BODY END - END // -->
