<!-- // MAIN MAV - START // -->
<nav class="top-nav">

	<div class="row">
		<div class="large-12 large-uncentered columns">

			<a href="../index.html" class="logo user-type-link">
				<img src="../../../production/img/V21/sirius-logo-small.svg" alt="Sirius">
				<p><span>Dashboard</span></p>
			</a>

			<div class="preferences">
				<a href="#" class="user-cta">
					<div class="wrapper">
						<span class="nav-icon"></span>
						<div class="sirius-user-id">Susan Smith</div>
					</div>
				</a>

				<ul class="user-settings">
					<li><a href="#">Help and guidance</a></li>
					<li class="multiple-options">
						<span>Theme:</span>
						<a href="#" class="multiple current">Light</a>
						<a href="#" class="multiple">Dark</a>
						<a href="#" class="multiple">Pink</a>
					</li>
					<li class="multiple-options">
						<span>Font size:</span>
						<a href="#" class="multiple current">Regular</a>
						<a href="#" class="multiple">Large</a>
					</li>
				</ul>
			</div>

			<a href="../3-create-client/3a-create-client.html" class="create-client allocations main-cta">
				<span class="nav-icon"></span>
				<p><span>Create client</span></p>
			</a>

			<a href="../index.html" class="main-cta sign-out">
				<span class="nav-icon"></span>
				<p><span>Sign out</span></p>
			</a>

			<form action="search.html">
				<input type="search" name="search" id="autocomplete" placeholder="Search SIRIUS ID or Client...">
				<input type="submit">
			</form>

			<label class="switch">
				<span>Switch to: <strong>LPA</strong></span>
				<input type="checkbox">
				<div class="slider round"></div>
			</label>

		</div>
	</div>

	<div class="colour-wrapper"></div>

</nav>
<!-- // MAIN MAV - END // -->
