<!-- // MODAL - START // -->
<div id="allocate-client" style="display:none;">
	<h1>Allocate client</h1>
	<h2>Allcoate Mr Gerald Brackens to a team</h2>
	<form>
		<!-- // FORM ITEM - 1 - START // -->
		<div class="form-group">
			<label for="allocate-team">Allocate to <span class="required">*</span></label>
			<select id="allocate-team" class="">
				<option value="">-- Select --</option>
				<option value="Lay team">Lay team</option>
				<option value="Professional team">Professional team</option>
				<option value="Public Authority team">Public Authority team</option>
			</select>

		</div>
		<!-- // FORM ITEM - 1 - END // -->

	</form>
	<div class="cta-row">
		<a class="main-cta" rel="modal:close" id="confirm-allocate-team">Allocate</a>
		<a href="#" rel="modal:close" class="cancel">Cancel</a>
	</div>
</div>
<!-- // MODAL - END // -->
