<!-- // MODAL - START // -->
<div id="client-death-modal" style="display:none;">
	<h1>Are you sure you wish to mark the client as deceased?</h1>
	<h2>Mr Gerald Brackens</h2>
	<p>Changing the client status to deceased will affect the order and the deputies link.</p>
	<div class="cta-row">
		<a class="main-cta" id="confirm-client-deceased" href="../4-client-page/4a-new-client.html">The client is deceased</a>
		<a href="#" rel="modal:close" class="cancel">Cancel</a>
	</div>
</div>
<!-- // MODAL - END // -->
