<!-- // MODAL - START // -->
<div id="re-assign-tasks" style="display:none;">
	<h1>Reassign task/s</h1>
	<h2>Reassign task/s to <div class="action-task-name">David Harper</div></h2>
	<p>Are you sure you wish to reassign the task/s from <strong>Joe Bloggs</strong> to <strong>David Harper</strong>?</p>
	<ul class="clients-name">

	</ul>
	<div class="cta-row">
		<a class="main-cta" rel="modal:close" id="confirm-dashboard-re-assign-task">Yes, reassign</a>
		<a href="#" rel="modal:close" class="cancel">Cancel</a>
	</div>
</div>
<!-- // MODAL - END // -->
