<!-- // MODAL - START // -->
<div id="delete-contact" style="display:none;">
	<h1>Delete this office?</h1>
	<h2><div class="contact-name">Joe</div></h2>
	<p>
		Are you sure you want to continue and delete <strong class="contact-name"></strong> from <strong class="client-name">Mr Gerald Brackens</strong>?
	</p>
	<!-- <hr> -->
	<div class="cta-row">
		<a class="main-cta" id="delete-contact-confirm">Yes, delete the office</a>
		<a href="#" rel="modal:close" class="cancel">Cancel</a>
	</div>
</div>
<!-- // MODAL - END // -->
