<!-- // MODAL - START // -->
<div id="deputy-death-modal" style="display:none;">
	<h1>Are you sure you wish to mark the deputy as deceased?</h1>
	<h2>Mr First Last</h2>
	<p>Changing the deputy status to deceased will affect all orders the deputy is linked to.</p>
	<hr>
	<div class="cta-row">
		<a class="main-cta" id="confirm-deputy-deceased" href="../14-deputy-hub/14a-deputy-page.html">The deputy is deceased</a>
		<a href="#" rel="modal:close" class="cancel">Cancel</a>
	</div>
</div>
<!-- // MODAL - END // -->
