<!-- // MODAL - START // -->
<div id="lodge-report" style="display:none;">
	<h1>Lodge report</h1>
	<h2>05/10/2016 - 04/10/2017</h2>
	<p>Are you sure you wish to lodge the report from <strong>05/10/2016 - 04/10/2017</strong>?</p>
	<div class="cta-row">
		<a class="main-cta" href="../4-client-hub/4a-new-client.html" id="confirm-lodge-report">Yes, lodge report</a>
		<a href="#" rel="modal:close" class="cancel">Cancel</a>
	</div>
</div>
<!-- // MODAL - END // -->

<!-- // MODAL - START // -->
<!-- <div id="lodge" style="display:none;">
	<h1>Lodge the report</h1>
	<h2>Report due date: 25/01/2018</h2>
	<p>Are you sure you want to lodge the report?</p>
	<p>
		Doing this will officially lodge the report within the system and only minor changes
		will be allowed to be made after confirmation from a admin user.
	</p>
	<div class="cta-row">
		<a class="main-cta" id="lodge-report-true" href="../4-client-hub/4a-new-client.html">Yes, lodge the report</a>
		<a href="#" rel="modal:close" class="cancel">Continue editing the report</a>
	</div>
</div> -->
<!-- // MODAL - END // -->
