<!-- // MODAL - START // -->
<div id="print-send-modal" class="pdf-container" style="display:none;">
	<div class="wrapper">
		<div class="document-container">
			<div class="populated-item one"><div>Mr Gerald Dave Brackens</div></div>
			<!-- 1.1 -->
			<div class="populated-item two simple-x"><div>X</div></div>
			<!-- 1.2 -->
			<div class="populated-item three simple-x"><div>X</div></div>
			<!-- 1.3 -->
			<div class="populated-item four simple-x"><div>X</div></div>

			<!-- 2.1 -->
			<div class="populated-item five simple-x"><div>X</div></div>
			<div class="populated-item six text-container"><div class="court-app-user-name">Name</div></div>
			<div class="populated-item seven text-container"><div class="court-app-address">Address</div></div>
			<div class="populated-item eight text-container"><div class="court-app-phone-number">Phone</div></div>
			<div class="populated-item nine text-container"><div class="court-app-email">Email</div></div>
			<!-- 2.2 -->
			<div class="populated-item eleven simple-x"><div>X</div></div>
			<!-- 2.3 -->
			<div class="populated-item twelve simple-x"><div>X</div></div>
			<div class="populated-item thirteen text-container"><div class="court-app-contact-name">Contact name</div></div>
			<div class="populated-item fourteen text-container"><div class="court-app-contact-address">Contact address</div></div>
			<div class="populated-item fifteen text-container"><div class="court-app-contact-phone">Contact phone</div></div>
			<div class="populated-item sixteen text-container"><div class="court-app-contact-email">Contact email</div></div>
			<div class="populated-item seventeen text-container"><div class="court-app-contact-dx">Contact DX</div></div>

			<!-- 3.1 -->
			<div class="populated-item eighteen simple-x"><div>X</div></div>
			<div class="populated-item nineteen text-container"><div class="court-app-applicant-first-name">Applicant first name</div></div>
			<div class="populated-item twenty text-container"><div class="court-app-applicant-last-name">Applicant last name</div></div>
			<div class="populated-item twenty-one text-container"><div class="court-app-applicant-address">Applicant address</div></div>
			<div class="populated-item twenty-two text-container"><div class="court-app-applicant-phone-number">Applicant phone</div></div>
			<div class="populated-item twenty-three text-container"><div class="court-app-applicant-dob">Applicant DOB</div></div>
			<div class="populated-item twenty-four simple-x"><div>X</div></div>
			<!-- 3.2 -->
			<div class="populated-item twenty-five text-container"><div class="court-app-client-accomodation">Client accomodation</div></div>
			<div class="populated-item twenty-six text-container"><div class="court-app-client-date">Client date</div></div>
			<div class="populated-item twenty-seven simple-x"><div>X</div></div>
			<!-- 3.3 -->
			<div class="populated-item twenty-eight simple-x"><div>X</div></div>
			<div class="populated-item twenty-nine text-container"><div class="court-app-client-relationship-date">Client relationship date</div></div>
			<!-- 3.4 -->
			<div class="populated-item thirty text-container"><div class="court-app-client-ref">Client client ref</div></div>
			<div class="populated-item thirty-one text-container"><div class="court-app-client-proceedings-date">Client proceedings date</div></div>

			<!-- 4.1 -->
			<div class="populated-item thirty-two text-container"><div class="court-app-court-order">Court order</div></div>

			<img src="../../../production/img/V21/letters/COP1-ENG.jpg" alt="COP1-ENG">
		</div>
		<div class="cta-row">
			<a class="main-cta" id="confirm-print-send">Publish document</a>
			<a href="#" rel="modal:close" class="back">Back to my correspondence</a>
		</div>
	</div>
</div>
<!-- // MODAL - END // -->
