<!-- // MODAL - START // -->
<div id="view-report" style="display:none;">
	<h1><span class="icon pdf"></span>2016-2017-PFA.PDF</h1>
	<h2>View report</h2>
	<div class="time-line">
		<div class="date left">
			<span class="indicator">Start date</span>
			<p>
				<span></span>
				<strong>5th October</strong><br>
				<span class="start-date-answer">2015</span>
			</p>
		</div>
		<div class="date right">
			<span class="indicator">End date</span>
			<p>
				<span></span>
				<strong>4th October</strong><br>
				<span class="end-date-answer">2016</span>
			</p>
		</div>
		<span class="border"></span>
	</div>
	<img src="../../../production/img/V21/document-report.png" alt="Document">
	<div class="cta-row">
		<a href="#" rel="modal:close" class="close">Close report</a>
	</div>
</div>
<!-- // MODAL - END // -->
