<!-- // MODAL - START // -->
<div id="dispense" style="display:none;">
	<h1>Dispense with the bond</h1>
	<h2>£<strong class="bond-amount-answer"></strong></h2>
	<p>Are you sure you want to dispense with this bond?</p>
	<!-- <form>
		<div class="form-group">
			<label for="bond-dispense">You must type the words "dispense the bond" to continue</label>
			<input id="bond-dispense" name="bond-dispense" type="text" class="" placeholder="" value="">
		</div>
	</form> -->
	<!-- <hr> -->
	<div class="cta-row">
		<!-- <a class="main-cta delete-action de-activate" id="dispense-bond-false">Dispense bond</a> -->
		<a class="main-cta" id="dispense-bond-true" rel="modal:close">Dispense with the bond</a>
		<a href="#" rel="modal:close" class="cancel" id="cancel-delete">Cancel and keep the bond</a>
	</div>
</div>
<!-- // MODAL - END // -->
