<!-- // MODAL - START // -->
<div id="unlink-deputy-list" style="display:none;">
     <h1>Unlink this deputy</h1>
     <h2 class="unlink-deputy-name">Mrs Carla Frith</h2>
     <p>Are you sure you wish to unlink <strong class="unlink-deputy-name">Mrs Carla Frith</strong> as a deputy for <strong>Mr Gerald Brackens</strong>?</p>
     <div class="cta-row">
          <a class="main-cta" id="confirm-unlink-deputy" rel="modal:close">Unlink the deputy</a>
          <a href="#" rel="modal:close" class="cancel">Cancel</a>
     </div>
</div>
<!-- // MODAL - END // -->
