<!-- ///////////// HEALTH ORDER INFO - START ///////////// -->
<section class="handw-content-item case-info">

	<h2 class="description-title">
		<span class="icon welfare"></span> H&amp;W order details
		<!-- <a href="../1-create-case/1a-the-order.html#EditCase" class="edit edit-case-health">Edit order</a> -->
	</h2>

	<div id="flexbox-container">

		<!-- ITEM - 1 - START -->
		<div class="info-section">
			<p>Order type:</p>
			<p class="answer">Health &amp; welfare</p>
		</div>
		<!-- ITEM - 1 - END -->

		<!-- ITEM - 2 - START -->
		<div class="info-section">
			<p>Court reference:</p>
			<p class="answer case-court-ref-answer">19273638</p>
		</div>
		<!-- ITEM - 2 - END -->

		<!-- ITEM - 3 - START -->
		<div class="info-section">
			<p>Order date:</p>
			<p class="answer case-order-date-answer">28/08/2018</p>
		</div>
		<!-- ITEM - 3 - END -->

		<!-- ITEM - 4 - START -->
		<div class="info-section">
			<p>Type of deputy:</p>
			<p class="answer case-order-deputy-type-answer">Lay</p>
		</div>
		<!-- ITEM - 4 - END -->

		<!-- ITEM - 5 - START -->
		<div class="info-section">
			<p>Order issue date:</p>
			<p class="answer case-order-issue-date-answer">28/08/2017</p>
		</div>
		<!-- ITEM - 5 - END -->

		<!-- ITEM - 6 - START -->
		<div class="info-section">
			<p>Order received date:</p>
			<p class="answer case-status-date-answer">28/07/2017</p>
		</div>
		<!-- ITEM - 6 - END -->

		<!-- ITEM - 7 - START -->
		<div class="info-section">
			<p>Order title:</p>
			<p class="answer case-order-title-answer">Order title</p>
		</div>
		<!-- ITEM - 7 - END -->

		<!-- ITEM - 8 - START -->
		<div class="info-section">
			<p>Order status:</p>
			<p class="answer case-order-status-answer">Open</p>
		</div>
		<!-- ITEM - 8 - END -->

		<!-- ITEM - 9 - START -->
		<div class="info-section">
			<p>Status date:</p>
			<p class="answer case-status-date-answer">28/08/2017</p>
		</div>
		<!-- ITEM - 9 - END -->

		<!-- <h2 class="description-title">
			How have the deputy/deputies been appointed?
		</h2> -->

		<!-- ITEM - 10 - START -->
		<div class="info-section">
			<p>How have the deputy/deputies been appointed?:</p>
			<p class="answer deputies-appointed-answer">Joint</p>
		</div>
		<!-- ITEM - 10 - END -->

		<!-- ITEM - 10 - START -->
		<!-- <div class="info-section">
			<p>There are deputies appointed jointly?:</p>
			<p class="answer deputies-jointly-answer">Yes</p>
		</div> -->
		<!-- ITEM - 10 - END -->

	</div>

</section>
<!-- ///////////// HEALTH ORDER INFO - END ///////////// -->
