<!-- // MODAL - START // -->
<div id="preview-insert" style="display:none;">
	<h1>IT-01: Closure – attorney – death of donor - LPA</h1>
	<h2 class="case-number">Preview insert</h2>
	<div class="insert">
		<div class="preview" data-preview-id='1'>
			<p>
				I am sorry to hear of the death of << clientName >>.
			</p>
			<p>
				This means the lasting power of attorney has ended and so the Office of the Public Guardian cannot investigate
				any concerns that have been raised.
			</p>
		</div>
		<div class="preview" data-preview-id='2'>
			<p>
				We cannot investigate your concerns. Because you have disclaimed your position as attorney, this means you can
				no longer act for Mr Lang.
			</p>
			<p>
				As a result of this, we’ve cancelled the lasting power of attorney. We only have the authority to
				investigate concerns about a registered lasting of attorney.
			</p>
			<p>
				This means the lasting power of attorney has ended and so the Office of the Public Guardian cannot
				investigate any concerns that have been raised.
			</p>
		</div>
		<div class="preview" data-preview-id='3'>
			<p>
				We cannot investigate your concerns. << deputy >> has cancelled (revoked) their lasting power of attorney
				which means you can’t act for them any more.
			</p>
			<p>
				We can only investigate concerns about a registered lasting power of attorney.
			</p>
			<p>
				If you still have concerns, the police or the local authority might be able to help you. You could also
				make an application to the Court of Protection. You can call the court on 0300 456 4600.
			</p>
		</div>
	</div>
	<div class="cta-row">
		<a href="#" rel="modal:close">Close</a>
	</div>
</div>
<!-- // MODAL - END // -->
