<!-- // MODAL - START // -->
<div id="delete-important-remark-modal" style="display:none;">
	<h1>Remove warning</h1>
	<h2>Warning title</h2>
	<p>Are you sure you wish to remove <strong class="warning-title"></strong> from <strong>Gerald Brackens</strong>?</p>
	<!-- <div class="important-remark-holder">
	</div> -->
	<!-- <hr> -->
	<div class="cta-row">
		<a class="main-cta" id="confirm-delete-remark" rel="modal:close">Remove the warning</a>
		<a href="#" rel="modal:close" class="cancel">Cancel</a>
	</div>
</div>
<!-- // MODAL - END // -->
