<!-- ///////////////////////////////// TASK COMPLETED - START ///////////////////////////////// -->
<div class="row">
	<div class="large-12 large-uncentered columns">
		<div id="task-complete" class="confirmation-panel">
			<div class="content">
				<h1>
					<span></span>
					Your task: "<div class="action-task-name">Task title</div>" has been marked as completed
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- ///////////////////////////////// TASK COMPLETED - END ///////////////////////////////// -->

<!-- ///////////////////////////////// TASK RE-ASSIGNED - START ///////////////////////////////// -->
<div class="row">
	<div class="large-12 large-uncentered columns">
		<div id="task-re-assigned" class="confirmation-panel">
			<div class="content">
				<h1>
					<span></span>
					Your task: "<div class="action-task-name">Task title</div>" has been re-assigned
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- ///////////////////////////////// TASK RE-ASSIGNED - END ///////////////////////////////// -->
