<!-- ///////////////////////////////// CLIENT UPDATED - START ///////////////////////////////// -->
<div class="row">
	<div class="large-12 large-uncentered columns">
		<div id="re-assign-client-confirmation-message" class="confirmation-panel">
			<div class="content">
				<h1>
					<span></span>
					The <div>clients</div> has now been re-assigned to <div class="user-name">user name</div>
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- ///////////////////////////////// NCLIENT UPDATED - END ///////////////////////////////// -->
