<!-- ///////////////////////////////// CLIENT UPDATED - START ///////////////////////////////// -->
<div class="row">
	<div class="large-12 large-uncentered columns">
		<div id="edit-client-confirm" class="confirmation-panel">
			<div class="content">
				<h2>
					<span></span>
					<div class="client-title">Mr</div>
					<div class="client-first-name">Gerald</div>
					<div class="client-last-name">Brackens</div>
					has now been updated
				</h2>
			</div>
		</div>
	</div>
</div>
<!-- ///////////////////////////////// NCLIENT UPDATED - END ///////////////////////////////// -->
