<!-- ///////////////////////////////// DEPUTY ADDED - START ///////////////////////////////// -->
<div class="row">
	<div class="large-12 large-uncentered columns">
		<!-- // CONFIRMATION MESSAGE - START // -->
		<div id="deputy-added-confirmation" class="confirmation-panel">
			<div class="content">
				<h2>
					<span></span>
					<div class="deputy-name-answer">Deputy name</div>
					has now been created as a deputy to
					<div class="client-title-answer">Mr</div>
					<div class="client-first-name-answer">Gerald</div>
					<div class="client-last-name-answer">Brackens</div><div>'s</div>
					account
				</h2>
			</div>
		</div>
		<!-- // CONFIRMATION MESSAGE - END // -->
	</div>
</div>
<!-- ///////////////////////////////// DEPUTY ADDED - END ///////////////////////////////// -->
