<!-- // DOCUMENT VIEWER - START // -->
<div id="documents-contacts">

	<h2 class="description-title">Contact offices</h2>

	<table id="contact-list-deputy">
          <thead>
               <tr class="three-column">
                    <th>Details</th>
                    <th>Email address</th>
                    <th><div>Actions</div></th>
               </tr>
          </thead>
          <tbody>
               <!-- DEPUTY SUMMARY ROW 1 - START -->
               <tr class="summary-row" data-value="1">
                    <td>
                         <div class="name">
						<span class="icon deputy"></span>
                              <div class="contact-name-value">Mr. Nick Taylor</div>
                         </div>
					<br>
                         <div class="address">Pensions team</div>
					<div class="phone-number">07739273398</div>
                         <a href="#" class="full-details" data-value="1">View full details</a>
                    </td>
                    <td>
                         <a href="#">n.taylor@weston.parpenham.gov.uk</a>
                    </td>
                    <td>
					<a href="#" class="main-cta tertiary edit">Edit</a>
					<a href="#delete-contact" rel="modal:open" class="main-cta tertiary delete delete-contact">Delete</a>
                    </td>
               </tr>
               <!-- DEPUTY SUMMARY ROW 1 - END -->

               <!-- DEPUTY DETAILS ROW 1 - START -->
               <tr class="details-row" data-value="1">
                    <td colspan="3">

                         <div class="details-wrap">

						<!-- // CONTACT ITEM - 1 - START // -->
						<div class="person-detail-item">
							<p class="item">Phone number:</p>
							<p class="answer">0123456789</p>
						</div>
						<!-- // CONTACT ITEM - 1 - END // -->

						<!-- // CONTACT ITEM - 2 - START // -->
						<div class="person-detail-item">
							<p class="item">Mobile number:</p>
							<p class="answer">07739273398</p>
						</div>
						<!-- // CONTACT ITEM - 2 - END // -->

						<!-- // CONTACT ITEM - 3 - START // -->
						<div class="person-detail-item">
							<p class="item">How would they like to be contacted?:</p>
							<ul class="answer">
								<li>Email</li>
							</ul>
						</div>
						<!-- // CONTACT ITEM - 3 - END // -->

						<!-- // CONTACT ITEM - 4 - START // -->
						<div class="person-detail-item">
							<p class="item">Special correspondence requirements:</p>
							<p class="answer">None</p>
						</div>
						<!-- // CONTACT ITEM - 4 - END // -->

                         </div>

					<div class="details-wrap full-width">

						<!-- // CONTACT ITEM - 5 - START // -->
						<div class="person-detail-item full-width">
							<p class="item">Notes:</p>
							<p class="answer">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
								auctor eget tellus et scelerisque. Etiam dolor nisi, dignissim ac mi
								et, varius facilisis purus.
							</p>
						</div>
						<!-- // CONTACT ITEM - 5 - END // -->

					</div>

                    </td>
               </tr>
               <!-- DEPUTY DETAILS ROW 1 - END -->

			<!-- DEPUTY SUMMARY ROW 2 - START -->
			<tr class="summary-row" data-value="2">
				<td>
					<div class="name">
						<span class="icon company"></span>
						<div class="contact-name-value">Children's Social Care</div>
					</div>
					<br>
					<div class="address">Miss Tina Carnel</div>
					<div class="phone-number">07739273398</div>
					<a href="#" class="full-details" data-value="2">View full details</a>
				</td>
				<td>
					<a href="#">hr.team@weston.parpenham.gov.uk</a>
				</td>
				<td>
					<a href="#" class="main-cta tertiary edit">Edit</a>
					<a href="#delete-contact" rel="modal:open" class="main-cta tertiary delete delete-contact">Delete</a>
				</td>
			</tr>
			<!-- DEPUTY SUMMARY ROW 2 - END -->

			<!-- DEPUTY DETAILS ROW 2 - START -->
			<tr class="details-row" data-value="2">
				<td colspan="3">

					<div class="details-wrap">

						<!-- // CONTACT ITEM - 1 - START // -->
						<div class="person-detail-item">
							<p class="item">Phone number:</p>
							<p class="answer">0123456789</p>
						</div>
						<!-- // CONTACT ITEM - 1 - END // -->

						<!-- // CONTACT ITEM - 2 - START // -->
						<div class="person-detail-item">
							<p class="item">Mobile number:</p>
							<p class="answer">07739273398</p>
						</div>
						<!-- // CONTACT ITEM - 2 - END // -->

						<!-- // CONTACT ITEM - 3 - START // -->
						<div class="person-detail-item">
							<p class="item">How would they like to be contacted?:</p>
							<ul class="answer">
								<li>Phone</li>
							</ul>
						</div>
						<!-- // CONTACT ITEM - 3 - END // -->

						<!-- // CONTACT ITEM - 4 - START // -->
						<div class="person-detail-item">
							<p class="item">Special correspondence requirements:</p>
							<p class="answer">None</p>
						</div>
						<!-- // CONTACT ITEM - 4 - END // -->

					</div>

					<div class="details-wrap full-width">

						<!-- // CONTACT ITEM - 5 - START // -->
						<div class="person-detail-item full-width">
							<p class="item">Notes:</p>
							<p class="answer">
								Nam eget justo vehicula, accumsan est vel, gravida sapien. Fusce
								interdum hendrerit felis, a lobortis risus pretium eu. Curabitur
								suscipit pellentesque ipsum, non sagittis odio.
							</p>
						</div>
						<!-- // CONTACT ITEM - 5 - END // -->

					</div>

				</td>
			</tr>
			<!-- DEPUTY DETAILS ROW 2 - END -->

		</tbody>

	</table>

</div>
<!-- // DOCUMENT VIEWER - END // -->
