<!-- // DOCUMENT VIEWER - START // -->
<div id="documents-contacts">

	<h2 class="description-title">Deputies offices</h2>

	<table id="contact-list-deputy-pro" class="tablesorter">
          <thead>
               <tr class="four-column">
                    <th><span></span>Details</th>
                    <th><span></span>No. of clients</th>
                    <th><span></span>Preferred contact</th>
                    <th><div>Actions</div></th>
               </tr>
          </thead>
          <tbody>
               <!-- DEPUTY SUMMARY ROW 1 - START -->
               <tr class="summary-row" data-value="1">
                    <td>
                         <div class="name">
						<span class="icon company"></span>
                              <div class="contact-name-value">Head office - London</div>
                         </div>
					<br>
                         <div class="address">84 Crown Street, London, SW19 5GQ.</div>
					<div class="phone-number">02056 127546</div>
                         <a href="#" class="full-details" data-value="1">View full details</a>
                    </td>
                    <td>
					<span class="number alert large">125</span>
                    </td>
                    <td>
					<div class="preferred-contact">
						<div class="name">Maisie O'Donnell</div>
						<div class="phone-number">02056 127550</div>
						<div class="email"><a href="#">maisie.odonnell@bobloblaw.lawblog.com</a></div>
					</div>
					<!-- <ul class="answer">
						<li><a href="#">maisie.odonnell@bobloblaw.lawblog.com</a></li>
						<li><a href="#">keira.white@bobloblaw.lawblog.com</a></li>
						<li><a href="#">reece.bowen@bobloblaw.lawblog.com</a></li>
					</ul> -->
                    </td>
                    <td>
					<a href="#" class="main-cta tertiary edit">Edit</a>
					<!-- <a href="#delete-contact" rel="modal:open" class="main-cta tertiary delete delete-contact">Delete</a> -->
                    </td>
               </tr>
               <!-- DEPUTY SUMMARY ROW 1 - END -->

               <!-- DEPUTY DETAILS ROW 1 - START -->
               <tr class="details-row" data-value="1">
                    <td colspan="4">

					<h2 class="description-title">Alternative contacts</h2>

					<div class="details-wrap">

						<!-- // CONTACT - 1 - START // -->
						<div class="info-section">
							<div class="preferred-contact">
								<div class="name">Keira White</div>
								<div class="phone-number">01536 464132</div>
								<div class="email"><a href="#">keira.white@bobloblaw.lawblog.com</a></div>
							</div>
						</div>
						<!-- // CONTACT - 1 - END // -->

						<!-- // CONTACT - 2 - START // -->
						<div class="info-section">
							<div class="preferred-contact">
								<div class="name">Reece Bowen</div>
								<div class="phone-number">01536 464175</div>
								<div class="email"><a href="#">reece.bowen@bobloblaw.lawblog.com</a></div>
							</div>
						</div>
						<!-- // CONTACT - 2 - END // -->

					</div>

					<!-- <hr> -->

					<div class="details-wrap">

						<!-- // NOTES - START // -->
						<div class="person-detail-item full-width">
							<p class="item">Notes:</p>
							<p class="answer">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
								auctor eget tellus et scelerisque. Etiam dolor nisi, dignissim ac mi
								et, varius facilisis purus.
							</p>
						</div>
						<!-- // NOTES - END // -->

					</div>

                    </td>
               </tr>
               <!-- DEPUTY DETAILS ROW 1 - END -->

			<!-- DEPUTY SUMMARY ROW 2 - START -->
			<tr class="summary-row" data-value="2">
				<td>
					<div class="name">
						<span class="icon company"></span>
						<div class="contact-name-value">Coventry office</div>
					</div>
					<br>
					<div class="address">81 Whatlington Road, Coventry, CV1 5NS.</div>
					<div class="phone-number">02476 867245</div>
					<a href="#" class="full-details" data-value="2">View full details</a>
				</td>
				<td>
					<span class="number alert">52</span>
                    </td>
				<td>
					<div class="preferred-contact">
						<div class="name">Harvey Burgess</div>
						<div class="phone-number">02476 867262</div>
						<div class="email"><a href="#">harvey.burgess@bobloblaw.lawblog.com</a></div>
					</div>
					<!-- <ul class="answer">
						<li><a href="#">harvey.burgess@bobloblaw.lawblog.com</a></li>
						<li><a href="#">yasmin.west@bobloblaw.lawblog.com</a></li>
						<li><a href="#">tilly.steele@bobloblaw.lawblog.com</a></li>
					</ul> -->
				</td>
				<td>
					<a href="#" class="main-cta tertiary edit">Edit</a>
					<!-- <a href="#delete-contact" rel="modal:open" class="main-cta tertiary delete delete-contact">Delete</a> -->
				</td>
			</tr>
			<!-- DEPUTY SUMMARY ROW 2 - END -->

			<!-- DEPUTY DETAILS ROW 2 - START -->
			<tr class="details-row" data-value="2">
				<td colspan="4">

					<h2 class="description-title">Alternative contacts</h2>

					<div class="details-wrap">

						<!-- // CONTACT - 1 - START // -->
						<div class="info-section">
							<div class="preferred-contact">
								<div class="name">Yasmin West</div>
								<div class="phone-number">02476 867244</div>
								<div class="email"><a href="#">yasmin.west@bobloblaw.lawblog.com</a></div>
							</div>
						</div>
						<!-- // CONTACT - 1 - END // -->

						<!-- // CONTACT - 2 - START // -->
						<div class="info-section">
							<div class="preferred-contact">
								<div class="name">Tilly Steele</div>
								<div class="phone-number">02476 867275</div>
								<div class="email"><a href="#">tilly.steele@bobloblaw.lawblog.com</a></div>
							</div>
						</div>
						<!-- // CONTACT - 2 - END // -->

					</div>

					<!-- <hr> -->

					<div class="details-wrap">

						<!-- // NOTES - START // -->
						<div class="person-detail-item full-width">
							<p class="item">Notes:</p>
							<p class="answer">
								Nam eget justo vehicula, accumsan est vel, gravida sapien. Fusce
								interdum hendrerit felis, a lobortis risus pretium eu. Curabitur
								suscipit pellentesque ipsum, non sagittis odio.
							</p>
						</div>
						<!-- // NOTES - END // -->

					</div>

				</td>
			</tr>
			<!-- DEPUTY DETAILS ROW 2 - END -->

			<!-- DEPUTY SUMMARY ROW 3 - START -->
			<tr class="summary-row" data-value="3">
				<td>
					<div class="name">
						<span class="icon company"></span>
						<div class="contact-name-value">Birmingham office</div>
					</div>
					<br>
					<div class="address">57 Boroughbridge Road, Birmingham, B5 2SY.</div>
					<div class="phone-number">0121 678542</div>
					<a href="#" class="full-details" data-value="3">View full details</a>
				</td>
				<td>
					<span class="number alert">22</span>
                    </td>
				<td>
					<div class="preferred-contact">
						<div class="name">Max Bird</div>
						<div class="phone-number">0121 678584</div>
						<div class="email"><a href="#">max.bird@bobloblaw.lawblog.com</a></div>
					</div>
					<!-- <ul class="answer">
						<li><a href="#">max.bird@bobloblaw.lawblog.com</a></li>
						<li><a href="#">nicholas.bruce@bobloblaw.lawblog.com</a></li>
					</ul> -->
				</td>
				<td>
					<a href="#" class="main-cta tertiary edit">Edit</a>
					<!-- <a href="#delete-contact" rel="modal:open" class="main-cta tertiary delete delete-contact">Delete</a> -->
				</td>
			</tr>
			<!-- DEPUTY SUMMARY ROW 3 - END -->

			<!-- DEPUTY DETAILS ROW 3 - START -->
			<tr class="details-row" data-value="3">
				<td colspan="4">

					<h2 class="description-title">Alternative contacts</h2>

					<div class="details-wrap">

						<!-- // CONTACT - 1 - START // -->
						<div class="info-section">
							<div class="preferred-contact">
								<div class="name">Nicholas Bruce</div>
								<div class="phone-number">0121 678599</div>
								<div class="email"><a href="#">nicholas.bruce@bobloblaw.lawblog.com</a></div>
							</div>
						</div>
						<!-- // CONTACT - 1 - END // -->

					</div>

					<!-- <hr> -->

					<div class="details-wrap">

						<!-- // NOTES - START // -->
						<div class="person-detail-item full-width">
							<p class="item">Notes:</p>
							<p class="answer">
								Aliquam volutpat, nulla vel tempor hendrerit, eros erat blandit dui,
								et porttitor tortor nunc sed dolor. Maecenas molestie magna ut leo
								lacinia, nec lobortis sem condimentum.
							</p>
						</div>
						<!-- // NOTES - END // -->

					</div>

				</td>
			</tr>
			<!-- DEPUTY DETAILS ROW 3 - END -->

			<!-- DEPUTY SUMMARY ROW 4 - START -->
			<tr class="summary-row" data-value="4">
				<td>
					<div class="name">
						<span class="icon company"></span>
						<div class="contact-name-value">Newcastle office</div>
					</div>
					<br>
					<div class="address">25 Lairg Road, Newcastle Upon Tyne, NE7 1YX.</div>
					<div class="phone-number">0191 424726</div>
					<a href="#" class="full-details" data-value="4">View full details</a>
				</td>
				<td>
					<span class="number alert large">103</span>
                    </td>
				<td>
					<div class="preferred-contact">
						<div class="name">Mia Storey</div>
						<div class="phone-number">0191 424796</div>
						<div class="email"><a href="#">mia.storey@bobloblaw.lawblog.com</a></div>
					</div>
					<!-- <ul class="answer">
						<li><a href="#">mia.storey@bobloblaw.lawblog.com</a></li>
						<li><a href="#">brooke.quinn@bobloblaw.lawblog.com</a></li>
					</ul> -->
				</td>
				<td>
					<a href="#" class="main-cta tertiary edit">Edit</a>
					<!-- <a href="#delete-contact" rel="modal:open" class="main-cta tertiary delete delete-contact">Delete</a> -->
				</td>
			</tr>
			<!-- DEPUTY SUMMARY ROW 4 - END -->

			<!-- DEPUTY DETAILS ROW 4 - START -->
			<tr class="details-row" data-value="4">
				<td colspan="4">

					<h2 class="description-title">Alternative contacts</h2>

					<div class="details-wrap">

						<!-- // CONTACT - 1 - START // -->
						<div class="info-section">
							<div class="preferred-contact">
								<div class="name">Brooke Quinn</div>
								<div class="phone-number">0191 424700</div>
								<div class="email"><a href="#">brooke.quinn@bobloblaw.lawblog.com</a></div>
							</div>
						</div>
						<!-- // CONTACT - 1 - END // -->

					</div>

					<!-- <hr> -->

					<div class="details-wrap">

						<!-- // NOTES - START // -->
						<div class="person-detail-item full-width">
							<p class="item">Notes:</p>
							<p class="answer">
								In eros odio, dignissim at est vitae, ullamcorper accumsan sapien. Aenean eget
								gravida urna.
							</p>
						</div>
						<!-- // NOTES - END // -->

					</div>

				</td>
			</tr>
			<!-- DEPUTY DETAILS ROW 4 - END -->

			<!-- DEPUTY SUMMARY ROW 5 - START -->
			<tr class="summary-row" data-value="5">
				<td>
					<div class="name">
						<span class="icon company"></span>
						<div class="contact-name-value">Liverpool office</div>
					</div>
					<br>
					<div class="address">27 Overton Circle, Liverpool, L3 8FH.</div>
					<div class="phone-number">0151 864725</div>
					<a href="#" class="full-details" data-value="5">View full details</a>
				</td>
				<td>
					<span class="number alert">9</span>
                    </td>
				<td>
					<div class="preferred-contact">
						<div class="name">Ellis May</div>
						<div class="phone-number">0151 864724</div>
						<div class="email"><a href="#">ellis.may@bobloblaw.lawblog.com</a></div>
					</div>
					<!-- <ul class="answer">
						<li><a href="#">ellis.may@bobloblaw.lawblog.com</a></li>
						<li><a href="#">anthony.haynes@bobloblaw.lawblog.com</a></li>
						<li><a href="#">natasha.tucker@bobloblaw.lawblog.com</a></li>
					</ul> -->
				</td>
				<td>
					<a href="#" class="main-cta tertiary edit">Edit</a>
					<!-- <a href="#delete-contact" rel="modal:open" class="main-cta tertiary delete delete-contact">Delete</a> -->
				</td>
			</tr>
			<!-- DEPUTY SUMMARY ROW 5 - END -->

			<!-- DEPUTY DETAILS ROW 5 - START -->
			<tr class="details-row" data-value="5">
				<td colspan="4">

					<h2 class="description-title">Alternative contacts</h2>

					<div class="details-wrap">

						<!-- // CONTACT - 1 - START // -->
						<div class="info-section">
							<div class="preferred-contact">
								<div class="name">Anthony Haynes</div>
								<div class="phone-number">0151 864754</div>
								<div class="email"><a href="#">anthony.haynes@bobloblaw.lawblog.com</a></div>
							</div>
						</div>
						<!-- // CONTACT - 1 - END // -->

						<!-- // CONTACT - 2 - START // -->
						<div class="info-section">
							<div class="preferred-contact">
								<div class="name">Natasha Tucker</div>
								<div class="phone-number">0151 864767</div>
								<div class="email"><a href="#">natasha.tucker@bobloblaw.lawblog.com</a></div>
							</div>
						</div>
						<!-- // CONTACT - 2 - END // -->

					</div>

					<!-- <hr> -->

					<div class="details-wrap">

						<!-- // NOTES - START // -->
						<div class="person-detail-item full-width">
							<p class="item">Notes:</p>
							<p class="answer">
								Donec at lorem non magna pretium lobortis. Praesent elementum
								fermentum eros, eget congue erat mattis non. Nulla a ultricies
								lacus. Etiam lobortis tincidunt tellus eu tristique.
							</p>
						</div>
						<!-- // NOTES - END // -->

					</div>

				</td>
			</tr>
			<!-- DEPUTY DETAILS ROW 5 - END -->

			<!-- DEPUTY SUMMARY ROW 6 - START -->
			<tr class="summary-row" data-value="6">
				<td>
					<div class="name">
						<span class="icon company"></span>
						<div class="contact-name-value">Manchester office</div>
					</div>
					<br>
					<div class="address">63 Cunnery Rd, Manchester, M3 8WT</div>
					<div class="phone-number">0161 427689</div>
					<a href="#" class="full-details" data-value="6">View full details</a>
				</td>
				<td>
					<span class="number alert">16</span>
                    </td>
				<td>
					<div class="preferred-contact">
						<div class="name">Victoria Holden</div>
						<div class="phone-number">0161 427690</div>
						<div class="email"><a href="#">victoria.holden@bobloblaw.lawblog.com</a></div>
					</div>
					<!-- <ul class="answer">
						<li><a href="#">victoria.holden@bobloblaw.lawblog.com</a></li>
						<li><a href="#">holly.abbott@bobloblaw.lawblog.com</a></li>
						<li><a href="#">kai.steele@bobloblaw.lawblog.com</a></li>
						<li><a href="#">elizabeth.reed@bobloblaw.lawblog.com</a></li>
					</ul> -->
				</td>
				<td>
					<a href="#" class="main-cta tertiary edit">Edit</a>
					<!-- <a href="#delete-contact" rel="modal:open" class="main-cta tertiary delete delete-contact">Delete</a> -->
				</td>
			</tr>
			<!-- DEPUTY SUMMARY ROW 6 - END -->

			<!-- DEPUTY DETAILS ROW 6 - START -->
			<tr class="details-row" data-value="6">
				<td colspan="4">

					<h2 class="description-title">Alternative contacts</h2>

					<div class="details-wrap">

						<!-- // CONTACT - 1 - START // -->
						<div class="info-section">
							<div class="preferred-contact">
								<div class="name">Holly Abbott</div>
								<div class="phone-number">0161 427665</div>
								<div class="email"><a href="#">holly.abbott@bobloblaw.lawblog.com</a></div>
							</div>
						</div>
						<!-- // CONTACT - 1 - END // -->

						<!-- // CONTACT - 2 - START // -->
						<div class="info-section">
							<div class="preferred-contact">
								<div class="name">Kai Steele</div>
								<div class="phone-number">0161 427663</div>
								<div class="email"><a href="#">kai.steele@bobloblaw.lawblog.com</a></div>
							</div>
						</div>
						<!-- // CONTACT - 2 - END // -->

						<!-- // CONTACT - 3 - START // -->
						<div class="info-section">
							<div class="preferred-contact">
								<div class="name">Elizabeth Reed</div>
								<div class="phone-number">0161 427686</div>
								<div class="email"><a href="#">elizabeth.reed@bobloblaw.lawblog.com</a></div>
							</div>
						</div>
						<!-- // CONTACT - 3 - END // -->

					</div>

					<!-- <hr> -->

					<div class="details-wrap">

						<!-- // NOTES - START // -->
						<div class="person-detail-item full-width">
							<p class="item">Notes:</p>
							<p class="answer">
								Ut id velit sed dolor pretium vulputate. Pellentesque pulvinar lectus
								ac efficitur consequat. Nulla sed ante libero. Interdum et malesuada
								fames ac ante ipsum primis in faucibus.
							</p>
						</div>
						<!-- // NOTES - END // -->

					</div>

				</td>
			</tr>
			<!-- DEPUTY DETAILS ROW 6 - END -->

			<!-- DEPUTY SUMMARY ROW 7 - START -->
			<tr class="summary-row duplicate-row" data-value="7">
				<td>
					<div class="name">
						<span class="icon company"></span>
						<div class="contact-name-value">Corby office</div>
					</div>
					<br>
					<div class="address">70 Mill Lane, Corby, NN17 7EX</div>
					<div class="phone-number">01536 464183</div>
					<a href="#" class="full-details" data-value="7">View full details</a>
				</td>
				<td>
					<span class="number">0</span>
				</td>
				<td>
					<div class="preferred-contact">
						<div class="name">Patrick Rahman</div>
						<div class="phone-number">01536 464154</div>
						<div class="email"><a href="#">patrick.rahman@bobloblaw.lawblog.com</a></div>
					</div>
					<!-- <a href="#">patrick.rahman@bobloblaw.lawblog.com</a> -->
				</td>
				<td>
					<a href="#" class="main-cta tertiary edit">Edit</a>
					<a href="#delete-contact" rel="modal:open" class="main-cta tertiary delete delete-contact">Delete</a>
				</td>
			</tr>
			<!-- DEPUTY SUMMARY ROW 7 - END -->

			<!-- DEPUTY DETAILS ROW 7 - START -->
			<tr class="details-row" data-value="7">
				<td colspan="4">

					<div class="details-wrap">

						<!-- // NOTES - START // -->
						<div class="person-detail-item full-width">
							<p class="item">Notes:</p>
							<p class="answer">
								Mauris et lorem posuere arcu facilisis interdum id sed neque. Praesent congue tempus eros a
								aliquam. Praesent purus tellus, aliquet id suscipit ac, mattis suscipit quam.
							</p>
						</div>
						<!-- // NOTES - END // -->

					</div>

				</td>
			</tr>
			<!-- DEPUTY DETAILS ROW 7 - END -->

		</tbody>

	</table>

</div>
<!-- // DOCUMENT VIEWER - END // -->
