<!-- // DEPUTY DETAILS - START // -->
<div class="check-details">

	<h2 class="description-title">
		Deputy details:
		<!-- <a href="../5-add-deputy/5b-deputy-details.html#deputy-lay-edit" class="edit edit-lay-deputy">Edit deputy details</a> -->
	</h2>

	<div id="flexbox-container">

		<!-- // DEPUTY ITEM - 1 - START // -->
		<div class="person-detail-item">
			<p class="item">Name:</p>
			<p class="answer">
				<span class="deputy-title-answer">Mrs</span>
				<span class="deputy-first-name-answer">Lara</span>
				<span class="deputy-middle-name-answer"></span>
				<span class="deputy-last-name-answer">Stevens</span>
			</p>
		</div>
		<!-- // DEPUTY ITEM - 1 - END // -->

		<!-- // DEPUTY ITEM - 2 - START // -->
		<div class="person-detail-item">
			<p class="item">Previously Known As:</p>
			<p class="answer deputy-previous-name-answer">Miss Lara Hodgeson</p>
		</div>
		<!-- // DEPUTY ITEM - 2 - END // -->

		<!-- // DEPUTY ITEM - 3 - START // -->
		<div class="person-detail-item">
			<p class="item">Date of birth:</p>
			<p class="answer">
				<span class="deputy-dob-day-answer">17</span>
				/
				<span class="deputy-dob-month-answer">07</span>
				/
				<span class="deputy-dob-year-answer">1981</span>
			</p>
		</div>
		<!-- // DEPUTY ITEM - 3 - END // -->

		<!-- // DEPUTY ITEM - 4 - START // -->
		<div class="person-detail-item">
			<p class="item">Address:</p>
			<p class="answer">
				<span class="deputy-address-line-1-answer">34 Broomfield Place</span>,<br>
				<span class="deputy-address-county-answer">STOKESLEY</span>,<br>
				<span class="deputy-manual-postcode-answer">TS9 8TU</span>.<br>
				<span class="deputy-country-answer">United Kingdom</span>
			</p>
		</div>
		<!-- // DEPUTY ITEM - 4 - END // -->

		<!-- // DEPUTY ITEM - 5 - START // -->
		<div class="person-detail-item">
			<p class="item">Is airmail required?:</p>
			<p class="answer deputy-airmail-answer">No</p>
		</div>
		<!-- // DEPUTY ITEM - 5 - END // -->

		<!-- // DEPUTY ITEM - 6A - START // -->
		<div class="person-detail-item">
			<p class="item">Daytime telephone number:</p>
			<p class="answer deputy-phone-number-answer">07079962666</p>
		</div>
		<!-- // DEPUTY ITEM - 6A - END // -->

		<!-- // DEPUTY ITEM - 6B - START // -->
		<div class="person-detail-item">
			<p class="item">Evening telephone number:</p>
			<p class="answer deputy-evening-number-answer"></p>
		</div>
		<!-- // DEPUTY ITEM - 6B - END // -->

		<!-- // DEPUTY ITEM - 7 - START // -->
		<div class="person-detail-item">
			<p class="item">Mobile telephone number:</p>
			<p class="answer deputy-mob-number-answer">07079962666</p>
		</div>
		<!-- // DEPUTY ITEM - 7 - END // -->

		<!-- // DEPUTY ITEM - 8 - START // -->
		<div class="person-detail-item full-width">
			<p class="item">Email address:</p>
			<p class="answer deputy-email-answer"><a href="#">lara.stevens@jourrapide.com</a></p>
		</div>
		<!-- // DEPUTY ITEM - 8 - END // -->

		<!-- // DEPUTY ITEM - 9 - START // -->
		<!-- <div class="person-detail-item">
			<p class="item">Is the deputy a violent risk?:</p>
			<p class="answer deputy-violent-risk-answer">No</p>
		</div> -->
		<!-- // DEPUTY ITEM - 9 - END // -->

		<!-- <a href="../5-add-deputy/5b-deputy-details.html#deputy-lay-edit" class="main-cta secondary edit edit-lay-deputy">Edit deputy details</a> -->

		<p>&nbsp;</p>

	</div>

	<h2 class="description-title">
		Additional information:
		<!-- <a href="../5-add-deputy/5d-additional-info.html#edit-deputy-1" class="edit deputy-1">Edit</a> -->
		<!-- <a href="../5-add-deputy/5c-additional-info.html#deputy-lay-edit" class="edit edit-lay-deputy">Edit additional info</a> -->
	</h2>

	<div id="flexbox-container">

		<!-- // DEPUTY ITEM - 1 - START // -->
		<div class="person-detail-item">
			<p class="item">Occupation:</p>
			<p class="answer deputy-occupation-answer">University professor</p>
		</div>
		<!-- // DEPUTY ITEM - 1 - END // -->

		<!-- // DEPUTY ITEM - 2 - START // -->
		<div class="person-detail-item">
			<p class="item">How would the deputy like to be contacted?:</p>
			<ul class="answer">
				<li class="answer-holder">Email</li>
				<li class="deputy-correspondence-email-answer">Email</li>
				<li class="deputy-correspondence-phone-answer">Phone</li>
				<li class="deputy-correspondence-post-answer">Post</li>
				<li class="deputy-correspondence-welsh-answer">Welsh</li>
			</ul>
		</div>
		<!-- // DEPUTY ITEM - 2 - END // -->

		<!-- // DEPUTY ITEM - 3 - START // -->
		<div class="person-detail-item">
			<p class="item">Special correspondence requirements:</p>
			<ul class="answer">
				<li class="answer-holder">Spelling of name requires care</li>
				<li class="deputy-special-audio-answer">Audio</li>
				<li class="deputy-special-print-answer">Large print</li>
				<li class="deputy-special-hearing-answer">Hearing impaired</li>
				<li class="deputy-special-spelling-answer">Spelling of name requires care</li>
			</ul>
		</div>
		<!-- // DEPUTY ITEM - 3 - END // -->

		<!-- // DEPUTY ITEM - 4 - START // -->
		<div class="person-detail-item">
			<p class="item">Interpreter required?:</p>
			<div class="mulitple-answers">
				<p class="answer deputy-interpreter-details-answer">No</p>
			</div>
		</div>
		<!-- // DEPUTY ITEM - 4 - END // -->

		<!-- // DEPUTY ITEM - 5 - START // -->
		<div class="person-detail-item">
			<p class="item">Newsletter?:</p>
			<p class="answer deputy-newsletter-answer">No</p>
		</div>
		<!-- // DEPUTY ITEM - 5 - END // -->

		<!-- <a href="../5-add-deputy/5c-additional-info.html#deputy-lay-edit" class="main-cta secondary edit edit-lay-deputy">Edit additional info</a> -->

	</div>

</div>
<!-- // DEPUTY DETAILS - END // -->
