<!-- // DEPUTY DETAILS - START // -->
<div class="check-details">

	<h2 class="description-title">
		Deputy details:
		<!-- <a href="../5-add-deputy/5b-deputy-details.html#edit-deputy-1" class="edit deputy-1">Edit</a> -->
		<!-- <a href="../5-add-deputy/5b-deputy-details.html#deputy-pa-edit" class="edit edit-public-deputy">Edit deputy details</a> -->
	</h2>

	<div id="flexbox-container">

		<!-- // DEPUTY ITEM - 1 - START // -->
		<!-- <div class="person-detail-item">
			<p class="item">Is this an Organisation?:</p>
			<p class="answer deputy-organisation-answer">Yes</p>
		</div> -->
		<!-- // DEPUTY ITEM - 1 - END // -->

		<!-- // DEPUTY ITEM - 2 - START // -->
		<div class="person-detail-item">
			<p class="item">Correspondence name:</p>
			<p class="answer">
				<span class="deputy-title-answer">Mr</span>
				<span class="deputy-first-name-answer">Nicolas</span>
				<span class="deputy-middle-name-answer">Austin</span>
				<span class="deputy-last-name-answer">Taylor</span>
			</p>
		</div>
		<!-- // DEPUTY ITEM - 2 - END // -->

		<!-- // DEPUTY ITEM - 3 - START // -->
		<div class="person-detail-item">
			<p class="item">Organisation name:</p>
			<p class="answer deputy-organisation-name-answer">Weston Parpenham</p>
		</div>
		<!-- // DEPUTY ITEM - 3 - END // -->

		<!-- // DEPUTY ITEM - 4 - START // -->
		<div class="person-detail-item">
			<p class="item">Company reference:</p>
			<p class="answer deputy-company-ref-answer">12345678</p>
		</div>
		<!-- // DEPUTY ITEM - 4 - END // -->

		<!-- // DEPUTY ITEM - 5 - START // -->
		<div class="person-detail-item">
			<p class="item">Previously Known As:</p>
			<p class="answer deputy-previous-name-answer">N/A</p>
		</div>
		<!-- // DEPUTY ITEM - 5 - END // -->

		<!-- // DEPUTY ITEM - 6 - START // -->
		<div class="person-detail-item">
			<p class="item">Address:</p>
			<p class="answer">
				<span class="deputy-address-line-1-answer">7 Farburn Terrace</span>,<br>
				<span class="deputy-address-town-answer">Weston Parpenham</span>,<br>
				<span class="deputy-manual-postcode-answer">PE17 0FS</span>.<br>
				<span class="deputy-country-answer">United Kingdom</span>
			</p>
		</div>
		<!-- // DEPUTY ITEM - 6 - END // -->

		<!-- // DEPUTY ITEM - 7 - START // -->
		<div class="person-detail-item">
			<p class="item">Is airmail required?:</p>
			<p class="answer deputy-airmail-answer">No</p>
		</div>
		<!-- // DEPUTY ITEM - 7 - END // -->

		<!-- // DEPUTY ITEM - 8 - START // -->
		<div class="person-detail-item">
			<p class="item">Daytime telephone number:</p>
			<p class="answer deputy-phone-number-answer">01268449380</p>
		</div>
		<!-- // DEPUTY ITEM - 8 - END // -->

		<!-- // DEPUTY ITEM - 9 - START // -->
		<div class="person-detail-item">
			<p class="item">Mobile telephone number:</p>
			<p class="answer deputy-mob-number-answer">07951798017</p>
		</div>
		<!-- // DEPUTY ITEM - 9 - END // -->

		<!-- // DEPUTY ITEM - 10 - START // -->
		<div class="person-detail-item full-width">
			<p class="item">Email address:</p>
			<ul class="answer deputy-contact-email-list">
				<li class="deputy-email-answer"><a href="#">n.taylor@weston.parpenham.gov.uk</a></li>
				<li><a href="#">hr.team@weston.parpenham.gov.uk</a></li>
				<li><a href="#">k.hill@weston.parpenham.gov.uk</a></li>
				<li><a href="#">l.duncan@weston.parpenham.gov.uk</a></li>
			</ul>
		</div>
		<!-- // DEPUTY ITEM - 10 - END // -->

		<!-- // DEPUTY ITEM - 11 - START // -->
		<!-- <div class="person-detail-item">
			<p class="item">Is the deputy a violent risk?:</p>
			<p class="answer deputy-violent-risk-answer">No</p>
		</div> -->
		<!-- // DEPUTY ITEM - 11 - END // -->

		<!-- <a href="../5-add-deputy/5b-deputy-details.html#deputy-pa-edit" class="main-cta secondary edit edit-public-deputy">Edit deputy details</a> -->

		<p>&nbsp;</p>

	</div>

	<h2 class="description-title">
		Additional information:
		<!-- <a href="../5-add-deputy/5d-additional-info.html#edit-deputy-1" class="edit deputy-1">Edit</a> -->
		<!-- <a href="../5-add-deputy/5c-additional-info.html#deputy-pa-edit" class="edit edit-public-deputy">Edit additional info</a> -->
	</h2>

	<div id="flexbox-container">

		<!-- // DEPUTY ITEM - 1 - START // -->
		<div class="person-detail-item">
			<p class="item">How would the deputy like to be contacted?:</p>
			<ul class="answer">
				<li class="answer-holder">Email</li>
				<li class="answer-holder">Phone</li>
				<li class="deputy-correspondence-email-answer">Email</li>
				<li class="deputy-correspondence-phone-answer">Phone</li>
				<li class="deputy-correspondence-post-answer">Post</li>
				<li class="deputy-correspondence-welsh-answer">Welsh</li>
			</ul>
		</div>
		<!-- // DEPUTY ITEM - 1 - END // -->

		<!-- // DEPUTY ITEM - 2 - START // -->
		<div class="person-detail-item">
			<p class="item">Newsletter?:</p>
			<p class="answer deputy-newsletter-answer">No</p>
		</div>
		<!-- // DEPUTY ITEM - 2 - END // -->

		<!-- <a href="../5-add-deputy/5c-additional-info.html#deputy-pa-edit" class="main-cta secondary edit edit-public-deputy">Edit additional info</a> -->

	</div>

</div>
<!-- // DEPUTY DETAILS - END // -->
