<!-- // DEPUTY DETAILS - START // -->
<div id="deputy-details">

     <h2 class="description-title">
          <div class="deputy-organisation-name-answer">Weston Parpenham</div>'s
          clients details
     </h2>

     <table id="clients-table" class="tablesorter">
          <thead>
               <tr class="five-column">
                    <th><span></span>Details</th>
                    <th><span></span>Type</th>
                    <th><span></span>Appointed</th>
                    <th><span></span>Relationship</th>
                    <th></th>
               </tr>
          </thead>
          <tbody>

               <!-- DEPUTY SUMMARY ROW 1 - START -->
               <tr class="summary-row" data-value="1">
                    <td>
                         <!-- <span class="icon deputy"></span> -->
                         <a href="#" class="name">Mr Gerald Brackens</a><br>
                         <div class="accomodation">NH - Care/Nursing/Residential Home (Private/LA/Registered)</div>
                         <!-- <div class="address">92 Greyfriars Road, CANNOCK WOOD, W5154AA</div> -->
                         <a class="view-full-details" data-value="1">View full details</a>
                    </td>
                    <td>
                         <div class="wrapper">
                              <span class="icon welfare"></span>
                              <div>
                                   <a href="../4-client-hub/4a-new-client.html#HandW">14820940</a>- Active
                              </div>
                         </div>
                         <div class="wrapper">
                              <span class="icon property"></span>
                              <div>
                                   <a href="../4-client-hub/4a-new-client.html#PFA">14820940</a>- Active
                              </div>
                         </div>
                    </td>
                    <td>
                         Joint
                         <!-- <div class="deputy-status-deceased">Open</div> -->
                    </td>
                    <td>
                         Sibling
                    </td>
                    <td>
                         <span class="icon fee-payer"></span>
                         <span class="icon main-contact"></span>
                    </td>
               </tr>
               <!-- DEPUTY SUMMARY ROW 1 - END -->

               <!-- DEPUTY DETAILS ROW 1 - START -->
               <tr class="details-row" data-value="1">
                    <td colspan="5">

                         <h2 class="description-title">
                              Client details:
                              <!-- <a href="../7-edit-client/7a-edit-client.html" class="edit">Edit</a> -->
                         </h2>

                         <div class="details-wrap">

                              <!-- // CLIENT ITEM - 1 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Client status:</p>
                                   <p class="answer client-status">Active</p>
                              </div>
                              <!-- // CLIENT ITEM - 1 - END // -->

                              <!-- // CLIENT ITEM - 2 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Status date:</p>
                                   <p class="answer">09/09/2017</p>
                              </div>
                              <!-- // CLIENT ITEM - 2 - END // -->

                              <!-- // CLIENT ITEM - 3 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Name:</p>
                                   <p class="answer">Mr Gerald Brackens</p>
                              </div>
                              <!-- // CLIENT ITEM - 3 - END // -->

                              <!-- // CLIENT ITEM - 4 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Previously Known As:</p>
                                   <p class="answer">N/A</p>
                              </div>
                              <!-- // CLIENT ITEM - 4 - END // -->

                              <!-- // CLIENT ITEM - 5 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Date of birth:</p>
                                   <p class="answer">09/09/1983</p>
                              </div>
                              <!-- // CLIENT ITEM - 5 - END // -->

                              <!-- // CLIENT ITEM - 6 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Address:</p>
                                   <p class="answer">
                                        1 Grimwald Place,<br>
                                        Buckley,<br>
                                        Flintshire,<br>
                                        Flintshire,<br>
                                        CV32 788.<br>
                                        United Kingdom
                                   </p>
                              </div>
                              <!-- // CLIENT ITEM - 6 - END // -->

                              <!-- // CLIENT ITEM - 7 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Is airmail required?:</p>
                                   <p class="answer">No</p>
                              </div>
                              <!-- // CLIENT ITEM - 7 - END // -->

                              <!-- // CLIENT ITEM - 8 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Daytime telephone number:</p>
                                   <p class="answer">0123456789</p>
                              </div>
                              <!-- // CLIENT ITEM - 8 - END // -->

                              <!-- // CLIENT ITEM - 9 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Mobile telephone number:</p>
                                   <p class="answer">07768948823</p>
                              </div>
                              <!-- // CLIENT ITEM - 9 - END // -->

                              <!-- // CLIENT ITEM - 10 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Email address:</p>
                                   <p class="answer"><a href="#">gerald.brackens@hotmail.com</a></p>
                              </div>
                              <!-- // CLIENT ITEM - 10 - END // -->

                              <!-- // CLIENT ITEM - 11 - START // -->
                              <!-- <div class="person-detail-item">
                                   <p class="item">Is the deputy a violent risk?:</p>
                                   <p class="answer">No</p>
                              </div> -->
                              <!-- // CLIENT ITEM - 11 - END // -->

                              <!-- // CLIENT ITEM - 12 - START // -->
                              <!-- <div class="person-detail-item violent-answer">
                                   <p class="item">More details about the violent risk:</p>
                                   <p class="answer">N/A</p>
                              </div> -->
                              <!-- // CLIENT ITEM - 12 - END // -->

                              <!-- // CLIENT ITEM - 13 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Casarec Number:</p>
                                   <p class="answer">183947380</p>
                              </div>
                              <!-- // CLIENT ITEM - 13 - END // -->

                              <!-- // CLIENT ITEM - 14 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Accommodation Type:</p>
                                   <p class="answer">NH - Care/Nursing/Residential Home (Private/LA/Registered)</p>
                              </div>
                              <!-- // CLIENT ITEM - 14 - END // -->

                              <!-- // CLIENT ITEM - 15 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Medical Condition:</p>
                                   <p class="answer">Alzheimer's</p>
                              </div>
                              <!-- // CLIENT ITEM - 15 - END // -->

                              <!-- // CLIENT ITEM - 16 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Marital Status:</p>
                                   <p class="answer">Divorced</p>
                              </div>
                              <!-- // CLIENT ITEM - 16 - END // -->

                              <!-- // CLIENT ITEM - 17 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Has the client expressed a preferred method of contact?:</p>
                                   <ul class="answer">
                                        <li>Post</li>
                                        <li>Email</li>
                                   </ul>
                              </div>
                              <!-- // CLIENT ITEM - 17 - END // -->

                         </div>

                    </td>
               </tr>
               <!-- DEPUTY DETAILS ROW 1 - END -->

               <!-- DEPUTY SUMMARY ROW 2 - START -->
               <tr class="summary-row" data-value="2">
                    <td>
                         <!-- <span class="icon deputy"></span> -->
                         <a href="#" class="name">Mrs Lara Stevens</a><br>
                         <div class="accomodation">NH - Care/Nursing/Residential Home (Private/LA/Registered)</div>
                         <!-- <div class="address">92 Greyfriars Road, CANNOCK WOOD, W5154AA</div> -->
                         <a class="view-full-details" data-value="2">View full details</a>
                    </td>
                    <td>
                         <div class="wrapper">
                              <span class="icon welfare"></span>
                              <div>
                                   <a href="#">193049573</a>- Active
                              </div>
                         </div>
                    </td>
                    <td>
                         Joint
                         <!-- <div class="deputy-status-deceased">Open</div> -->
                    </td>
                    <td>
                         Sibling
                    </td>
                    <td>
                         <span class="icon fee-payer"></span>
                         <span class="icon main-contact"></span>
                    </td>
               </tr>
               <!-- DEPUTY SUMMARY ROW 2 - END -->

               <!-- DEPUTY DETAILS ROW 2 - START -->
               <tr class="details-row" data-value="2">
                    <td colspan="5">

                         <h2 class="description-title">
                              Client details:
                              <!-- <a href="../7-edit-client/7a-edit-client.html" class="edit">Edit</a> -->
                         </h2>

                         <div class="details-wrap">

                              <!-- // CLIENT ITEM - 1 - START // -->
                         	<div class="person-detail-item">
                         		<p class="item">Client status:</p>
                         		<p class="answer client-status">Active</p>
                         	</div>
                         	<!-- // CLIENT ITEM - 1 - END // -->

                         	<!-- // CLIENT ITEM - 2 - START // -->
                         	<div class="person-detail-item">
                         		<p class="item">Status date:</p>
                         		<p class="answer">09/09/2017</p>
                         	</div>
                         	<!-- // CLIENT ITEM - 2 - END // -->

                         	<!-- // CLIENT ITEM - 3 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Name:</p>
                                   <p class="answer">Mrs Lara Stevens</p>
                              </div>
                         	<!-- // CLIENT ITEM - 3 - END // -->

                              <!-- // CLIENT ITEM - 4 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Previously Known As:</p>
                                   <p class="answer">Miss Lara Hodgeson</p>
                              </div>
                              <!-- // CLIENT ITEM - 4 - END // -->

                         	<!-- // CLIENT ITEM - 5 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Date of birth:</p>
                                   <p class="answer">17/07/1981</p>
                              </div>
                         	<!-- // CLIENT ITEM - 5 - END // -->

                         	<!-- // CLIENT ITEM - 6 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Address:</p>
                                   <p class="answer">
                                        34 Broomfield Place,<br>
                                        STOKESLEY,<br>
                                        TS9 8TU.<br>
                                        United Kingdom
                                   </p>
                              </div>
                         	<!-- // CLIENT ITEM - 6 - END // -->

                         	<!-- // CLIENT ITEM - 7 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Is airmail required?:</p>
                                   <p class="answer">No</p>
                              </div>
                         	<!-- // CLIENT ITEM - 7 - END // -->

                         	<!-- // CLIENT ITEM - 8 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Daytime telephone number:</p>
                                   <p class="answer">07079962666</p>
                              </div>
                         	<!-- // CLIENT ITEM - 8 - END // -->

                         	<!-- // CLIENT ITEM - 9 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Mobile telephone number:</p>
                                   <p class="answer">07079962666</p>
                              </div>
                         	<!-- // CLIENT ITEM - 9 - END // -->

                         	<!-- // CLIENT ITEM - 10 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Email address:</p>
                                   <p class="answer"><a href="#">lara.stevens@jourrapide.com</a></p>
                              </div>
                         	<!-- // CLIENT ITEM - 10 - END // -->

                         	<!-- // CLIENT ITEM - 11 - START // -->
                              <!-- <div class="person-detail-item">
                                   <p class="item">Is the deputy a violent risk?:</p>
                                   <p class="answer">No</p>
                              </div> -->
                         	<!-- // CLIENT ITEM - 11 - END // -->

                              <!-- // CLIENT ITEM - 12 - START // -->
                              <!-- <div class="person-detail-item violent-answer">
                                   <p class="item">More details about the violent risk:</p>
                                   <p class="answer">N/A</p>
                              </div> -->
                              <!-- // CLIENT ITEM - 12 - END // -->

                         	<!-- // CLIENT ITEM - 13 - START // -->
                         	<div class="person-detail-item">
                         		<p class="item">Casarec Number:</p>
                         		<p class="answer">183947380</p>
                         	</div>
                         	<!-- // CLIENT ITEM - 13 - END // -->

                         	<!-- // CLIENT ITEM - 14 - START // -->
                         	<div class="person-detail-item">
                         		<p class="item">Accommodation Type:</p>
                         		<p class="answer">LA Nursing home</p>
                         	</div>
                         	<!-- // CLIENT ITEM - 14 - END // -->

                         	<!-- // CLIENT ITEM - 15 - START // -->
                         	<div class="person-detail-item">
                         		<p class="item">Medical Condition:</p>
                         		<p class="answer">Parkinson's</p>
                         	</div>
                         	<!-- // CLIENT ITEM - 15 - END // -->

                         	<!-- // CLIENT ITEM - 16 - START // -->
                         	<div class="person-detail-item">
                         		<p class="item">Marital Status:</p>
                         		<p class="answer">Married</p>
                         	</div>
                         	<!-- // CLIENT ITEM - 16 - END // -->

                         	<!-- // CLIENT ITEM - 17 - START // -->
                         	<div class="person-detail-item">
                         		<p class="item">Has the client expressed a preferred method of contact?:</p>
                         		<ul class="answer">
                         			<li>Post</li>
                         			<li>Email</li>
                         		</ul>
                         	</div>
                         	<!-- // CLIENT ITEM - 17 - END // -->

                         </div>

                    </td>
               </tr>
               <!-- DEPUTY DETAILS ROW 2 - END -->

               <!-- DEPUTY SUMMARY ROW 3 - START -->
               <tr class="summary-row" data-value="3">
                    <td>
                         <a href="#" class="name">Mrs Carla Frith</a><br>
                         <div class="accomodation">PH - Private Hospital</div>
                         <!-- <div class="address">40 Haslemere Road, CANNOCK WOOD, W5174LD</div> -->
                         <a class="view-full-details" data-value="3">View full details</a>
                    </td>
                    <td>
                         <div class="wrapper">
                              <span class="icon welfare"></span>
                              <div>
                                   <a href="#">157845687</a>- Active
                              </div>
                         </div>
                         <div class="wrapper">
                              <span class="icon property"></span>
                              <div>
                                   <a href="#">135689565</a>- Active
                              </div>
                         </div>
                    </td>
                    <td>
                         Joint &amp; severally
                         <!-- <div class="deputy-status-deceased">Active</div> -->
                    </td>
                    <td>
                         Sibling
                    </td>
                    <td>
                         <span class="icon main-contact"></span>
                    </td>
               </tr>
               <!-- DEPUTY SUMMARY ROW 3 - END -->

               <!-- DEPUTY DETAILS ROW 3 - START -->
               <tr class="details-row" data-value="3">
                    <td colspan="5">

                         <h2 class="description-title">
                              Client details:
                              <!-- <a href="../7-edit-client/7a-edit-client.html" class="edit">Edit</a> -->
                         </h2>

                         <div class="details-wrap">

                              <!-- // CLIENT ITEM - 1 - START // -->
                         	<div class="person-detail-item">
                         		<p class="item">Client status:</p>
                         		<p class="answer client-status">Active</p>
                         	</div>
                         	<!-- // CLIENT ITEM - 1 - END // -->

                         	<!-- // CLIENT ITEM - 2 - START // -->
                         	<div class="person-detail-item">
                         		<p class="item">Status date:</p>
                         		<p class="answer">09/09/2017</p>
                         	</div>
                         	<!-- // CLIENT ITEM - 2 - END // -->

                         	<!-- // CLIENT ITEM - 3 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Name:</p>
                                   <p class="answer">Mrs Carla Frith</p>
                              </div>
                         	<!-- // CLIENT ITEM - 3 - END // -->

                              <!-- // CLIENT ITEM - 4 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Previously Known As:</p>
                                   <p class="answer">N/A</p>
                              </div>
                              <!-- // CLIENT ITEM - 4 - END // -->

                         	<!-- // CLIENT ITEM - 5 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Date of birth:</p>
                                   <p class="answer">25/06/1983</p>
                              </div>
                         	<!-- // CLIENT ITEM - 5 - END // -->

                         	<!-- // CLIENT ITEM - 6 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Address:</p>
                                   <p class="answer">
                                        35 Broad Street,<br>
                                        LOWER WELSON,<br>
                                        HR3 1UD.<br>
                                        United Kingdom
                                   </p>
                              </div>
                         	<!-- // CLIENT ITEM - 6 - END // -->

                         	<!-- // CLIENT ITEM - 7 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Is airmail required?:</p>
                                   <p class="answer">No</p>
                              </div>
                         	<!-- // CLIENT ITEM - 7 - END // -->

                         	<!-- // CLIENT ITEM - 8 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Daytime telephone number:</p>
                                   <p class="answer">07772881687</p>
                              </div>
                         	<!-- // CLIENT ITEM - 8 - END // -->

                         	<!-- // CLIENT ITEM - 9 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Mobile telephone number:</p>
                                   <p class="answer">07772881687</p>
                              </div>
                         	<!-- // CLIENT ITEM - 9 - END // -->

                         	<!-- // CLIENT ITEM - 10 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Email address:</p>
                                   <p class="answer"><a href="#">carla.frith@jourrapide.com</a></p>
                              </div>
                         	<!-- // CLIENT ITEM - 10 - END // -->

                         	<!-- // CLIENT ITEM - 11 - START // -->
                              <!-- <div class="person-detail-item">
                                   <p class="item">Is the client a violent risk?:</p>
                                   <p class="answer">Yes</p>
                              </div> -->
                         	<!-- // CLIENT ITEM - 11 - END // -->

                              <!-- // CLIENT ITEM - 12 - START // -->
                              <!-- <div class="person-detail-item violent-answer-text">
                                   <p class="item">More details about the violent risk:</p>
                                   <p class="answer">N/A</p>
                              </div> -->
                              <!-- // CLIENT ITEM - 12 - END // -->

                         	<!-- // CLIENT ITEM - 13 - START // -->
                         	<div class="person-detail-item">
                         		<p class="item">Casarec Number:</p>
                         		<p class="answer">183920478</p>
                         	</div>
                         	<!-- // CLIENT ITEM - 13 - END // -->

                         	<!-- // CLIENT ITEM - 14 - START // -->
                         	<div class="person-detail-item">
                         		<p class="item">Accommodation Type:</p>
                         		<p class="answer">LA Nursing home</p>
                         	</div>
                         	<!-- // CLIENT ITEM - 14 - END // -->

                         	<!-- // CLIENT ITEM - 15 - START // -->
                         	<div class="person-detail-item">
                         		<p class="item">Medical Condition:</p>
                         		<p class="answer">Alzheimer's</p>
                         	</div>
                         	<!-- // CLIENT ITEM - 15 - END // -->

                         	<!-- // CLIENT ITEM - 16 - START // -->
                         	<div class="person-detail-item">
                         		<p class="item">Marital Status:</p>
                         		<p class="answer">Divorced</p>
                         	</div>
                         	<!-- // CLIENT ITEM - 16 - END // -->

                         	<!-- // CLIENT ITEM - 17 - START // -->
                         	<div class="person-detail-item">
                         		<p class="item">Has the client expressed a preferred method of contact?:</p>
                         		<ul class="answer">
                         			<li>Post</li>
                         			<li>Email</li>
                         		</ul>
                         	</div>
                         	<!-- // CLIENT ITEM - 17 - END // -->

                         </div>

                    </td>
               </tr>
               <!-- DEPUTY DETAILS ROW 3 - END -->

          </tbody>
     </table>

</div>
<!-- // DEPUTY DETAILS - END // -->
