<!-- // TIMELINE - END // -->
<div id="list-of-timeline-deputy">

	<!-- // TIMELINE - START // -->
	<div class="row">
		<div class="large-12 large-uncentered columns">

			<h2 class="description-title">
				Timeline
				<a class="reverse-timeline">Reverse timeline</a>
			</h2>

			<!-- <div id="filter-panel">
				<div id="scroller-anchor"></div>
				<div id="scroller">
					<form>
						<nav>
							<ul>
								<li>
									<a class="filter-all checked">All</a>
								</li>
								<li>
									<label><input type="checkbox" value="one" name="filter-value">Supervision level</label>
								</li>
								<li>
									<label><input type="checkbox" value="two" name="filter-value">Order details</label>
								</li>
								<li>
									<label><input type="checkbox" value="three" name="filter-value">Client details</label>
								</li>
								<li>
									<label><input type="checkbox" value="four" name="filter-value">Tasks completed</label>
								</li>
							</ul>
						</nav>
					</form>
				</div>
			</div> -->

			<ol id="vertical-timeline">

				<div id="filter-results" class="order-1">Filtered timeline results...</div>

				<!-- DATE INDICATOR - START -->
				<li class="sectionContent date-indicator all order-2">
					<span class="dot"></span>
					<span class="border"></span>
					<div>Today</div>
				</li>
				<!-- DATE INDICATOR - END -->

				<!-- /////////////////////////// LI ITEM 1 - START /////////////////////////// -->
				<li class="sectionContent pdf-review four all order-3">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon type"></span>
								Details
								<div class="created"><span class="icon"></span>Updated by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>01/01/2018 14:22 — #XU</div>
							</h2>
						</div>
						<p><strong>Ms</strong> changed to <strong>Mrs</strong></p>
						<p><strong>Smith</strong> changed to <strong>Stephens</strong></p>
						<p><strong>Previous name</strong> set to <strong>Ms Lara Smith</strong></p>
					</div>

					<span class="dot end"></span>

				</li>
				<!-- /////////////////////////// LI ITEM 1 - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM 2 - START /////////////////////////// -->
				<li class="sectionContent case one all order-4">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon type"></span>
								Address
								<div class="created"><span class="icon"></span>Updated by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>01/01/2018 14:22 — #XU</div>
							</h2>
						</div>
						<p><strong>1 little road, STOKELSEY, Little smithing</strong> changed to <strong>34 Broomfield Place, STOKESLEY, Little smithing</strong></p>
						<p><strong>TS9 8YU</strong> changed to <strong>TS9 8TU</strong></p>
					</div>

					<span class="dot end"></span>

				</li>
				<!-- /////////////////////////// LI ITEM 2 - END /////////////////////////// -->

				<!-- DATE INDICATOR - START -->
				<li class="sectionContent date-indicator all order-5">
					<span class="dot"></span>
					<span class="border"></span>
					<div>This week</div>
				</li>
				<!-- DATE INDICATOR - END -->

				<!-- /////////////////////////// LI ITEM 3 - START /////////////////////////// -->
				<li class="sectionContent commission-visit four all order-6">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon type"></span>
								Contact details
								<div class="created"><span class="icon"></span>Updated by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>01/12/2017 14:22 — #XU</div>
							</h2>
						</div>
						<p><strong>01234 56789</strong> changed to <strong>01234 568765</strong></p>
						<p><strong>Mobile phone</strong> set to <strong>07079962666</strong></p>

					</div>

					<span class="dot end"></span>

				</li>
				<!-- /////////////////////////// LI ITEM 3 - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM 4 - START /////////////////////////// -->
				<li class="sectionContent case two all order-7">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon type"></span>
								Additional Information
								<div class="created"><span class="icon"></span>Updated by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>01/06/2017 14:22 — #XU</div>
							</h2>
						</div>
						<p><strong>Post</strong> changed from <strong>Yes</strong> to <strong>No</strong></p>
						<p><strong>Interpreter</strong> set to <strong>No</strong></p>
						<p><strong>Newsletter</strong> changed from <strong>Yes</strong> to <strong>No</strong></p>

					</div>

					<span class="dot end"></span>

				</li>
				<!-- /////////////////////////// LI ITEM 4 - END /////////////////////////// -->

				<!-- DATE INDICATOR - START -->
				<li class="sectionContent date-indicator all order-8">
					<span class="dot"></span>
					<span class="border"></span>
					<div>This month</div>
				</li>
				<!-- DATE INDICATOR - END -->

				<!-- /////////////////////////// LI ITEM 5 - START /////////////////////////// -->
				<li class="sectionContent case one all order-9">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon type"></span>
								Unlink
								<div class="created"><span class="icon"></span>Updated by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>10/04/2017 14:22 — #XU</div>
							</h2>
						</div>
						<p><strong>Unlinked</strong> from case  <a href="#">HW - 10435252 - 7000-0000-3435</a> on <strong>10/04/2017</strong></p>
					</div>

					<span class="dot end"></span>

				</li>
				<!-- /////////////////////////// LI ITEM 5 - END /////////////////////////// -->

				<!-- DATE INDICATOR - START -->
				<li class="sectionContent date-indicator all order-10">
					<span class="dot"></span>
					<span class="border"></span>
					<div>Older</div>
				</li>
				<!-- DATE INDICATOR - END -->

				<!-- /////////////////////////// LI ITEM 6 - START /////////////////////////// -->
				<li class="sectionContent client one all order-11">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon type"></span>
								Link
								<div class="created"><span class="icon"></span>Updated by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>10/04/2017 14:23 — #XWClient</div>
							</h2>
						</div>

						<p><strong>Linked</strong> to case <a href="#">HW - 10435261 - 7000-0000-3436</a> on <strong>10/04/2017</strong></p>

					</div>

					<span class="dot end"></span>

				</li>
				<!-- /////////////////////////// LI ITEM 6 - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM 7 - START /////////////////////////// -->
				<!-- <li class="sectionContent case one all order-12">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon type"></span>
								Level of Supervision
								<div class="created"><span class="icon"></span>Updated by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>06 Jul 2017 14:22 — #XU</div>
							</h2>
						</div>
						<p>Level of supervision set to <strong>General</strong> from 01/01/2017</p>
						<p>Notes: <strong>Notes</strong></p>
					</div>

					<span class="dot end"></span>

				</li> -->
				<!-- /////////////////////////// LI ITEM 7 - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM 8 - START /////////////////////////// -->
				<!-- <li class="sectionContent case two all order-13">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon type"></span>
								Order created
								<div class="created"><span class="icon"></span>Created by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>06 Jul 2017 14:21 — #XROrder</div>
							</h2>
						</div>
						<p><strong>PFA 7000-0000-2506</strong></p>
						<p>Order case (7000-0000-2506) created on: <strong>06/07/2017</strong></p>
					</div>

					<span class="dot end"></span>

				</li> -->
				<!-- /////////////////////////// LI ITEM 8 - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM 9 - START /////////////////////////// -->
				<!-- <li class="sectionContent client three all order-14">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon type"></span>
								Client phone number
								<div class="created"><span class="icon"></span>Created by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>06 Jul 2017 14:17 — #XPPhone Number</div>
							</h2>
						</div>
						<p>Work number was changed to <strong>07476989745</strong></p>
					</div>

					<span class="dot end"></span>

				</li> -->
				<!-- /////////////////////////// LI ITEM 9 - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM 10 - START /////////////////////////// -->
				<!-- <li class="sectionContent client three all order-15">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon type"></span>
								Client address
								<div class="created"><span class="icon"></span>Created by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>06 Jul 2017 14:17 — #XO</div>
							</h2>
						</div>
						<p><strong>Address updated</strong></p>
						<p>128 middleton hall, harborne, b, Birmingham, West Midlands, B301SL, United Kingdom.</p>
					</div>

					<span class="dot end"></span>

				</li> -->
				<!-- /////////////////////////// LI ITEM 10 - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM 11 - START /////////////////////////// -->
				<!-- <li class="sectionContent client three all order-16">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon type"></span>
								Client created
								<div class="created"><span class="icon"></span>Created by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>06 Jul 2017 14:17 — #XN</div>
							</h2>
						</div>
						<p><strong>Super Mario</strong> (7000-0000-2472)</p>
						<p>Court Reference: <strong>11605598</strong></p>
					</div>

					<span class="dot end"></span>

				</li> -->
				<!-- /////////////////////////// LI ITEM 11 - END /////////////////////////// -->

			</ol>
		</div>
	</div>
	<!-- // TIMELINE - END // -->

</div>
<!-- // TIMELINE - END // -->

<!-- // MODAL - START // -->
<div id="review-report-1" style="display:none;">
	<img src="../../../production/img/V21/document-thumbnail.png" alt="Document" class="document-item">
</div>
<!-- // MODAL - END // -->

<!-- SCRIPT CONTENT - START -->
<!-- SCRIPT CONTENT - END -->
