<div class="dashboard-item-container">

	<table id="dashboard-clients-table" class="tablesorter">
		<thead>
			<tr class="seven-column">
				<th><span></span>Name</th>
				<th><span></span>Orders</th>
				<th><span></span>Deputies</th>
				<th><span></span>Deputy type</th>
				<th><span></span>Supervision level</th>
				<th><span></span>Tasks</th>
				<th><span></span>Assigned to</th>
			</tr>
		</thead>
		<tbody>

			<!-- CLIENT 1 - START -->
			<tr class="summary-row my-client deputy-lay order-property">
				<td>
					<label id="client-1" class="client-title">
						<input type="checkbox" value="client-1" name="re-assign-client">
					</label>
					<a href="#" class="client">Mr Gerald Brackens</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon property"><p>Property and finance</p></span>
						<div>
							<a href="4-client-page/4a-new-client.html#PFA">14820940</a> - Active
						</div>
					</div>
					<div class="wrapper">
                              <span class="icon welfare"><p>Health &amp; welfare</p></span>
                              <div>
                                   <a href="4-client-page/4a-new-client.html#HandW">14820940</a> - Active
                              </div>
                         </div>
				</td>
				<td>
					<div class="details deputies">
						<p>
							<a href="#" class="deputies open"><span class="number deputy">3</span> Deputies</a>
						</p>
					</div>
					<div class="description">
						<ul>
							<li>Tyrone Kelley</li>
							<li>Randal Rose</li>
							<li>Tommy	Mullins</li>
						</ul>
					</div>
				</td>
				<td>
					Lay
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number alert">3</span>
				</td>
				<td>
					My client
				</td>
			</tr>
			<!-- CLIENT 1 - END -->

			<!-- CLIENT 2 - START -->
			<tr class="summary-row joe-bloggs deputy-public-authority order-property">
				<td>
					<label id="client-2" class="client-title">
						<input type="checkbox" value="client-2" name="re-assign-client">
					</label>
					<a href="#" class="client">Mr Harvey Stevenson</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon property"><p>Property and finance</p></span>
						<div>
							<a href="4-client-page/4a-new-client.html#PFA">12348679</a> - Active
						</div>
					</div>
				</td>
				<td>
					<div class="details deputies">
						<p>
							<a href="#" class="deputies open"><span class="number deputy">1</span> Deputies</a>
						</p>
					</div>
					<div class="description">
						<ul>
							<li>Megan	Baldwin</li>
						</ul>
					</div>
				</td>
				<td>
					Public authority
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number">0</span>
				</td>
				<td>
					<a href="#" class="">Bloggs, Joe</a>
				</td>
			</tr>
			<!-- CLIENT 2 - END -->

			<!-- CLIENT 3 - START -->
			<tr class="summary-row simon-carter deputy-lay order-property">
				<td>
					<label id="client-3" class="client-title">
						<input type="checkbox" value="client-3" name="re-assign-client">
					</label>
					<a href="#" class="client">Miss Marguerite Owens</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon property"><p>Property and finance</p></span>
						<div>
							<a href="4-client-page/4a-new-client.html#PFA">18654365</a> - Active
						</div>
					</div>
					<div class="wrapper">
						<span class="icon welfare"><p>Health &amp; welfare</p></span>
						<div>
							<a href="4-client-page/4a-new-client.html#HandW">18654365</a> - Active
						</div>
					</div>
				</td>
				<td>
					<div class="details deputies">
						<p>
							<a href="#" class="deputies open"><span class="number deputy">2</span> Deputies</a>
						</p>
					</div>
					<div class="description">
						<ul>
							<li>Willie Potter</li>
							<li>Carla	Vargas</li>
						</ul>
					</div>
				</td>
				<td>
					Lay
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number alert">5</span>
				</td>
				<td>
					<a href="#" class="">Carter, Simon</a>
				</td>
			</tr>
			<!-- CLIENT 3 - END -->

			<!-- CLIENT 4 - START -->
			<tr class="summary-row david-harper deputy-lay order-property">
				<td>
					<label id="client-4" class="client-title">
						<input type="checkbox" value="client-4" name="re-assign-client">
					</label>
					<a href="#" class="client">Mrs Celia Carr</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon property"><p>Property and finance</p></span>
						<div>
							<a href="4-client-page/4a-new-client.html#PFA">15638956</a> - Active
						</div>
					</div>
					<div class="wrapper">
						<span class="icon welfare"><p>Health &amp; welfare</p></span>
						<div>
							<a href="4-client-page/4a-new-client.html#HandW">15638956</a> - Active
						</div>
					</div>
				</td>
				<td>
					<div class="details deputies">
						<p>
							<a href="#" class="deputies open"><span class="number deputy">2</span> Deputies</a>
						</p>
					</div>
					<div class="description">
						<ul>
							<li>Justin Mccormick</li>
							<li>Archie Watts</li>
						</ul>
					</div>
				</td>
				<td>
					Lay
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number alert">1</span>
				</td>
				<td>
					<a href="#" class="">Harper, David</a>
				</td>
			</tr>
			<!-- CLIENT 4 - END -->

			<!-- CLIENT 5 - START -->
			<tr class="summary-row shiobhan-mcdermot deputy-professional order-property">
				<td>
					<label id="client-5" class="client-title">
						<input type="checkbox" value="client-5" name="re-assign-client">
					</label>
					<a href="#" class="client">Dr Marcus Roy</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon property"><p>Property and finance</p></span>
						<div>
							<a href="4-client-page/4a-new-client.html#PFA">18695243</a> - Active
						</div>
					</div>
					<div class="wrapper">
						<span class="icon welfare"><p>Health &amp; welfare</p></span>
						<div>
							<a href="4-client-page/4a-new-client.html#HandW">18695243</a> - Active
						</div>
					</div>
				</td>
				<td>
					<div class="details deputies">
						<p>
							<a href="#" class="deputies open"><span class="number deputy">1</span> Deputies</a>
						</p>
					</div>
					<div class="description">
						<ul>
							<li>Dexter Woods</li>
						</ul>
					</div>
				</td>
				<td>
					Professional
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number">0</span>
				</td>
				<td>
					<a href="#" class="">McDermot, Shiobhan</a>
				</td>
			</tr>
			<!-- CLIENT 5 - END -->

			<!-- CLIENT 6 - START -->
			<tr class="summary-row hannah-nixon deputy-lay order-property">
				<td>
					<label id="client-6" class="client-title">
						<input type="checkbox" value="client-6" name="re-assign-client">
					</label>
					<a href="#" class="client">Ms Erika Neal</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon property"><p>Property and finance</p></span>
						<div>
							<a href="4-client-page/4a-new-client.html#PFA">13426235</a> - Active
						</div>
					</div>
				</td>
				<td>
					<div class="details deputies">
						<p>
							<a href="#" class="deputies open"><span class="number deputy">2</span> Deputies</a>
						</p>
					</div>
					<div class="description">
						<ul>
							<li>Barbara Clark</li>
							<li>Mona Maldonado</li>
						</ul>
					</div>
				</td>
				<td>
					Lay
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number alert">1</span>
				</td>
				<td>
					<a href="#" class="">Nixon, Hannah</a>
				</td>
			</tr>
			<!-- CLIENT 6 - END -->

			<!-- CLIENT 7 - START -->
			<tr class="summary-row my-client deputy-professional order-health">
				<td>
					<label id="client-7" class="client-title">
						<input type="checkbox" value="client-7" name="re-assign-client">
					</label>
					<a href="#" class="client">Mr Oscar Chaplin</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<div class="wrapper">
						<span class="icon welfare"><p>Health and welfare</p></span>
						<div>
							<a href="4-client-page/4a-new-client.html#HandW">16859489</a> - Active
						</div>
					</div>
				</td>
				<td>
					<div class="details deputies">
						<p>
							<a href="#" class="deputies open"><span class="number deputy">2</span> Deputies</a>
						</p>
					</div>
					<div class="description">
						<ul>
							<li>Nellie Hogan</li>
							<li>Shelia Baker</li>
						</ul>
					</div>
				</td>
				<td>
					Professional
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number alert">1</span>
				</td>
				<td>
					My client
				</td>
			</tr>
			<!-- CLIENT 7 - END -->

		</tbody>
	</table>

	<!-- /////////////////////////// Pagination - START /////////////////////////// -->
	<div id="pagination-small">
		<a>-</a>
		<span>
			<a class="current">1</a>
			<a>2</a>
			<a>3</a>
			<a>4</a>
			<a>5</a>
		</span>
		<a>+</a>
	</div>
	<!-- /////////////////////////// Pagination - END /////////////////////////// -->

</div>

<script>
function myFunction() {
	// Declare variables
	var input, filter, table, tr, td, i;
	input = document.getElementById("search-table");
	filter = input.value.toUpperCase();
	table = document.getElementById("dashboard-clients-table");
	tr = table.getElementsByTagName("tr");

	// Loop through all table rows, and hide those who don't match the search query
	for (i = 0; i < tr.length; i++) {
		td = tr[i].getElementsByTagName("td")[0];
		if (td) {
			if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
				tr[i].style.display = "";
			} else {
				tr[i].style.display = "none";
			}
		}
	}
}
</script>
