<div class="dashboard-item-container">

	<table id="dashboard-deputies-table" class="tablesorter">
		<thead>
			<tr class="six-column">
				<th><span></span>Name</th>
				<th><span></span>Clients</th>
				<th><span></span>Deputy type</th>
				<th><span></span>Supervision level</th>
				<th><span></span>Tasks</th>
				<th><span></span>Case worker</th>
			</tr>
		</thead>
		<tbody>

			<!-- CLIENT 1 - START -->
			<tr class="summary-row my-deputy deputy-public-authority">
				<td>
					<label id="deputy-1" class="deputy-title">
						<input type="checkbox" value="deputy-1" name="re-assign-deputy">
					</label>
					<a href="#" class="client">Weston Parpenham</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy large">500+</span> Clients</p>
				</td>
				<td>
					Public authority
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number alert">3</span>
				</td>
				<td>
					My deputy
				</td>
			</tr>
			<!-- CLIENT 1 - END -->

			<!-- CLIENT 2 - START -->
			<tr class="summary-row joe-bloggs deputy-professional">
				<td>
					<label id="deputy-2" class="deputy-title">
						<input type="checkbox" value="deputy-2" name="re-assign-deputy">
					</label>
					<a href="#" class="client">Connor, Caur & Burrows</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies"><span class="number deputy large">250+</span> Clients</p>
				</td>
				<td>
					Professional
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number">0</span>
				</td>
				<td>
					<a href="#" class="">Bloggs, Joe</a>
			</tr>
			<!-- CLIENT 2 - END -->

			<!-- CLIENT 3 - START -->
			<tr class="summary-row simon-carter deputy-public-authority">
				<td>
					<label id="deputy-3" class="deputy-title">
						<input type="checkbox" value="deputy-3" name="re-assign-deputy">
					</label>
					<a href="#" class="client">Eastern Parpenham</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy large">150</span> Clients</p>
				</td>
				<td>
					Public authority
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number alert">5</span>
				</td>
				<td>
					<a href="#" class="">Carter, Simon</a>
				</td>
			</tr>
			<!-- CLIENT 3 - END -->

			<!-- CLIENT 4 - START -->
			<tr class="summary-row david-harper deputy-professional">
				<td>
					<label id="deputy-4" class="deputy-title">
						<input type="checkbox" value="deputy-4" name="re-assign-deputy">
					</label>
					<a href="#" class="client">Higgs &amp; Sons</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy large">500+</span> Clients</p>
				</td>
				<td>
					Professional
				</td>
				<td>
					Minimal
				</td>
				<td>
					<span class="number alert">1</span>
				</td>
				<td>
					<a href="#" class="">Harper, David</a>
				</td>
			</tr>
			<!-- CLIENT 4 - END -->

			<!-- CLIENT 5 - START -->
			<tr class="summary-row shiobhan-mcdermot deputy-public-authority">
				<td>
					<label id="deputy-5" class="deputy-title">
						<input type="checkbox" value="deputy-5" name="re-assign-deputy">
					</label>
					<a href="#" class="client">Coventry City Council</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy large">235</span> Clients</p>
				</td>
				<td>
					Public authority
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number">0</span>
				</td>
				<td>
					<a href="#" class="">McDermot, Shiobhan</a>
				</td>
			</tr>
			<!-- CLIENT 5 - END -->

			<!-- CLIENT 6 - START -->
			<tr class="summary-row hannah-nixon deputy-public-authority">
				<td>
					<label id="deputy-6" class="deputy-title">
						<input type="checkbox" value="deputy-6" name="re-assign-deputy">
					</label>
					<a href="#" class="client">Essex County Council</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy large">600+</span> Clients</p>
				</td>
				<td>
					Public authority
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number alert">1</span>
				</td>
				<td>
					<a href="#" class="">Nixon, Hannah</a>
				</td>
			</tr>
			<!-- CLIENT 6 - END -->

			<!-- CLIENT 7 - START -->
			<tr class="summary-row my-deputy deputy-professional">
				<td>
					<label id="deputy-7" class="deputy-title">
						<input type="checkbox" value="deputy-7" name="re-assign-deputy">
					</label>
					<a href="#" class="client">Frank Lloyd Solicitors Ltd</a>
					<a href="#" class="view-full-details">View full details</a>
				</td>
				<td>
					<p class="deputies open"><span class="number deputy">35</span> Clients</p>
				</td>
				<td>
					Professional
				</td>
				<td>
					General
				</td>
				<td>
					<span class="number alert">1</span>
				</td>
				<td>
					My deputy
				</td>
			</tr>
			<!-- CLIENT 7 - END -->

		</tbody>
	</table>

	<!-- /////////////////////////// Pagination - START /////////////////////////// -->
	<div id="pagination-small">
		<a>-</a>
		<span>
			<a class="current">1</a>
			<a>2</a>
			<a>3</a>
			<a>4</a>
			<a>5</a>
		</span>
		<a>+</a>
	</div>
	<!-- /////////////////////////// Pagination - END /////////////////////////// -->

</div>

<script>
function myFunction() {
	// Declare variables
	var input, filter, table, tr, td, i;
	input = document.getElementById("search-table");
	filter = input.value.toUpperCase();
	table = document.getElementById("dashboard-deputies-table");
	tr = table.getElementsByTagName("tr");

	// Loop through all table rows, and hide those who don't match the search query
	for (i = 0; i < tr.length; i++) {
		td = tr[i].getElementsByTagName("td")[0];
		if (td) {
			if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
				tr[i].style.display = "";
			} else {
				tr[i].style.display = "none";
			}
		}
	}
}
</script>
