<!-- ///////////// PROPERTY ORDER INFO - START ///////////// -->
<section class="case-info">

	<h2 class="description-title">
		Order details
		<!-- <a href="../1-create-case/1a-the-order.html#EditCase" class="edit edit-case-pfa">Edit order</a> -->
	</h2>

	<div id="flexbox-container">

		<!-- ITEM - 1 - START -->
		<div class="info-section">
			<p>Order type:</p>
			<p class="answer">Property &amp; affiars</p>
		</div>
		<!-- ITEM - 1 - END -->

		<!-- ITEM - 2 - START -->
		<div class="info-section">
			<p>Court reference:</p>
			<p class="answer case-court-ref-answer">14820940</p>
		</div>
		<!-- ITEM - 2 - END -->

		<!-- ITEM - 3 - START -->
		<div class="info-section">
			<p>Order date:</p>
			<p class="answer case-order-date-answer">28/08/2018</p>
		</div>
		<!-- ITEM - 3 - END -->

		<!-- ITEM - 4 - START -->
		<div class="info-section">
			<p>Order issue date:</p>
			<p class="answer case-order-issue-date-answer">28/08/2017</p>
		</div>
		<!-- ITEM - 4 - END -->

		<!-- ITEM - 5 - START -->
		<div class="info-section">
			<p>Order received date:</p>
			<p class="answer case-status-date-answer">28/07/2017</p>
		</div>
		<!-- ITEM - 5 - END -->

		<!-- ITEM - 6 - START -->
		<div class="info-section">
			<p>Order title:</p>
			<p class="answer case-order-title-answer">Order title</p>
		</div>
		<!-- ITEM - 6 - END -->

		<!-- ITEM - 7 - START -->
		<div class="info-section">
			<p>Order status:</p>
			<p class="answer case-order-status-answer">Open</p>
		</div>
		<!-- ITEM - 7 - END -->

		<!-- ITEM - 8 - START -->
		<div class="info-section">
			<p>Status date:</p>
			<p class="answer case-status-date-answer">28/08/2017</p>
		</div>
		<!-- ITEM - 8 - END -->

	</div>

	<h2 class="description-title">
		How have the deputy/deputies been appointed?
	</h2>

	<div id="flexbox-container">

		<!-- ITEM - 9 - START -->
		<div class="info-section">
			<p>How have the deputy / deputies been appointed?:</p>
			<p class="answer deputies-appointed-answer">Joint</p>
		</div>
		<!-- ITEM - 9 - END -->

	</div>

	<h2 class="description-title">
		The bond
		<a href="../1-create-case/1b-the-bond.html" class="edit add-bond">Add bond</a>
		<a href="../1-create-case/1b-the-bond.html" class="edit edit-bond">Edit bond</a>
		<!-- <a href="../1-create-case/1b-the-bond.html" class="bond-dispense">Dispense bond</a> -->
	</h2>

	<div id="flexbox-container">

		<!-- ITEM - 13 - START -->
		<div class="info-section">
			<p>Security bond?:</p>
			<p class="answer security-bond-answer">No</p>
		</div>
		<!-- ITEM - 13 - END -->

		<!-- ITEM - 14 - START -->
		<div class="info-section dispense-bond-info">
			<p>Discharge date:</p>
			<p class="answer bond-dispensed-date-answer">N/A</p>
		</div>
		<!-- ITEM - 14 - END -->

		<!-- ITEM - 15 - START -->
		<div class="info-section dispense-bond-info">
			<p>Dispensed reason:</p>
			<p class="answer bond-dispensed-reason-answer">N/A</p>
		</div>
		<!-- ITEM - 15 - END -->

		<!-- ITEM - 16 - START -->
		<div class="info-section bond-info">
			<p>Required bond amount (£ - Court order):</p>
			<p class="answer">£ <span class="bond-amount-answer">N/A</span></p>
		</div>
		<!-- ITEM - 16 - END -->

		<!-- ITEM - 17 - START -->
		<div class="info-section bond-info">
			<p>Bond amount taken (£):</p>
			<p class="answer">£ <span class="bond-value-answer">N/A</span></p>
		</div>
		<!-- ITEM - 17 - END -->

		<!-- ITEM - 18 - START -->
		<div class="info-section bond-info">
			<p>Company:</p>
			<p class="answer bond-company-answer">N/A</p>
			<p class="answer bond-other-answer-text">N/A</p>
		</div>
		<!-- ITEM - 18 - END -->

		<!-- ITEM - 19 - START -->
		<div class="info-section bond-info">
			<p>Bond reference number:</p>
			<p class="answer bond-ref-number-answer">N/A</p>
		</div>
		<!-- ITEM - 19 - END -->

		<!-- ITEM - 20 - START -->
		<div class="info-section bond-info">
			<p>Renewal date:</p>
			<p class="answer bond-renewal-date-answer">N/A</p>
		</div>
		<!-- ITEM - 20 - END -->

	</div>

</section>
<!-- ///////////// PROPERTY ORDER INFO - END ///////////// -->
