<!-- // TIMELINE - END // -->
<div id="list-of-timeline">

	<!-- <div class="no-items">
		<p>There are no summary for this client as we have yet to enter more info.</p>
		<a href="#" class="main-cta">Create case</a>
	</div> -->

	<h2 class="description-title">
		Order timeline
	</h2>

	<!-- // COMMISSION VISIT MESSAGE - START // -->
	<div class="row">
		<div class="large-12 large-uncentered columns">
			<ol id="vertical-timeline">

				<!-- DATE INDICATOR - START -->
				<li class="date-indicator">
					<span class="dot"></span>
					<span class="border"></span>
					<div>Today</div>
				</li>
				<!-- DATE INDICATOR - END -->

				<!-- /////////////////////////// LI ITEM - START /////////////////////////// -->
				<li class="outstanding pdf-review">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">

						<!-- // ACTION TITLE - 1 - START // -->
						<div class="title">
							<h2>
								<span class="icon"></span>
								Visit report received
							</h2>
						</div>
						<!-- // ACTION TITLE - 1 - END // -->

						<a href="#review-report-1" rel="modal:open">Review report</a>

					</div>

				</li>
				<!-- /////////////////////////// LI ITEM - END /////////////////////////// -->

				<!-- DATE INDICATOR - START -->
				<li class="date-indicator">
					<span class="dot"></span>
					<span class="border"></span>
					<div>This week</div>
				</li>
				<!-- DATE INDICATOR - END -->

				<!-- /////////////////////////// LI ITEM - START /////////////////////////// -->
				<li>

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">

						<!-- // ACTION TITLE - 1 - START // -->
						<div class="title">
							<h2>
								<span class="icon"></span>
								Commissioned visit
							</h2>
						</div>
						<!-- // ACTION TITLE - 1 - END // -->

						<a class="more-info indent">More info</a>

						<div class="details">

							<!-- // DEPUTY ITEM - 1 - START // -->
							<div class="visit-detail-item">
								<span class="item">Order no.:</span>
								<span class="answer case-no">29273638201</span>
							</div>
							<!-- // DEPUTY ITEM - 1 - END // -->

							<!-- // DEPUTY ITEM - 2 - START // -->
							<div class="visit-detail-item">
								<span class="item">Visiting:</span>
								<span class="answer">
									<ul id="visiting">
									</ul>
								</span>
							</div>
							<!-- // DEPUTY ITEM - 2 - END // -->

							<!-- // DEPUTY ITEM - 3 - START // -->
							<div class="visit-detail-item">
								<span class="item">Team:</span>
								<span class="answer visit-team">Health &amp; welfare teams</span>
							</div>
							<!-- // DEPUTY ITEM - 3 - END // -->

							<!-- // DEPUTY ITEM - 4 - START // -->
							<div class="visit-detail-item">
								<span class="item">Type of visit:</span>
								<span class="answer type-of-visit"></span>
							</div>
							<!-- // DEPUTY ITEM - 4 - END // -->

							<!-- // DEPUTY ITEM - 5 - START // -->
							<div class="visit-detail-item">
								<span class="item">Due back date:</span>
								<span class="answer visit-due-back-date">Fri Apr 28 2017</span>
							</div>
							<!-- // DEPUTY ITEM - 5 - END // -->

							<!-- // DEPUTY ITEM - 6 - START // -->
							<div class="visit-detail-item">
								<span class="item">Commission date:</span>
								<span class="answer visit-commission-date">Fri Apr 28 2017</span>
							</div>
							<!-- // DEPUTY ITEM - 6 - END // -->

						</div>

					</div>

				</li>
				<!-- /////////////////////////// LI ITEM - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM - START /////////////////////////// -->
				<li class="case">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">

						<!-- // ACTION TITLE - 1 - START // -->
						<div class="title">
							<h2>
								<span class="icon"></span>
								Order created
							</h2>
						</div>
						<!-- // ACTION TITLE - 1 - END // -->

						<p>Date created: <strong>Tue Apr 18 2017</strong></p>

					</div>

				</li>
				<!-- /////////////////////////// LI ITEM - END /////////////////////////// -->

				<!-- DATE INDICATOR - START -->
				<li class="date-indicator">
					<span class="dot"></span>
					<span class="border"></span>
					<div>This month</div>
				</li>
				<!-- DATE INDICATOR - END -->



				<!-- DATE INDICATOR - START -->
				<li class="date-indicator">
					<span class="dot"></span>
					<span class="border"></span>
					<div>Older</div>
				</li>
				<!-- DATE INDICATOR - END -->
















				<!-- /////////////////////////// LI ITEM - START /////////////////////////// -->
				<li class="client">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">

						<!-- // ACTION TITLE - 1 - START // -->
						<div class="title">
							<h2>
								<span class="icon"></span>
								Level of Supervision
								<div class="created"><span class="icon"></span>Updated by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>06 Jul 2017 14:23 — #XWClient</div>
							</h2>
						</div>
						<!-- // ACTION TITLE - 1 - END // -->

						<p><strong>Super Mario</strong> (700000002472)</p>
						<p>Court Reference 11605598</p>
						<p>SageID 123453 changed to 1234532</p>
						<p>Status date: 01/01/2009 changed to 01/01/2010</p>

					</div>

				</li>
				<!-- /////////////////////////// LI ITEM - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM - START /////////////////////////// -->
				<li class="case">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">

						<!-- // ACTION TITLE - 1 - START // -->
						<div class="title">
							<h2>
								<span class="icon"></span>
								Level of Supervision
								<div class="created"><span class="icon"></span>Updated by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>06 Jul 2017 14:22 — #XU</div>
							</h2>
						</div>
						<!-- // ACTION TITLE - 1 - END // -->

						<p>Level of supervision set to <strong>General</strong> from 01/01/2017</p>
						<p>Notes: Notes</p>

					</div>

				</li>
				<!-- /////////////////////////// LI ITEM - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM - START /////////////////////////// -->
				<li class="case">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">

						<!-- // ACTION TITLE - 1 - START // -->
						<div class="title">
							<h2>
								<span class="icon"></span>
								Order created
								<div class="created"><span class="icon"></span>Created by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>06 Jul 2017 14:21 — #XROrder</div>
							</h2>
						</div>
						<!-- // ACTION TITLE - 1 - END // -->

						<p><strong>PFA 7000-0000-2506</strong></p>
						<p>Order case (7000-0000-2506) created on: 06/07/2017</p>

					</div>

				</li>
				<!-- /////////////////////////// LI ITEM - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM - START /////////////////////////// -->
				<li class="client">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">

						<!-- // ACTION TITLE - 1 - START // -->
						<div class="title">
							<h2>
								<span class="icon"></span>
								Client phone number
								<div class="created"><span class="icon"></span>Created by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>06 Jul 2017 14:17 — #XPPhone Number</div>
							</h2>
						</div>
						<!-- // ACTION TITLE - 1 - END // -->

						<p>Work number was changed to <strong>07476989745</strong></p>

					</div>

				</li>
				<!-- /////////////////////////// LI ITEM - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM - START /////////////////////////// -->
				<li class="client">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">

						<!-- // ACTION TITLE - 1 - START // -->
						<div class="title">
							<h2>
								<span class="icon"></span>
								Client address
								<div class="created"><span class="icon"></span>Created by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>06 Jul 2017 14:17 — #XO</div>
							</h2>
						</div>
						<!-- // ACTION TITLE - 1 - END // -->

						<p><strong>Address updated</strong></p>
						<p>128 middleton hall, harborne, b, Birmingham, West Midlands, B301SL, United Kingdom.</p>

					</div>

				</li>
				<!-- /////////////////////////// LI ITEM - END /////////////////////////// -->

				<!-- /////////////////////////// LI ITEM - START /////////////////////////// -->
				<li class="client">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">

						<!-- // ACTION TITLE - 1 - START // -->
						<div class="title">
							<h2>
								<span class="icon"></span>
								Client created
								<div class="created"><span class="icon"></span>Created by <a href="#">case manager</a> — 12345678</div>
								<div class="date"><span class="icon"></span>06 Jul 2017 14:17 — #XN</div>
							</h2>
						</div>
						<!-- // ACTION TITLE - 1 - END // -->

						<p><strong>Super Mario</strong> (7000-0000-2472)</p>
						<p>Court Reference: 11605598</p>

					</div>

				</li>
				<!-- /////////////////////////// LI ITEM - END /////////////////////////// -->

















			</ol>
		</div>
	</div>
	<!-- // COMMISSION VISIT MESSAGE - END // -->

</div>
<!-- // TIMELINE - END // -->

<!-- // MODAL - START // -->
<div id="review-report-1" style="display:none;">
	<img src="../../../production/img/V18/document-thumbnail.png" alt="Document" class="document-item">
</div>
<!-- // MODAL - END // -->
