/* ---------------------------------------------------------------------------
* Main styles affecting the Application
* ---------------------------------------------------------------------------
*/

//  FOR ALL

header {
     &.index {
          background: $main-colour;
          padding: 0 0 5em 0;
          position: relative;
          margin: 0 0 2em 0;
          h1, h2, h3, h4, p {
               color: $white;
               margin: 0;
          }
          h1 {
               font-size: 3rem;
          }
          nav {
               display: inline-block;
               width: 100%;
               // height: 3em;
               padding: 0.5em;
               border-bottom: 1px solid rgba($white,0.2);
               margin: 0 0 3em 0;
          }
          .border {
               width: 10em;
               height: 3px;
               background: $white;
               opacity: 0.4;
               display: inline-block;
          }
          .row-divider {
               display: inline-block;
               width: 100%;
               background: url(#{$image-path}/divider.svg) no-repeat 50% 50% !important;
               background-size: cover;
               margin: 0;
               height: 1.688rem;
               position: absolute;
               bottom: -1px;
               left: 0;
          }
     }
     &.main {
          width: 4%;
          position: fixed;
          top: 0;
          bottom: 0;
          height: 100vh;
          background: $main-colour;
          border-right: 1px solid $white;
          z-index: 100;
          box-shadow: 10px 0px 20px 0px rgba($black,0.2);
          nav {
               .main-cta {
                    width: 100%;
               }
          }
          // .logo, .create-client, .create-deputy, .sign-out {
          //      padding: 1.5em 0.75em;
          //      text-align: center;
          //      position: relative;
          //      line-height: 0;
          //      padding: 1em 0.75em 1em 0.75em;
          //      display: inline-block;
          //      transform: none;
          //      @include standard-transition;
          //      &:hover, &:active, &:focus {
          //           background: rgba($white,0.1);
          //           img, .nav-icon {
          //                transform: scale(1.2);
          //           }
          //           p {
          //                // opacity: 1;
          //                // right: -10.5em;
          //                // text-indent: 0;
          //                width: 10em;
          //                display: inline-block;
          //                span {
          //                     opacity: 1;
          //                }
          //           }
          //      }
          //      img, .nav-icon {
          //           @include standard-transition;
          //           margin: 0;
          //           opacity: 1;
          //           border-radius: 0;
          //      }
          //      p {
          //           display: none;
          //           @include standard-transition;
          //           position: absolute;
          //           margin: 0 0 0 0;
          //           right: -11em;
          //           // text-indent: -1000em;
          //           top: 25%;
          //           width: 0;
          //           text-align: left;
          //           span {
          //                @include standard-transition;
          //                opacity: 0;
          //                display: inline-block;
          //                background: rgba($black,0.7);
          //                border-radius: $global-border-radius;
          //                font-family: $Montserrat;
          //                font-weight: bold;
          //                color: $white;
          //                padding: 0.5em 0.75em;
          //                &:before {
          //                     content: '';
          //                     position: absolute;
          //                     left: -0.5em;
          //                     top: 31%;
          //                     width: 0.5em;
          //                     height: 0.5em;
          //                     border-style: solid;
          //                     border-width: 0.5em 0.5em 0.5em 0;
          //                     border-color: transparent rgba($black,0.7) transparent transparent;
          //                }
          //           }
          //      }
          // }
          // .logo {
          //      border-bottom: 1px solid rgba($white,0.4);
          //      display: inline-block;
          //      img {
          //           margin: 0;
          //           padding: 0;
          //      }
          // }
          // .create-client, .create-deputy {
          //      padding-bottom: 0;
          //      background: none;
          //      border: none;
          //      &:hover, &:active, &:focus {
          //           background: none;
          //      }
          //      .nav-icon {
          //           width: 100%;
          //           height: 2.5em;
          //           border-radius: $global-border-radius;
          //           border: 3px solid $blue;
          //           float: none;
          //      }
          //      p {
          //           top: 30%;
          //      }
          // }
          // .create-client {
          //      .nav-icon {
          //           background: url(#{$image-path}/icons/add-client-white.svg) no-repeat 50% 50% $blue;
          //           background-size: 1.35em;
          //      }
          // }
          // .create-deputy {
          //      .nav-icon {
          //           background: url(#{$image-path}/icons/multi-deputies-white.svg) no-repeat 50% 50% $blue;
          //           background-size: 1.35em;
          //      }
          // }
          // .sign-out {
          //      width: 100%;
          //      background: none;
          //      text-align: center;
          //      border: none;
          //      border-radius: 0;
          //      float: none;
          //      display: inline-block;
          //      border-top: 1px solid rgba($white,0.4);
          //      position: absolute;
          //      bottom: 0;
          //      left: 0;
          //      right: 0;
          //      &:hover, &:active, &:focus {
          //           color: $white;
          //           // background: rgba($white,0.1);
          //           .nav-icon {
          //                border-bottom: none;
          //           }
          //      }
          //      .nav-icon {
          //           float: none;
          //           background: url(#{$image-path}/icons/sign-out.svg) no-repeat 50% 50%;
          //           background-size: 1.5em;
          //      }
          // }
     }
}

#section-header {
     // display: inline-block;
     position: relative;
     width: 100%;
     background: url(#{$image-path}/index.jpg) no-repeat 50% 0%;
     background-size: cover;
     line-height: 0;
     padding: 5.25em 0 1.5em 0;
     &.dashboard {
          h1 {
               color: rgba($white,0.5);
               font-weight: normal;
               div {
                    color: $white;
                    font-weight: bold;
               }
          }
          p {
               font-size: 1rem;
          }
     }
     .row {
          z-index: 2;
          position: relative;
          h1 {
               font-size: 2.5rem;
               span {
                    width: 100%;
                    text-transform: uppercase;
                    display: none;
                    &.normal, &.normal-status {
                         display: inline-block;
                    }
               }
          }
     }
     &.client-page, &.deputy-page {
          padding-bottom: 0.5em;
          h1, h1 a {
               position: relative;
               padding: 0.1em 0 0 2.5em;
               // margin: 0 0 0.35em 0;
               line-height: 0.75;
               margin: 0.25em 0 0.75em 0;
               font-size: 2.25rem;
               span {
                    margin: 1.25em 0 0 0;
                    line-height: 1;
               }
               span.type {
                    line-height: 1.2;
                    color: darken($blue,10%);
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(center);
                    position: absolute;
                    left: -0.25em;
                    text-align: center;
                    padding: 0 0 0 0.25em;
                    margin: 0 0.5em 0 0;
                    background: $white;
                    font-family: $Montserrat;
                    font-weight: bold;
                    letter-spacing: 0.15em;
                    text-transform: uppercase;
                    border-radius: 50%;
                    &.client, &.lay, &.professional, &.public {
                         top: -0.25em;
                         padding-left: 0.15em;
                    }
                    &.client {
                         width: 5em;
                         height: 5em;
                         font-size: 1rem;
                    }
                    &.lay, &.professional, &.public {
                         width: 3.25em;
                         height: 3.25em;
                         font-size: 1.5rem;
                    }
                    // &.lay {
                    // }
                    // &.professional {
                    //      width: 11.5em;
                    //      height: 11.5em;
                    //      font-size: 0.45rem;
                    // }
                    // &.public {
                    //      width: 9em;
                    //      height: 9em;
                    //      font-size: 0.6rem;
                    // }
               }
          }
          h1 a {
               padding: 0;
               color: $white;
          }
     }
     &.client-page {
          // .breadcrumb, h1 {
          //      float: left;
          //      clear: both;
          //      width: auto;
          // }
          &.content-page {
               h1 {
                    padding-left: 0;
               }
          }
          h1 {
               span {
                    a {
                         font-size: 1rem;
                         text-transform: initial;
                         font-weight: normal;
                         padding-right: 1.25em;
                         &.show-client-info {
                              background: url(#{$image-path}/icons/arrow-down.svg) no-repeat 100% 50%;
                              background-size: 0.9em;
                              &.close {
                                   background: url(#{$image-path}/icons/close-white.svg) no-repeat 106% 50%;
                                   background-size: 1.85em;
                                   margin: 0;
                                   float: none;
                              }
                         }
                    }
               }
          }
     }
     &.deputy-page {
          margin-bottom: 0.5em;
          .top-nav {
               .colour-wrapper {
                    background: rgba($green,0.8);
                    mix-blend-mode: hue;
               }
               label.switch.checked input:checked+.slider, div.switch.checked input:checked+.slider {
                    background-color: $green;
               }
          }
          h1 {
               margin-bottom: 0.5em;
               span {
                    &.type {
                         color: darken($green,2.5%);
                    }
               }
          }
          nav.top-nav .create-client .nav-icon {
               border: 3px solid $green;
               background: url(#{$image-path}/icons/add-client-white.svg) no-repeat 50% 50% $green;
               background-size: 1.35em;
          }
          .colour-wrapper {
               background: rgba($green,0.8);
               mix-blend-mode: unset;
          }
          &.content-page {
               margin-bottom: 0;
               h1 {
                    font-size: 2.5rem;
                    margin-bottom: 0.65em;
                    padding: 0;
               }
          }
     }
     &.violent-risk-message, &.welsh-message, &.deceased-message {
          h1 {
               padding: 0.175em 0 0.15em 2.5em;
               margin-top: 0.15em;
               .type {
                    display: none;
               }
          }
     }
     &.violent-risk-message {
          h1 {
               background: url(#{$image-path}/icons/violent-warning-white.svg) no-repeat 0 50%;
               background-size: contain;
               span.type {
                    display: none;
                    // color: $black;
               }
               span.violent {
                    display: inline-block;
               }
          }
          .colour-wrapper {
               background: rgba($black,0.8);
               mix-blend-mode: unset;
               // mix-blend-mode: hard-light;
          }
     }
     &.welsh-message {
          h1 {
               background: url(#{$image-path}/icons/welsh-warning-white.svg) no-repeat 0 50%;
               background-size: contain;
               span.type {
                    display: none;
                    // color: $black;
               }
               span.welsh {
                    display: inline-block;
               }
          }
     }
     &.deceased-message {
          &.content-page {
               h1 {
                    padding-left: 0;
                    background: none;
               }
          }
          h1 {
               background: url(#{$image-path}/icons/violent-warning-white.svg) no-repeat 0 50%;
               background-size: contain;
               margin-bottom: 0.5em;
               span.type {
                    display: none;
                    // color: $black;
               }
               span.deceased {
                    display: inline-block;
               }
          }
          .colour-wrapper {
               background: rgba($main-colour,0.8);
               mix-blend-mode: multiply;
               // mix-blend-mode: hard-light;
          }
     }
     &.confirmation-message {
          h1 {
               padding: 0.5em 0 0.5em 2.5em;
               background: url(#{$image-path}/icons/tick.svg) no-repeat 0 50%;
               background-size: 2em;
          }
          .colour-wrapper {
               background: rgba($green,0.8);
               mix-blend-mode: unset;
               // mix-blend-mode: hard-light;
          }
     }
     nav.breadcrumb {
          color: rgba($white,0.7);
          font-size: 1rem;
          margin: 0 0 0.5em 0;
          display: inline-block;
          width: 100%;
          .dashboard {
               display: inline-block;
               width: 1.5em;
               height: 1.5em;
               text-indent: -1000em;
               background: $white;
               border-bottom: none;
               background: url(#{$image-path}/sirius-logo-small.svg) no-repeat 50% 50%;
               background-size: contain;
               @include standard-transition;
               &:hover, &:active, &:focus {
                    transform: scale(1.4);
               }
          }
          a, .separator, span {
               display: inline-block;
               float: left;
               width: auto;
               line-height: 1.4;
          }
          .separator {
               margin: 0 1em;
               padding: 0.15em 0 0 0;
          }
          span {
               font-family: $Opensans-Bold;
               color: $white;
               div {
                    display: inline-block;
                    margin: 0 0.25em 0 0;
                    &.client-last-name {
                         margin: 0;
                    }
               }
          }
          a {
               color: rgba($white,0.7);
               font-family: $Opensans-Regular;
               &:hover, &:active, &:focus {
                    color: $white;
               }
               div {
                    display: inline-block;
                    float: left;
                    margin-right: 0.35em;
                    // &:last-of-type {
                    //      margin: 0;
                    // }
                    &.client-last-name {
                         margin: 0;
                    }
               }
          }
     }
     h1 {
          color: $white;
          margin: 0;
          padding: 0;
          span {
               color: rgba($white,0.7);
               font-size: 1rem;
          }
     }
     .horizontal-border {
          display: inline-block;
          width: 8em;
          height: 3px;
          background: rgba($white,0.4);
          margin: 0.75em 0;
          float: left;
          clear: both;
     }
     p {
          color: $white;
          font-size: 1.4rem;
          margin: 0;
     }
     #show-more {
          display: inline-block;
          color: $white;
          font-family: $Opensans-Regular;
          padding: 0 0 0 1.5em;
          // text-indent: -1000em;
          // width: 0.75em;
          // height: 1.35em;
          background: url(#{$image-path}/icons/down-white.svg) no-repeat -0.25em 50%;
          background-size: 1.5em;
          border-bottom: 1px dashed $white;
          // opacity: 0.7;
          &.close {
               background: url(#{$image-path}/icons/close-white.svg) no-repeat -0.5em 50%;
               background-size: 2em;
          }
          &:hover, &:active, &:focus {
               border-bottom: 1px solid $white;
          }
     }
     .extra-content {
          display: inline-block;
          width: 100%;
          padding: 0 0 2em 0;
          p {
               color: $white;
               margin: 0;
               font-size: 1.2rem;
               div {
                    color: $white;
                    margin: 0;
                    font-size: 1.2rem;
                    line-height: inherit;
               }
          }
          .left, .right {
               float: left;
               width: auto;
               p {
                    width: auto;
                    float: left;
                    clear: both;
               }
          }
          .left {
               margin: 0 1em 0 0;
               p {
                    font-family: $Opensans-Regular;
                    opacity: 0.6;
               }
          }
          .right {
               float: left !important;
               p {
                    font-family: $Opensans-Bold;
               }
          }
          a {
               width: auto;
               margin: 1.5em 0 0 0;
               padding: 0 0 0 1.5em;
               float: left;
               clear: both;
               color: $white;
               background: url(#{$image-path}/icons/edit-white.svg) no-repeat 0% 50%;
               background-size: contain;
          }
     }
}

#hidden-client-content {
     display: none;
     .wrapper {
          margin: 0.5em 0 0 0;
          padding: 1em 0 1em 0;
          border-top: 3px dashed rgba($white,0.5);
          display: inline-block;
          width: 100%;
          p {
               font-size: 1rem;
               color: rgba($white,0.5);
               width: 25%;
               strong {
                    // width: 70%;
                    // float: right;
                    color: $white;
                    margin-left: 1em;
               }
          }
     }
}

.deputy-details-page {
     #section-header.content-page.deceased-message {
          h1 {
               background: none;
               padding-left: 0;
          }
     }
}

// #title-panel {
//      display: inline-block;
//      width: auto;
//      float: left;
// }

#hub-filter-panel {
     display: inline-block;
     float: right;
     width: 100%;
     &.version-2, &.version-4 {
          nav {
               .filter {
                    .facts.icons {
                         .fact {
                              background: rgba($white,0.3);
                              padding-right: 1.25em;
                              border-radius: 34px;
                              color: $white;
                              .icon {
                                   margin-right: 0.75em;
                                   &:hover {
                                        p {
                                             display: inline-block;
                                        }
                                   }
                                   p {
                                        display: none;
                                        color: $white;
                                        font-size: 0.75rem;
                                        bottom: -3em;
                                        left: -2.35em;
                                        width: 7em;
                                   }
                                   &.deputy {
                                        background: url(#{$image-path}/icons/deputy-blue.svg) no-repeat 50% 50% $white;
                                        background-size: 1em;
                                   }
                                   &.tasks {
                                        background: url(#{$image-path}/icons/tasks-blue.svg) no-repeat 50% 50% $white;
                                        background-size: 1em;
                                   }
                              }
                         }
                    }
               }
          }
     }
     &.version-3, &.version-4 {
          nav {
               .filter {
                    &#pfa-actions {
                         border: 4px solid rgba($white,0.3);
                         width: 50%;
                         &:before {
                              display: none;
                         }
                    }
                    &#handw-actions {
                         width: 33.5%;
                    }
               }
          }
     }
     &.version-4 {

     }
     &.version-5 {
          width: 100%;
          nav {
               .filter {
                    margin: 0 0 0 2.5%;
                    width: 38.5%;
                    &#pfa-actions {
                         margin: 0;
                    }
                    &.due-date {
                         width: 20%;
                         float: right;
                    }
               }
          }
     }
     nav {
          // display: flex;
          // @include flexbox;
          // @include flex-wrap(wrap);
          .wrapper {
               position: relative;
               display: inline-block;
               margin: 0 0 0 2%;
               width: 49%;
               float: right;
               @include standard-transition;
               &.non-primary-case {
                    label#pfa-actions {
                         &.checked {
                              border-left: none;
                         }
                         border-left: 4px solid rgba($white,0.3);
                         &:before {
                              display: none;
                         }
                         // &:after {
                         //      margin: 0 0 0 -2.25em;
                         // }
                    }
                    .facts.text {
                         left: 1em;
                    }
               }
               &.checked {
                    .facts.text {
                         .fact {
                              strong {
                                   color: darken($blue-grey,20%);
                              }
                              span {
                                   background: $blue;
                                   color: $white;
                              }
                         }
                         label {
                              color: $main-colour;
                         }
                    }
                    &:hover {
                         .filter {
                              background: $white;
                         }
                    }
               }
               &.hw-wrapper {
                    .facts.text {
                         left: 1em;
                    }
               }
               &.pfa-wrapper {
                    margin: 0;
               }
               &:hover, &:active, &:focus {
                    transform: scale(1.05);
                    cursor: pointer;
                    .filter {
                         background: rgba($white,0.15);
                    }
               }
               .facts.text {
                    position: absolute;
                    z-index: 10;
                    left: 3.35em;
                    bottom: 1.25em;
                    display: inline-block;
                    .fact {
                         // position: absolute;
                         // left: 0.75em;
                         // bottom: 0.75em;
                         color: rgba($white,0.7);
                         font-size: 0.875rem;
                         line-height: 2;
                         margin: 0 0.75em 0 0;
                         border-bottom: none;
                         float: left;
                         &:hover {
                              strong {
                                   border-bottom: 1px solid;
                              }
                         }
                         strong {
                              border-bottom: 1px dashed;
                              font-weight: normal;
                         }
                         &:last-of-type {
                              margin: 0;
                         }
                         // &.two {
                         //      left: 9em;
                         // }
                         span {
                              display: inline-block;
                              position: relative;
                              top: 0.1em;
                              line-height: 1.75;
                              background: $white;
                              width: 1.75em;
                              height: 1.75em;
                              border-radius: 50%;
                              color: darken($blue,10%);
                              text-align: center;
                              margin: 0 0.5em 0 0;
                         }
                    }
                    label {
                         margin: 0 0 0 1em;
                         color: $white;
                         font-size: 0.875rem;
                         padding: 0.45em 0 0 2.25em;
                         &:before {
                              width: 25px;
                              height: 25px;
                              top: 0.15em;
                         }
                         &:after {
                              border-width: 0 0 3px 3px;
                              width: 13px;
                              height: 8px;
                              top: 9px;
                              left: 6px;
                         }
                    }
               }
          }
          .filter {
               height: 7.5em;
               z-index: 1;
               // @include flexbox;
               list-style: none;
               width: 100%;
               line-height: 1.6;
               // text-align: right;
               padding: 0.75em;
               min-height: 7.5em;
               // width: auto;
               border: 4px solid rgba($white,0.3);
               border-radius: $global-border-radius;
               position: relative;
               &#pfa-actions {
                    &.checked, &.checked:hover, &.checked:active, &.checked:focus  {
                         &:after {
                              margin: 0 0 0 -3.25em;
                              bottom: -2.25em;
                         }
                    }
               }
               &.checked, &.checked:hover, &.checked:active, &.checked:focus  {
                    background: $white;
                    border: 4px solid rgba($white,0.3);
                    &:after {
                         content: '';
                         position: absolute;
                         left: 50%;
                         bottom: -2.5em;
                         margin: 0 0 0 -2em;
                         width: 4em;
                         height: 1.5em;
                         z-index: 150;
                         border-style: solid;
                         border-width: 0 2em 2em 2em;
                         border-color: transparent transparent $white transparent;
                    }
                    h2 {
                         color: $main-colour;
                         strong {
                              color: darken($blue-grey,30%);
                         }
                    }
                    p {
                         color: darken($blue-grey,30%);
                         margin: 0 0 0 0.15em;
                         strong {
                              color: $main-colour;
                         }
                    }
                    .switch {
                         .slider {
                              background: $blue;
                              &:before {
                                   -webkit-transform: translateX(15em);
                                   -ms-transform: translateX(15em);
                                   transform: translateX(1.65em);
                              }
                         }
                    }
               }
               &.due-date {
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(center);
                    border: none;
                    margin-right: 0;
                    background: rgba($white,0.3);
                    &:hover, &:active, &:focus {
                         transform: scale(1);
                         cursor: default;
                         background: rgba($white,0.3);
                    }
                    .wrapper {
                         p {
                              text-align: center;
                              margin: 0;
                              width: 100%;
                              &.title {
                                   font-size: 0.875rem;
                                   color: rgba($white,0.7);
                              }
                              &.date {
                                   font-family: $Montserrat;
                                   font-weight: bold;
                                   font-size: 1.5rem;
                                   color: $white;
                              }
                         }
                    }
               }
               h2 {
                    color: $white;
                    font-size: 1.2rem;
                    text-transform: inherit;
                    font-weight: normal;
                    margin: 0 0 0.15em 0;
                    line-height: 1;
                    .icon {
                         width: 1.5em;
                         height: 1.5em;
                         margin: 0 0.35em 0 0;
                         // position: relative;
                         // top: -0.1em;
                         float: left;
                    }
                    strong {
                         color: rgba($white,0.5);
                         font-weight: normal;
                    }
                    div {
                         div, p {
                              float: left;
                              clear: both;
                         }
                         p {
                              margin: 0 !important;
                              font-size: 0.6em;
                         }
                    }
               }
               p {
                    font-size: 0.875rem;
                    color: rgba($white,0.5);
                    display: inline-block;
                    float: left;
                    width: auto;
                    margin-right: 0.75em;
                    &.bond-info {
                         display: none;
                    }
                    &:last-of-type {
                         margin: 0 0 0 0.15em;
                    }
                    strong {
                         color: $white;
                    }
               }
               .order-level, .icon.primary {
                    display: inline-block;
                    border-radius: 50%;
                    background: $white;
                    color: darken($blue,10%);
                    position: absolute;
                    box-shadow: 0px 0px 10px 0px rgba($black,0.2);
                    top: -1em;
                    right: -1em;
                    width: 2.5em;
                    height: 2.5em;
                    text-align: center;
                    line-height: 2.65;
                    z-index: 10;
               }
               // .icon.primary {
               //      background: url(#{$image-path}/icons/primary-white.svg) no-repeat 50% 50%;
               //      background-size: cover;
               //      right: 1.25em;
               //      z-index: 1;
               // }
               .switch {
                    position: absolute;
                    right: 0.75em;
                    bottom: 0.65em;
                    margin: 0;
                    width: 3.5em;
                    height: 28px;
                    input:checked + .slider:before {
                         -webkit-transform: translateX(17.5em);
                         -ms-transform: translateX(17.5em);
                         transform: translateX(1.65em);
                    }
                    .slider {
                         &:before {
                              height: 20px;
                              width: 20px;
                              left: 5px;
                         }
                    }
               }
          }
     }
}

#hub-filter-panel {
     #pfa-actions {
          border-left: 2.5em solid rgba($white,0.3);
          // padding-right: 2em;
          &:before {
               content: 'primary';
               display: inline-block;
               position: absolute;
               left: -4.75em;
               top: 50%;
               margin-top: -0.75em;
               font-size: 0.875rem;
               letter-spacing: 0.25rem;
               text-transform: uppercase;
               color: $white;
               transform: rotate(-90deg);
               font-family: "Montserrat",san-serif;
               font-weight: bold;
          }
          &.checked {
               border: none;
               border-left: 2.5em solid $blue-grey;
               // // border-top: 4px solid -webkit-linear-gradient(left, rgba($blue,0.3) 22%, $white 22%);
               // border-width: 3px 3px 3px 2.5em;
               // border-style: solid;
               // -webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from($blue), to(rgba(0, 0, 0, 0))) 1 100%;
               // -webkit-border-image: -webkit-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
               // -moz-border-image: -moz-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
               // -o-border-image: -o-linear-gradient(right, black, rgba(0, 0, 0, 0)) 1 100%;
               // border-image: linear-gradient(to right, black, rgba(0, 0, 0, 0)) 1 100%;
               // border-right: none;
               &:before {
                    color: $blue;
               }
          }
     }
}

#add-case-tile {
     display: none;
     a {
          @include standard-transition;
          @include flexbox;
          @include align-items(center);
          @include justify-content(center);
          min-height: 7.5em;
          border: 4px solid rgba($white,0.3);
          border-radius: $global-border-radius;
          color: $white;
          background: rgba($white,0.2);
          float: right;
          padding: 2em;
          width: 44%;
          &:hover, &:active, &:focus {
               background: $white;
               color: $blue;
               border: 4px solid $white;
               span {
                    background: url(#{$image-path}/icons/add-blue.svg) no-repeat 50% 50%;
                    background-size: contain;
               }
          }
          span {
               display: inline-block;
               width: 1.5em;
               height: 1.5em;
               background: url(#{$image-path}/icons/add-white.svg) no-repeat 50% 50%;
               background-size: contain;
               border-radius: 50%;
               margin: -0.15em 0.5em 0 0;
          }
     }
}

#additional-details {
     display: inline-block;
     width: 100%;
     background: rgba($white,0.1);
     border: 4px solid rgba($white,0.3);
     border-radius: $global-border-radius;
     height: 7em;
     padding: 0.75em;
     line-height: 1.2;
     .text {
          display: inline-block;
          float: left;
          width: 49%;
          margin: 0 2% 0.25em 0;
          color: rgba($white,0.5);
          font-size: 0.875rem;
          font-family: $Opensans-Regular;
          font-weight: normal;
          &:nth-of-type(even) {
               margin: 0 0 0.25em 0;
          }
          strong {
               color: $white;
               font-size: 1.2rem;
               width: 100%;
               display: inline-block;
               float: left;
               clear: both;
               font-family: $Montserrat;
          }
     }
}




// ONLY FOR LARGE DESKTOP (1281 up)
@media #{$xlarge-up} {


}

// ONLY FOR LARGE DESKTOP (1281)
@media #{$xlarge-only} {

}

// ONLY FOR DESKTOP (961)
@media #{$large-only} {


}

// ONLY FOR DESKTOP (961 up)
@media #{$large-up} {

     header {
          .border {
               margin: 0.5em 0 1em 0;
          }
     }

}

// TABLET AND UP (461 up)
@media #{$medium-up} {


}

// MEDIUM ONLY (461 - 960)
@media #{$medium-only} {

     header {
          .row-divider {
               display: none;
          }
     }

}

// // ONLY FOR MOBILE (960 and down)
// @media #{$medium-down} {
//
// }

// SMARTPHONE ONLY (Up to 460)
@media #{$small-only} {

     header {
          .row-divider {
               display: none;
          }
     }


}
