/* ---------------------------------------------------------------------------
* Main styles affecting the Application
* ---------------------------------------------------------------------------
*/

//  FOR ALL

#client-overview, #client-health, #client-property {
     padding-top: 1.5em;
}

.dashboard {
     // .description-title {
     //      padding-bottom: 0.35em;
     // }
     ul.tabs {
          height: 3.55em;
          li.tab-link {
               height: 3.5em;
               padding: 1.15em 0.75em 0.85em 0.75em;
               &:hover, &:focus, &:active {
                    border-bottom: none;
               }
               span {
                    width: 2.5em;
                    height: 2.5em;
                    margin-top: -0.65em;
                    // width: 2.5em;
                    // height: 2.5em;
                    // margin: -0.5em 0.5em 0 0;
                    &.small {
                         font-size: 0.75em;
                         width: 3.335em;
                         height: 3.335em;
                         margin-top: -0.85em;
                    }
               }
          }
     }
}

.deputy-details-page {
     ul.tabs {
          width: 100%;
     }
     .tab-content {
          width: 100%;
     }
     // ul#side-panel-tabs.tabs {
     //      height: 3.15em;
     // }
}

ul.tabs {
     display: inline-block;
     width: 100%;
     border-bottom: 6px solid darken($blue-grey,5%);
     margin: 0 0 0 0;
     height: 3.2em;
     &.dashboard-tabs {
          border-bottom: 6px solid darken($blue-grey,5%);
          // height: auto;
          li {
               height: 3.5em;
               margin-bottom: 0;
               padding: 1.15em 0.95em 0.5em 0.95em;
               &:hover, &:active, &:focus {
                    border-bottom: none;
                    box-shadow: 0px 6px 0px 0px $blue;
               }
               span {
                    margin-top: -0.65em;
               }
               &.current {
                    &:hover, &:active, &:focus {
                         box-shadow: 0 6px 0 0 darken($blue,10%);
                    }
               }
          }
     }
     &.client-details {
          height: 3.05em;
     }
     &.deputy-tabs {
          height: 3.075em;
     }
     li.tab-link {
          list-style: none;
          float: left;
          padding: 0.85em 0.75em 0.85em 0.75em;
          margin: 0 0.25em -6px 0;
          line-height: 1.3;
          font-family: $Montserrat;
          font-weight: bold;
          font-size: 0.9rem;
          border-radius: 5px 5px 0 0;
          background: $blue-grey;
          @include standard-transition;
          // border-right: 1px solid darken($blue-grey,10%);
          // &:last-of-type {
          //      border-right: none;
          // }
          &:hover, &:active, &:focus {
               cursor: pointer;
               border-bottom: 6px solid $blue;
               background: $blue-grey;
          }
          &.current, &.active {
               color: $white;
               background: $blue;
               box-shadow: 0 6px 0 0 darken($blue,10%);
               // border-bottom: 6px solid darken($blue,10%);
               span {
                    background: $white;
                    color: $blue;
               }
               &:hover, &:active, &:focus {
                    border-bottom: none;
               }
               &.completed {
                    span {
                         background-color: $white;
                    }
               }
          }
          &.completed {
               span {
                    background-color: $green;
               }
          }
          span {
               // background: $red;
               border-radius: 50%;
               color: $white;
               line-height: 1.1;
               @include flexbox;
               @include align-items(center);
               @include justify-content(center);
               background: $blue;
               float: left;
               font-family: $Montserrat;
               font-weight: bold;
               width: 1.75em;
               height: 1.75em;
               margin: -0.25em 0.5em -0.25em 0;
               &.larger-number {
                    width: auto;
                    border-radius: $global-border-radius;
                    padding: 0 0.5em;
               }
          }
     }
     &#side-panel-tabs {
          // border-bottom: none;
          float: left;
          width: 97%;
          height: 3.15em;
          margin: 0 0 0.75em 0;
          // border-bottom: 6px solid lighten($main-colour,70%);
          li.tab-link {
               // float: none;
               width: auto;
               padding: 0.85em 0.75em;
               margin: 0 0.25em 0 0;
               display: inline-block;
               position: relative;
               // &:hover {
               //      background: $blue-grey;
               // }
               // border-bottom: 6px solid lighten($main-colour,70%);
               p {
                    display: inline-block;
                    text-align: left;
                    font-size: 0.9rem;
               }
               &:last-of-type {
                    margin: 0;
               }
               &.current {
                    text-indent: 0;
                    width: auto;
                    overflow: hidden;
                    // border-bottom: 6px solid darken($blue,10%);
                    // border-radius: 5px 5px 0 0;
                    span {
                         // background: $blue;
                         display: none;
                         &.info {
                              background: url(#{$image-path}/icons/info-white.svg) no-repeat 50% 50%;
                              background-size: contain;
                         }
                         &.draft-letters {
                              background: url(#{$image-path}/icons/drafts-white.svg) no-repeat 50% 50%;
                              background-size: contain;
                         }
                         &.client-details {
                              background: url(#{$image-path}/icons/client-white.svg) no-repeat 50% 50%;
                              background-size: contain;
                         }
                         &.deputy-details {
                              background: url(#{$image-path}/icons/deputies-white.svg) no-repeat 50% 50%;
                              background-size: contain;
                         }
                         &.documents {
                              background: url(#{$image-path}/icons/documents-white.svg) no-repeat 50% 50%;
                              background-size: contain;
                         }
                         &.client-contacts {
                              background: url(#{$image-path}/icons/contacts-white.svg) no-repeat 50% 50%;
                              background-size: contain;
                         }
                    }
                    p {
                         color: $white;
                    }
                    &:hover, &:active, &:focus {
                         transform: scale(1);
                         // background: $blue;
                         p {
                              &:before {
                                   display: none;
                              }
                         }
                    }
               }
               span {
                    display: none;
                    margin: 0 0.35em 0 0;
                    width: 1.25em;
                    height: 1.25em;
                    background: none;
                    border-radius: 0;
                    &.info {
                         background: url(#{$image-path}/icons/info-black.svg) no-repeat 50% 50%;
                         background-size: contain;
                    }
                    &.draft-letters {
                         background: url(#{$image-path}/icons/drafts-black.svg) no-repeat 50% 50%;
                         background-size: contain;
                    }
                    &.client-details {
                         background: url(#{$image-path}/icons/client-black.svg) no-repeat 50% 50%;
                         background-size: contain;
                    }
                    &.deputy-details {
                         background: url(#{$image-path}/icons/deputies-black.svg) no-repeat 50% 50%;
                         background-size: contain;
                    }
                    &.documents {
                         background: url(#{$image-path}/icons/documents-black.svg) no-repeat 50% 50%;
                         background-size: contain;
                    }
                    &.client-contacts {
                         background: url(#{$image-path}/icons/contacts-black.svg) no-repeat 50% 50%;
                         background-size: contain;
                    }
               }
               p {
                    width: auto;
                    margin: 0;
                    // color: black;
                    font-family: $Montserrat;
                    font-weight: bold;
                    // display: none;
                    // width: 0;
               }
          }
     }
}

.deputy-details-page {
     ul.tabs {
          li {
               &:hover {
                    border-bottom: 6px solid $green;
               }
               &.current, &.active {
                    background: $green;
                    box-shadow: 0 6px 0 0 darken($green,10%);
                    span {
                         background: $white;
                         color: $green;
                    }
                    &:hover {
                         border-bottom: none;
                         background: $green;
                    }
               }
               span {
                    background: $green;
                    // color: $green;
               }
          }
     }
}

.tab-content {
     // margin-top: 2em;
	display: none;
     width: 100%;
	// padding: 15px;
     &.current {
          display: inherit;
     }
     // &.dashboard {
     //      margin-top: 1.5em;
     // }
     &.side-panel {
          // border-left: 6px solid rgba($main-colour,0.1);
          padding: 0;
          margin-top: 0.75em;
          width: 97%;
          float: left;
          min-height: 64vh;
          .section-title {
               margin-top: 0;
          }
     }
     .section-title {
          margin: 1.5em 0 0.75em 0;
     }
     &.general-deputies {
          #deputy-details {
               .deputy-order-details {
                    display: none;
               }

          }
     }
}

.no-items {
     display: inline-block;
     border: 10px dotted $blue-grey;
     padding: 3em;
     margin: 3em 0 2em 0;
     width: 100%;
     text-align: center;
     p {
          // margin: 0;
          text-align: center;
     }
     a.main-cta {
          width: auto;
          float: none;
     }
}





// ONLY FOR LARGE DESKTOP (1281 up)
@media #{$xlarge-up} {


}

// ONLY FOR LARGE DESKTOP (1281)
@media #{$xlarge-only} {

}

// ONLY FOR DESKTOP (961)
@media #{$large-only} {


}

// ONLY FOR DESKTOP (961 up)
@media #{$large-up} {


}

// TABLET AND UP (461 up)
@media #{$medium-up} {


}

// MEDIUM ONLY (461 - 960)
@media #{$medium-only} {



}

// // ONLY FOR MOBILE (960 and down)
// @media #{$medium-down} {
//
// }

// SMARTPHONE ONLY (Up to 460)
@media #{$small-only} {


}
