/* ---------------------------------------------------------------------------
* Main styles affecting the Application
* ---------------------------------------------------------------------------
*/

.side-panel-parent {
     height: 100%;
}

#action-panel {
     position: relative;
     float: right !important;
     margin-top: 1em;
     min-height: 52em;
     &.center-align {
          float: none !important;
          margin-left: auto;
          margin-right: auto;
     }
     // &.doc-editor {
     //      border-left: 20px solid $blue;
     //      padding-left: 1em;
     // }
     .create-case, .add-deputy-form, .edit-deputy-form, .check-details {
          width: 100%;
     }
     .add-deputy-form, .edit-deputy-form, .check-details {
          .section-title {
               &:first-of-type {
                    margin-top: 0.5em;
               }
          }
     }
}
