/* ---------------------------------------------------------------------------
* Main styles affecting the Application
* ---------------------------------------------------------------------------
*/

.pattern-library-page {
     .confirmation-panel#edit-client-confirm, .loading-panel#edit-client-confirm {
          display: inline-block;
          margin: 0;
     }
}

.confirmation-panel, .loading-panel {
     display: none;
     background: $green;
     border-radius: $global-border-radius;
     padding: 1.5em 1.5em 1.25em 1.5em;
     position: relative;
     &.small-version {
          padding: 0.75em;
          &.loading-panel {
               background: $blue-grey;
               .content {
                    h2 {
                         color: darken($blue-grey,30%);
                         font-weight: normal;
                    }
               }
          }
          .content {
               h2 {
                    font-size: 1rem;
                    span {
                         width: 0.75em;
                         height: 0.75em;
                         top: 0.05em;
                         &.loader {
                              border-width: 3px;
                              border-color: darken($blue-grey,20%);
                              border-left: 3px solid darken($blue-grey,40%);
                              background: none;
                         }
                    }
               }
          }
     }
     .content {
          display: inline-block;
          width: 100%;
          h1, h2 {
               margin: 0 0 0.25em 0;
               color: rgba($white,0.7);
               text-transform: inherit;
               font-family: $Montserrat;
               div {
                    color: $white;
                    font-family: $Montserrat;
                    font-weight: bold;
                    display: inline-block;
                    float: none;
                    margin: 0 0.05em;
               }
               span {
                    display: inline-block;
                    float: left;
                    width: 1.5em;
                    height: 1.5em;
                    margin: 0 0.25em 0 0;
                    background: url(#{$image-path}/icons/tick.svg) no-repeat 0 50%;
                    background-size: cover;
                    position: relative;
                    top: -0.15em;
               }
          }
          .main-cta {
               display: inline-block;
               width: auto;
               border: 3px solid $white;
               background: none;
               color: $white;
               margin: 1em 0 0 0;
               padding: 0.5em 1em;
          }
          .finished {
               color: $white;
               margin: 1.55em 0 0 1.5em;
               display: inline-block;
          }
          p {
               color: rgba($white,0.7);
               margin: 0 0 0.75em 0;
          }
          ul {
               margin: 0.5em 0 0 2.25%;
               width: 95%;
               li {
                    color: $white;
                    margin: 0 0 0.5em 0;
                    &:last-of-type {
                         margin: 0;
                    }
                    a {
                         color: $white;
                    }
               }
          }
          .details {
               h2 {
                    color: $white;
                    text-transform: uppercase;
                    margin-top: 1em !important;
                    padding-bottom: 0.5em;
                    font-size: 1.2rem;
                    border-bottom: 2px solid $white;
               }
          }
     }
     .close-panel {
          position: absolute;
          top: -0.75em;
          right: -0.75em;
          width: 2em;
          height: 2em;
          text-indent: -1000em;
          border-radius: 50%;
          background: url(#{$image-path}/icons/close-white.svg) no-repeat 50% 50% $black;
          background-size: 1.75em;
          border: none;
          @include standard-transition;
          &:hover, &:active, &:focus {
               transform: scale(1.1);
          }
     }
     &#deputy-confirmation, &#visit-confirmation, &#deputy-added, &#document-confirmation, &#confirmation-dashboard-visit,
     &#edit-client-confirm, &#error-message, &#draft-saved, &#draft-deleted-message, &#correspondence-sent, &#draft-saved-timer,
     &#previous-draft-saved, &#task-re-assigned, &#task-complete, &#unlink-complete, &#deputy-edited, &#reporting-period-completed,
     &#deputy-added-confirmation, &#supervision-level-confirmation {
          display: none;
          margin: 2em 0 0 0;
          width: 100%;
          h1, h2 {
               margin: 0;
          }
          #visits, #document-recipients {
               display: inline-block;
               margin: 0.5em 0 0 4em;
               li {
                    margin: 0 0 0.5em 0;
                    float: left;
                    width: 100%;
                    color: $white;
                    list-style: disc;
                    font-family: $Opensans-Regular;
                    font-weight: bold;
                    font-size: 1.2rem;
                    &:last-of-type {
                         margin: 0;
                    }
               }
          }
     }
     &#draft-deleted-message {
          margin: 0 0 1.25em 0;
     }
     &#draft-saved, &#draft-saved-timer, &#previous-draft-saved, &#task-re-assigned,
     &#task-complete, &#unlink-complete, &#deputy-edited {
          margin: 0 0 1.25em 0;
          h2 {
               font-size: 1.25rem;
               span {
                    width: 1.25em;
                    height: 1.25em;
                    margin: 0 0.5em 0 0;
               }
          }
     }
     &#edit-client-confirm, &#reporting-period-completed, &#deputy-added-confirmation, &#supervision-level-confirmation {
          // display: inline-block;
          margin: 2em 0 0em 0;
     }
     &#deputy-added {
          margin: 0;
     }
     &#visit-confirmation {
          margin: 3em 0 0 0;
          #visits {
               li {
                    margin: 0 0 0.5em 0;
                    padding: 0;
                    &:last-of-type {
                         border-left: none;
                    }
               }
          }
     }
     &#confirmation-dashboard-visit {
          margin: 0 0 1em 0;
     }
     &#error-message {
          background: $red;
          // display: inline-block;
          margin: 0 0 2em 0;
          .content {
               h1 {
                    font-size: 1.4rem;
                    color: $white;
                    margin: 0 0 0.5em 0;
                    span {
                         width: 2.25em;
                         height: 2.25em;
                         margin: 0 0.5em 0 0;
                         top: 0.1em;
                         background: url(#{$image-path}/icons/violent-warning-white.svg) no-repeat 50% 50%;
                         background-size: cover;
                    }
               }
               ul {
                    margin: 0 0 0 5%;
               }
          }
     }
}

.confirmation-panel {
     &#correspondence-sent {
          // display: inline-block;
          .details {
               ul#document-letter-title, ul#document-recipients, ul#document-inserts {
                    margin: 0.5em 0 0 1.35em;
                    li {
                         font-size: 1rem;
                         font-weight: normal;
                    }
               }
          }
     }
}

#client-has-died, #deputy-has-died {
     .confirmation-panel {
          display: inline-block;
          width: 100%;
          margin: 0 0 1.5em 0;
          background: $main-colour;
          .content {
               h2 {
                    margin: 0;
                    span {
                         width: 1.35em;
                         height: 1.35em;
                         margin-right: 0.5em;
                         position: relative;
                         top: -0.1em;
                         background: url(#{$image-path}/icons/violent-warning-white.svg) no-repeat 0 50%;
                         background-size: contain;
                    }
               }
          }
     }
}


// ONLY FOR LARGE DESKTOP (1281 up)
@media #{$xlarge-up} {


}

// ONLY FOR LARGE DESKTOP (1281)
@media #{$xlarge-only} {

}

// ONLY FOR DESKTOP (961)
@media #{$large-only} {


}

// ONLY FOR DESKTOP (961 up)
@media #{$large-up} {


}

// TABLET AND UP (461 up)
@media #{$medium-up} {


}

// MEDIUM ONLY (461 - 960)
@media #{$medium-only} {


}

// // ONLY FOR MOBILE (960 and down)
// @media #{$medium-down} {
//
// }

// SMARTPHONE ONLY (Up to 460)
@media #{$small-only} {


}
