<!-- ///////////////////////////////// PRO OFFICE ADDED - START ///////////////////////////////// -->
<div class="row">
	<div class="large-12 large-uncentered columns">
		<div id="contact-added-confirm" class="confirmation-panel">
			<div class="content">
				<h1>
					<span></span>
					The office
					"<div class="contact-title"></div>"
					has now been been to the deputy
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- ///////////////////////////////// PRO OFFICE ADDED - END ///////////////////////////////// -->

<!-- ///////////////////////////////// PA NAMED CONTACT ADDED - START ///////////////////////////////// -->
<div class="row">
	<div class="large-12 large-uncentered columns">
		<div id="pa-contact-added-confirm" class="confirmation-panel">
			<div class="content">
				<h1>
					<span></span>
					The named contact
					"<div class="contact-title"></div>"
					has now been been to the deputy
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- ///////////////////////////////// PA NAMED CONTACT ADDED - END ///////////////////////////////// -->
