<!-- ///////////////////////////////// DEPUTY ADDED - START ///////////////////////////////// -->
<div class="row">
	<div class="large-12 large-uncentered columns">
		<!-- // CONFIRMATION MESSAGE - START // -->
		<div id="document-replaced-confirmation" class="confirmation-panel">
			<div class="content">
				<h1>
					<span></span>
					"<div class="old-document-name">old-document-name</div>"
					has now been replaced with
					"<div class="new-document-name">New-document-name</div>"
				</h1>
			</div>
		</div>
		<!-- // CONFIRMATION MESSAGE - END // -->
	</div>
</div>
<!-- ///////////////////////////////// DEPUTY ADDED - END ///////////////////////////////// -->
