<!-- // CLIENT DETAILS - START // -->
<div class="check-details" id="client-details">

	<h2 class="description-title">
		<div class="client-title">Mr</div>
		<div class="client-first-name">Gerald</div>
		<div class="client-last-name">Brackens</div>
		details
		<!-- <a href="../7-edit-client/7a-edit-client.html" class="edit">Edit client</a> -->
	</h2>

	<div id="flexbox-container">

		<!-- // CLIENT ITEM - 1 - START // -->
		<div class="person-detail-item">
			<p class="item">Court reference:</p>
			<p class="answer client-casarec">123456789</p>
		</div>
		<!-- // CLIENT ITEM - 1 - END // -->

		<!-- // CLIENT ITEM - 1 - START // -->
		<div class="person-detail-item">
			<p class="item">Client status:</p>
			<p class="answer client-status">Active</p>
		</div>
		<!-- // CLIENT ITEM - 1 - END // -->

		<!-- // CLIENT ITEM - 2 - START // -->
		<div class="person-detail-item">
			<p class="item">Status date:</p>
			<p class="answer">
				<span class="client-status-day">09</span>/
				<span class="client-status-month">09</span>/
				<span class="client-status-year">2017</span>
			</p>
		</div>
		<!-- // CLIENT ITEM - 2 - END // -->

		<!-- // CLIENT ITEM - 3 - START // -->
		<div class="person-detail-item">
			<p class="item">Name:</p>
			<p class="answer">
				<span class="client-title">Mr.</span>
				<span class="client-first-name">Gerald</span>
				<span class="client-middle-name">Stephen</span>
				<span class="client-last-name">Brackens</span>
			</p>
		</div>
		<!-- // CLIENT ITEM - 3 - END // -->

		<!-- // CLIENT ITEM - 4 - START // -->
		<div class="person-detail-item">
			<p class="item">Previously Known As:</p>
			<p class="answer client-previously-known-as">N/A</p>
		</div>
		<!-- // CLIENT ITEM - 4 - END // -->

		<!-- // CLIENT ITEM - 4 - START // -->
		<div class="person-detail-item">
			<p class="item">Date of birth:</p>
			<p class="answer">
				<span class="client-dob-day">09</span>/
				<span class="client-dob-month">09</span>/
				<span class="client-dob-year">1983</span>
			</p>
		</div>
		<!-- // CLIENT ITEM - 4 - END // -->

		<!-- // CLIENT ITEM - 6 - START // -->
		<div class="person-detail-item">
			<p class="item">Address:</p>
			<p class="answer">
				<span class="client-address-line-1">1 Grimwald Place</span>,<br>
				<span class="client-address-line-2">Buckley</span>,<br>
				<span class="client-address-town">Flintshire</span>,<br>
				<span class="client-address-county">Flintshire</span>,<br>
				<span class="client-manual-postcode">CV32 788</span>.
				<span class="answer client-country">United Kingdom</span>
			</p>
		</div>
		<!-- // CLIENT ITEM - 6 - END // -->

		<!-- // CLIENT ITEM - 7 - START // -->
		<div class="person-detail-item">
			<p class="item">Is airmail required?:</p>
			<p class="answer client-airmail">No</p>
		</div>
		<!-- // CLIENT ITEM - 7 - END // -->

		<!-- // CLIENT ITEM - 8 - START // -->
		<div class="person-detail-item">
			<p class="item">Daytime telephone number:</p>
			<p class="answer client-phone-number">0123456789</p>
		</div>
		<!-- // CLIENT ITEM - 8 - END // -->

		<!-- // CLIENT ITEM - 9 - START // -->
		<div class="person-detail-item">
			<p class="item">Mobile telephone number:</p>
			<p class="answer client-mob-number">07768948823</p>
		</div>
		<!-- // CLIENT ITEM - 9 - END // -->

		<!-- // CLIENT ITEM - 10 - START // -->
		<div class="person-detail-item">
			<p class="item">Email address:</p>
			<p class="answer client-email">gerald.brackens@hotmail.com</p>
		</div>
		<!-- // CLIENT ITEM - 10 - END // -->

		<!-- // CLIENT ITEM - 11 - START // -->
		<div class="person-detail-item">
			<p class="item">Financial reference:</p>
			<p class="answer client-financial">192848291</p>
		</div>
		<!-- // CLIENT ITEM - 11 - END // -->

		<!-- // CLIENT ITEM - 12 - START // -->
		<!-- <div class="person-detail-item">
			<p class="item">Casarec Number:</p>
			<p class="answer client-casarec">183920478</p>
		</div> -->
		<!-- // CLIENT ITEM - 12 - END // -->

		<!-- // CLIENT ITEM - 13 - START // -->
		<div class="person-detail-item">
			<p class="item">Accommodation Type:</p>
			<p class="answer client-accommodation">LA Nursing home</p>
		</div>
		<!-- // CLIENT ITEM - 13 - END // -->

		<!-- // CLIENT ITEM - 14 - START // -->
		<div class="person-detail-item">
			<p class="item">Medical Condition:</p>
			<p class="answer client-medical-condition-answer">Alzheimer's</p>
		</div>
		<!-- // CLIENT ITEM - 14 - END // -->

		<!-- // CLIENT ITEM - 15 - START // -->
		<div class="person-detail-item">
			<p class="item">Marital Status:</p>
			<p class="answer client-marital-status">Divorced</p>
		</div>
		<!-- // CLIENT ITEM - 15 - END // -->

		<!-- // CLIENT ITEM - 16 - START // -->
		<div class="person-detail-item">
			<p class="item">How would the client liked to be contacted?:</p>
			<ul class="answer">
				<li class="client-correspondence-post">Post</li>
				<li class="client-correspondence-email">Email</li>
			</ul>
		</div>
		<!-- // CLIENT ITEM - 16 - END // -->

		<!-- // CLIENT ITEM - 17 - START // -->
		<!-- <div class="person-detail-item">
			<p class="item">Is the client a violent risk?:</p>
			<p class="answer client-violent-risk">No</p>
		</div> -->
		<!-- // CLIENT ITEM - 17 - END // -->

	</div>

</div>
<!-- // CLIENT DETAILS - END // -->
