/* ---------------------------------------------------------------------------
* Main styles affecting the Application
* ---------------------------------------------------------------------------
*/

//  FOR ALL

#list-of-summary {
     // margin: 3em 0 0 0;
     ul, ol {
          margin: 0;
          li {
               position: relative;
               // padding: 0 0 4em 2em;
               // span.dot {
               //      display: inline-block;
               //      position: absolute;
               //      top: -0.1em;
               //      left: -1.295em;
               //      width: 2em;
               //      height: 2em;
               //      background: $white;
               //      border: 5px solid $black;
               //      border-radius: 50%;
               // }
               &:last-of-type {
                    // border-left: 10px solid $white;
                    margin-bottom: 0;
               }
          }
     }
     #client-summary {
          margin: 3em 0 0 0;
          .dashboard-row {
               @include flexbox;
               @include flex-wrap(wrap);
               width: 100%;
               &.two-items {
                    .item {
                         width: 48.75%;
                         margin: 0 2.5% 2em 0;
                         // height: 20em;
                         &:last-of-type {
                              margin-right: 0;
                         }
                    }
               }
               &.three-items {
                    .item {
                         width: 31.6667%;
                         margin: 0 2.5% 2em 0;
                         // height: 20em;
                         &:last-of-type {
                              margin-right: 0;
                         }
                    }
               }
               .item {
                    // background: $red;
                    display: inline-block;
                    position: relative;
                    flex-direction: column;
                    border: 3px solid $border-colour;
                    border-radius: $global-border-radius;
                    padding: 1.5em;
                    background: lighten($border-colour,3%);
                    &.with-title {
                         padding-top: 4.5em;
                         .title {
                              position: absolute;
                              border-radius: 5px 5px 0 0;
                              top: -3px;
                              left: -3px;
                              right: -3px;
                              display: inline-block;
                              background: $main-colour;
                              color: $white;
                              padding: 1em 1.5em;
                              text-align: center;
                              p {
                                   color: $white;
                                   margin: 0;
                                   font-family: $Montserrat;
                                   font-weight: bold;
                                   width: auto;
                                   float: none;
                                   font-size: 1.2rem;
                              }
                              span {
                                   display: inline-block;
                                   width: 1.5em;
                                   height: 1.5em;
                                   margin: 0 0.5em -0.35em 0;
                                   &.important {
                                        background: url(#{$image-path}/icons/violent-warning-white.svg) no-repeat 50% 50%;
                                        background-size: contain;
                                   }
                                   &.history {
                                        background: url(#{$image-path}/icons/history-white.svg) no-repeat 50% 50%;
                                        background-size: contain;
                                   }
                              }
                         }
                    }
                    .number {
                         position: absolute;
                         top: -0.9em;
                         left: -0.9em;
                         width: 1.8em;
                         height: 1.8em;
                         background: $blue;
                         border-radius: 50%;
                         color: $white;
                         font-size: 1.6rem;
                         font-weight: bold;
                         @include flexbox;
                         @include align-items(center);
                         @include justify-content(center);
                    }
                    .info {
                         display: inline-block;
                         width: 100%;
                         margin: 0 0 0.75em 0;
                         float: left;
                         color: $text-main-colour;
                         font-family: $Opensans-Regular;
                         text-align: left;
                         &:last-of-type {
                              margin: 0;
                         }
                         span, strong {
                              display: inline-block;
                              float: left;
                              line-height: 1.4;
                              width: 100%;
                         }
                         span {
                              // width: 35%;
                              // margin: 0 5% 0 0;
                         }
                         strong {
                              // width: 60%;
                              font-family: $Montserrat;
                              font-weight: bold;
                              color: $black;
                         }
                    }
                    &.deputies {
                         text-align: center;
                         i.deputy {
                              display: inline-block;
                              width: 6em;
                              height: 6em;
                              margin: 0 0 1em 0;
                              opacity: 0.5;
                              background: url(#{$image-path}/icons/client-grey.svg) no-repeat 50% 50%;
                              background-size: contain;
                         }
                         h1 {
                              font-size: 1.4rem;
                              text-transform: inherit;
                              padding: 0 0 1em 0;
                              margin: 0 0 1em 0;
                              border-bottom: 3px dashed $border-colour;
                              text-align: center;
                              color: $blue;
                              span {
                                   margin: 0 0 -0.45em 0.35em;
                                   display: inline-block;
                                   position: relative;
                                   top: 0;
                                   width: 1.5em;
                                   height: 1.5em;
                                   border-radius: 50%;
                                   background: url(#{$image-path}/icons/fee-payer-white.svg) no-repeat 50% 50% $pink;
                                   background-size: 1.5em;
                              }
                         }
                    }
                    &.full-colour-block {
                         // position: absolute;
                         @include flexbox;
                         @include align-items(center);
                         @include justify-content(center);
                         &.main-colour {
                              background-color: $main-colour;
                              border: 3px solid $main-colour;
                              &.alert {
                                   .sub-text {
                                        color: $red;
                                   }
                              }
                         }
                         &.alert-colour {
                              background-color: $red;
                              border: 3px solid $red;
                              .main-text {
                                   color: $white;
                              }
                              .sub-text {
                                   color: rgba($white,0.7);
                              }
                         }
                         section {
                              // &.two-text-items {
                              //      padding: 2em 1.5em 2.5em 1.5em;
                              // }
                              // &.three-text-items {
                              //      padding: 2.5em 1.5em;
                              // }
                              h1, h2 {
                                   text-align: center;
                                   width: 100%;
                                   font-family: $Montserrat;
                                   font-weight: bold;
                                   margin: 0;
                                   line-height: 1;
                                   &.main-text {
                                        color: $white;
                                        font-size: 10rem;
                                   }
                                   &.sub-text {
                                        color: rgba($white,0.5);
                                        font-size: 1.75rem;
                                   }
                              }
                         }
                    }
               }
          }
     }
}


// ONLY FOR LARGE DESKTOP (1281 up)
@media #{$xlarge-up} {


}

// ONLY FOR LARGE DESKTOP (1281)
@media #{$xlarge-only} {

}

// ONLY FOR DESKTOP (961)
@media #{$large-only} {


}

// ONLY FOR DESKTOP (961 up)
@media #{$large-up} {


}

// TABLET AND UP (461 up)
@media #{$medium-up} {


}

// MEDIUM ONLY (461 - 960)
@media #{$medium-only} {


}

// // ONLY FOR MOBILE (960 and down)
// @media #{$medium-down} {
//
// }

// SMARTPHONE ONLY (Up to 460)
@media #{$small-only} {


}
