/* ---------------------------------------------------------------------------
* Main styles affecting the Application
* ---------------------------------------------------------------------------
*/

//  FOR ALL

#list-of-summary {
     // margin: 3em 0 0 0;
     ul, ol {
          li {
               position: relative;
               padding: 0 0 4em 2em;
               span.dot {
                    display: inline-block;
                    position: absolute;
                    top: -0.1em;
                    left: -1.295em;
                    width: 2em;
                    height: 2em;
                    background: $white;
                    border: 5px solid $black;
                    border-radius: 50%;
               }
               &:last-of-type {
                    border-left: 10px solid $white;
               }
          }
     }
}


// ONLY FOR LARGE DESKTOP (1281 up)
@media #{$xlarge-up} {


}

// ONLY FOR LARGE DESKTOP (1281)
@media #{$xlarge-only} {

}

// ONLY FOR DESKTOP (961)
@media #{$large-only} {


}

// ONLY FOR DESKTOP (961 up)
@media #{$large-up} {


}

// TABLET AND UP (461 up)
@media #{$medium-up} {


}

// MEDIUM ONLY (461 - 960)
@media #{$medium-only} {


}

// // ONLY FOR MOBILE (960 and down)
// @media #{$medium-down} {
//
// }

// SMARTPHONE ONLY (Up to 460)
@media #{$small-only} {


}
