/* ---------------------------------------------------------------------------
* Main styles affecting the Application
* ---------------------------------------------------------------------------
*/

// =====================================  Dropzone - START ===================================== //

#dropzone {
     background: $white-off;
     display: inline-block;
     border: 2px dashed $black;
     width: 100%;
     padding: 3em 5%;
     margin: 0 0 1em 0;
     text-align: center;
     form {
          margin: 0;
          color: $blue;
          font-weight: bold;
     }
     i.statement {
          display: inline-block;
          width: 7em;
          height: 7em;
          background: url(#{$image-path}/icons/upload-black.svg) 50% 50% no-repeat;
          background-size: contain;
          opacity: 0.2;
          margin: 0 0 0.75em 0;
     }
     span {
          width: 100%;
          display: inline-block;
          line-height: 1.4;
          strong {
               color: $blue;
               border-bottom: 1px dashed $blue;
               &:hover {
                    color: darken($blue, 10%);
                    border-bottom: 1px solid $blue;
               }
          }
     }
     &.dz-drag-hover {
          background: rgba($blue, 0.2);
          border: 2px dashed $blue;
          i.statement {
               background: url(#{$image-path}/icons/upload-blue.svg) 50% 50% no-repeat;
               background-size: contain;
               opacity: 1;
          }
     }
     &.dz-started {
          background: rgba($green, 0.2);
          border: 2px dashed $green;
          .dz-message {
               .statement {
                    width: 1.5em;
                    height: 1.5em;
                    margin: 0 0.25em -0.25em 0;
                    background: url(#{$image-path}/icons/upload-green.svg) 50% 50% no-repeat;
                    background-size: contain;
                    opacity: 1;
               }
               span {
                    width: auto;
               }
          }
          .dz-preview {
               margin: 1em 0 0 0;
          }
          .dz-error-message, .dz-error-mark, .dz-success-mark {
               display: none;
          }
          .dz-progress {
               background: $green;
               height: 1.5em;
               span:before {
                    content: '100%';
                    color: $white;
                    display: inline-block;
                    padding: 0.15em 0 0 0;
               }
          }
          .dz-details {
               .dz-size {
                    span {
                         margin: 0.25em 0 0 0;
                         font-family: $Opensans-Regular;
                         color: rgba($black,0.7);
                         strong {
                              font-family: $Opensans-Regular;
                              color: rgba($black,0.6);
                              border-bottom: none;
                              &:hover {
                                   color: rgba($black,0.6);
                                   border-bottom: none;
                              }
                         }
                    }
               }
               .dz-filename {
                    span {
                         font-family: $Montserrat;
                         font-weight: bold;
                         font-size: 1.2rem;
                         color: $green;
                         margin: 0 0 0.5em 0;
                    }
               }
          }
     }

}
// =====================================  Dropzone - END ===================================== //
