<!-- // ACTIONS NAV - START // -->
<nav class="actions-nav back-up-buttons">
<!-- <nav class="actions-nav client-panel back-up-buttons"> -->

	<h1>Perform a task:</h1>

	<ul>
		<!-- // MAIN CTA's -  START // -->
		<!-- <li class="supervision">
			<a href="#" class="action deputy-delete">
				<span class="icon"></span>
				<span>Delete deputy</span>
			</a>
		</li> -->
		<li class="supervision deputy-death-button">
			<a href="../15-deputy-death/15a-deputy-death.html" class="action deputy-death">
				<span></span>Record death of deputy
			</a>
		</li>
		<!-- // MAIN CTA's -  END // -->

		<!-- <li class="seperator deputy-death-seperator"></li> -->

		<li class="supervision">
			<a href="../12-edit-deputy/12a-check-deputy-1.html" class="action edit-deputy-action">
				<span></span>Edit deputy details
			</a>
		</li>
		<li class="supervision">
			<a href="../6-commission-visit/6a-why.html" class="action commission-visit">
				<span></span>Commission a visit
			</a>
		</li>
		<li class="supervision">
			<a href="../2-create-letter/2a-create-letter.html" class="action create-letter">
				<span></span>Create correspondence
			</a>
		</li>
		<li class="supervision retrieve-drafts">
			<a href="../2-create-letter/2d-edit-letter.html" class="action create-letter">
				<span></span>Retrieve drafts
			</a>
		</li>
		<li class="supervision">
			<a href="../8-create-task/8a-create-task.html" class="action create-task">
				<span></span>Create task
			</a>
		</li>
		<li class="supervision">
			<a href="../11-new-event/11a-new-event.html" class="action new-event">
				<span></span>New event
			</a>
		</li>
		<li class="supervision">
			<a href="../17-warnings/17a-create-warning.html" class="action warnings">
				<span></span>Create warning
			</a>
		</li>
	</ul>

</nav>
<!-- // ACTIONS NAV - END // -->
