<!-- // REPORTS - START // -->
<div id="report-details" class="alpha-reports-V1">

     <!-- // PENDING REPORT - START // -->
     <div class="row">
          <div class="large-12 large-uncentered columns">

               <h2 class="description-title">
                    Pending report
                    <a class="show-pending close">Show pending report</a>
               </h2>

               <ul class="report-list pending-list report-list-view">

                    <!-- // REPORT - 1 - START // -->
                    <li class="pending">

                         <div class="wrapper">

                              <!-- //////////// Main info - START //////////// -->
                              <div class="main-info">
                                   <span class="report-type">
                                        <span>Pending</span>
                                        <strong>103/104</strong>
                                   </span>
                                   <div class="time-line">
                                        <div class="date left">
                                             <span class="indicator">Start date</span>
                                             <p><span></span><strong>5th October</strong><br> 2017</p>
                                        </div>
                                        <div class="date right">
                                             <span class="indicator">End date</span>
                                             <p><span></span><strong>4th October</strong><br> 2018</p>
                                        </div>
                                        <span class="border"></span>
                                   </div>

                                   <div class="show-hide-link">
                                        <a href="#" class="report-content-link" data-link="1" data-closed-text="View date details" data-open-text="Hide date details">View date details</a>
                                   </div>

                                   <!-- //////////// Additonal info - START //////////// -->
                                   <div class="report-content-section report-info" data-link="1">
                                        <div class="content-wrapper">
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Reminder date:</p>
                                                       <p class="highlight">06/10/2018</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Review date:</p>
                                                       <p class="highlight">29/11/2018</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Due date:</p>
                                                       <p class="highlight">29/11/2018</p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                                   <!-- //////////// Additonal info - START //////////// -->

                              </div>
                              <!-- //////////// Main info - START //////////// -->

                              <div class="cta-row">
                                   <a href="../9-edit-report/9a-reporting-period.html" class="main-cta tertiary">Change reporting period</a>
                                   <a href="../9-edit-report/9b-due-date.html" class="main-cta tertiary">Extend report due date</a>
                                   <a href="../9-edit-report/9c-level-102.html" class="main-cta tertiary">Complete a 102 report</a>
                              </div>

                         </div>

                    </li>
                    <!-- // REPORT - 1 - END // -->

               </ul>

          </div>
     </div>
     <!-- // PENDING REPORT - END // -->

     <!-- // ACTIVE & LODGED REPORTs - START // -->
     <div class="row">
          <div class="large-12 large-uncentered columns">

               <h2 class="description-title">
                    Active &amp; lodged reports
                    <!-- <div class="toggle-switch">
                         <strong>Display</strong>
                         <div class="buttons">
                              <a href="#" id="list" class="selected"><span class="list"></span>List</a>
                              <a href="#" id="grid"><span class="thumb"></span>Thumb</a>
                         </div>
                    </div> -->
               </h2>

          	<ul class="report-list report-list-view">

                    <!-- // REPORT - 1 - START // -->
                    <li class="active thumb-order-3">

                         <div class="wrapper">

                              <!-- //////////// Main info - START //////////// -->
                              <div class="main-info">
                                   <span class="report-type">
                                        <span class="report-value-status-answer">Active</span>
                                        <strong class="report-type">103/104</strong>
                                   </span>
                                   <!-- <span class="staff-review">
                                        <span class="icon flag"></span>
                                        <strong>Staff review</strong>
                                   </span> -->
                                   <div class="time-line">
                                        <div class="date left">
                                             <span class="indicator">Start date</span>
                                             <p>
                                                  <span></span>
                                                  <strong class="report-start-day-answer">5</strong><strong class="date-tense">th</strong>
                                                  <strong class="report-start-month-answer">October</strong>
                                                  <br>
                                                  <span class="start-date-answer report-start-year-answer">2016</span>
                                             </p>
                                        </div>
                                        <div class="date right">
                                             <span class="indicator">End date</span>
                                             <p>
                                                  <span></span>
                                                  <strong class="report-end-day-answer">5</strong><strong class="date-tense">th</strong>
                                                  <strong class="report-end-month-answer">October</strong>
                                                  <br>
                                                  <span class="end-date-answer report-end-year-answer">2017</span>
                                             </p>
                                        </div>
                                        <span class="border"></span>
                                   </div>

                                   <div class="show-hide-link">
                                        <a href="#" class="report-content-link" data-link="1" data-closed-text="View date details" data-open-text="Hide date details">View date details</a>
                                        <a href="#" class="report-content-link" data-link="2" data-closed-text="View supporting Docs" data-open-text="Hide supporting Docs">View supporting Docs</a>
                                        <a href="#" class="report-content-link" data-link="3" data-closed-text="View lodging details" data-open-text="Hide lodging details">View lodging details</a>
                                        <a href="#" class="report-content-link" data-link="4" data-closed-text="View abandoned details" data-open-text="Hide abandoned details">View abandoned details</a>
                                        <!-- <a href="#" class="view-notes">View notes</a> -->
                                   </div>

                                   <!-- //////////// Lodging details - START //////////// -->
                                   <div class="report-content-section abandoned-section" data-link="4">

                                        <!-- SECTION 1 - START -->
                                        <div class="content-wrapper">
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Abandoned date:</p>
                                                       <p class="highlight report-abandoned-date-answer">--</p>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- SECTION 1 - END -->

                                        <!-- SECTION 4 - START -->
                                        <div class="content-wrapper">
                                             <div class="item-notes">
                                                  <div class="wrapper">
                                                       <p>Reason for determination:</p>
                                                       <p class="highlight report-abandoned-notes-answer">
                                                            Lorem ipsum dolor sit amet, consectetur
                                                            adipiscing elit. Fusce sit amet urna a nisi
                                                            efficitur tempus vel in tellus.
                                                            Pellentesque consectetur gravida diam
                                                            fringilla consectetur.
                                                       </p>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- SECTION 4 - END -->
                                   </div>
                                   <!-- //////////// Lodging details - END //////////// -->

                                   <!-- //////////// Lodging details - START //////////// -->
                                   <div class="report-content-section lodging-section" data-link="3">
                                        <p class="place-holder-text">No lodging details have been provided yet.</p>
                                   </div>
                                   <!-- //////////// Lodging details - END //////////// -->

                                   <!-- //////////// Notes - START //////////// -->
                                   <div class="report-content-section notes-section">
                                        <p>Test test test</p>
                                   </div>
                                   <!-- //////////// Notes - END //////////// -->

                                   <!-- //////////// Document list - START //////////// -->
                                   <div class="report-content-section document-list" data-link="2">
                                        <p class="place-holder-text">Supporting documents</p>
                                   </div>
                                   <!-- //////////// Document list - END //////////// -->

                                   <!-- //////////// Additonal info - START //////////// -->
                                   <div class="report-content-section report-info" data-link="1">
                                        <div class="content-wrapper">
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Reminder date:</p>
                                                       <p class="highlight">06/10/2017</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Review date:</p>
                                                       <p class="highlight">29/11/2017</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Due date:</p>
                                                       <p class="highlight report-due-date-answer">29/11/2017</p>
                                                  </div>
                                             </div>
                                             <div class="item date lodged-content">
                                                  <div class="wrapper">
                                                       <p>Care plan:</p>
                                                       <p class="highlight report-value-review-date-answer">01/01/2017</p>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- <div class="cta-row">
                                             <a href="../9-edit-report/9a-reporting-period.html">Change reporting period</a>
                                             <a href="../9-edit-report/9b-due-date.html">Change due date</a>
                                             <a href="../9-edit-report/9c-level-102.html">Complete a 103 report</a>
                                        </div> -->
                                   </div>
                                   <!-- //////////// Additonal info - START //////////// -->

                                   <!-- <div class="view-report">
                                        <a href="../18-create-report/18a-create-report.html" class="main-cta">Lodge report</a>
                                   </div> -->

                              </div>
                              <!-- //////////// Main info - START //////////// -->

                              <div class="cta-row">
                                   <a href="../9-edit-report/9a-reporting-period.html" class="main-cta tertiary">Change reporting period</a>
                                   <a href="../9-edit-report/9b-due-date.html" class="main-cta tertiary abandon-report-link">Extend report due date</a>
                                   <a href="../9-edit-report/9c-level-102.html" class="main-cta tertiary complete-102 abandon-report-link">Complete a 102 report</a>
                                   <a href="../18-create-report/18c-abandon-report.html" class="main-cta tertiary abandon-report-link">Abandon report</a>
                                   <div class="view-report">
                                        <a href="../18-create-report/18a-create-report.html" class="main-cta">Lodge report</a>
                                   </div>
                              </div>

                         </div>

                    </li>
                    <!-- // REPORT - 1 - END // -->

                    <!-- // REPORT - 2 - START // -->
          		<li class="thumb-order-2 lodged-report">

                         <div class="wrapper">

               			<!-- //////////// Main info - START //////////// -->
               			<div class="main-info">
                                   <span class="report-type">
                                        <span>Lodged</span>
                                        <strong>102</strong>
                                   </span>
                                   <div class="time-line">
                                        <div class="date left">
                                             <span class="indicator">Start date</span>
                                             <p>
                                                  <span></span>
                                                  <strong>5th October</strong><br>
                                                  <span class="start-date-answer">2015</span>
                                             </p>
                                        </div>
                                        <div class="date right">
                                             <span class="indicator">End date</span>
                                             <p>
                                                  <span></span>
                                                  <strong>4th October</strong><br>
                                                  <span class="end-date-answer">2016</span>
                                             </p>
                                        </div>
                                        <span class="border"></span>
                                   </div>

                                   <div class="show-hide-link">
                                        <a href="#" class="report-content-link" data-link="1" data-closed-text="View date details" data-open-text="Hide date details">View date details</a>
                                        <a href="#" class="report-content-link" data-link="2" data-closed-text="View supporting Docs" data-open-text="Hide supporting Docs">View supporting Docs</a>
                                        <a href="#" class="report-content-link" data-link="3" data-closed-text="View lodging details" data-open-text="Hide lodging details">View lodging details</a>
                                   </div>

                                   <!-- //////////// Lodging details - START //////////// -->
                                   <div class="report-content-section lodging-section" data-link="3">

                                        <!-- SECTION 1 - START -->
                                        <div class="content-wrapper">
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Date report received:</p>
                                                       <p class="highlight">25/10/2016</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Care plan review date:</p>
                                                       <p class="highlight">29/11/2017</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Total assets:</p>
                                                       <p class="highlight">&pound;401,125.96</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Client's debts:</p>
                                                       <p class="highlight">&pound;25,207.41</p>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- SECTION 1 - END -->

                                        <!-- SECTION 2 - START -->
                                        <div class="content-wrapper">
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Opening balance:</p>
                                                       <p class="highlight">&pound;302,864.01</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Closing balance:</p>
                                                       <p class="highlight">&pound;167,657.57</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Total money in:</p>
                                                       <p class="highlight">&pound;7,450.13</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Total money out:</p>
                                                       <p class="highlight">&pound;35,958.97</p>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- SECTION 2 - END -->

                                        <!-- SECTION 3 - START -->
                                        <div class="content-wrapper">
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Deputy expenditure:</p>
                                                       <p class="highlight">&pound;10,175.56</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Care expenses:</p>
                                                       <p class="highlight">&pound;8,625.86</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Gifting:</p>
                                                       <p class="highlight">&pound;5,254.23</p>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- SECTION 3 - END -->

                                        <!-- SECTION 4 - START -->
                                        <div class="content-wrapper">
                                             <div class="item-notes">
                                                  <div class="wrapper">
                                                       <p>Reason for determination:</p>
                                                       <p class="highlight">
                                                            Lorem ipsum dolor sit amet, consectetur
                                                            adipiscing elit. Fusce sit amet urna a nisi
                                                            efficitur tempus vel in tellus.
                                                            Pellentesque consectetur gravida diam
                                                            fringilla consectetur.
                                                       </p>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- SECTION 4 - END -->

                                   </div>
                                   <!-- //////////// Lodging details - END //////////// -->

                                   <!-- //////////// Document list - START //////////// -->
                                   <div class="report-content-section document-list" data-link="2">
                                        <ul class="">
                                             <li><a href="#view-document" rel="modal:open">General-document-letter-1.pdf</a></li>
                                             <li><a href="#view-document" rel="modal:open">Financial-reference.pdf</a></li>
                                             <li><a href="#view-document" rel="modal:open">General-document-letter-2.pdf</a></li>
                                        </ul>
                                   </div>
                                   <!-- //////////// Document list - END //////////// -->

                                   <!-- //////////// Additonal info - START //////////// -->
                                   <div class="report-content-section report-info" data-link="1">
                                        <div class="content-wrapper">
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Reminder date:</p>
                                                       <p class="highlight">06/10/2016</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Review date:</p>
                                                       <p class="highlight">29/11/2016</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Due date:</p>
                                                       <p class="highlight">29/11/2016</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Care plan:</p>
                                                       <p class="highlight">29/11/2016</p>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- <div class="cta-row">
                                             <a href="../9-edit-report/9a-reporting-period.html">Change reporting period</a>
                                             <a href="../9-edit-report/9b-due-date.html">Change due date</a>
                                        </div> -->
                                   </div>
                                   <!-- //////////// Additonal info - END //////////// -->

               			</div>
               			<!-- //////////// Main info - END //////////// -->

                              <div class="cta-row">
                                   <p>No actions available</p>
                              </div>

                         </div>

          		</li>
          		<!-- // REPORT - 2 - END // -->

                    <!-- // REPORT - 3 - START // -->
          		<li class="thumb-order-1 lodged-report">

                         <div class="wrapper">

               			<!-- //////////// Main info - START //////////// -->
               			<div class="main-info">
                                   <span class="report-type">
                                        <span>Lodged</span>
                                        <strong>102</strong>
                                   </span>
                                   <div class="time-line">
                                        <div class="date left">
                                             <span class="indicator">Start date</span>
                                             <p>
                                                  <span></span>
                                                  <strong>5th October</strong><br>
                                                  <span class="start-date-answer">2014</span>
                                             </p>
                                        </div>
                                        <div class="date right">
                                             <span class="indicator">End date</span>
                                             <p>
                                                  <span></span>
                                                  <strong>4th October</strong><br>
                                                  <span class="end-date-answer">2015</span>
                                             </p>
                                        </div>
                                        <span class="border"></span>
                                   </div>

                                   <div class="show-hide-link">
                                        <a href="#" class="report-content-link" data-link="1" data-closed-text="View date details" data-open-text="Hide date details">View date details</a>
                                        <a href="#" class="report-content-link" data-link="2" data-closed-text="View supporting Docs" data-open-text="Hide supporting Docs">View supporting Docs</a>
                                        <a href="#" class="report-content-link" data-link="3" data-closed-text="View lodging details" data-open-text="Hide lodging details">View lodging details</a>
                                   </div>

                                   <!-- //////////// Lodging details - START //////////// -->
                                   <div class="report-content-section lodging-section" data-link="3">

                                        <!-- SECTION 1 - START -->
                                        <div class="content-wrapper">
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Date report received:</p>
                                                       <p class="highlight">30/10/2015</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Care plan review date:</p>
                                                       <p class="highlight">29/11/2016</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Total assets:</p>
                                                       <p class="highlight">&pound;451,125.96</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Client's debts:</p>
                                                       <p class="highlight">&pound;45,754.20</p>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- SECTION 1 - END -->

                                        <!-- SECTION 2 - START -->
                                        <div class="content-wrapper">
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Opening balance:</p>
                                                       <p class="highlight">&pound;368,745.63</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Closing balance:</p>
                                                       <p class="highlight">&pound;302,864.01</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Total money in:</p>
                                                       <p class="highlight">&pound;7,012.05</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Total money out:</p>
                                                       <p class="highlight">&pound;52,011.01</p>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- SECTION 2 - END -->

                                        <!-- SECTION 3 - START -->
                                        <div class="content-wrapper">
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Deputy expenditure:</p>
                                                       <p class="highlight">&pound;8,203.75</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Care expenses:</p>
                                                       <p class="highlight">&pound;8,742.75</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Gifting:</p>
                                                       <p class="highlight">&pound;15,856.24</p>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- SECTION 3 - END -->

                                        <!-- SECTION 4 - START -->
                                        <div class="content-wrapper">
                                             <div class="item-notes">
                                                  <div class="wrapper">
                                                       <p>Reason for determination:</p>
                                                       <p class="highlight">
                                                            Lorem ipsum dolor sit amet, consectetur
                                                            adipiscing elit. Fusce sit amet urna a nisi
                                                            efficitur tempus vel in tellus.
                                                            Pellentesque consectetur gravida diam
                                                            fringilla consectetur.
                                                       </p>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- SECTION 4 - END -->

                                   </div>
                                   <!-- //////////// Lodging details - END //////////// -->

                                   <!-- //////////// Document list - START //////////// -->
                                   <div class="report-content-section document-list" data-link="2">
                                        <ul class="">
                                             <li><a href="#view-document" rel="modal:open">General-document-letter.pdf</a></li>
                                             <li><a href="#view-document" rel="modal:open">Financial-reference.pdf</a></li>
                                        </ul>
                                   </div>
                                   <!-- //////////// Document list - END //////////// -->

                                   <!-- //////////// Additonal info - START //////////// -->
                                   <div class="report-content-section report-info" data-link="1">
                                        <div class="content-wrapper">
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Reminder date:</p>
                                                       <p class="highlight">06/10/2015</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Review date:</p>
                                                       <p class="highlight">29/11/2015</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Due date:</p>
                                                       <p class="highlight">29/11/2015</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Care plan:</p>
                                                       <p class="highlight">29/11/2015</p>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- <div class="cta-row">
                                             <a href="../9-edit-report/9a-reporting-period.html">Change reporting period</a>
                                             <a href="../9-edit-report/9b-due-date.html">Change due date</a>
                                        </div> -->
                                   </div>
                                   <!-- //////////// Additonal info - END //////////// -->

               			</div>
               			<!-- //////////// Main info - END //////////// -->

                              <div class="cta-row">
                                   <p>No actions available</p>
                              </div>

                         </div>

          		</li>
          		<!-- // REPORT - 3 - END // -->

          	</ul>

          </div>

     </div>

</div>
<!-- // REPORTS - END // -->
