<!-- // FINANCE - START // -->

<!-- // CONFIRMATION - START // -->
<div class="row">
	<div class="large-12 large-uncentered columns">
		<div id="client-exemption-info-confirm" class="loading-panel small-version">
			<div class="content">
				<h1>
					<span class="info"></span>
					A <div class="exemption-type">Type</div> has been added to <div class="client-title">Mr</div>
					<div class="client-first-name">Gerald</div>
					<div class="client-last-name">Brackens</div>,
					any affected invoices have been changed to reflect this
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- // CONFIRMATION - END // -->

<div id="finance-details">

     <!-- // ACTIVE & LODGED REPORTs - START // -->
     <div class="row">
          <div class="large-12 large-uncentered columns">

          	<ul class="invoice-list">

                    <!-- // REPORT - 1 - START // -->
                    <li class="" data-invoice="1">

                         <div class="invoice-status" data-tag="1">Invoice due: <span class="date">05/10/2018</span></div>
                         <div class="invoice-status hide" data-tag="2">Written off: <span class="date write-off-date-answer"></span></div>
                         <div class="invoice-status hide" data-tag="3">Action pending...</div>
                         <div class="invoice-status hide" data-tag="4"><span class="exemption-type">Type</span>: <span class="date exemption-date"></span></div>

                         <div class="wrapper">

                              <!-- //////////// Main info - START //////////// -->
                              <div class="main-info">
                                   <span class="invoice-number">
                                        <span class="report-value-status-answer">Invoice</span>
                                        <strong class="invoice-number">520002/18</strong>
                                   </span>
                                   <div class="time-line">
                                        <div class="date left">
                                             <span class="indicator">Start date</span>
                                             <p>
                                                  <span></span>
                                                  <strong class="report-start-day-answer">5</strong><strong class="date-tense">th</strong>
                                                  <strong class="report-start-month-answer">October</strong>
                                                  <br>
                                                  <span class="start-date-answer report-start-year-answer">2017</span>
                                             </p>
                                        </div>
                                        <div class="date right">
                                             <span class="indicator">End date</span>
                                             <p>
                                                  <span></span>
                                                  <strong class="report-end-day-answer">5</strong><strong class="date-tense">th</strong>
                                                  <strong class="report-end-month-answer">October</strong>
                                                  <br>
                                                  <span class="end-date-answer report-end-year-answer">2018</span>
                                             </p>
                                        </div>
                                        <span class="border"></span>
                                   </div>

                                   <div class="show-hide-link">
                                        <a href="#" class="invoice-content-link" data-link="1" data-closed-text="View invoice details" data-open-text="Hide invoice details">View invoice details</a>
                                   </div>

                                   <!-- //////////// Additonal info - START //////////// -->
                                   <div class="invoice-content-section invoice-info" data-link="1">

                                        <!-- SECTION - 1 - START -->
                                        <div class="content-wrapper">
                                             <p class="place-holder-text">No amount has been paid yet for this invoice.</p>
                                        </div>
                                        <!-- SECTION - 1 - END -->

                                        <!-- SECTION - 2 - START -->
                                        <div class="content-wrapper write-off-details">
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Write off amount:</p>
                                                       <p class="highlight">£<span class="write-off-amount-answer"></span></p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Write off date:</p>
                                                       <p class="highlight write-off-date-answer"></p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Write off number:</p>
                                                       <p class="highlight write-off-number-answer"></p>
                                                  </div>
                                             </div>
                                             <div class="item-notes full-width">
                                                  <div class="wrapper">
                                                       <p>Comments:</p>
                                                       <p class="highlight write-off-comments-answer"></p>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- SECTION - 2 - END -->

                                   </div>
                                   <!-- //////////// Additonal info - START //////////// -->

                              </div>
                              <!-- //////////// Main info - START //////////// -->

                              <div class="cta-row">
                                   <div class="loader"></div>
                                   <div class="preloader-message">Awaiting sign off<br>Amount: <strong>£<span class="write-off-amount-answer"></span></strong></div>
                                   <div class="amount-due">
                                        <figure class="finance-chart invoice-chart-one animate">
                         				<svg role="img" xmlns="http://www.w3.org/2000/svg">
                         					<title>Current</title>
                         					<desc>Desc</desc>
                         					<circle class="circle-background" r="82.5px" cx="50%" cy="50%"></circle>
                         					<circle class="circle-foreground" r="82.5px" cx="50%" cy="50%"></circle>
                         				</svg>
                                             <figcaption>Amount due</figcaption>
                         				<div class="chart-text top">Amount due</div>
                                             <div class="chart-text amount">Amount paid<br><strong>£0</strong></div>
                         			</figure>
                                   </div>
                                   <div class="pay-invoice">
                                        <a href="../25-finance/25b-credit-amount.html" class="main-cta">Credit amount</a>
                                        <a href="../25-finance/25a-write-off.html" class="main-cta tertiary">Write off</a>
                                   </div>
                              </div>

                         </div>

                    </li>
                    <!-- // REPORT - 1 - END // -->

                    <!-- // REPORT - 2 - START // -->
                    <li class="outstanding" data-invoice="2">

                         <div class="invoice-status" data-tag="1">Outstanding: <span class="date">05/10/2017</span></div>
                         <div class="invoice-status hide" data-tag="2">Paid: <span class="date credit-date-by-answer"></span></div>
                         <div class="invoice-status hide" data-tag="3">Action pending...</div>

                         <div class="wrapper">

                              <!-- //////////// Main info - START //////////// -->
                              <div class="main-info">
                                   <span class="invoice-number">
                                        <span class="report-value-status-answer">Invoice</span>
                                        <strong class="invoice-number">520002/17</strong>
                                   </span>
                                   <div class="time-line">
                                        <div class="date left">
                                             <span class="indicator">Start date</span>
                                             <p>
                                                  <span></span>
                                                  <strong class="report-start-day-answer">5</strong><strong class="date-tense">th</strong>
                                                  <strong class="report-start-month-answer">October</strong>
                                                  <br>
                                                  <span class="start-date-answer report-start-year-answer">2016</span>
                                             </p>
                                        </div>
                                        <div class="date right">
                                             <span class="indicator">End date</span>
                                             <p>
                                                  <span></span>
                                                  <strong class="report-end-day-answer">5</strong><strong class="date-tense">th</strong>
                                                  <strong class="report-end-month-answer">October</strong>
                                                  <br>
                                                  <span class="end-date-answer report-end-year-answer">2017</span>
                                             </p>
                                        </div>
                                        <span class="border"></span>
                                   </div>

                                   <div class="show-hide-link">
                                        <a href="#" class="invoice-content-link" data-link="1" data-closed-text="View invoice details" data-open-text="Hide invoice details">View invoice details</a>
                                   </div>

                                   <!-- //////////// Additonal info - START //////////// -->
                                   <div class="invoice-content-section invoice-info" data-link="1">

                                        <!-- SECTION - 1 - START -->
                                        <div class="content-wrapper">
                                             <p class="place-holder-text">No amount has been paid yet for this invoice.</p>
                                        </div>
                                        <!-- SECTION - 1 - END -->

                                        <!-- SECTION - 2 - START -->
                                        <div class="content-wrapper invoice-details">
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Credit amount:</p>
                                                       <p class="highlight">£<span class="credit-amount-answer"></span></p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Credit date / by:</p>
                                                       <p class="highlight credit-date-by-answer"></p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Sent date:</p>
                                                       <p class="highlight credit-sent-date-answer"></p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>CC number:</p>
                                                       <p class="highlight credit-cc-number-answer"></p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Payment method:</p>
                                                       <p class="highlight credit-payment-method-answer"></p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Memo:</p>
                                                       <p class="highlight credit-memo-answer"></p>
                                                  </div>
                                             </div>
                                             <div class="item-notes full-width">
                                                  <div class="wrapper">
                                                       <p>Comments:</p>
                                                       <p class="highlight credit-comments-answer"></p>
                                                  </div>
                                             </div>
                                        </div>
                                        <!-- SECTION - 2 - END -->

                                   </div>
                                   <!-- //////////// Additonal info - START //////////// -->

                              </div>
                              <!-- //////////// Main info - START //////////// -->

                              <div class="cta-row">
                                   <div class="loader"></div>
                                   <div class="preloader-message">Awaiting sign off<br>Amount: <strong>£<span class="credit-amount-answer"></span></strong></div>
                                   <div class="amount-due">
                                        <figure class="finance-chart invoice-chart-one animate">
                                             <svg role="img" xmlns="http://www.w3.org/2000/svg">
                                                  <title>Current</title>
                                                  <desc>Desc</desc>
                                                  <circle class="circle-background" r="82.5px" cx="50%" cy="50%"></circle>
                                                  <circle class="circle-foreground" r="82.5px" cx="50%" cy="50%"></circle>
                                             </svg>
                                             <figcaption>Amount due</figcaption>
                                             <div class="chart-text top">Amount due</div>
                                             <div class="chart-text amount">Amount paid<br><strong>£0</strong></div>
                                        </figure>
                                   </div>
                                   <div class="pay-invoice">
                                        <a href="../25-finance/25b-credit-amount.html" class="main-cta">Credit amount</a>
                                        <a href="../25-finance/25a-write-off.html" class="main-cta tertiary">Write off</a>
                                   </div>
                                   <div class="pay-account">
                                        <a href="#credit-client-account" rel="modal:open" class="main-cta full-width">Credit to account</a>
                                   </div>
                              </div>

                         </div>

                    </li>
                    <!-- // REPORT - 2 - END // -->

                    <!-- // REPORT - 3 - START // -->
          		<li class="completed-invoice">

                         <div class="invoice-status">Paid: <span class="date">25/08/2016</span></div>

                         <div class="wrapper">

               			<!-- //////////// Main info - START //////////// -->
               			<div class="main-info">
                                   <span class="invoice-number">
                                        <span class="report-value-status-answer">Invoice</span>
                                        <strong class="invoice-number">520002/16</strong>
                                   </span>
                                   <div class="time-line">
                                        <div class="date left">
                                             <span class="indicator">Start date</span>
                                             <p>
                                                  <span></span>
                                                  <strong>5th October</strong><br>
                                                  <span class="start-date-answer">2015</span>
                                             </p>
                                        </div>
                                        <div class="date right">
                                             <span class="indicator">End date</span>
                                             <p>
                                                  <span></span>
                                                  <strong>4th October</strong><br>
                                                  <span class="end-date-answer">2016</span>
                                             </p>
                                        </div>
                                        <span class="border"></span>
                                   </div>

                                   <div class="show-hide-link">
                                        <a href="#" class="invoice-content-link" data-link="1" data-closed-text="View invoice details" data-open-text="Hide invoice details">View invoice details</a>
                                   </div>

                                   <!-- //////////// Additonal info - START //////////// -->
                                   <div class="invoice-content-section invoice-info" data-link="1">
                                        <div class="content-wrapper">
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Credit amount:</p>
                                                       <p class="highlight">£320</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Credit date / by:</p>
                                                       <p class="highlight">25/08/2016</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Sent date:</p>
                                                       <p class="highlight">15/08/2016</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>CC number:</p>
                                                       <p class="highlight">123456789</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Memo:</p>
                                                       <p class="highlight">This is the memo text</p>
                                                  </div>
                                             </div>
                                             <div class="item-notes full-width">
                                                  <div class="wrapper">
                                                       <p>Comments:</p>
                                                       <p class="highlight">
                                                            Lorem ipsum dolor sit amet, consectetur
                                                            adipiscing elit. Fusce sit amet urna a nisi
                                                            efficitur tempus vel in tellus.
                                                            Pellentesque consectetur gravida diam
                                                            fringilla consectetur.
                                                       </p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                                   <!-- //////////// Additonal info - END //////////// -->

               			</div>
               			<!-- //////////// Main info - END //////////// -->

                              <div class="cta-row">
                                   <div class="amount-due">
                                        <figure class="finance-chart invoice-chart-two animate">
                         				<svg role="img" xmlns="http://www.w3.org/2000/svg">
                         					<title>Current</title>
                         					<desc>Desc</desc>
                         					<circle class="circle-background" r="82.5px" cx="50%" cy="50%"></circle>
                         					<circle class="circle-foreground" r="82.5px" cx="50%" cy="50%"></circle>
                         				</svg>
                                             <figcaption>Paid in full</figcaption>
                                             <div class="chart-text top">Paid in full</div>
                                             <div class="chart-text">Amount paid<br><strong>£320</strong></div>
                         			</figure>
                                   </div>
                              </div>

                         </div>

          		</li>
          		<!-- // REPORT - 3 - END // -->

                    <!-- // REPORT - 4 - START // -->
          		<li class="completed-invoice">

                         <div class="invoice-status">Paid: <span class="date">30/08/2015</span></div>

                         <div class="wrapper">

               			<!-- //////////// Main info - START //////////// -->
               			<div class="main-info">
                                   <span class="invoice-number">
                                        <span class="report-value-status-answer">Invoice</span>
                                        <strong class="invoice-number">520002/15</strong>
                                   </span>
                                   <div class="time-line">
                                        <div class="date left">
                                             <span class="indicator">Start date</span>
                                             <p>
                                                  <span></span>
                                                  <strong>5th October</strong><br>
                                                  <span class="start-date-answer">2014</span>
                                             </p>
                                        </div>
                                        <div class="date right">
                                             <span class="indicator">End date</span>
                                             <p>
                                                  <span></span>
                                                  <strong>4th October</strong><br>
                                                  <span class="end-date-answer">2015</span>
                                             </p>
                                        </div>
                                        <span class="border"></span>
                                   </div>

                                   <div class="show-hide-link">
                                        <a href="#" class="invoice-content-link" data-link="1" data-closed-text="View invoice details" data-open-text="Hide invoice details">View invoice details</a>
                                   </div>

                                   <!-- //////////// Additonal info - START //////////// -->
                                   <div class="invoice-content-section invoice-info" data-link="1">
                                        <div class="content-wrapper">
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Credit amount:</p>
                                                       <p class="highlight">£320</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Credit date / by:</p>
                                                       <p class="highlight">25/08/2015</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Sent date:</p>
                                                       <p class="highlight">18/08/2015</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>CC number:</p>
                                                       <p class="highlight">123456789</p>
                                                  </div>
                                             </div>
                                             <div class="item">
                                                  <div class="wrapper">
                                                       <p>Memo:</p>
                                                       <p class="highlight">This is the memo text</p>
                                                  </div>
                                             </div>
                                             <div class="item-notes full-width">
                                                  <div class="wrapper">
                                                       <p>Comments:</p>
                                                       <p class="highlight">
                                                            Lorem ipsum dolor sit amet, consectetur
                                                            adipiscing elit. Fusce sit amet urna a nisi
                                                            efficitur tempus vel in tellus.
                                                            Pellentesque consectetur gravida diam
                                                            fringilla consectetur.
                                                       </p>
                                                  </div>
                                             </div>
                                        </div>
                                   </div>
                                   <!-- //////////// Additonal info - END //////////// -->

               			</div>
               			<!-- //////////// Main info - END //////////// -->

                              <div class="cta-row">
                                   <div class="amount-due">
                                        <figure class="finance-chart invoice-chart-three animate">
                         				<svg role="img" xmlns="http://www.w3.org/2000/svg">
                         					<title>Current</title>
                         					<desc>Desc</desc>
                         					<circle class="circle-background" r="82.5px" cx="50%" cy="50%"></circle>
                         					<circle class="circle-foreground" r="82.5px" cx="50%" cy="50%"></circle>
                         				</svg>
                         				<figcaption>Paid in full</figcaption>
                                             <div class="chart-text top">Paid in full</div>
                                             <div class="chart-text">Amount paid<br><strong>£320</strong></div>
                         			</figure>
                                   </div>
                              </div>

                         </div>

          		</li>
          		<!-- // REPORT - 4 - END // -->

          	</ul>

          </div>

     </div>

</div>
<!-- // FINANCE - END // -->
