<!-- ///////////// PROPERTY ORDER INFO - START ///////////// -->
<section class="pfa-content-item case-info">

	<h2 class="description-title">
		<span class="icon property"></span>PFA order details
		<a href="../1-create-case/1a-the-order.html#EditCase" class="edit edit-case-pfa">Change order</a>
	</h2>

	<!-- ///////////////////////////////////////// SECTION 1 - START ///////////////////////////////////////// -->
	<div class="flexbox-container">

		<!-- ITEM - 1 - START -->
		<div class="info-section">
			<p>Order type</p>
			<p class="answer">Property &amp; affairs</p>
		</div>
		<!-- ITEM - 1 - END -->

		<!-- ITEM - 2 - START -->
		<div class="info-section">
			<p>Court reference</p>
			<p class="answer case-court-ref-answer">14820940</p>
		</div>
		<!-- ITEM - 2 - END -->

		<!-- ITEM - 3 - START -->
		<div class="info-section">
			<p>Order date</p>
			<p class="answer case-order-date-answer">28/08/2018</p>
		</div>
		<!-- ITEM - 3 - END -->

		<!-- ITEM - 4 - START -->
		<div class="info-section">
			<p>Type of deputy</p>
			<p class="answer case-order-deputy-type-answer">Lay</p>
		</div>
		<!-- ITEM - 4 - END -->

		<!-- ITEM - 5 - START -->
		<!-- <div class="info-section">
			<p>Order status</p>
			<p class="answer case-order-status-answer">Open</p>
		</div> -->
		<!-- ITEM - 5 - END -->

		<!-- ITEM - 6 - START -->
		<!-- <div class="info-section">
			<p>Status date</p>
			<p class="answer case-status-date-answer">28/08/2017</p>
		</div> -->
		<!-- ITEM - 6 - END -->

		<!-- ITEM - 7 - START -->
		<div class="info-section">
			<p>Order issue date</p>
			<p class="answer case-order-issue-date-answer">28/08/2017</p>
		</div>
		<!-- ITEM - 7 - END -->

		<!-- ITEM - 8 - START -->
		<div class="info-section">
			<p>Order received date</p>
			<p class="answer case-status-date-answer">28/07/2017</p>
		</div>
		<!-- ITEM - 8 - END -->

		<!-- ITEM - 9 - START -->
		<div class="info-section">
			<p>Order title</p>
			<p class="answer case-order-title-answer">Order title</p>
		</div>
		<!-- ITEM - 9 - END -->

		<!-- ITEM - 10 - START -->
		<div class="info-section">
			<p>How have the deputy / deputies been appointed?</p>
			<p class="answer deputies-appointed-answer">Joint</p>
		</div>
		<!-- ITEM - 10 - END -->

	</div>
	<!-- ///////////////////////////////////////// SECTION 1 - END ///////////////////////////////////////// -->

	<!-- ///////////////////////////////////////// SECTION 2 - START ///////////////////////////////////////// -->
	<h2 class="description-title">
		Order status and supervision level
		<a href="../10-supervision-level/10a-supervision-level.html" class="edit">Change supervision level</a>
		<a href="../20-order-status/20a-order-status-pfa.html" class="edit">Change order status</a>
	</h2>

	<div class="flexbox-container two-column">

		<!-- ITEM - 1A - START -->
		<div class="info-section">
			<p>Order status</p>
			<p class="answer case-order-status-pfa-answer">Open</p>
		</div>
		<!-- ITEM - 1A - END -->

		<!-- ITEM - 1B - START -->
		<div class="info-section">
			<p>Supervision level</p>
			<p class="answer supervision-level-answer">Minimal</p>
		</div>
		<!-- ITEM - 1B - END -->

		<!-- ITEM - 2A - START -->
		<div class="info-section">
			<p>Status date</p>
			<p class="answer case-status-date-pfa-answer">28/08/2017</p>
		</div>
		<!-- ITEM - 2A - END -->

		<!-- ITEM - 2B - START -->
		<div class="info-section">
			<p>Date level applies from</p>
			<p class="answer supervision-level-date-answer">21/05/2018</p>
		</div>
		<!-- ITEM - 2B - END -->

		<!-- ITEM - 3A - START -->
		<div class="info-section">
			<p>Order status notes</p>
			<p class="answer order-status-notes-pfa-answer">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at volutpat dui. Quisque eu pellentesque dui.
				Proin efficitur rutrum fermentum. Curabitur ut enim quis velit tempus hendrerit. Etiam nec imperdiet tortor.
				Aenean vel nisi ex. Vivamus interdum eu sem sed porta. Sed in metus mollis, consectetur magna non, viverra nunc.
			</p>
		</div>
		<!-- ITEM - 3A - END -->

		<!-- ITEM - 3B - START -->
		<div class="info-section">
			<p>Supervision level notes</p>
			<p class="answer supervision-level-notes-answer">
				Pellentesque efficitur auctor enim, id sodales odio sollicitudin vitae. Vestibulum at tristique nulla, non imperdiet nisl.
				Nulla et felis vel erat ornare gravida sed at libero. Fusce laoreet nibh eros, et sodales nulla vehicula id.
				Donec rutrum elementum urna sed mollis. Nulla facilisi. Praesent ultricies vitae lectus in dictum. Donec.
			</p>
		</div>
		<!-- ITEM - 3B - END -->

	</div>
	<!-- ///////////////////////////////////////// SECTION 2 - END ///////////////////////////////////////// -->

	<!-- ///////////////////////////////////////// SECTION 3 - START ///////////////////////////////////////// -->
	<h2 class="description-title">
		The bond
		<a href="../1-create-case/1b-the-bond.html" class="edit add-bond">Add bond</a>
		<a href="../1-create-case/1b-the-bond.html" class="edit edit-bond">Change bond</a>
		<a href="../1-create-case/1b-the-bond.html" class="edit add-new-bond">Add bond</a>
		<!-- <a href="../1-create-case/1b-the-bond.html" class="bond-dispense">Dispense bond</a> -->
	</h2>

	<div class="flexbox-container">

		<!-- ITEM - 11 - START -->
		<div class="info-section">
			<p>Security bond?</p>
			<p class="answer security-bond-answer">No</p>
		</div>
		<!-- ITEM - 11 - END -->

		<!-- ITEM - 12 - START -->
		<div class="info-section dispense-bond-info">
			<p>Discharge date</p>
			<p class="answer bond-dispensed-date-answer">N/A</p>
		</div>
		<!-- ITEM - 12 - END -->

		<!-- ITEM - 13 - START -->
		<div class="info-section dispense-bond-info">
			<p>Dispensed reason</p>
			<p class="answer bond-dispensed-reason-answer">N/A</p>
		</div>
		<!-- ITEM - 13 - END -->

		<!-- ITEM - 14 - START -->
		<div class="info-section bond-info">
			<p>Required bond amount (£ - Court order)</p>
			<p class="answer"><span class="bond-amount-answer">N/A</span></p>
		</div>
		<!-- ITEM - 14 - END -->

		<!-- ITEM - 15 - START -->
		<div class="info-section bond-info">
			<p>Bond amount taken (£):</p>
			<p class="answer">£ <span class="bond-value-answer">N/A</span></p>
		</div>
		<!-- ITEM - 15 - END -->

		<!-- ITEM - 16 - START -->
		<div class="info-section bond-info">
			<p>Company</p>
			<p class="answer bond-company-answer">N/A</p>
			<p class="answer bond-other-answer-text">N/A</p>
		</div>
		<!-- ITEM - 16 - END -->

		<!-- ITEM - 17 - START -->
		<div class="info-section bond-info">
			<p>Bond reference number</p>
			<p class="answer bond-ref-number-answer">N/A</p>
		</div>
		<!-- ITEM - 17 - END -->

		<!-- ITEM - 18 - START -->
		<div class="info-section bond-info">
			<p>Renewal date</p>
			<p class="answer bond-renewal-date-answer">N/A</p>
		</div>
		<!-- ITEM - 18 - END -->

	</div>
	<!-- ///////////////////////////////////////// SECTION 3 - END ///////////////////////////////////////// -->


</section>
<!-- ///////////// PROPERTY ORDER INFO - END ///////////// -->
