<h2 class="description-title">Order details</h2>

<table id="client-order-table" class="">
     <thead>
          <tr class="seven-column">
               <th>Details</th>
               <th>Type</th>
			<th>Status</th>
			<th>Deputy type</th>
			<th>Appointed</th>
			<th>Bond</th>
               <th><div>Actions</div></th>
          </tr>
     </thead>
     <tbody>

          <!-- ORDER SUMMARY ROW 1 - START -->
          <tr class="pfa-content-item summary-row" data-value="1">
               <td>
				<h2 class="title">
                         <span class="icon property"></span>
					<div><div>PFA</div> <strong>-</strong> <div>14820940</div></div>
                         <br>
                         <div class="sub-text">(7000-0000-2472)</div>
				</h2>
                    <div class="appointed">Order date: <strong class="case-order-date-answer">28/08/2018</strong></div>
				<div class="appointed">Report type: <strong class="order-level">103</strong></div>
				<br>
                    <div class="info"><span class="number">1</span>Tasks</div>
				<div class="info"><span class="number">1</span>Deputies</div>
                    <a href="#" class="full-details" data-value="1">View full details</a>
               </td>
			<td>
				PFA
			</td>
			<td>
                    <div class="case-order-status-pfa-answer">Open</div>
               </td>
			<td>
                    Lay
               </td>
			<td>
                    Sole
               </td>
               <td>
				<div class="security-bond-answer">No</div>
               </td>
               <td>
				<a class="main-cta tertiary edit edit-case-pfa" href="../1-create-case/1a-the-order.html#EditCase">Edit order</a>
                    <a class="main-cta tertiary edit" href="../20-order-status/20a-order-status-pfa.html">Edit order status</a>
				<a class="main-cta tertiary edit" href="../10-supervision-level/10a-supervision-level.html">Edit supervision level</a>
				<a class="main-cta tertiary edit add-bond" href="../1-create-case/1b-the-bond.html">Add bond</a>
				<a class="main-cta tertiary edit edit-bond" href="../1-create-case/1b-the-bond.html">Edit bond</a>
				<a class="main-cta tertiary edit add-new-bond" href="../1-create-case/1b-the-bond.html">Add bond</a>
               </td>
          </tr>
          <!-- ORDER SUMMARY ROW 1 - END -->

          <!-- ORDER DETAILS ROW 1 - START -->
          <tr class="details-row" data-value="1">
               <td colspan="7">

                    <!-- //////////////////////////// STEP 1 INFO - START //////////////////////////// -->
                    <h2 class="description-title">Order details:</h2>

                    <div class="details-wrap">

					<!-- ITEM - 1 - START -->
					<div class="info-section">
						<p>Order type:</p>
						<p class="answer">Property &amp; affairs</p>
					</div>
					<!-- ITEM - 1 - END -->

					<!-- ITEM - 2 - START -->
                         <div class="info-section">
                              <p>Court reference:</p>
                              <p class="answer case-court-ref-answer">14820940</p>
                         </div>
					<!-- ITEM - 2 - END -->

					<!-- ITEM - 3 - START -->
                         <div class="info-section">
                              <p>Order date:</p>
                              <p class="answer case-order-date-answer">28/08/2018</p>
                         </div>
					<!-- ITEM - 3 - END -->

					<!-- ITEM - 4 - START -->
                         <div class="info-section">
                              <p>Type of deputy:</p>
                              <p class="answer case-order-deputy-type-answer">Lay</p>
                         </div>
					<!-- ITEM - 4 - END -->

                         <!-- ITEM - 5 - START -->
                         <div class="info-section">
                              <p>Order issue date:</p>
                              <p class="answer case-order-issue-date-answer">28/08/2017</p>
                         </div>
					<!-- ITEM - 5 - END -->

                         <!-- ITEM - 6 - START -->
                         <div class="info-section">
                              <p>Order expiry date:</p>
                              <p class="answer case-expiry-date-answer">28/07/2018</p>
                         </div>
                         <!-- ITEM - 6 - END -->

                         <!-- ITEM - 7 - START -->
                         <div class="info-section">
                              <p>Order received date:</p>
                              <p class="answer case-status-date-answer">28/07/2017</p>
                         </div>
                         <!-- ITEM - 7 - END -->

                         <!-- ITEM - 8 - START -->
                         <div class="info-section">
                              <p>Order title:</p>
                              <p class="answer case-order-title-answer">Order title</p>
                         </div>
                         <!-- ITEM - 8 - END -->

                         <!-- ITEM - 9 - START -->
                         <div class="info-section">
                              <p>How have the deputy / deputies been appointed?:</p>
                              <p class="answer deputies-appointed-answer">Joint</p>
                         </div>
                         <!-- ITEM - 9 - END -->

                    </div>

                    <div class="details-wrap full-width">

                         <!-- ITEM - 1 - START -->
                         <div class="info-section">
                              <p>Notes:</p>
                              <p class="answer order-notes-answer">
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at volutpat dui. Quisque eu pellentesque dui.
							Proin efficitur rutrum fermentum. Curabitur ut enim quis velit tempus hendrerit. Etiam nec imperdiet tortor.
							Aenean vel nisi ex. Vivamus interdum eu sem sed porta. Sed in metus mollis, consectetur magna non, viverra nunc.
                              </p>
                         </div>
                         <!-- ITEM - 1 - END -->

                    </div>
                    <!-- //////////////////////////// STEP 1 INFO - END //////////////////////////// -->

                    <!-- //////////////////////////// STEP 2 INFO - START //////////////////////////// -->
                    <h2 class="description-title">Order status and supervision level:</h2>

                    <div class="details-wrap">

					<!-- ITEM - 1 - START -->
					<div class="info-section">
						<p>Order status:</p>
						<p class="answer case-order-status-pfa-answer">Open</p>
					</div>
					<!-- ITEM - 1 - END -->

					<!-- ITEM - 2 - START -->
					<div class="info-section">
						<p>Status date:</p>
						<p class="answer case-status-date-pfa-answer">28/08/2017</p>
					</div>
					<!-- ITEM - 2 - END -->

					<!-- ITEM - 3 - START -->
					<div class="info-section">
						<p>Order status notes:</p>
						<p class="answer order-status-notes-pfa-answer">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at volutpat dui. Quisque eu pellentesque dui.
							Proin efficitur rutrum fermentum. Curabitur ut enim quis velit tempus hendrerit. Etiam nec imperdiet tortor.
							Aenean vel nisi ex. Vivamus interdum eu sem sed porta. Sed in metus mollis, consectetur magna non, viverra nunc.
						</p>
					</div>
					<!-- ITEM - 3 - END -->

                         <!-- ITEM - 4 - START -->
                         <div class="info-section">
                              <p>Supervision level:</p>
                              <p class="answer supervision-level-answer">Minimal</p>
                         </div>
                         <!-- ITEM - 4 - END -->

                         <!-- ITEM - 5 - START -->
                         <div class="info-section">
                              <p>Date level applies from:</p>
                              <p class="answer supervision-level-date-answer">21/05/2018</p>
                         </div>
                         <!-- ITEM - 5 - END -->

                         <!-- ITEM - 6 - START -->
                         <div class="info-section">
                              <p>Asset level:</p>
                              <p class="answer supervision-level-asset-answer">Unknown</p>
                         </div>
                         <!-- ITEM - 6 - END -->

					<!-- ITEM - 7 - START -->
					<div class="info-section">
						<p>Supervision level notes:</p>
						<p class="answer supervision-level-notes-answer">
							Pellentesque efficitur auctor enim, id sodales odio sollicitudin vitae. Vestibulum at tristique nulla, non imperdiet nisl.
							Nulla et felis vel erat ornare gravida sed at libero. Fusce laoreet nibh eros, et sodales nulla vehicula id.
							Donec rutrum elementum urna sed mollis. Nulla facilisi. Praesent ultricies vitae lectus in dictum. Donec.
						</p>
					</div>
					<!-- ITEM - 7 - END -->

                    </div>
                    <!-- //////////////////////////// STEP 2 INFO - END //////////////////////////// -->

                    <!-- //////////////////////////// STEP 3 INFO - START //////////////////////////// -->
                    <div class="deputy-order-details">

                         <h2 class="description-title">The bond:</h2>

                         <div class="details-wrap">

						<!-- ITEM - 11A - START -->
						<div class="info-section">
							<p>Security bond?:</p>
							<p class="answer security-bond-answer">No</p>
						</div>
						<!-- ITEM - 11A - END -->

                              <!-- ITEM - 11B - START -->
                              <div class="info-section edit-bond-info">
                                   <p>Bond has been edited:</p>
                                   <p class="answer security-bond-edited-answer">No</p>
                              </div>
                              <!-- ITEM - 11B - END -->

						<!-- ITEM - 12 - START -->
						<div class="info-section dispense-bond-info">
							<p>Discharge date:</p>
							<p class="answer bond-dispensed-date-answer">N/A</p>
						</div>
						<!-- ITEM - 12 - END -->

						<!-- ITEM - 13 - START -->
						<div class="info-section dispense-bond-info">
							<p>Dispensed reason:</p>
							<p class="answer bond-dispensed-reason-answer">N/A</p>
						</div>
						<!-- ITEM - 13 - END -->

						<!-- ITEM - 14 - START -->
						<div class="info-section bond-info">
							<p>Required bond amount (£ - Court order):</p>
							<p class="answer"><span class="bond-amount-answer">N/A</span></p>
						</div>
						<!-- ITEM - 14 - END -->

						<!-- ITEM - 15 - START -->
						<div class="info-section bond-info">
							<p>Bond amount taken (£):</p>
							<p class="answer">£ <span class="bond-value-answer">N/A</span></p>
						</div>
						<!-- ITEM - 15 - END -->

						<!-- ITEM - 16 - START -->
						<div class="info-section bond-info">
							<p>Company:</p>
							<p class="answer bond-company-answer">N/A</p>
							<p class="answer bond-other-answer-text">N/A</p>
						</div>
						<!-- ITEM - 16 - END -->

						<!-- ITEM - 17 - START -->
						<div class="info-section bond-info">
							<p>Bond reference number:</p>
							<p class="answer bond-ref-number-answer">N/A</p>
						</div>
						<!-- ITEM - 17 - END -->

						<!-- ITEM - 18 - START -->
						<div class="info-section bond-info bond-renewal-info">
							<p>Renewal date:</p>
							<p class="answer bond-renewal-date-answer">N/A</p>
						</div>
						<!-- ITEM - 18 - END -->

                              <!-- ITEM - 19 - START -->
                              <div class="info-section bond-info one-off-bond">
                                   <p>One-off bond?:</p>
                                   <p class="answer">Yes</p>
                              </div>
                              <!-- ITEM - 19 - END -->

                         </div>

                    </div>
                    <!-- //////////////////////////// STEP 3 INFO - END //////////////////////////// -->

               </td>
          </tr>
		<!-- ORDER DETAILS ROW 1 - END -->

		<!-- ORDER SUMMARY ROW 2 - START -->
          <tr class="handw-content-item summary-row" data-value="2">
               <td>
				<h2 class="title">
					<span class="icon welfare"></span>
                         <div><div>H&amp;W</div> <strong>-</strong> <div>14820940</div></div>
                         <br>
                         <div class="sub-text">(7000-0000-1458)</div>
				</h2>
                    <div class="appointed">Order date: <strong class="case-order-date-answer">28/08/2018</strong></div>
                    <div class="appointed"></div>
                    <br>
                    <div class="info"><span class="number">4</span>Tasks</div>
				<div class="info"><span class="number">2</span>Deputies</div>
                    <a href="#" class="full-details" data-value="2">View full details</a>
               </td>
			<td>
				H&amp;W
			</td>
			<td>
                    <div class="case-order-status-hw-answer">Open</div>
               </td>
			<td>
                    Lay
               </td>
			<td>
                    Joint
               </td>
               <td>
				N/A
               </td>
               <td>
				<a class="main-cta tertiary edit edit-case-health" href="../1-create-case/1a-the-order.html#EditCase">Edit order</a>
                    <a class="main-cta tertiary edit" href="../20-order-status/20a-order-status-hw.html">Edit order status</a>
				<!-- <a class="main-cta tertiary edit" href="../10-supervision-level/10a-supervision-level.html">Edit supervision level</a> -->
               </td>
          </tr>
          <!-- ORDER SUMMARY ROW 2 - END -->

          <!-- ORDER DETAILS ROW 2 - START -->
          <tr class="details-row" data-value="2">
               <td colspan="7">

                    <!-- //////////////////////////// STEP 1 INFO - START //////////////////////////// -->
                    <h2 class="description-title">Order details:</h2>

                    <div class="details-wrap">

					<!-- ITEM - 1 - START -->
					<div class="info-section">
						<p>Order type:</p>
						<p class="answer">Health &amp; welfare</p>
					</div>
					<!-- ITEM - 1 - END -->

					<!-- ITEM - 2 - START -->
					<div class="info-section">
						<p>Court reference:</p>
						<p class="answer case-court-ref-answer">14820940</p>
					</div>
					<!-- ITEM - 2 - END -->

					<!-- ITEM - 3 - START -->
					<div class="info-section">
						<p>Order date:</p>
						<p class="answer case-order-date-answer">28/08/2018</p>
					</div>
					<!-- ITEM - 3 - END -->

					<!-- ITEM - 4 - START -->
					<div class="info-section">
						<p>Type of deputy:</p>
						<p class="answer case-order-deputy-type-answer">Lay</p>
					</div>
					<!-- ITEM - 4 - END -->

					<!-- ITEM - 5 - START -->
					<div class="info-section">
						<p>Order status:</p>
						<p class="answer case-order-status-answer">Open</p>
					</div>
					<!-- ITEM - 5 - END -->

					<!-- ITEM - 6 - START -->
					<div class="info-section">
						<p>Status date:</p>
						<p class="answer case-status-date-answer">28/08/2017</p>
					</div>
					<!-- ITEM - 6 - END -->

					<!-- ITEM - 7 - START -->
					<div class="info-section">
						<p>Order issue date:</p>
						<p class="answer case-order-issue-date-answer">28/08/2017</p>
					</div>
					<!-- ITEM - 7 - END -->

					<!-- ITEM - 8 - START -->
                         <div class="info-section">
                              <p>Order expiry date:</p>
                              <p class="answer case-order-expiry-date-answer">28/08/2017</p>
                         </div>
					<!-- ITEM - 8 - END -->

					<!-- ITEM - 9 - START -->
                         <div class="info-section">
                              <p>Order received date:</p>
                              <p class="answer case-status-date-answer">28/07/2017</p>
                         </div>
					<!-- ITEM - 9 - END -->

					<!-- ITEM - 10 - START -->
                         <div class="info-section">
                              <p>Order title:</p>
                              <p class="answer case-order-title-answer">Order title</p>
                         </div>
					<!-- ITEM - 10 - END -->

                         <!-- ITEM - 11 - START -->
                         <div class="info-section">
                              <p>How have the deputy/deputies been appointed?:</p>
                              <p class="answer deputies-appointed-answer">Joint</p>
                         </div>
                         <!-- ITEM - 11 - END -->

                    </div>

                    <div class="details-wrap full-width">

                         <!-- ITEM - 1 - START -->
                         <div class="info-section">
                              <p>Notes:</p>
                              <p class="answer order-notes-answer">
                                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at volutpat dui. Quisque eu pellentesque dui.
                                   Proin efficitur rutrum fermentum. Curabitur ut enim quis velit tempus hendrerit. Etiam nec imperdiet tortor.
                                   Aenean vel nisi ex. Vivamus interdum eu sem sed porta. Sed in metus mollis, consectetur magna non, viverra nunc.
                              </p>
                         </div>
                         <!-- ITEM - 1 - END -->

                    </div>
                    <!-- //////////////////////////// STEP 1 INFO - END //////////////////////////// -->

                    <!-- //////////////////////////// STEP 2 INFO - START //////////////////////////// -->
                    <h2 class="description-title">Order status:</h2>

                    <div class="details-wrap">

					<!-- ITEM - 1 - START -->
					<div class="info-section">
						<p>Order status:</p>
						<p class="answer case-order-status-hw-answer">Open</p>
					</div>
					<!-- ITEM - 1 - END -->

					<!-- ITEM - 2 - START -->
					<div class="info-section">
						<p>Status date:</p>
						<p class="answer case-status-date-hw-answer">28/08/2017</p>
					</div>
					<!-- ITEM - 2 - END -->

					<!-- ITEM - 3 - START -->
					<div class="info-section">
						<p>Order status notes:</p>
						<p class="answer order-status-notes-hw-answer">
							Pellentesque efficitur auctor enim, id sodales odio sollicitudin vitae. Vestibulum at tristique nulla, non imperdiet nisl.
							Nulla et felis vel erat ornare gravida sed at libero. Fusce laoreet nibh eros, et sodales nulla vehicula id.
							Donec rutrum elementum urna sed mollis. Nulla facilisi. Praesent ultricies vitae lectus in dictum. Donec.
						</p>
					</div>
					<!-- ITEM - 3 - END -->

                    </div>
                    <!-- //////////////////////////// STEP 2 INFO - END //////////////////////////// -->

               </td>
          </tr>
		<!-- ORDER DETAILS ROW 2 - END -->

		<!-- ORDER SUMMARY ROW 3 - START -->
          <tr class="handw-content-item summary-row duplicate-row" data-value="3">
               <td>
                    <span class="order-status-indicator">duplicate</span>
				<h2 class="title">
					<span class="icon welfare"></span>
                         <div><div>H&amp;W</div> <strong>-</strong> <div>14820940</div></div>
                         <br>
                         <div class="sub-text">(7000-0000-5689)</div>
				</h2>
                    <div class="appointed">Order date: <strong>28/08/2018</strong></div>
                    <div class="appointed"></div>
                    <br>
                    <div class="info"><span class="number">-</span>Tasks</div>
				<div class="info"><span class="number">-</span>Deputies</div>
                    <a href="#" class="full-details" data-value="3">View full details</a>
               </td>
			<td>
				H&amp;W
			</td>
			<td>
                    Duplicate
               </td>
			<td>
                    Lay
               </td>
			<td>
                    Joint
               </td>
               <td>
				N/A
               </td>
               <td>
                    <a class="main-cta tertiary edit" href="#">Edit order</a>
               </td>
          </tr>
          <!-- ORDER SUMMARY ROW 3 - END -->

          <!-- ORDER DETAILS ROW 3 - START -->
          <tr class="details-row" data-value="3">
               <td colspan="7">

                    <!-- //////////////////////////// STEP 1 INFO - START //////////////////////////// -->
                    <h2 class="description-title">Order details:</h2>

                    <div class="details-wrap">

					<!-- ITEM - 1 - START -->
					<div class="info-section">
						<p>Order type:</p>
						<p class="answer">Health &amp; welfare</p>
					</div>
					<!-- ITEM - 1 - END -->

					<!-- ITEM - 2 - START -->
					<div class="info-section">
						<p>Court reference:</p>
						<p class="answer">14820940</p>
					</div>
					<!-- ITEM - 2 - END -->

					<!-- ITEM - 3 - START -->
					<div class="info-section">
						<p>Order date:</p>
						<p class="answer">28/08/2018</p>
					</div>
					<!-- ITEM - 3 - END -->

					<!-- ITEM - 4 - START -->
					<div class="info-section">
						<p>Type of deputy:</p>
						<p class="answer">Lay</p>
					</div>
					<!-- ITEM - 4 - END -->

					<!-- ITEM - 5 - START -->
					<div class="info-section">
						<p>Order status:</p>
						<p class="answer">Open</p>
					</div>
					<!-- ITEM - 5 - END -->

					<!-- ITEM - 6 - START -->
					<div class="info-section">
						<p>Status date:</p>
						<p class="answer">28/08/2017</p>
					</div>
					<!-- ITEM - 6 - END -->

					<!-- ITEM - 7 - START -->
					<div class="info-section">
						<p>Order issue date:</p>
						<p class="answer">28/08/2017</p>
					</div>
					<!-- ITEM - 7 - END -->

                         <!-- ITEM - 8 - START -->
                         <div class="info-section">
                              <p>Order expiry date:</p>
                              <p class="answer">28/08/2019</p>
                         </div>
                         <!-- ITEM - 8 - END -->

					<!-- ITEM - 9 - START -->
					<div class="info-section">
						<p>Order received date:</p>
						<p class="answer">28/07/2017</p>
					</div>
					<!-- ITEM - 9 - END -->

					<!-- ITEM - 10 - START -->
					<div class="info-section">
						<p>Order title:</p>
						<p class="answer">Order title</p>
					</div>
					<!-- ITEM - 10 - END -->

					<!-- ITEM - 11 - START -->
					<div class="info-section">
						<p>How have the deputy/deputies been appointed?:</p>
						<p class="answer">Joint</p>
					</div>
					<!-- ITEM - 11 - END -->

                    </div>
                    <!-- //////////////////////////// STEP 1 INFO - END //////////////////////////// -->

                    <!-- //////////////////////////// STEP 2 INFO - START //////////////////////////// -->
                    <h2 class="description-title">Order status:</h2>

                    <div class="details-wrap">

					<!-- ITEM - 1 - START -->
					<div class="info-section">
						<p>Order status:</p>
						<p class="answer">Duplicate</p>
					</div>
					<!-- ITEM - 1 - END -->

					<!-- ITEM - 2 - START -->
					<div class="info-section">
						<p>Status date:</p>
						<p class="answer">28/08/2017</p>
					</div>
					<!-- ITEM - 2 - END -->

					<!-- ITEM - 3 - START -->
					<div class="info-section">
						<p>Order status notes:</p>
						<p class="answer">
							Pellentesque efficitur auctor enim, id sodales odio sollicitudin vitae. Vestibulum at tristique nulla, non imperdiet nisl.
							Nulla et felis vel erat ornare gravida sed at libero. Fusce laoreet nibh eros, et sodales nulla vehicula id.
							Donec rutrum elementum urna sed mollis. Nulla facilisi. Praesent ultricies vitae lectus in dictum. Donec.
						</p>
					</div>
					<!-- ITEM - 3 - END -->

                    </div>
                    <!-- //////////////////////////// STEP 2 INFO - END //////////////////////////// -->

               </td>
          </tr>
		<!-- ORDER DETAILS ROW 3 - END -->

		<!-- ORDER SUMMARY ROW 4 - START -->
		<tr class="pfa-content-item summary-row closed-row" data-value="4">
			<td>
                    <span class="order-status-indicator">closed</span>
				<h2 class="title">
					<span class="icon property"></span>
                         <div><div>PFA</div> <strong>-</strong> <div>145862025</div></div>
                         <br>
                         <div class="sub-text">(7000-0000-4578)</div>
				</h2>
				<div class="appointed">Order date: <strong class="case-order-date-answer">28/07/2017</strong></div>
                    <div class="appointed"></div>
                    <br>
				<div class="info"><span class="number">-</span>Tasks</div>
				<div class="info"><span class="number">-</span>Deputies</div>
				<a href="#" class="full-details" data-value="4">View full details</a>
			</td>
			<td>
				PFA
			</td>
			<td>
				Closed
			</td>
			<td>
				Lay
			</td>
			<td>
				Joint
			</td>
			<td>
				N/A
			</td>
			<td>
                    <a class="main-cta tertiary edit" href="#">Edit order</a>
			</td>
		</tr>
		<!-- ORDER SUMMARY ROW 4 - END -->

		<!-- ORDER DETAILS ROW 4 - START -->
		<tr class="details-row" data-value="4">
			<td colspan="7">

				<!-- //////////////////////////// STEP 1 INFO - START //////////////////////////// -->
				<h2 class="description-title">Order details:</h2>

				<div class="details-wrap">

					<!-- ITEM - 1 - START -->
					<div class="info-section">
						<p>Order type:</p>
						<p class="answer">Property &amp; affairs</p>
					</div>
					<!-- ITEM - 1 - END -->

					<!-- ITEM - 2 - START -->
					<div class="info-section">
						<p>Court reference:</p>
						<p class="answer">14820940</p>
					</div>
					<!-- ITEM - 2 - END -->

					<!-- ITEM - 3 - START -->
					<div class="info-section">
						<p>Order date:</p>
						<p class="answer">28/08/2017</p>
					</div>
					<!-- ITEM - 3 - END -->

					<!-- ITEM - 4 - START -->
					<div class="info-section">
						<p>Type of deputy:</p>
						<p class="answer">Lay</p>
					</div>
					<!-- ITEM - 4 - END -->

					<!-- ITEM - 5 - START -->
					<div class="info-section">
						<p>Order issue date:</p>
						<p class="answer">28/08/2017</p>
					</div>
					<!-- ITEM - 5 - END -->

                         <!-- ITEM - 6 - START -->
                         <div class="info-section">
                              <p>Order expiry date:</p>
                              <p class="answer">28/08/2019</p>
                         </div>
                         <!-- ITEM - 6 - END -->

					<!-- ITEM - 7 - START -->
					<div class="info-section">
						<p>Order received date:</p>
						<p class="answer">28/07/2017</p>
					</div>
					<!-- ITEM - 7 - END -->

					<!-- ITEM - 8 - START -->
					<div class="info-section">
						<p>Order title:</p>
						<p class="answer">Order title</p>
					</div>
					<!-- ITEM - 8 - END -->

					<!-- ITEM - 9 - START -->
					<div class="info-section">
						<p>How have the deputy / deputies been appointed?:</p>
						<p class="answer">Joint</p>
					</div>
					<!-- ITEM - 9 - END -->

				</div>
				<!-- //////////////////////////// STEP 1 INFO - END //////////////////////////// -->

				<!-- //////////////////////////// STEP 2 INFO - START //////////////////////////// -->
				<h2 class="description-title">Order status and supervision level:</h2>

				<div class="details-wrap">

					<!-- ITEM - 1A - START -->
					<div class="info-section">
						<p>Order status:</p>
						<p class="answer">Closed</p>
					</div>
					<!-- ITEM - 1A - END -->

					<!-- ITEM - 1B - START -->
					<div class="info-section">
						<p>Supervision level:</p>
						<p class="answer">Minimal</p>
					</div>
					<!-- ITEM - 1B - END -->

					<!-- ITEM - 2A - START -->
					<div class="info-section">
						<p>Status date:</p>
						<p class="answer">21/09/2017</p>
					</div>
					<!-- ITEM - 2A - END -->

					<!-- ITEM - 2B - START -->
					<div class="info-section">
						<p>Date level applies from:</p>
						<p class="answer">21/09/2017</p>
					</div>
					<!-- ITEM - 2B - END -->

					<!-- ITEM - 3A - START -->
					<div class="info-section">
						<p>Order status notes:</p>
						<p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<!-- ITEM - 3A - END -->

					<!-- ITEM - 3B - START -->
					<div class="info-section">
						<p>Supervision level notes:</p>
						<p class="answer">Pellentesque efficitur auctor enim, id sodales odio sollicitudin vitae.</p>
					</div>
					<!-- ITEM - 3B - END -->

				</div>
				<!-- //////////////////////////// STEP 2 INFO - END //////////////////////////// -->

				<!-- //////////////////////////// STEP 3 INFO - START //////////////////////////// -->
				<div class="deputy-order-details">

					<h2 class="description-title">The bond:</h2>

					<div class="details-wrap">

						<!-- ITEM - 11 - START -->
						<div class="info-section">
							<p>Security bond?:</p>
							<p class="answer">No</p>
						</div>
						<!-- ITEM - 11 - END -->

						<!-- ITEM - 12 - START -->
						<div class="info-section dispense-bond-info">
							<p>Discharge date:</p>
							<p class="answer">N/A</p>
						</div>
						<!-- ITEM - 12 - END -->

						<!-- ITEM - 13 - START -->
						<div class="info-section dispense-bond-info">
							<p>Dispensed reason:</p>
							<p class="answer">N/A</p>
						</div>
						<!-- ITEM - 13 - END -->

						<!-- ITEM - 14 - START -->
						<div class="info-section bond-info">
							<p>Required bond amount (£ - Court order):</p>
							<p class="answer">N/A</p>
						</div>
						<!-- ITEM - 14 - END -->

						<!-- ITEM - 15 - START -->
						<div class="info-section bond-info">
							<p>Bond amount taken (£):</p>
							<p class="answer">£ N/A</p>
						</div>
						<!-- ITEM - 15 - END -->

						<!-- ITEM - 16 - START -->
						<div class="info-section bond-info">
							<p>Company:</p>
							<p class="answer">N/A</p>
						</div>
						<!-- ITEM - 16 - END -->

						<!-- ITEM - 17 - START -->
						<div class="info-section bond-info">
							<p>Bond reference number:</p>
							<p class="answer">N/A</p>
						</div>
						<!-- ITEM - 17 - END -->

						<!-- ITEM - 18 - START -->
						<div class="info-section bond-info">
							<p>Renewal date:</p>
							<p class="answer">N/A</p>
						</div>
						<!-- ITEM - 18 - END -->

					</div>

				</div>
				<!-- //////////////////////////// STEP 3 INFO - END //////////////////////////// -->

			</td>
		</tr>
		<!-- ORDER DETAILS ROW 4 - END -->

     </tbody>
</table>
