<!-- ///////////// PROPERTY ORDER INFO - START ///////////// -->
<section class="pfa-content-item case-info">

	<h2 class="description-title"><span class="icon property"></span>PFA order details</h2>

	<!-- ///////////////////////////////////////// SECTION 1 - START ///////////////////////////////////////// -->
	<div class="flexbox-container">

		<!-- ITEM - 1 - START -->
		<div class="info-section">
			<p>Order type</p>
			<p class="answer">Property &amp; affairs</p>
		</div>
		<!-- ITEM - 1 - END -->

		<!-- ITEM - 2 - START -->
		<div class="info-section">
			<p>Court reference</p>
			<p class="answer">14820940</p>
		</div>
		<!-- ITEM - 2 - END -->

		<!-- ITEM - 3 - START -->
		<div class="info-section">
			<p>Order date</p>
			<p class="answer">28/08/2017</p>
		</div>
		<!-- ITEM - 3 - END -->

		<!-- ITEM - 4 - START -->
		<div class="info-section">
			<p>Type of deputy</p>
			<p class="answer">Lay</p>
		</div>
		<!-- ITEM - 4 - END -->

		<!-- ITEM - 5 - START -->
		<div class="info-section">
			<p>Order issue date</p>
			<p class="answer">28/08/2017</p>
		</div>
		<!-- ITEM - 5 - END -->

		<!-- ITEM - 6 - START -->
		<div class="info-section">
			<p>Order received date</p>
			<p class="answer">28/07/2017</p>
		</div>
		<!-- ITEM - 6 - END -->

		<!-- ITEM - 7 - START -->
		<div class="info-section">
			<p>Order title</p>
			<p class="answer">Order title</p>
		</div>
		<!-- ITEM - 7 - END -->

		<!-- ITEM - 8 - START -->
		<div class="info-section">
			<p>How have the deputy / deputies been appointed?</p>
			<p class="answer">Joint</p>
		</div>
		<!-- ITEM - 8 - END -->

	</div>
	<!-- ///////////////////////////////////////// SECTION 1 - END ///////////////////////////////////////// -->

	<!-- ///////////////////////////////////////// SECTION 2 - START ///////////////////////////////////////// -->
	<h2 class="description-title">Order status and supervision level</h2>

	<div class="flexbox-container two-column">

		<!-- ITEM - 1A - START -->
		<div class="info-section">
			<p>Order status</p>
			<p class="answer">Closed</p>
		</div>
		<!-- ITEM - 1A - END -->

		<!-- ITEM - 1B - START -->
		<div class="info-section">
			<p>Supervision level</p>
			<p class="answer">Minimal</p>
		</div>
		<!-- ITEM - 1B - END -->

		<!-- ITEM - 2A - START -->
		<div class="info-section">
			<p>Status date</p>
			<p class="answer">21/09/2017</p>
		</div>
		<!-- ITEM - 2A - END -->

		<!-- ITEM - 2B - START -->
		<div class="info-section">
			<p>Date level applies from</p>
			<p class="answer">21/09/2017</p>
		</div>
		<!-- ITEM - 2B - END -->

		<!-- ITEM - 3A - START -->
		<div class="info-section">
			<p>Order status notes</p>
			<p class="answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
		<!-- ITEM - 3A - END -->

		<!-- ITEM - 3B - START -->
		<div class="info-section">
			<p>Supervision level notes</p>
			<p class="answer">Pellentesque efficitur auctor enim, id sodales odio sollicitudin vitae.</p>
		</div>
		<!-- ITEM - 3B - END -->

	</div>
	<!-- ///////////////////////////////////////// SECTION 2 - END ///////////////////////////////////////// -->

	<!-- ///////////////////////////////////////// SECTION 3 - START ///////////////////////////////////////// -->
	<h2 class="description-title">The bond</h2>

	<div class="flexbox-container">

		<!-- ITEM - 11 - START -->
		<div class="info-section">
			<p>Security bond?</p>
			<p class="answer">No</p>
		</div>
		<!-- ITEM - 11 - END -->

		<!-- ITEM - 12 - START -->
		<div class="info-section dispense-bond-info">
			<p>Discharge date</p>
			<p class="answer">N/A</p>
		</div>
		<!-- ITEM - 12 - END -->

		<!-- ITEM - 13 - START -->
		<div class="info-section dispense-bond-info">
			<p>Dispensed reason</p>
			<p class="answer">N/A</p>
		</div>
		<!-- ITEM - 13 - END -->

		<!-- ITEM - 14 - START -->
		<div class="info-section bond-info">
			<p>Required bond amount (£ - Court order)</p>
			<p class="answer">N/A</p>
		</div>
		<!-- ITEM - 14 - END -->

		<!-- ITEM - 15 - START -->
		<div class="info-section bond-info">
			<p>Bond amount taken (£):</p>
			<p class="answer">£ N/A</p>
		</div>
		<!-- ITEM - 15 - END -->

		<!-- ITEM - 16 - START -->
		<div class="info-section bond-info">
			<p>Company</p>
			<p class="answer">N/A</p>
		</div>
		<!-- ITEM - 16 - END -->

		<!-- ITEM - 17 - START -->
		<div class="info-section bond-info">
			<p>Bond reference number</p>
			<p class="answer">N/A</p>
		</div>
		<!-- ITEM - 17 - END -->

		<!-- ITEM - 18 - START -->
		<div class="info-section bond-info">
			<p>Renewal date</p>
			<p class="answer">N/A</p>
		</div>
		<!-- ITEM - 18 - END -->

	</div>
	<!-- ///////////////////////////////////////// SECTION 3 - END ///////////////////////////////////////// -->


</section>
<!-- ///////////// PROPERTY ORDER INFO - END ///////////// -->
