<!-- // TIMELINE - END // -->
<div id="list-of-timeline">

	<!-- // TIMELINE - START // -->
	<div class="row">
		<div class="large-12 large-uncentered columns">

			<h2 class="description-title">
				Order timeline
				<a class="reverse-timeline">Reverse timeline</a>
			</h2>

			<div id="filter-panel">
				<div id="scroller-anchor"></div>
				<div id="scroller">
					<form class="timeline-filter">
						<label for="filter-category" class="float-left title-label">Filter</label>
						<nav>
							<ul>
								<li>
									<a class="filter-all checked">All</a>
								</li>
								<li>
									<label><input type="checkbox" value="one" name="filter-value">Supervision level</label>
								</li>
								<li>
									<label><input type="checkbox" value="two" name="filter-value">Order details</label>
								</li>
								<li>
									<label><input type="checkbox" value="three" name="filter-value">Client details</label>
								</li>
								<li>
									<label><input type="checkbox" value="four" name="filter-value">Tasks completed</label>
								</li>
							</ul>
						</nav>
					</form>
				</div>
			</div>

			<ol id="vertical-timeline">

				<div id="filter-results" class="order-1">Filtered timeline results...</div>

				<!-- DATE INDICATOR - START -->
				<li class="sectionContent date-indicator all order-2">
					<span class="dot"></span>
					<span class="border"></span>
					<div>Today</div>
				</li>
				<!-- DATE INDICATOR - END -->

				<!-- /////////////////////////// LI ITEM 1 - START /////////////////////////// -->
				<li class="sectionContent case one all order-1">

					<span class="dot"></span>
					<span class="border"></span>

					<div class="wrapper">
						<div class="title">
							<h2>
								<span class="icon"></span>
								Client created
							</h2>
						</div>
						<p>Date created: <strong>Tue Apr 18 2017</strong></p>

					</div>

					<span class="dot end"></span>

				</li>
				<!-- /////////////////////////// LI ITEM 1 - END /////////////////////////// -->


			</ol>
		</div>
	</div>
	<!-- // TIMELINE - END // -->

</div>
<!-- // TIMELINE - END // -->

<!-- // MODAL - START // -->
<div id="review-report-1" style="display:none;">
	<img src="../../../production/img/V21/document-thumbnail.png" alt="Document" class="document-item">
</div>
<!-- // MODAL - END // -->

<!-- SCRIPT CONTENT - START -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="../../../production/js/V21/chart.js"></script>

<script type="text/javascript">

     if($(window).width() > 481) {
          $(function() {
               moveScroller();
          });
     }

</script>
<!-- SCRIPT CONTENT - END -->
