<!-- // REPORTS - START // -->
<div id="report-details" class="alpha-reports-V1">

	<table id="reports-table">
		<thead>
			<tr class="four-column">
				<th>Report</th>
				<!-- <th>Start</th>
				<th>End</th> -->
				<th>Reminder</th>
				<th>Due date</th>
				<!-- <th>Type</th> -->
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>

			<!-- REPORT 1 - START -->
			<tr class="pending-report" data-value="1">
				<td>
                         <div class="status"><span></span>Pending</div>
                         <div class="date-wrapper"><div class="start-date">01/12/2017</div> - <div class="end-date">30/11/2018</div></div>
                         <p class="type">Type: <strong>103/104</strong></p>
                         <a href="#" class="full-details" data-value="1">View full details</a>
                    </td>
				<td>02/11/2018</td>
				<td>25/01/2019</td>
                    <td>
                         <a href="../9-edit-report/9a-reporting-period.html" class="main-cta tertiary">Change reporting period</a>
					<a href="../9-edit-report/9b-due-date.html" class="main-cta tertiary abandon-report-link">Extend report due date</a>
					<a href="../9-edit-report/9c-level-102.html" class="main-cta tertiary complete-102 abandon-report-link">Complete a 102 report</a>
				</td>
			</tr>
			<!-- REPORT 1 - END -->

               <!-- REPORT 1 - DETAILS 1 - START -->
               <tr class="details-row" data-value="1">
                    <td colspan="4">
                         <h2 class="description-title">Report details:</h2>

                         <div class="details-wrap half-width">

     					<!-- ITEM - 1 - START -->
     					<div class="info-section">
     						<p>Order type:</p>
     						<p class="answer">Property &amp; affairs</p>
     					</div>
     					<!-- ITEM - 1 - END -->

                         </div>
                    </td>
               </tr>
               <!-- REPORT 1 - DETAILS 1 - END -->

			<!-- REPORT 2 - START -->
			<tr class="active-report" data-row="lodged-row" data-value="2">
                    <td class="first-column">
                         <div class="status">Active</div>
                         <div class="date-wrapper"><div class="start-date">01/12/2016</div> - <div class="end-date">30/11/2017</div></div>
                         <p class="type">Type: <strong class="report-type">103/104</strong></p>
                         <a href="#" class="full-details" data-value="2">View full details</a>
                    </td>
				<td>02/11/2017</td>
				<td>25/01/2018</td>
				<td>
                         <a href="../18-create-report/18b-lodge-report.html" class="main-cta tertiary lodge-report-cta abandon-report-link">Lodge report</a>
                         <a href="../9-edit-report/9a-reporting-period.html" class="main-cta tertiary">Change reporting period</a>
					<a href="../9-edit-report/9b-due-date.html" class="main-cta tertiary abandon-report-link">Extend report due date</a>
					<a href="../9-edit-report/9c-level-102.html" class="main-cta tertiary complete-102 abandon-report-link">Complete a 102 report</a>
                         <a href="../18-create-report/18c-abandon-report.html" class="main-cta tertiary abandon-report-link">Abandon report</a>
				</td>
			</tr>
			<!-- REPORT 2 - END -->

               <!-- REPORT 2 - DETAILS 1 - START -->
               <tr class="details-row" data-value="2">
                    <td colspan="4">
                         <h2 class="description-title">Report details:</h2>

                         <div class="details-wrap half-width">

                              <!-- ITEM - 1 - START -->
                              <div class="info-section">
                                   <p>Order type:</p>
                                   <p class="answer">Property &amp; affairs</p>
                              </div>
                              <!-- ITEM - 1 - END -->

                         </div>
                    </td>
               </tr>
               <!-- REPORT 2 - DETAILS 1 - END -->

			<!-- REPORT 3 - START -->
			<tr data-value="3">
                    <td>
                         <div class="status"><span></span>Lodged</div>
                         <div class="date-wrapper"><div class="start-date">01/12/2015</div> - <div class="end-date">30/11/2016</div></div>
                         <p class="type">Type: <strong>102</strong></p>
                         <a href="#" class="full-details" data-value="3">View full details</a>
                    </td>
				<td>02/11/2016</td>
				<td>25/01/2017</td>
				<td></td>
			</tr>
			<!-- REPORT 3 - END -->

               <!-- REPORT 3 - DETAILS 1 - START -->
               <tr class="details-row" data-value="3">
                    <td colspan="4">
                         <h2 class="description-title">Report details:</h2>

                         <div class="details-wrap half-width">

                              <!-- ITEM - 1 - START -->
                              <div class="info-section">
                                   <p>Order type:</p>
                                   <p class="answer">Property &amp; affairs</p>
                              </div>
                              <!-- ITEM - 1 - END -->

                         </div>
                    </td>
               </tr>
               <!-- REPORT 3 - DETAILS 1 - END -->

		</tbody>
	</table>
	<!-- // CLIENT SUB-ORDERS - END // -->

</div>
<!-- // REPORTS - END // -->
