<!-- // CLIENT SUB-ORDERS - START // -->
<h2 class="description-title">
	Client sub-orders
	<a href="#" class="back close-order-docs">Back to sub-orders</a>
</h2>

<table id="order-table" class="tablesorter">
	<thead>
		<tr class="four-column">
			<th><span></span>Order details</th>
			<th><span></span>Type</th>
			<th><span></span>Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		<!-- SUB ORDER 1 - START -->
		<tr class="">
			<td>
				<div class="wrapper">
					<div class="text">
						<a href="#" class="order">
							<strong>Tenancy order:</strong> 901929145
						</a>
						<div class="details">
							<p>
								<a href="#" class="open">Notes</a>
							</p>
						</div>
						<div class="description">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum libero ligula, at imperdiet sem sollicitudin volutpat. Praesent vel mi egestas, fermentum tellus at, bibendum erat. Aenean fermentum est elit, quis finibus lacus convallis id. Nullam porta dapibus ex, nec egestas est. Nullam tempus vel nunc in sagittis. Duis porta laoreet sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae dui sapien. Curabitur suscipit in dolor eu dapibus. Aenean blandit id dolor vel rhoncus.
							</p>
						</div>
					</div>
				</div>
			</td>
			<td class="order-type-details">
				<a href="4a-new-client.html#property" class="type">
					<div class="wrapper">
						ORDER - <strong>PFA</strong><span class="icon property"></span>
					</div>
				</a>
			</td>
			<td class="order-date-details">
				<p class="wrapper">
					<span class="icon date"></span>
					08/08/2017
				</p>
			</td>
			<td>
				<a class="main-cta edit" href="../1-create-case/1a-the-order.html#EditCase">Edit order</a>
				<a class="main-cta documents" href="#">Documents</a>
			</td>
		</tr>
		<!-- SUB ORDER 1 - END -->

		<!-- SUB ORDER 2 - START -->
		<tr class="">
			<td>
				<div class="wrapper">
					<div class="text">
						<a href="#" class="order">
							<strong>Supplementary order:</strong> 92546784
						</a>
					</div>
				</div>
			</td>
			<td class="order-type-details">
				<a href="4a-new-client.html#property" class="type">
					<div class="wrapper">
						ORDER - <strong>PFA</strong><span class="icon property"></span>
					</div>
				</a>
			</td>
			<td class="order-date-details">
				<p class="wrapper">
					<span class="icon date"></span>
					17/07/2017
				</p>
			</td>
			<td>
				<a class="main-cta edit" href="../1-create-case/1a-the-order.html#EditCase">Edit order</a>
				<a class="main-cta documents" href="#">Documents</a>
			</td>
		</tr>
		<!-- SUB ORDER 2 - END -->

		<!-- SUB ORDER 3 - START -->
		<tr class="">
			<td>
				<div class="wrapper">
					<div class="text">
						<a href="#" class="order">
							<strong>Tenancy order:</strong> 97839495
						</a>
						<div class="details">
							<p>
								<a href="#" class="open">Notes</a>
							</p>
						</div>
						<div class="description">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum libero ligula, at imperdiet sem sollicitudin volutpat. Praesent vel mi egestas, fermentum tellus at, bibendum erat. Aenean fermentum est elit, quis finibus lacus convallis id. Nullam porta dapibus ex, nec egestas est. Nullam tempus vel nunc in sagittis. Duis porta laoreet sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae dui sapien. Curabitur suscipit in dolor eu dapibus. Aenean blandit id dolor vel rhoncus.
							</p>
						</div>
					</div>
				</div>
			</td>
			<td class="order-type-details">
				<a href="4a-new-client.html#property" class="type">
					<div class="wrapper">
						ORDER - <strong>PFA</strong><span class="icon property"></span>
					</div>
				</a>
			</td>
			<td class="order-date-details">
				<p class="wrapper">
					<span class="icon date"></span>
					25/06/2017
				</p>
			</td>
			<td>
				<a class="main-cta edit" href="../1-create-case/1a-the-order.html#EditCase">Edit order</a>
				<a class="main-cta documents" href="#">Documents</a>
			</td>
		</tr>
		<!-- SUB ORDER 3 - END -->

		<!-- SUB ORDER 4 - START -->
		<tr class="">
			<td>
				<div class="wrapper">
					<div class="text">
						<a href="#" class="order">
							<strong>Trustee order:</strong> 96872466
						</a>
						<div class="details">
							<p>
								<a href="#" class="open">Notes</a>
							</p>
						</div>
						<div class="description">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum libero ligula, at imperdiet sem sollicitudin volutpat. Praesent vel mi egestas, fermentum tellus at, bibendum erat. Aenean fermentum est elit, quis finibus lacus convallis id. Nullam porta dapibus ex, nec egestas est. Nullam tempus vel nunc in sagittis. Duis porta laoreet sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae dui sapien. Curabitur suscipit in dolor eu dapibus. Aenean blandit id dolor vel rhoncus.
							</p>
						</div>
					</div>
				</div>
			</td>
			<td class="order-type-details">
				<a href="4a-new-client.html#property" class="type">
					<div class="wrapper">
						ORDER - <strong>PFA</strong><span class="icon property"></span>
					</div>
				</a>
			</td>
			<td class="order-date-details">
				<p class="wrapper">
					<span class="icon date"></span>
					01/11/2017
				</p>
			</td>
			<td>
				<a class="main-cta edit" href="../1-create-case/1a-the-order.html#EditCase">Edit order</a>
				<a class="main-cta documents" href="#">Documents</a>
			</td>
		</tr>
		<!-- SUB ORDER 4 - END -->

		<!-- SUB ORDER 5 - START -->
		<tr class="">
			<td>
				<div class="wrapper">
					<div class="text">
						<a href="#" class="order">
							<strong>Variation order:</strong> 93457825
						</a>
					</div>
				</div>
			</td>
			<td class="order-type-details">
				<a href="4a-new-client.html#HandW" class="type">
					<div class="wrapper">
						ORDER - <strong>H &amp; W</strong><span class="icon welfare"></span>
					</div>
				</a>
			</td>
			<td class="order-date-details">
				<p class="wrapper">
					<span class="icon date"></span>
					13/09/2017
				</p>
			</td>
			<td>
				<a class="main-cta edit" href="../1-create-case/1a-the-order.html#EditCase">Edit order</a>
				<a class="main-cta documents" href="#">Documents</a>
			</td>
		</tr>
		<!-- SUB ORDER 5 - END -->

		<!-- SUB ORDER 6 - START -->
		<tr class="">
			<td>
				<div class="wrapper">
					<div class="text">
						<a href="#" class="order">
							<strong>Direction order:</strong> 99754268
						</a>
						<div class="details">
							<p>
								<a href="#" class="open">Notes</a>
							</p>
						</div>
						<div class="description">
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse condimentum libero ligula, at imperdiet sem sollicitudin volutpat. Praesent vel mi egestas, fermentum tellus at, bibendum erat. Aenean fermentum est elit, quis finibus lacus convallis id. Nullam porta dapibus ex, nec egestas est. Nullam tempus vel nunc in sagittis. Duis porta laoreet sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae dui sapien. Curabitur suscipit in dolor eu dapibus. Aenean blandit id dolor vel rhoncus.
							</p>
						</div>
					</div>
				</div>
			</td>
			<td class="order-type-details">
				<a href="4a-new-client.html#property" class="type">
					<div class="wrapper">
						ORDER - <strong>PFA</strong><span class="icon property"></span>
					</div>
				</a>
			</td>
			<td class="order-date-details">
				<p class="wrapper">
					<span class="icon date"></span>
					01/03/2017
				</p>
			</td>
			<td>
				<a class="main-cta edit" href="../1-create-case/1a-the-order.html#EditCase">Edit order</a>
				<a class="main-cta documents" href="#">Documents</a>
			</td>
		</tr>
		<!-- SUB ORDER 6 - END -->


	</tbody>
</table>
<!-- // CLIENT SUB-ORDERS - END // -->
