<!-- // DEPUTY DETAILS - START // -->
<div id="deputy-details">

     <h2 class="description-title">
          Deputy details
          <a href="../5-add-deputy/5a-search-deputy.html" class="add">Add deputy</a>
     </h2>

     <!-- // CONFIRMATION MESSAGE - START // -->
	<div class="row">
		<div class="large-12 large-uncentered columns">
			<div id="unlink-complete" class="confirmation-panel">
				<div class="content">
					<h2>
						<span></span>
						"<div>Mrs Carla Frith</div>" has been unlinked as a deputy
					</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- // CONFIRMATION MESSAGE - END // -->

     <table id="deputies-table">
          <thead>
               <tr class="six-column">
                    <th>Details</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Relationship</th>
                    <th></th>
                    <th><div>Actions</div></th>
               </tr>
          </thead>
          <tbody>
               <!-- DEPUTY SUMMARY ROW 1 - START -->
               <tr class="summary-row" data-value="1">
                    <td>
                         <!-- <span class="icon deputy"></span> -->
                         <div class="name">Mrs Lara Stevens</div><br>
                         <div class="appointed">JOINT</div><br>
                         <div class="address">92 Greyfriars Road, CANNOCK WOOD, W5154AA</div>
                         <a href="#" class="full-details" data-value="1">View full details</a>
                    </td>
                    <td>
                         Lay deputy
                    </td>
                    <td>
                         Open
                    </td>
                    <td>
                         Sibling
                    </td>
                    <td>
                         <span class="icon fee-payer"><p>Fee payer</p></span>
                         <span class="icon main-contact"><p>Main correspondence</p></span>
                         <span class="icon welfare"><p>Health &amp; welfare</p></span>
                    </td>
                    <td>
                         <!-- <a class="action view" href="../14-deputy-page/14a-deputy-page.html"><p>View</p></a> -->
                         <a class="main-cta tertiary edit" href="../12-edit-deputy/12a-check-deputy-1.html">Edit</a>
                    </td>
               </tr>
               <!-- DEPUTY SUMMARY ROW 1 - END -->

               <!-- DEPUTY DETAILS ROW 1 - START -->
               <tr class="details-row" data-value="1">
                    <td colspan="6">

                         <h2 class="section-title">
                              Deputy details:
                              <a href="../5-add-deputy/5b-deputy-details.html#edit-deputy-1" class="edit deputy-1">Edit</a>
                         </h2>

                         <div class="details-wrap">

                              <!-- // DEPUTY ITEM - 1 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Name:</p>
                                   <p class="answer">Mrs Lara Stevens</p>
                              </div>
                              <!-- // DEPUTY ITEM - 1 - END // -->

                              <!-- // DEPUTY ITEM - 2 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Previously Known As:</p>
                                   <p class="answer">Miss Lara Hodgeson</p>
                              </div>
                              <!-- // DEPUTY ITEM - 2 - END // -->

                              <!-- // DEPUTY ITEM - 3 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Date of birth:</p>
                                   <p class="answer">17/07/1981</p>
                              </div>
                              <!-- // DEPUTY ITEM - 3 - END // -->

                              <!-- // DEPUTY ITEM - 4 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Address:</p>
                                   <p class="answer">
                                        34 Broomfield Place,<br>
                                        STOKESLEY,<br>
                                        TS9 8TU.<br>
                                        England
                                   </p>
                              </div>
                              <!-- // DEPUTY ITEM - 4 - END // -->

                              <!-- // DEPUTY ITEM - 5 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Is airmail required?:</p>
                                   <p class="answer">No</p>
                              </div>
                              <!-- // DEPUTY ITEM - 5 - END // -->

                              <!-- // DEPUTY ITEM - 6 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Daytime telephone number:</p>
                                   <p class="answer">07079962666</p>
                              </div>
                              <!-- // DEPUTY ITEM - 6 - END // -->

                              <!-- // DEPUTY ITEM - 7 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Mobile telephone number:</p>
                                   <p class="answer">07079962666</p>
                              </div>
                              <!-- // DEPUTY ITEM - 7 - END // -->

                              <!-- // DEPUTY ITEM - 8 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Email address:</p>
                                   <p class="answer">lara.stevens@jourrapide.com</p>
                              </div>
                              <!-- // DEPUTY ITEM - 8 - END // -->

                              <!-- // DEPUTY ITEM - 9 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Is the deputy a violent risk?:</p>
                                   <p class="answer">No</p>
                              </div>
                              <!-- // DEPUTY ITEM - 9 - END // -->

                              <!-- // DEPUTY ITEM - 10 - START // -->
                              <div class="person-detail-item violent-answer">
                                   <p class="item">More details about the violent risk:</p>
                                   <p class="answer">N/A</p>
                              </div>
                              <!-- // DEPUTY ITEM - 10 - END // -->

                              <!-- // DEPUTY ITEM - 11 - START // -->
                              <!-- <div class="person-detail-item">
                                   <p class="item">Financial reference:</p>
                                   <p class="answer">1234567890</p>
                              </div> -->
                              <!-- // DEPUTY ITEM - 11 - END // -->

                         </div>

                         <h2 class="section-title">
                              Additional information:
                              <a href="../5-add-deputy/5c-additional-info.html#edit-deputy-1" class="edit deputy-1">Edit</a>
                         </h2>

                         <div class="details-wrap">

                              <!-- // DEPUTY ITEM - 1 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Digital?:</p>
                                   <p class="answer">No</p>
                              </div>
                              <!-- // DEPUTY ITEM - 1 - END // -->

                              <!-- // DEPUTY ITEM - 2 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Occupation:</p>
                                   <p class="answer">University professor</p>
                              </div>
                              <!-- // DEPUTY ITEM - 2 - END // -->

                              <!-- // DEPUTY ITEM - 3 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Has the deputy expressed a preferred method of contact?:</p>
                                   <ul class="answer">
                                        <li>Email</li>
                                   </ul>
                              </div>
                              <!-- // DEPUTY ITEM - 3 - END // -->

                              <!-- // DEPUTY ITEM - 4 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Special correspondence requirements:</p>
                                   <ul class="answer">
                                        <li>Spelling of name requires care</li>
                                   </ul>
                              </div>
                              <!-- // DEPUTY ITEM - 4 - END // -->

                              <!-- // DEPUTY ITEM - 5 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Interpreter required?:</p>
                                   <div class="mulitple-answers">
                                        <p class="answer">No</p>
                                   </div>
                              </div>
                              <!-- // DEPUTY ITEM - 5 - END // -->

                              <!-- // DEPUTY ITEM - 6 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Newsletter?:</p>
                                   <p class="answer">No</p>
                              </div>
                              <!-- // DEPUTY ITEM - 6 - END // -->

                         </div>

                         <h2 class="section-title">
                              Case details:
                              <a href="../5-add-deputy/5d-case-details.html#edit-deputy-1" class="edit deputy-1">Edit</a>
                         </h2>

                         <div class="details-wrap">

                              <!-- // DEPUTY ITEM - 1 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Type of deputy:</p>
                                   <p class="answer">Lay</p>
                              </div>
                              <!-- // DEPUTY ITEM - 1 - END // -->

                              <!-- // DEPUTY ITEM - 2 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Relationship to the client:</p>
                                   <div class="mulitple-answers">
                                        <p class="answer">Sibling</p>
                                   </div>
                              </div>
                              <!-- // DEPUTY ITEM - 2 - END // -->

                              <!-- // DEPUTY ITEM - 3 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Deputy status:</p>
                                   <p class="answer">Open</p>
                              </div>
                              <!-- // DEPUTY ITEM - 3 - END // -->

                              <!-- // DEPUTY ITEM - 4 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Is the deputy the fee payer?:</p>
                                   <p class="answer">Yes</p>
                              </div>
                              <!-- // DEPUTY ITEM - 4 - END // -->

                              <!-- // DEPUTY ITEM - 5 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Is the deputy the main correspondent?:</p>
                                   <p class="answer">Yes</p>
                              </div>
                              <!-- // DEPUTY ITEM - 5 - END // -->

                         </div>

                    </td>
               </tr>
               <!-- DEPUTY DETAILS ROW 1 - END -->

               <!-- DEPUTY SUMMARY ROW 2 - START -->
               <tr class="summary-row violent" data-value="2">
                    <td>
                         <!-- <div class="error-tag">Deputy added in Error</div> -->
                         <div class="name">
                              <span class="icon violent">
                                   <p>Violent</p>
                              </span>
                              Mrs Carla Frith
                         </div><br>
                         <div class="appointed">JOINT</div><br>
                         <div class="address">40 Haslemere Road, CANNOCK WOOD, W5174LD</div>
                         <a href="#" class="full-details" data-value="2">View full details</a>
                    </td>
                    <td>
                         Lay deputy
                    </td>
                    <td>
                         <div class="deputy-status-error">Active</div>
                    </td>
                    <td>
                         Sibling
                    </td>
                    <td>
                         <span class="icon welfare-property"><p>Health &amp; welfare and<br> property &amp; finance</p></span>										</td>
                    <td>
                         <!-- <a class="action view" href="../14-deputy-page/14a-deputy-page.html"><p>View</p></a> -->
                         <a class="main-cta tertiary edit" href="../12-edit-deputy/12a-check-deputy-2.html">Edit</a>
                         <a class="main-cta tertiary unlink" href="#unlink-deputy" rel="modal:open">Un-link deputy</a>
                    </td>
               </tr>
               <!-- DEPUTY SUMMARY ROW 2 - END -->

               <!-- DEPUTY DETAILS ROW 2 - START -->
               <tr class="details-row" data-value="2">
                    <td colspan="6">

                         <h2 class="section-title">
                              Deputy details:
                              <a href="../5-add-deputy/5b-deputy-details.html#edit-deputy-1" class="edit deputy-2">Edit</a>
                         </h2>

                         <div class="details-wrap">

                              <!-- // DEPUTY ITEM - 1 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Name:</p>
                                   <p class="answer">Mrs Carla Frith</p>
                              </div>
                              <!-- // DEPUTY ITEM - 1 - END // -->

                              <!-- // DEPUTY ITEM - 2 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Previously Known As:</p>
                                   <p class="answer">Ms Carla Walton</p>
                              </div>
                              <!-- // DEPUTY ITEM - 2 - END // -->

                              <!-- // DEPUTY ITEM - 3 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Date of birth:</p>
                                   <p class="answer">25/06/1983</p>
                              </div>
                              <!-- // DEPUTY ITEM - 3 - END // -->

                              <!-- // DEPUTY ITEM - 4 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Address:</p>
                                   <p class="answer">
                                        35 Broad Street,<br>
                                        LOWER WELSON,<br>
                                        HR3 1UD.<br>
                                        England
                                   </p>
                              </div>
                              <!-- // DEPUTY ITEM - 4 - END // -->

                              <!-- // DEPUTY ITEM - 5 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Is airmail required?:</p>
                                   <p class="answer">No</p>
                              </div>
                              <!-- // DEPUTY ITEM - 5 - END // -->

                              <!-- // DEPUTY ITEM - 6 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Daytime telephone number:</p>
                                   <p class="answer">07772881687</p>
                              </div>
                              <!-- // DEPUTY ITEM - 6 - END // -->

                              <!-- // DEPUTY ITEM - 7 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Mobile telephone number:</p>
                                   <p class="answer">07772881687</p>
                              </div>
                              <!-- // DEPUTY ITEM - 7 - END // -->

                              <!-- // DEPUTY ITEM - 8 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Email address:</p>
                                   <p class="answer">carla.frith@jourrapide.com</p>
                              </div>
                              <!-- // DEPUTY ITEM - 8 - END // -->

                              <!-- // DEPUTY ITEM - 9 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Is the deputy a violent risk?:</p>
                                   <p class="answer">Yes</p>
                              </div>
                              <!-- // DEPUTY ITEM - 9 - END // -->

                              <!-- // DEPUTY ITEM - 10 - START // -->
                              <div class="person-detail-item violent-answer-text">
                                   <p class="item">More details about the violent risk:</p>
                                   <p class="answer">N/A</p>
                              </div>
                              <!-- // DEPUTY ITEM - 10 - END // -->

                              <!-- // DEPUTY ITEM - 10 - START // -->
                              <!-- <div class="person-detail-item">
                                   <p class="item">Financial reference:</p>
                                   <p class="answer">1234567890</p>
                              </div> -->
                              <!-- // DEPUTY ITEM - 10 - END // -->

                         </div>

                         <h2 class="section-title">
                              Additional information:
                              <a href="../5-add-deputy/5c-additional-info.html#edit-deputy-2" class="edit deputy-2">Edit</a>
                         </h2>

                         <div class="details-wrap">

                              <!-- // DEPUTY ITEM - 1 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Digital?:</p>
                                   <p class="answer">Yes</p>
                              </div>
                              <!-- // DEPUTY ITEM - 1 - END // -->

                              <!-- // DEPUTY ITEM - 11 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Occupation:</p>
                                   <p class="answer">Mental health assistant</p>
                              </div>
                              <!-- // DEPUTY ITEM - 2 - END // -->

                              <!-- // DEPUTY ITEM - 3 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Has the deputy expressed a preferred method of contact?:</p>
                                   <ul class="answer">
                                        <li>Phone</li>
                                        <li>Email</li>
                                   </ul>
                              </div>
                              <!-- // DEPUTY ITEM - 3 - END // -->

                              <!-- // DEPUTY ITEM - 4 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Special correspondence requirements:</p>
                                   <ul class="answer">
                                        <li>N/A</li>
                                   </ul>
                              </div>
                              <!-- // DEPUTY ITEM - 4 - END // -->

                              <!-- // DEPUTY ITEM - 5 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Interpreter required?:</p>
                                   <div class="mulitple-answers">
                                        <p class="answer">No</p>
                                   </div>
                              </div>
                              <!-- // DEPUTY ITEM - 5 - END // -->

                              <!-- // DEPUTY ITEM - 6 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Newsletter?:</p>
                                   <p class="answer">No</p>
                              </div>
                              <!-- // DEPUTY ITEM - 6 - END // -->

                         </div>

                         <h2 class="section-title">
                              Case details:
                              <a href="../5-add-deputy/5d-case-details.html#edit-deputy-2" class="edit deputy-2">Edit</a>
                         </h2>

                         <div class="details-wrap">

                              <!-- // DEPUTY ITEM - 1 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Type of deputy:</p>
                                   <p class="answer">Lay</p>
                              </div>
                              <!-- // DEPUTY ITEM - 1 - END // -->

                              <!-- // DEPUTY ITEM - 2 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Relationship to the client:</p>
                                   <div class="mulitple-answers">
                                        <p class="answer">Sibling</p>
                                   </div>
                              </div>
                              <!-- // DEPUTY ITEM - 2 - END // -->

                              <!-- // DEPUTY ITEM - 3 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Deputy status:</p>
                                   <p class="answer">Active</p>
                              </div>
                              <!-- // DEPUTY ITEM - 3 - END // -->

                              <!-- // DEPUTY ITEM - 4 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Is the deputy the fee payer?:</p>
                                   <p class="answer">No</p>
                              </div>
                              <!-- // DEPUTY ITEM - 4 - END // -->

                              <!-- // DEPUTY ITEM - 5 - START // -->
                              <div class="person-detail-item">
                                   <p class="item">Is the deputy the main correspondent?:</p>
                                   <p class="answer">No</p>
                              </div>
                              <!-- // DEPUTY ITEM - 5 - END // -->

                         </div>

                    </td>
               </tr>
               <!-- DEPUTY DETAILS ROW 2 - END -->


          </tbody>
     </table>

</div>
<!-- // DEPUTY DETAILS - END // -->

<!-- // MODAL - START // -->
<div id="unlink-deputy" style="display:none;">
	<h1>Unlink this deputy</h1>
     <h2>Mrs Carla Frith</h2>
	<p>Are you sure you wish to unlink <strong>Mrs Carla Frith</strong> as a deputy for <strong>Mr Gerald Brackens</strong>?</p>
	<div class="cta-row">
		<a class="main-cta" rel="modal:close" id="confirm-unlink">Unlink deputy</a>
		<a href="#" rel="modal:close" class="cancel">Cancel</a>
	</div>
</div>
<!-- // MODAL - END // -->
