<!-- // CLIENT DETAILS - START // -->
<h2 class="section-title">New deputy details</h2>

<div id="new-deputy-details-summary" class="check-details">

	<div id="new-deputy-details">

		<p class="place-holder-text">Enter the new clients details</p>

	</div>

	<div id="new-deputy-personal-details">

		<h2 class="section-title">Personal details</h2>

		<!-- // DEPUTY ITEM - 1 - START // -->
		<div class="person-detail-item">
			<p class="item">Title:</p>
			<p class="answer deputy-title-answer"></p>
		</div>
		<!-- // DEPUTY ITEM - 1 - END // -->

		<!-- // DEPUTY ITEM - 2 - START // -->
		<div class="person-detail-item">
			<p class="item">First name:</p>
			<p class="answer deputy-first-name-answer"></p>
		</div>
		<!-- // DEPUTY ITEM - 2 - END // -->

		<!-- // DEPUTY ITEM - 3 - START // -->
		<div class="person-detail-item">
			<p class="item">Middle names:</p>
			<p class="answer deputy-middle-name-answer"></p>
		</div>
		<!-- // DEPUTY ITEM - 3 - END // -->

		<!-- // DEPUTY ITEM - 4 - START // -->
		<div class="person-detail-item">
			<p class="item">Last name:</p>
			<p class="answer deputy-last-name-answer"></p>
		</div>
		<!-- // DEPUTY ITEM - 4 - END // -->

		<!-- // DEPUTY ITEM - 5 - START // -->
		<div class="person-detail-item">
			<p class="item">Previously Known As:</p>
			<p class="answer deputy-previous-name-answer"></p>
		</div>
		<!-- // DEPUTY ITEM - 5 - END // -->

		<!-- // DEPUTY ITEM - 6 - START // -->
		<div class="person-detail-item">
			<p class="item">Date of birth:</p>
			<p class="answer">
				<span class="deputy-dob-day-answer"></span>/
				<span class="deputy-dob-month-answer"></span>/
				<span class="deputy-dob-year-answer"></span>
			</p>
		</div>
		<!-- // DEPUTY ITEM - 6 - END // -->

		<!-- // DEPUTY ITEM - 7 - START // -->
		<div class="person-detail-item">
			<p class="item">Address:</p>
			<p class="answer">
				<span class="deputy-address-line-1-answer"></span>,<br>
				<span class="deputy-address-line-2-answer"></span>
				<span class="deputy-address-line-3-answer"></span>
				<span class="deputy-address-town-answer"></span>,<br>
				<span class="deputy-address-town-county"></span>,<br>
				<span class="deputy-manual-postcode-answer"></span>
				<span class="deputy-country-answer"></span>
			</p>
		</div>
		<!-- // DEPUTY ITEM - 7 - END // -->

		<!-- // DEPUTY ITEM - 8 - START // -->
		<div class="person-detail-item">
			<p class="item">Airmail:</p>
			<p class="answer deputy-airmail-answer"></p>
		</div>
		<!-- // DEPUTY ITEM - 8 - END // -->

		<!-- // DEPUTY ITEM - 9 - START // -->
		<div class="person-detail-item">
			<p class="item">Phone number:</p>
			<p class="answer deputy-phone-number-answer"></p>
		</div>
		<!-- // DEPUTY ITEM - 9 - END // -->

		<!-- // DEPUTY ITEM - 10 - START // -->
		<div class="person-detail-item">
			<p class="item">Mobile number:</p>
			<p class="answer deputy-mob-number-answer"></p>
		</div>
		<!-- // DEPUTY ITEM - 10 - END // -->

		<!-- // DEPUTY ITEM - 11 - START // -->
		<div class="person-detail-item">
			<p class="item">Email address:</p>
			<p class="answer deputy-email-answer"></p>
		</div>
		<!-- // DEPUTY ITEM - 11 - END // -->

		<!-- // DEPUTY ITEM - 11 - START // -->
		<!-- <div class="person-detail-item">
			<p class="item">Financial reference:</p>
			<p class="answer deputy-email-answer">test@test.com</p>
		</div> -->
		<!-- // DEPUTY ITEM - 11 - END // -->

		<!-- // DEPUTY ITEM - 12 - START // -->
		<div class="person-detail-item">
			<p class="item">Violent risk:</p>
			<p class="answer deputy-violent-risk-answer"></p>
		</div>
		<!-- // DEPUTY ITEM - 12 - END // -->

	</div>

	<div id="new-deputy-additional-info">

		<h2 class="section-title">Additional info</h2>

		<!-- // DEPUTY ITEM - 1 - START // -->
		<div class="person-detail-item">
			<p class="item">Digital:</p>
			<p class="answer deputy-digital-answer"></p>
		</div>
		<!-- // DEPUTY ITEM - 1 - END // -->

		<!-- // DEPUTY ITEM - 2 - START // -->
		<div class="person-detail-item">
			<p class="item">Occupation:</p>
			<p class="answer deputy-occupation-answer"></p>
		</div>
		<!-- // DEPUTY ITEM - 2 - END // -->

		<!-- // DEPUTY ITEM - 3 - START // -->
		<div class="person-detail-item">
			<p class="item">Has the deputy expressed a preferred method of contact?:</p>
			<ul class="answer">
				<li class="deputy-correspondence-post-answer"></li>
				<li class="deputy-correspondence-phone-answer"></li>
				<li class="deputy-correspondence-email-answer"></li>
				<li class="deputy-correspondence-welsh-answer"></li>
			</ul>
		</div>
		<!-- // DEPUTY ITEM - 3 - END // -->

		<!-- // DEPUTY ITEM - 4 - START // -->
		<div class="person-detail-item">
			<p class="item">Special correspondence requirements:</p>
			<ul class="answer">
				<li class="deputy-special-audio-answer"></li>
				<li class="deputy-special-print-answer"></li>
				<li class="deputy-special-hearing-answer"></li>
				<li class="deputy-special-spelling-answer"></li>
			</ul>
		</div>
		<!-- // DEPUTY ITEM - 4 - END // -->

		<!-- // DEPUTY ITEM - 5 - START // -->
		<div class="person-detail-item">
			<p class="item">Interpreter required?:</p>
			<p class="answer deputy-interpreter-answer"></p>
			<p class="answer deputy-interpreter-details-answer"></p>
		</div>
		<!-- // DEPUTY ITEM - 5 - END // -->

		<!-- // DEPUTY ITEM - 6 - START // -->
		<div class="person-detail-item">
			<p class="item">Newsletter?:</p>
			<p class="answer deputy-newsletter-answer"></p>
		</div>
		<!-- // DEPUTY ITEM - 6 - END // -->

	</div>

	<div id="new-deputy-case-details">

		<h2 class="section-title">Case details</h2>

		<!-- // DEPUTY ITEM - 1 - START // -->
		<div class="person-detail-item">
			<p class="item">Type of deputy:</p>
			<p class="answer deputy-type-answer"></p>
		</div>
		<!-- // DEPUTY ITEM - 1 - END // -->

		<!-- // DEPUTY ITEM - 2 - START // -->
		<div class="person-detail-item">
			<p class="item">Relationship to the client:</p>
			<div class="mulitple-answers">
				<p class="answer deputy-relationship-answer"></p>
				<p class="answer deputy-other-relation-answer"></p>
				<p class="answer deputy-other-professional-answer"></p>
			</div>
		</div>
		<!-- // DEPUTY ITEM - 2 - END // -->

		<!-- // DEPUTY ITEM - 3 - START // -->
		<div class="person-detail-item">
			<p class="item">Deputy status:</p>
			<p class="answer deputy-status-answer"></p>
		</div>
		<!-- // DEPUTY ITEM - 3 - END // -->

		<!-- // DEPUTY ITEM - 4 - START // -->
		<div class="person-detail-item">
			<p class="item">Fee payer:</p>
			<p class="answer deputy-fee-payer-answer"></p>
		</div>
		<!-- // DEPUTY ITEM - 4 - END // -->

		<!-- // DEPUTY ITEM - 5 - START // -->
		<div class="person-detail-item">
			<p class="item">Is the deputy the main correspondent?:</p>
			<p class="answer deputy-main-correspondent-answer"></p>
		</div>
		<!-- // DEPUTY ITEM - 5 - END // -->

	</div>

</div>
<!-- // CLIENT DETAILS - END // -->
