<!-- // LIST OF DEPUTIES - START // -->
<div id="list-of-tasks">

	<div class="no-items">
		<p>There are no tasks currently added to this client.</p>
		<a href="#" class="main-cta">Create task</a>
	</div>

	<!-- // CONFIRMATION MESSAGE - START // -->
	<div class="row">
		<div class="large-12 large-uncentered columns">
			<div id="visit-confirmation" class="confirmation-panel">
				<div class="content">
					<h2>
						<span></span>
						A visit has now been commission to
						<ul id="visits">
						</ul>
					</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- // CONFIRMATION MESSAGE - END // -->

</div>
<!-- // LIST OF DEPUTIES - END // -->
