<!-- // LIST OF DEPUTIES - START // -->
<div id="list-of-tasks">

	<div class="no-items">
		<p>There are no tasks currently added to this client.</p>
		<a href="#" class="main-cta">Create task</a>
	</div>

	<!-- // CONFIRMATION MESSAGE - START // -->
	<div class="row">
		<div class="large-12 large-uncentered columns">
			<div id="visit-confirmation" class="confirmation-panel">
				<div class="content">
					<h2>
						<span></span>
						A visit has now been commission to:
						<ul id="visits">
						</ul>
					</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- // CONFIRMATION MESSAGE - END // -->

	<!-- // COMMISSION VISIT MESSAGE - START // -->
	<div class="row">
		<div class="large-12 large-uncentered columns">
			<ol id="visit-commission">
				<li class="outstanding">

					<span class="icon"></icon>

					<!-- // STATUS - START // -->
					<div class="status">
						outstanding
					</div>
					<!-- // STATUS - END // -->

					<a href="#" class="more-info">More info</a>

					<!-- // DEPUTY ITEM - 1 - START // -->
                         <div class="visit-detail-item">
                              <p class="item">Case no.:</p>
                              <p class="answer case-no"></p>
                         </div>
                         <!-- // DEPUTY ITEM - 1 - END // -->

					<!-- // DEPUTY ITEM - 2 - START // -->
                         <div class="visit-detail-item">
                              <p class="item">Visiting:</p>
                              <p class="answer visit-visiting"></p>
                         </div>
                         <!-- // DEPUTY ITEM - 2 - END // -->

					<!-- // DEPUTY ITEM - 3 - START // -->
                         <div class="visit-detail-item">
                              <p class="item">Team:</p>
                              <p class="answer visit-team"></p>
                         </div>
                         <!-- // DEPUTY ITEM - 3 - END // -->

					<!-- // DEPUTY ITEM - 4 - START // -->
                         <div class="visit-detail-item">
                              <p class="item">Type of visit:</p>
                              <p class="answer visit-type"></p>
                         </div>
                         <!-- // DEPUTY ITEM - 4 - END // -->

					<!-- // DEPUTY ITEM - 5 - START // -->
                         <div class="visit-detail-item">
                              <p class="item">Due back date:</p>
                              <p class="answer visit-due-back-date"></p>
                         </div>
                         <!-- // DEPUTY ITEM - 5 - END // -->

					<!-- // DEPUTY ITEM - 6 - START // -->
                         <div class="visit-detail-item">
                              <p class="item">Commission date:</p>
                              <p class="answer visit-commission-date"></p>
                         </div>
                         <!-- // DEPUTY ITEM - 6 - END // -->

				</li>
			</ol>
		</div>
	</div>
	<!-- // COMMISSION VISIT MESSAGE - END // -->


</div>
<!-- // LIST OF DEPUTIES - END // -->
