<!-- // HEAD ELEMENT START // -->
<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>OPG - Sirius</title>
     <link rel="stylesheet" href="../../../production/css/prototype.css" />
     <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

     <!-- ///////// Chris Prototyping Kit - START ///////// -->
     <script src="../../../js/V14/jquery.min.js"></script>

     <!-- <script src="../../../production/js/V14/application.js"></script> -->
     <!-- ///////// Chris Prototyping Kit - END ///////// -->

</head>
<!-- // HEAD ELEMENT END // -->
