<!-- // DOCUMENT VIEWER - START // -->
<div id="document-contacts">

	<h2 class="section-title">
		Client contacts
		<a class="main-cta">Add correspondent</a>
	</h2>

	<ul class="contact-list">

		<!-- // CORRESPONDANT - 1 - START // -->
		<li>
			<a href="#" class="correspondent">
				Mr Gerald Brackens<br>
				<span class="sub-title">Client</span><br>
				<span class="sub-text">11 Chapel Lane, EAST CANNOCK, W5152TA.</span>
				<span class="edit">Edit</span>
			</a>
		</li>
		<!-- // CORRESPONDANT - 1 - END // -->

		<!-- // CORRESPONDANT - 2 - START // -->
		<li>
			<a href="#" class="correspondent">
				<span class="icon fee-payer"><p>Fee payer</p></span>
				<span class="icon welsh"><p>Welsh</p></span>
				Ms Lara Stevens<br>
				<span class="sub-title">Correspondent</span><br>
				<span class="sub-text">92 Greyfriars Road, CANNOCK WOOD, W5154AA.</span>
				<span class="edit">Edit</span>
			</a>
		</li>
		<!-- // CORRESPONDANT - 2 - END // -->

		<!-- // CORRESPONDANT - 3 - START // -->
		<li>
			<a href="#" class="correspondent">
				Mrs Carla Frith<br>
				<span class="sub-title">Deputy</span><br>
				<span class="sub-text">40 Haslemere Road, CANNOCK WOOD, W5174LD.</span>
				<span class="edit">Edit</span>
			</a>
		</li>
		<!-- // CORRESPONDANT - 3 - END // -->

		<!-- // CORRESPONDANT - 4 - START // -->
		<li>
			<a href="#" class="correspondent">
				Mrs Melanie Rand<br>
				<span class="sub-title">Deputy</span><br>
				<span class="sub-text">70 Moulton Road, Gunby Green, N6334RF.</span>
				<span class="edit">Edit</span>
			</a>
		</li>
		<!-- // CORRESPONDANT - 4 - END // -->

		<!-- // CORRESPONDANT - 5 - START // -->
		<li>
			<a href="#" class="correspondent">
				<span class="icon welsh"><p>Welsh</p></span>
				<span class="icon violent"><p>Violent</p></span>
				Toby Daniels<br>
				<span class="sub-title">Notified Person</span><br>
				<span class="sub-text">39 Islaire Road, NEW MILL, HP239JA.</span>
				<span class="edit">Edit</span>
			</a>
		</li>
		<!-- // CORRESPONDANT - 5 - END // -->

		<!-- // CORRESPONDANT - 6 - START // -->
		<li>
			<a href="#" class="correspondent">
				TrustMe Limited<br>
				<span class="sub-title">Trust Corporation</span><br>
				<span class="sub-text">62 Review Road,Neasden,UK, NW27BE.</span>
				<span class="edit">Edit</span>
			</a>
		</li>
		<!-- // CORRESPONDANT - 6 - END // -->

	</ul>

</div>
<!-- // DOCUMENT VIEWER - END // -->
