<!-- CONTENT WRAPPER - START -->
<div class="content-wrapper">

	<div class="row">
		<div class="large-9 large-uncentered columns">

			<!-- =========== TABS - START =========== -->
			<ul class="client-details tabs">
				<li class="tab-link current" data-tab="unassigned-tab-1">
					Summary
				</li>
				<li class="tab-link" data-tab="unassigned-tab-2">
					Deputies
				</li>
				<li class="tab-link" data-tab="unassigned-tab-3">
					Warnings
				</li>
				<li class="tab-link" data-tab="unassigned-tab-4">
					Timeline
				</li>
				<li class="tab-link" data-tab="unassigned-tab-5">
					Tasks
				</li>
				<li class="tab-link" data-tab="unassigned-tab-6">
					Documents
				</li>
			</ul>
			<!-- =========== TABS - END =========== -->

			<!-- =========== TAB CONTENT - 1 - START =========== -->
			<div id="unassigned-tab-1" class="client-details tab-content current">
				<div class="row">

					<!-- // CREATE CLIENT - START // -->
					<div class="large-12 large-uncentered columns">

						<!-- {{= it.include('unassigned-tab-summary.html') }} -->

					</div>
					<!-- // CREATE CLIENT - END // -->

				</div>
			</div>
			<!-- =========== TAB CONTENT - 1 - END =========== -->

			<!-- =========== TAB CONTENT - 2 - START =========== -->
			<div id="unassigned-tab-2" class="client-details tab-content">
				<div class="row">

					<!-- // CLIENT DEPUTIES - START // -->
					<div class="large-12 large-uncentered columns">

						<!-- {{= it.include('unassigned-tab-deputies.html') }} -->

					</div>
					<!-- // CLIENT DEPUTIES - END // -->

				</div>
			</div>
			<!-- =========== TAB CONTENT - 2 - END =========== -->

			<!-- =========== TAB CONTENT - 3 - START =========== -->
			<div id="unassigned-tab-3" class="client-details tab-content">
				<div class="row">

					<!-- // WARNINGS - START // -->
					<div class="large-12 large-uncentered columns">

						<!-- {{= it.include('unassigned-tab-warnings.html') }} -->

					</div>
					<!-- // WARNINGS - END // -->

				</div>
			</div>
			<!-- =========== TAB CONTENT - 3 - END =========== -->

			<!-- =========== TAB CONTENT - 4 - START =========== -->
			<div id="unassigned-tab-4" class="client-details tab-content">
				<div class="row">

					<!-- // CLIENT TASKS - START // -->
					<div class="large-12 large-uncentered columns">

						<!-- {{= it.include('unassigned-tab-timeline.html') }} -->

					</div>
					<!-- // CLIENT TASKS - END // -->

				</div>
			</div>
			<!-- =========== TAB CONTENT - 4 - END =========== -->

			<!-- =========== TAB CONTENT - 5 - START =========== -->
			<div id="unassigned-tab-5" class="client-details tab-content">
				<div class="row">

					<!-- // CLIENT TASKS - START // -->
					<div class="large-12 large-uncentered columns">

						<!-- {{= it.include('unassigned-tab-tasks.html') }} -->

					</div>
					<!-- // CLIENT TASKS - END // -->

				</div>
			</div>
			<!-- =========== TAB CONTENT - 5 - END =========== -->

			<!-- =========== TAB CONTENT - 6 - START =========== -->
			<div id="unassigned-tab-6" class="client-details tab-content">
				<div class="row">

					<!-- // CLIENT DOCUMENTS - START // -->
					<div class="large-12 large-uncentered columns">

						<!-- {{= it.include('unassigned-tab-documents.html') }} -->

					</div>
					<!-- // CLIENT DOCUMENTS - END // -->

				</div>
			</div>
			<!-- =========== TAB CONTENT - 6 - END =========== -->

		</div>

		<div class="large-3 large-uncentered columns">
			<!-- // ACTIONS NAV - START // -->
			<nav class="actions-nav client-panel">

				<h1>Perform case task:</h1>

				<ul>
					<li class="supervision">
						<a href="../6-commission-visit/6a-why.html" class="action commission-visit">
							<span class="icon"></span>
							<span>Commission a visit</span>
						</a>
					</li>
					<li class="supervision">
						<a href="../2-create-letter/2a-create-letter.html" class="action create-letter">
							<span class="icon"></span>
							<span>Create document</span>
						</a>
					</li>
					<li class="supervision">
						<a href="../8-create-task/8a-create-task.html" class="action create-task">
							<span class="icon"></span>
							<span>Create task</span>
						</a>
					</li>
					<li class="supervision">
						<a href="../9-reporting-period/9a-reporting-period.html" class="action report">
							<span class="icon"></span>
							<span>Reporting period</span>
						</a>
					</li>
					<li class="supervision">
						<a href="../10-supervision-level/10a-supervision-level.html" class="action supervision-level">
							<span class="icon"></span>
							<span>Supervision level</span>
						</a>
					</li>
					<li class="supervision">
						<a href="../11-new-event/11a-new-event.html" class="action new-event">
							<span class="icon"></span>
							<span>New event</span>
						</a>
					</li>

					<!-- YET TO CODE - START -->
					<!-- <li class="allocations">
						<a href="#" class="action edit-case">
							<span class="icon"></span>
							<span>Edit case</span>
						</a>
					</li> -->
					<!-- YET TO CODE - END -->
				</ul>

			</nav>
			<!-- // ACTIONS NAV - END // -->
		</div>

	</div>
	<!-- =========== TAB CONTENT - END =========== -->

</div>
<!-- CONTENT WRAPPER - END -->
