<h2 class="section-title completed">
	Completed tasks
	<!-- <a href="#" class="main-cta primary">Submit work return</a> -->
</h2>

<div class="dashboard-item-container">

	<!-- // CONFIRMATION MESSAGE - START // -->
	<div class="no-items">
		<p>You have yet to complete any tasks today.</p>
	</div>
	<!-- // CONFIRMATION MESSAGE - END // -->


	<table id="completed-tasks-table" class="tablesorter completed">
		<thead>
			<tr class="four-column">
				<th><span></span>Type</th>
				<th><span></span>Case type</th>
				<th><span></span>Completed</th>
				<th></th>
			</tr>
		</thead>
		<tbody>

			<!-- TASK 1 - START -->
			<tr class="link-for-commission-visit">
				<td>
					<div class="wrapper">
						<!-- <div class="icon">
							<span class="task-type commission-visit"></span>
						</div> -->
						<div class="text">
							<a href="6-commission-visit/6a-why.html" class="task">Commission visit</a>
							<p class="task-intro">Task name</p>
							<div class="details">
								<span class="case-number"></span>
								<p>7000-0000-3202</p>
								<span class="client"></span>
								<p><a href="4-client-page/4a-new-client.html">Mr Gerald Brackens</a></p>
							</div>
						</div>

					</div>
				</td>
				<td>
					<a href="4-client-page/4a-new-client.html#HandW">ORDER - <strong>H &amp; W</strong><span class="icon welfare"></span></a>
				</td>
				<td>
					<span class="date"></span>
					<script language="JavaScript">

						Stamp = new Date();
						year = Stamp.getYear();
						if (year < 2000) year = 1900 + year;
						document.write('<p class="date-text">' + (Stamp.getMonth() + 1) +"/"+Stamp.getDate()+ "/"+ year + '<p>');
						var Hours;
						var Mins;
						var Time;
						Hours = Stamp.getHours();
						if (Hours >= 12) {
							Time = " P.M.";
						}
						else {
							Time = " A.M.";
						}
						if (Hours > 12) {
							Hours -= 12;
						}
						if (Hours == 0) {
							Hours = 12;
						}
						Mins = Stamp.getMinutes();
							if (Mins < 10) {
							Mins = "0" + Mins;
						}
						document.write('<p class="time-text">' + Hours + ":" + Mins + Time + '</p>');
					</script>
				</td>
				<td>
					<a href="#visit-commission" rel="modal:open" class="main-cta secondary">View</a>
				</td>
			</tr>
			<!-- TASK 1 - START -->

		</tbody>
	</table>

</div>
