<!-- // JS BODY END - START // -->
	<!-- <script src="../../production/js/prototype/bootstrapper.js"></script> -->
	<script src="../../production/js/V9/hideShowPassword.js"></script>
	<script src="../../production/js/V9/my-jquery.js"></script>
	<script src="../../production/js/V9/jquery.cookie.js"></script>
	<script src="../../production/js/V9/jquery.modal.js"></script>
	<script src="../../production/js/V9/jquery-datepicker.js"></script>
	<script>
	    var picker = new Pikaday({ field: document.getElementById('datepicker') });
	</script>
	<script src="../../production/js/V9/my-cookies.js"></script>
	<script src="../../production/js/V9/sticky-item.js"></script>

	<script src="../../production/js/V9/my-cookies-commission-visit.js"></script>
	<script src="../../production/js/V9/my-jquery-commission-visit.js"></script>
	<script src="../../production/js/V9/my-jquery-progress-bar.js"></script>
	<script src="../../production/js/V9/jquery.tablesorter.js"></script>

	<script src="../../production/js/V9/jquery.autocomplete.min.js"></script>
	<script src="../../production/js/V9/autocomplete.js"></script>
<!-- // JS BODY END - END // -->
