<h2 class="section-title">Due in the next 30 days</h2>

<div class="dashboard-item-container">

	<!-- // ITEM - 1 - START // -->
	<div class="dashboard-item welfare">
		<div class="tasks">
			<div class="wrapper">
				<span class="number">3</span>
				<span>tasks</span>
			</div>
		</div>
		<div class="title">
			<div class="left">
				<span></span>
			</div>
			<div class="right">
				<h2><a href="4-client-page/4a-new-client.html">7000-0000-0310</a></h2>
				<h3>Mr Gerald Brackens</h3>
			</div>
		</div>
		<div class="content date">
			<p>Report due date:</p>
			<h4><span></span>22/04/2017</h4>
			<div class="counter">
				<span class="number">20</span>
				days
			</div>
		</div>
		<div class="content assigned">
			<p>Assigned to:</p>
			<h4><span></span><a href="#" class="sirius-user-id">Susan Smith</a></h4>
		</div>
		<div class="content deputies">
			<p>Deputies on case:</p>
			<h4><div class="wrapper"><span>3</span></div>deputies</h4>
			<a href="#deputies-1" rel="modal:open">More deputy info</a>
		</div>
		<div class="footer">
			<p>Status:</p>
			<div class="rag-rating">
				<span class="traffic-light"></span>
				<span class="traffic-light"></span>
				<span class="traffic-light green"></span>
				<div class="border"></div>
			</div>
		</div>
	</div>
	<!-- // ITEM - 1 - END // -->

	<!-- // ITEM - 2 - START // -->
	<div class="dashboard-item welfare-property">
		<div class="tasks">
			<div class="wrapper">
				<span class="number">1</span>
				<span>tasks</span>
			</div>
		</div>
		<div class="title">
			<div class="left">
				<span></span>
			</div>
			<div class="right">
				<h2><a href="4-client-page/4a-new-client.html">7000-0000-8390</a></h2>
				<h3>Mrs Lexi Thompson</h3>
			</div>
		</div>
		<div class="content date">
			<p>Report due date:</p>
			<h4><span></span>22/04/2017</h4>
			<div class="counter">
				<span class="number">20</span>
				days
			</div>
		</div>
		<div class="content assigned">
			<p>Assigned to:</p>
			<h4><span></span><a href="#" class="sirius-user-id">Susan Smith</a></h4>
		</div>
		<div class="content deputies">
			<p>Deputies on case:</p>
			<h4><div class="wrapper"><span>4</span></div>deputies</h4>
			<a href="#deputies-2" rel="modal:open">More deputy info</a>
		</div>
		<div class="footer">
			<p>Status:</p>
			<div class="rag-rating">
				<span class="traffic-light"></span>
				<span class="traffic-light"></span>
				<span class="traffic-light green"></span>
				<div class="border"></div>
			</div>
		</div>
	</div>
	<!-- // ITEM - 2 - END // -->

	<!-- // ITEM - 3 - START // -->
	<div class="dashboard-item property">
		<div class="tasks">
			<div class="wrapper">
				<span class="number">3</span>
				<span>tasks</span>
			</div>
		</div>
		<div class="title">
			<div class="left">
				<span></span>
			</div>
			<div class="right">
				<h2><a href="4-client-page/4a-new-client.html">7000-0000-9182</a></h2>
				<h3>Mrs Mady Fowler</h3>
			</div>
		</div>
		<div class="content date">
			<p>Report due date:</p>
			<h4><span></span>18/04/2017</h4>
			<div class="counter alert">
				<span class="number">-8</span>
				days
			</div>
		</div>
		<div class="content assigned">
			<p>Assigned to:</p>
			<h4><span></span><a href="#" class="sirius-user-id">Susan Smith</a></h4>
		</div>
		<div class="content deputies">
			<p>Deputies on case:</p>
			<h4><div class="wrapper"><span>3</span></div>deputies</h4>
			<a href="#deputies-3" rel="modal:open">More deputy info</a>
		</div>
		<div class="footer">
			<p>Status:</p>
			<div class="rag-rating">
				<span class="traffic-light red"></span>
				<span class="traffic-light"></span>
				<span class="traffic-light"></span>
				<div class="border"></div>
			</div>
		</div>
	</div>
	<!-- // ITEM - 3 - END // -->

	<!-- // ITEM - 4 - START // -->
	<div class="dashboard-item property">
		<div class="tasks">
			<div class="wrapper">
				<span class="number">2</span>
				<span>tasks</span>
			</div>
		</div>
		<div class="title">
			<div class="left">
				<span></span>
			</div>
			<div class="right">
				<h2><a href="4-client-page/4a-new-client.html">7000-0000-8023</a></h2>
				<h3>Miss Hermoine Strange</h3>
			</div>
		</div>
		<div class="content date">
			<p>Report due date:</p>
			<h4><span></span>18/04/2017</h4>
			<div class="counter">
				<span class="number">8</span>
				days
			</div>
		</div>
		<div class="content assigned">
			<p>Assigned to:</p>
			<h4><span></span><a href="#" class="sirius-user-id">Susan Smith</a></h4>
		</div>
		<div class="content deputies">
			<p>Deputies on case:</p>
			<h4><div class="wrapper"><span>1</span></div>deputy</h4>
			<a href="#deputies-4" rel="modal:open">More deputy info</a>
		</div>
		<div class="footer">
			<p>Status:</p>
			<div class="rag-rating">
				<span class="traffic-light"></span>
				<span class="traffic-light amber"></span>
				<span class="traffic-light"></span>
				<div class="border"></div>
			</div>
		</div>
	</div>
	<!-- // ITEM - 4 - END // -->

</div>
