<!-- // DOCUMENT VIEWER - START // -->
<div id="document-viewer">

	<div id="page-1" class="accordion">

		<!-- //////// ACCORDION SECTION 1 - START - //////// -->
		<div class="accordion-section">

			<button class="accordion-section-title" href="#accordion-1">
				Visits
				<span></span>
			</button>

			<div id="accordion-1" class="accordion-section-content">
				<ul>
					<li>
						<a href="#" class="hide-page-1">Visit_document_title_1.pdf</a>
						<form>
							<label class="normal" for="add-to-visit-1">
								<input id="add-to-visit-1" name="add-to-visit-1" type="checkbox" value="post" value="1">
								Add to visit
							</label>
						</form>
					</li>
					<li>
						<a href="#" class="hide-page-1">Visit_document_title_2.pdf</a>
						<form>
							<label class="normal" for="add-to-visit-2">
								<input id="add-to-visit-2" name="add-to-visit-2" type="checkbox" value="post" value="2">
								Add to visit
							</label>
						</form>
					</li>
				</ul>
			</div>
		</div>
		<!-- //////// ACCORDION SECTION 1 - END - //////// -->

		<!-- //////// ACCORDION SECTION 2 - START - //////// -->
		<div class="accordion-section">

			<button class="accordion-section-title" href="#accordion-2">
				Reports
				<span></span>
			</button>

			<div id="accordion-2" class="accordion-section-content">
				<ul>
					<li>
						<a href="#" class="hide-page-1">Reports_document_title_1.pdf</a>
						<form>
							<label class="normal" for="add-to-visit-3">
								<input id="add-to-visit-3" name="add-to-visit-3" type="checkbox" value="post" value="3">
								Add to visit
							</label>
						</form>
					</li>
				</ul>
			</div>
		</div>
		<!-- //////// ACCORDION SECTION 2 - END - //////// -->

		<!-- //////// ACCORDION SECTION 3 - START - //////// -->
		<div class="accordion-section">

			<button class="accordion-section-title" href="#accordion-3">
				Correspondance
				<span></span>
			</button>

			<div id="accordion-3" class="accordion-section-content">
				<ul>
					<li>
						<a href="#" class="hide-page-1">Correspondance_document_1.pdf</a>
						<form>
							<label class="normal" for="add-to-visit-4">
								<input id="add-to-visit-4" name="add-to-visit-4" type="checkbox" value="post" value="4">
								Add to visit
							</label>
						</form>
					</li>
					<li>
						<a href="#" class="hide-page-1">Correspondance_document_2.pdf</a>
						<form>
							<label class="normal" for="add-to-visit-5">
								<input id="add-to-visit-5" name="add-to-visit-5" type="checkbox" value="post" value="5">
								Add to visit
							</label>
						</form>
					</li>
				</ul>
			</div>
		</div>
		<!-- //////// ACCORDION SECTION 3 - END - //////// -->

		<!-- //////// ACCORDION SECTION 4 - START - //////// -->
		<div class="accordion-section">

			<button class="accordion-section-title" href="#accordion-4">
				Court documents
				<span></span>
			</button>

			<div id="accordion-4" class="accordion-section-content">
				<ul>
					<li>
						<a href="#" class="hide-page-1">Court_order_documents.pdf</a>
						<form>
							<label class="normal checked" for="add-to-visit-6">
								<input id="add-to-visit-6" name="add-to-visit-6" type="checkbox" value="post" value="6">
								Add to visit
							</label>
						</form>
					</li>
				</ul>
			</div>
		</div>
		<!-- //////// ACCORDION SECTION 4 - END - //////// -->

		<!-- //////// ACCORDION SECTION 5 - START - //////// -->
		<div class="accordion-section">

			<button class="accordion-section-title" href="#accordion-5">
				Other
				<span></span>
			</button>

			<div id="accordion-5" class="accordion-section-content">
				<ul>
					<li>
						<a href="#" class="hide-page-1">Other_document.pdf</a>
						<form>
							<label class="normal" for="add-to-visit-7">
								<input id="add-to-visit-7" name="add-to-visit-7" type="checkbox" value="post" value="7">
								Add to visit
							</label>
						</form>
					</li>
				</ul>
			</div>
		</div>
		<!-- //////// ACCORDION SECTION 5 - END - //////// -->
	</div>


	<div id="page-2" class="document">
		<div class="control-panel">
			<h2>Current annual report</h2>
			<a href="#" class="back" id="back">Back</a>
		</div>
		<div class="wrapper">
			<img src="../../../production/img/V10/document-report.png" alt="Document" class="document-item">
		</div>
	</div>

</div>
<!-- // DOCUMENT VIEWER - END // -->
