<!-- /////////////////////////// DOCUMENT 1 - START /////////////////////////// -->
<h2 class="section-title doc-title">
	Edit document:
	<div class="current-doc-info">
		<span class="number">1</span>
		<span>
			<div class="recipient-name">Mr Gerald Brackens</div> -
			<div class="current-document-title"> </div>
		</span>
	</div>
</h2>

<!-- // CONFIRMATION MESSAGE - START // -->
<div class="row">
	<div class="large-12 large-uncentered columns">
		<div id="draft-saved" class="confirmation-panel">
			<div class="content">
				<h2>
					<span></span>
					Your draft/s has been
					<div class="message-1">created</div>
					<div class="message-2">saved</div>
					<script language="JavaScript">

						Stamp = new Date();
						year = Stamp.getYear();
						if (year < 2000) year = 1900 + year;
						document.write('<div class="date-text"> - ' + (Stamp.getMonth() + 1) +"/"+Stamp.getDate()+ "/"+ year + '</div>');
						var Hours;
						var Mins;
						var Time;
						Hours = Stamp.getHours();
						if (Hours >= 12) {
							Time = " P.M.";
						}
						else {
							Time = " A.M.";
						}
						if (Hours > 12) {
							Hours -= 12;
						}
						if (Hours == 0) {
							Hours = 12;
						}
						Mins = Stamp.getMinutes();
							if (Mins < 10) {
							Mins = "0" + Mins;
						}
						document.write('<div class="time-text">, ' + Hours + ":" + Mins + Time + '</div>');
					</script>
				</h2>
			</div>
		</div>
		<div id="draft-saved-timer" class="confirmation-panel">
			<div class="content">
				<h2>
					<span></span>
					Your draft has been <div>autosaved</div>
					<script language="JavaScript">

						Stamp = new Date();
						year = Stamp.getYear();
						if (year < 2000) year = 1900 + year;
						document.write('<div class="date-text"> - ' + (Stamp.getMonth() + 1) +"/"+Stamp.getDate()+ "/"+ year + '</div>');
						var Hours;
						var Mins;
						var Time;
						Hours = Stamp.getHours();
						if (Hours >= 12) {
							Time = " P.M.";
						}
						else {
							Time = " A.M.";
						}
						if (Hours > 12) {
							Hours -= 12;
						}
						if (Hours == 0) {
							Hours = 12;
						}
						Mins = Stamp.getMinutes();
							if (Mins < 10) {
							Mins = "0" + Mins;
						}
						document.write('<div class="time-text">, ' + Hours + ":" + Mins + Time + '</div>');
					</script>
				</h2>
			</div>
		</div>
		<div id="previous-draft-saved" class="confirmation-panel">
			<div class="content">
				<h2>
					<span></span>
					Your changes to the draft <div>"title goes here"</div> have been <div>saved</div>
					<script language="JavaScript">

						Stamp = new Date();
						year = Stamp.getYear();
						if (year < 2000) year = 1900 + year;
						document.write('<div class="date-text"> - ' + (Stamp.getMonth() + 1) +"/"+Stamp.getDate()+ "/"+ year + '</div>');
						var Hours;
						var Mins;
						var Time;
						Hours = Stamp.getHours();
						if (Hours >= 12) {
							Time = " P.M.";
						}
						else {
							Time = " A.M.";
						}
						if (Hours > 12) {
							Hours -= 12;
						}
						if (Hours == 0) {
							Hours = 12;
						}
						Mins = Stamp.getMinutes();
							if (Mins < 10) {
							Mins = "0" + Mins;
						}
						document.write('<div class="time-text">, ' + Hours + ":" + Mins + Time + '</div>');
					</script>
				</h2>
			</div>
		</div>
	</div>
</div>
<!-- // CONFIRMATION MESSAGE - END // -->

<!-- // DOCUMENT 1 - START // -->
<div class="form-group" id="documents-1">
	<textarea name="textarea" class="jqte-test" id="edit-document">
		<p><strong>DOCUMENT 1</strong></p>
		<p>Your ref:</p>
		<p><strong>OPG ref: «caseno»</strong></p>
		<p>Dear «salut»</p>
		<p></p>
		<p><strong>Re: «Title» «Forename» «Surname»</strong></p>
		<p></p>
		<p>Thank you for your letter dated xxxxxx. I have noted your comments.</p>
		<p></p>
		<p>
			If there are any changes in «title» «lsurname»’s circumstances or financial situation please inform the Office
			of the Public Guardian (OPG). We need to make sure our records are up to date and a suitable supervision
			level is applied.
		</p>
		<p></p>
		<p>If you require any help, please call the «ubrandesc» on «uteamphone», or email «ubranemail».</p>
		<p></p>
		<p>Please <strong>quote the OPG reference «caseno»</strong> if you contact us.</p>
		<p></p>
		<p>«yours»,</p>
		<p></p>
		<p></p>
		<p></p>
		<p>«uname»</p>
		<p><strong>Office of the Public Guardian</strong></p>
		<p></p>
	</textarea>
</div>
<!-- // DOCUMENT 1 - END // -->

<!-- // DOCUMENT 2 - START // -->
<div class="form-group" id="documents-2">
	<textarea name="textarea" class="jqte-test" id="edit-document">
		<p><strong>DOCUMENT 2</strong></p>
		<p>Our ref: <strong>Investigations/7000-0000-2654/[Your initials]</strong></p>
		<p>Dear Salutation Deputy Last</p>
		<p><strong>Re: Client's First Name Last Name of Client</strong></p>
		<p>My name is a manager, and I am now the Investigating officer dealing with this case.</p>
		<p>My contact details are:</p>
		<ul>
			<li>0121 631 XXXX</li>
			<li>XXXXXXXXXX@publicguardian.gsi.gov.uk</li>
		</ul>
		<p>You can write to me at the same postal address.</p>
		<p>There's a new OPG reference <strong>Investigations/7000-0000-2654/[Your initials],</strong> make sure you quote it when you contact us.</p>
		<p>Yours sincerely</p>
		<p></p>
		<p></p>
		<p>a manager</p>
		<p>Investigating officer</p>
		<p>Compliance Unit</p>
		<p></p>
		<p></p>
		<p><strong>Office of the Public Guardian</strong></p>
		<p></p>
	</textarea>
</div>
<!-- // DOCUMENT 2 - END // -->

<!-- // DOCUMENT 3 - START // -->
<div class="form-group" id="documents-3">
	<textarea name="textarea" class="jqte-test" id="edit-document">
		<p><strong>DOCUMENT 3</strong></p>
		<p>Our ref: <strong>Investigations/7000-0000-2654/[Your initials]</strong></p>
		<p>Dear Salutation Deputy Last</p>
		<p><strong>Re: Client's First Name Last Name of Client</strong></p>
		<p>My name is a manager, and I am now the Investigating officer dealing with this case.</p>
		<p>My contact details are:</p>
		<ul>
			<li>0121 631 XXXX</li>
			<li>XXXXXXXXXX@publicguardian.gsi.gov.uk</li>
		</ul>
		<p>You can write to me at the same postal address.</p>
		<p>There's a new OPG reference <strong>Investigations/7000-0000-2654/[Your initials],</strong> make sure you quote it when you contact us.</p>
		<p>Yours sincerely</p>
		<p></p>
		<p></p>
		<p>a manager</p>
		<p>Investigating officer</p>
		<p>Compliance Unit</p>
		<p></p>
		<p></p>
		<p><strong>Office of the Public Guardian</strong></p>
		<p></p>
	</textarea>
</div>
<!-- // DOCUMENT 3 - END // -->

<!-- // DOCUMENT 4 - START // -->
<div class="form-group" id="documents-4">
	<textarea name="textarea" class="jqte-test" id="edit-document">
		<p><strong>DOCUMENT 4</strong></p>
		<p>Our ref: <strong>Investigations/7000-0000-2654/[Your initials]</strong></p>
		<p>Dear Salutation Deputy Last</p>
		<p><strong>Re: Client's First Name Last Name of Client</strong></p>
		<p>My name is a manager, and I am now the Investigating officer dealing with this case.</p>
		<p>My contact details are:</p>
		<ul>
			<li>0121 631 XXXX</li>
			<li>XXXXXXXXXX@publicguardian.gsi.gov.uk</li>
		</ul>
		<p>You can write to me at the same postal address.</p>
		<p>There's a new OPG reference <strong>Investigations/7000-0000-2654/[Your initials],</strong> make sure you quote it when you contact us.</p>
		<p>Yours sincerely</p>
		<p></p>
		<p></p>
		<p>a manager</p>
		<p>Investigating officer</p>
		<p>Compliance Unit</p>
		<p></p>
		<p></p>
		<p><strong>Office of the Public Guardian</strong></p>
		<p></p>
	</textarea>
</div>
<!-- // DOCUMENT 4 - END // -->

<!-- // DOCUMENT 5 - START // -->
<div class="form-group" id="documents-5">
	<textarea name="textarea" class="jqte-test" id="edit-document">
		<p><strong>DOCUMENT 5</strong></p>
		<p>Our ref: <strong>Investigations/7000-0000-2654/[Your initials]</strong></p>
		<p>Dear Salutation Deputy Last</p>
		<p><strong>Re: Client's First Name Last Name of Client</strong></p>
		<p>My name is a manager, and I am now the Investigating officer dealing with this case.</p>
		<p>My contact details are:</p>
		<ul>
			<li>0121 631 XXXX</li>
			<li>XXXXXXXXXX@publicguardian.gsi.gov.uk</li>
		</ul>
		<p>You can write to me at the same postal address.</p>
		<p>There's a new OPG reference <strong>Investigations/7000-0000-2654/[Your initials],</strong> make sure you quote it when you contact us.</p>
		<p>Yours sincerely</p>
		<p></p>
		<p></p>
		<p>a manager</p>
		<p>Investigating officer</p>
		<p>Compliance Unit</p>
		<p></p>
		<p></p>
		<p><strong>Office of the Public Guardian</strong></p>
		<p></p>
	</textarea>
</div>
<!-- // DOCUMENT 5 - END // -->


<!-- /////////////////////////// DOCUMENT 1 - END /////////////////////////// -->
